<div class="cocha-calendar calendar-border" ng-cloak>
	<div class="week-days">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="day-name col-14" ng-repeat="day in view.daysNames">
				{{day}}
			</div>
		</div>
	</div>
	<div class="calendar-container">
		<div class="months" id="calendar-scroll-id-{{identifier}}">
			<div class="col-md-12 col-sm-12 col-xs-12 month-container" ng-repeat="month in view.months">
				<div class="month-name col-md-12 col-sm-12 col-xs-12" id="{{identifier}}-{{month.id}}">
					{{month.name}}
				</div>
				<div ng-repeat="day in month.days">
					<div ng-if="day.date" class="default-day hand col-14" ng-click="pickDate(day)" ng-class="{'disabled': day.disabled, 'departure': day.rangeStart,'returning': day.rangeEnd, 'range': day.range}">
						<span>
							{{day.day}}
						</span>
						<div ng-if="mode === 'start' && day.rangeStart" class="xs-calendar-tooltip">
							IDA
							<div class="arrow-border">
							</div>
							<div class="arrow-content ">
							</div>
						</div>
						<div ng-if="mode === 'end' && day.rangeEnd" class="xs-calendar-tooltip">
							VUELTA
							<div class="arrow-border">
							</div>
							<div class="arrow-content ">
							</div>
						</div>
					</div>
					<div ng-if="!day.date" class="not-day disabled col-14">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>