<!-- rooms -->
<div class='rooms-hotel-details col-sm-12 col-xs-12' ng-class="{'col-md-12':mode=='list','col-md-10 col-md-offset-1':mode=='detail'}" ng-if='checkDataDetails()'>

	<div ng-repeat="(key,value) in view.roomsPerSupplier track by $index" class="repeat-animation rooms-row-result">
		<!--[{{ value.length }}]-->

		<div ng-class="{'hidden': mode == 'list' && $first==false,'room-details-container rooms-details-title-row' :mode=='detail','rooms-list-title-row':mode=='list' }" class='row flight-info-container  '>
			<div class=' rooms-title-room-provider'>
				Reserva con
				<br> COCHA vía
			</div>
			<div class=' rooms-title-room-name'>
				Habitación
			</div>
			<div class=' rooms-title-room-amenities'>
				Amenities Principales
			</div>
			<div class='rooms-title-room-cancellation'>
				Politicas de cancelación
			</div>
			<div class='rooms-title-room-rate'>
				<div class='room-rate-title average-msg'>
					<div class="col-md-12">Tarifa promedio por habitación</div>
					<div class="col-md-12 text-center">(por noche)</div>
				</div>
				<div class='sabre-warning-text' ng-bind-html="getSabreWarning(key) | trustHtml ">

				</div>
			</div>
		</div>

		<div class="row repeat-animation" ng-repeat="room in value track by $index " id="room{{ key }}">

			<!-- room line [->{{$index }}] -->
			<div ng-hide="view.statePerSupplier[key][$index] === false || (mode == 'list' && $index > 0) " class='row flight-info-container room-details-container '>
				<div class='text-center reduced-padding'>
					<!---->
					<div class='div-logo-hotel-details '>
						<img ng-if="checkImageSupplier(room.supplierCode,true)" ng-src="img/{{ view.imageRoomSupplier }}.png" class='img-logo-hotel-details'>
						<span ng-if="room.supplierCode === 'SAB'" class="room-rate-logo"> {{ room.rateName }} </span>
						<span ng-if="room.supplierCode === 'TRV' && room.corporative" class="room-rate-logo"> Corporativa </span>
						<div ng-if="room.supplierCode === 'TRV' && room.negotiated" class="room-rate-logo"> {{ room.request.corporateCode }} </div>
					</div>
					<!---->
					<div class='content-room-result'>
						<!--div class='col-lg-4 col-md-4 col-sm-4 col-xs-4'>
                            <img class='img-responsive' fallback-src="img/default_logo.png" loading-src="img/default_logo.png" ng-src="{{ room.images[0] }}">
                            </div-->
						<div class=''>
							<div class='row room-name-text ' uib-tooltip="{{ room.name.length > 80 ? room.name : ''}}">
								{{ room.name | cCapitalizeFilter | limitTo: 80 }}{{ room.name.length > 80 ? '...' : ''}}
							</div>
							<!-- amenities -->
						</div>
						<div class='row hidden-xs '>
							<div class='info-link-room hand' ng-click='toggleAmenity($index,room.roomId)'>
								Mostrar más info <i class='info-arrow-room' ng-class="{'cch-arrow-right': view.collapseAmenity[$index][room.roomId] !== true , 'cch-arrow-down': view.collapseAmenity[$index][room.roomId] === true }"></i>
							</div>
							<div ng-if="room.roomDescription.length > 0" uib-collapse="view.collapseAmenity[$index][room.roomId] !== true" class='room-info-collapse' ng-bind-html=" (room.roomDescription!='' && room.roomDescription.length > 0) ? (room.roomDescription|cRawHtmlFilter) : 'Sin Información Disponible.'">
								Sin Información Disponible
							</div>
							<div ng-if="!room.roomDescription.length" uib-collapse="view.collapseAmenity[$index][room.roomId] !== true" class='room-info-collapse'>
								Sin Información Disponible
							</div>
						</div>
					</div>
					<!---->
					<div class='amenity-result-container '>
						<span ng-repeat="amenity in room.amenities" ng-if="amenity.included" class='back-icon-amenities amenities-icon-span col-lg-4 col-md-4 col-sm-4 col-xs-4'> <i id='{{ room.roomId }} $index' ng-class="getIconAmenity(amenity)" uib-tooltip="{{ getTextAmenity(amenity) }}" ></i> </span>
					</div>
					<!---->
					<div class='cancellation-policy-info '>
						<!-- refundable, cancellation pollicy -->
						<div class='refundable-div-info'>
							<div ng-if="room.refundable===true" class='refundable-text'>
								Reembolsable
							</div>
							<div ng-if="room.refundable===false" class='non-refundable-text '>
								No Reembolsable
							</div>
							<div ng-if="room.refundable===null" class=''>
								No hay información de reembolso
							</div>
						</div>
						<div class='hand' uib-tooltip-html=" getCancelationPolicy(room) | trustHtml " tooltip-placement="bottom">
							<div class='cancellation-policy-text'>
								Ver política de Cancelación
							</div>
						</div>
						<div class="hand" ng-if=" room.supplierCode === 'SAB' " uib-tooltip-html=" getRoomPolicy(room) | cCapitalizeFilter | trustHtml" tooltip-placement="bottom">
							<div class='cancellation-policy-text'>
								Ver políticas Generales
							</div>
						</div>
						<!--div ng-if=" room.supplierCode === 'SAB' && room.rateName.length > 2 ">
							<div class='sabre-rate-type'>
								{{ room.iataProductIdentification |cCapitalizeFilter }}
							</div>
						</div-->
					</div>
					<!---->
					<div class=' room-price '>

						<div class='col-md-12 col-xs-6'>
							US$
							<span ng-if="room.supplierCode !== 'BKG'">
							{{ ( ( room.hasOwnProperty('netNightlyPrice') && room.netNightlyPrice !=null && room.netNightlyPrice > 0 ) ? room.netNightlyPrice :room.price) | moneyFilter }}
							</span>
							<span ng-if="room.supplierCode === 'BKG'">
								{{ room.netPrice | moneyFilter }}
							</span>
						</div>
						<div class='room-price-clp col-md-12 col-xs-6' ng-if="!isNaN(currency)">
							<span ng-if="room.supplierCode !== 'BKG'">
							  ({{ ( ( room.hasOwnProperty('netNightlyPrice') && room.netNightlyPrice !=null && room.netNightlyPrice > 0 ) ? room.netNightlyPrice :room.price) | USDtoCLPFilter:room.exchangeRate }})								
							</span>
							<span ng-if="room.supplierCode === 'BKG'">
								({{ room.netPrice | USDtoCLPFilter:room.exchangeRate }})
							</span>
						</div>

						<div class="sabre-commission" ng-if=" room.supplierCode === 'SAB' ">
							<div class='sabre-commission'>
								<span ng-if="room.nonCommission==='true'">No comisionable</span>
							</div>
						</div>
					</div>
					<!---->
					<div class='room-reservation-buttons '>
						<div class='reservate-room' ng-if="view.isOnQuotation">
							<span ng-if="room.supplierCode === 'EAN' || room.supplierCode === 'EANPKGR'">
								<button class='btn-block btn-reservation-room' ng-class="{'hidden':view.loaderCheckoutIndex[$index][room.supplierCode] === true}" ng-click="goToQuote(false,$index,room)"  >{{dictionary.quote}}</button>
								<img class='img-loader-checkout'  src="img/loader.gif" ng-show="view.loaderCheckoutIndex[$index][room.supplierCode] === true">
							</span>
							<span ng-if="room.supplierCode === 'BKG'">
								<button class='btn-block btn-reservation-room' ng-click="goToQuote(true,$index,room)" >{{dictionary.quote}}</button>
							</span>
							<span ng-if="room.supplierCode === 'SAB'">
								<button class='btn-block btn-reservation-room' ng-click="goToQuote(false,$index,room)" ng-class="{'hidden':view.loaderCheckoutIndex[$index][room.supplierCode] === true}">{{dictionary.quote}}</button>
								<img class='img-loader-checkout'  src="img/loader.gif" ng-show="view.loaderCheckoutIndex[$index][room.supplierCode] === true">
							</span>
							<span ng-if="room.supplierCode === 'TRV'">
								<button class='btn-block btn-reservation-room' ng-click="goToQuote(false,$index,room)" ng-class="{'hidden':view.loaderCheckoutIndex[$index][room.supplierCode] === true}">{{dictionary.quote}}</button>
								<img class='img-loader-checkout'  src="img/loader.gif" ng-show="view.loaderCheckoutIndex[$index][room.supplierCode] === true">
							</span>
							<div class='room-tax-message'>
								<div>
									Tarifa <span class="result-rate-tax"> {{ room | taxesMessage }}</span>
								</div>
							</div>
						</div>
						<div class='  reservate-room ' ng-if="!view.isOnQuotation">

							<span ng-if="room.supplierCode === 'EAN' || room.supplierCode === 'EANPKGR'"> <button class='btn-block btn-reservation-room' ng-class="{'hidden':view.loaderCheckoutIndex[$index][room.supplierCode] === true}" ng-click="goToCheckout(false,$index,room)"  >{{dictionary.select}}</button> <img class='img-loader-checkout'  src="img/loader.gif" ng-show="view.loaderCheckoutIndex[$index][room.supplierCode] === true"> </span>


							<span ng-if="room.supplierCode === 'BKG'"> <button class='btn-block btn-reservation-room' ng-click="goToCheckout(true,$index,room)" >{{dictionary.select}}</button> </span>

							<span ng-if="room.supplierCode === 'SAB'"> <button class='btn-block btn-reservation-room' ng-click="goToCheckout(false,$index,room)" ng-class="{'hidden':view.loaderCheckoutIndex[$index][room.supplierCode] === true}">{{dictionary.select}}</button> <img class='img-loader-checkout'  src="img/loader.gif" ng-show="view.loaderCheckoutIndex[$index][room.supplierCode] === true"> </span>

							<span ng-if="room.supplierCode === 'TRV'"> <button class='btn-block btn-reservation-room' ng-click="goToCheckout(false,$index,room)" ng-class="{'hidden':view.loaderCheckoutIndex[$index][room.supplierCode] === true}">{{dictionary.select}}</button> <img class='img-loader-checkout'  src="img/loader.gif" ng-show="view.loaderCheckoutIndex[$index][room.supplierCode] === true"> </span>

							<div class='room-tax-message'>
								<div>
									Tarifa <span class="result-rate-tax"> {{ room | taxesMessage }}</span>
								</div>
								<!--div>Precio habitación por noche</div-->
							</div>
						</div>
					</div>
					<!---->
					<div class='show-more-info-xs visible-xs'>
						<div class='info-link-room hand' ng-click='toggleAmenity($index,room.roomId)'>
							Mostrar más info <i class='info-arrow-room' ng-class="{'cch-arrow-right': view.collapseAmenity[$index][room.roomId] !== true , 'cch-arrow-down': view.collapseAmenity[$index][room.roomId] === true }"></i>
						</div>
						<div ng-if="room.roomDescription.length > 0" uib-collapse="view.collapseAmenity[$index][room.roomId] !== true" class='room-info-collapse' ng-bind-html=" (room.roomDescription!='' && room.roomDescription.length > 0) ? (room.roomDescription|cRawHtmlFilter) : 'Sin Información Disponible.'">
							Sin Información Disponible
						</div>
						<div ng-if="!room.roomDescription.length" uib-collapse="view.collapseAmenity[$index][room.roomId] !== true" class='room-info-collapse'>
							Sin Información Disponible
						</div>
					</div>

					<!---->

				</div>
				<!--div ng-hide="view.statePerSupplier[key][$index] === false" class='spacer-30'></div-->
			</div>
			<!-- room line -->

			<!--div>
            ultimo: {{ view.lastIndexPerSupplier[key] }} indice: {{$index}} : More []
            </div-->
			<div class='col-xs-12 text-center' ng-if="mode==='detail'">
				<span ng-click="paginate(room.supplierCode,$index,'more')" ng-if="(view.statePerSupplier[key][$index]===true &&((($index)-5) % 5 == 0) && $index > 5 && $index >= view.lastIndexPerSupplier[key] && (value.length-1) != ($index) )   || (($index == 5 && $last === false ) && view.statePerSupplier[key][$index+1]===false ) ">
                    <div class="pagination-button hand">
                        Ver Más habitaciones de {{ getNameSupplier(room.supplierCode) }}
                        <i class="cch-arrow-down"></i>
                    </div> </span>
				<span ng-click="paginate(room.supplierCode,$index,'less')" ng-if="( ($last === true || ((($index)-5) % 5 == 0) )  && $index > 5 && view.statePerSupplier[key][$index]===true &&  $index >= view.lastIndexPerSupplier[key] )">
                    <div class="pagination-button hand">
                        Ver Menos habitaciones de {{ getNameSupplier(room.supplierCode) }}
                        <i class="cch-arrow-up"></i>
                    </div> </span>
			</div>

		</div>
	</div>
</div>
<div ng-if="result.length == 0 && detailsLoader == false" class="hotel-details-no-results">
	<div class='alert alert-danger'>
		No se han encontrado habitaciones con estas características, por favor modifique los filtros de búsqueda.
	</div>
</div>
<!-- rooms -->
<!-- -->