<!-- filters -->
<div class="" uib-collapse="view.filters.value">
	<div class="search-filters-box col-xs-12">
		<div class="row ">
			<div class="col-md-12">
				<div class="spacer-13"></div>

				<div class="col-md-12">
					<div class="col-md-3  filters-container">
						<div class="input-label">
							Precio
						</div>
						<div class="hours">
							{{content.searchFilters.price[0]}} - {{content.searchFilters.price[1]}}
						</div>
						<div ui-slider="{range: true}" min="0" max="1000" step="10" ng-model="content.searchFilters.price" class="slider hand slider-div"></div>
					</div>

					<div class="col-md-3 col-md-offset-1 filters-container">
						<div class="input-label">
							Estrellas
						</div>
						<div class="hours">
							{{content.searchFilters.stars[0]}} a {{content.searchFilters.stars[1]}}
						</div>
						<div ui-slider="{range: true}" min="0" max="5" step="1" ng-model="content.searchFilters.stars" class="slider hand slider-div"></div>
					</div>

					<div class="col-md-3 col-md-offset-1 filters-container">
						<div class="input-label">
							TripAdvisor
						</div>
						<div class="hours">
							{{content.searchFilters.tripAdvisor[0]}} a {{content.searchFilters.tripAdvisor[1]}}
						</div>
						<div ui-slider="{range: true}" min="0" max="5" step="1" ng-model="content.searchFilters.tripAdvisor" class="slider hand slider-div"></div>
					</div>

				</div>
			</div>
		</div>
		<div class="row">
			<div class='col-md-12'>

				<div class='col-md-12'>
					<div class="row search-box search-filters">
						<div class='spacer-15'></div>
						<div class="payment-type-msg"> Tipo de pago seleccionado: {{ (content.search.reservationType) ? (content.search.reservationType === 'prepaid' ? 'Prepago' : 'Pago Directo' ):'Todos'; }}</div>
						<div class="col-md-3  filters-container">

							<div class='search-box-advanced no-border ' ng-mouseleave="closeCollapses()">
								<div class="select hand" ng-click="toggleCollapse($event,'supplier')">
									<span>{{view.options.supplier}}</span>
								</div>
								<div uib-collapse="view.collapse.supplier" class="option-container-container info-filters">
									<div class="option-container">
										<div ng-repeat="(key, value) in view.filtersValues.supplier" ng-click="selectFilter($index,'supplier',$event, value.code)" ng-class="content.searchFilters.supplier.hasOwnProperty(value.code) && content.searchFilters.supplier[value.code] !== false ? 'hotel-option-checked' : 'hotel-option'">
											<div class="col-md-10 col-sm-10 col-xs-10 no-padding">
												<span> {{ value.name }} </span>
											</div>
											<div class="col-md-2 col-sm-2 col-xs-2 no-padding">
												<div class="hotel-checkbox-search-info"></div>
												<!--input type="checkbox" id="{{ value.code }}" class="hotel-checkbox" />
                                                <label for="{{ value.code }}" ng-click="selectFilter($index,'supplier',$event, value.code)"></label-->
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>


						<div class="col-md-3 col-md-offset-1 filters-container">
							<div class='search-box-advanced no-border' ng-mouseleave="closeCollapses()">
								<div class="select hand" ng-click="toggleCollapse($event,'amenities')">
									<span>{{view.options.amenities}}</span>
								</div>
								<div uib-collapse="view.collapse.amenities" class="option-container-container info-filters">
									<div class="option-container">
										<div ng-repeat="(key, value) in view.filtersValues.amenities" ng-click="selectFilter($index,'amenities',$event, value.code)" ng-class="content.searchFilters.amenities.hasOwnProperty(value.code) && content.searchFilters.amenities[value.code] !== false ? 'hotel-option-checked' : 'hotel-option'">
											<div class="col-md-10 col-sm-10 col-xs-10 no-padding">
												<span> {{ value.name }} </span>
											</div>
											<div class="col-md-2 col-sm-2 col-xs-2 no-padding">
												<div class="hotel-checkbox-search-info"></div>
												<!--input type="checkbox" id="{{ value.code }}" class="hotel-checkbox" />
	                                                <label for="{{ value.code }}" ng-click="selectFilter($index,'supplier',$event, value.code)"></label-->
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!--div class="col-md-3  col-md-offset-1 filters-container">
							<div class='search-box-advanced no-border' ng-mouseleave="closeCollapses()">
								<div class="select hand" ng-click="toggleCollapse($event,'payment')">
									<span>{{view.options.payment}}</span>
								</div>
								<div uib-collapse="view.collapse.payment" class="option-container-container info-filters">
									<div class="option-container">
										<div ng-repeat="(key, value) in view.filtersValues.paymentType" ng-click="selectFilter($index,'paymentType',$event, value.code)" ng-class="content.searchFilters.paymentType.hasOwnProperty(value.code) && content.searchFilters.paymentType[value.code] !== false ?  'hotel-option-checked' : 'hotel-option'">
											<div class="col-md-10 col-sm-10 col-xs-10 no-padding">
												<span> {{ value.name }} </span>
											</div>
											<div class="col-md-2 col-sm-2 col-xs-2 no-padding">

												<div class="hotel-checkbox-search-info">

												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div-->

						<div class="col-md-3  col-md-offset-1 filters-container">
							<div class='text-center search-info-name-search-container' ng-hide="view.fullResults.length > 0">
								<img src='img/loader.gif' class="search-info-name-search-loader">
							</div>
							<input ng-show="view.fullResults.length > 0" class='hotel-search-input' ng-model="view.searchText" type='text' placeholder="{{ view.placeHolderNameSearch }}" ng-click="restorePlaceHolderNameSearch()">
							<!--input class="content-input" type="text" placeholder="Ingresa el hotel que buscas" ng-focus="view.focus.surnames[$index] = true" ng-blur="view.focus.surnames[$index] = false" /-->
							<div class="hotel-search-input-underline"></div>
							<div outside-click="deleteNameSearch()" ng-mouseleave="deleteNameSearch()" class='result-name-search' ng-if="view.fullResults.length > 0 && view.searchText.length > 0 ">
								<div class='hand line-result-name-search' ng-repeat="hotel in view.fullResults | filter:{name: view.searchText} | limitTo: view.quantityResults | orderBy:'name'">
									<span ng-class="{'hotel-name-result-last':$last,'hotel-name-result':!$last}" ng-click="searchPreferredHotel(hotel.hotelID,hotel.name)">{{hotel.name}}</span>
								</div>
							</div>
							<div class='error-name-search' ng-if="view.fullResults.length > 0 && view.searchText.length > 0 && (view.fullResults | filter:{name: view.searchText} | limitTo: view.quantityResults | orderBy:'name').length == 0">
								No se encontraron resultados para la búsqueda : <span ng-bind='view.searchText'></span>
							</div>
						</div>

					</div>

				</div>
			</div>
		</div>
		<div class="row">
			<div class='col-md-12'>

				<div class='col-md-12'>
					<div class="row search-box search-filters">
						<div class="col-md-3  filters-container">
							<div class='search-box-advanced no-border' ng-mouseleave="closeCollapses()">
								<div class="select hand" ng-click="toggleCollapse($event,'category')">
									<span>{{view.options.category}}</span>
								</div>
								<div uib-collapse="view.collapse.category" class="option-container-container info-filters">
									<div class="option-container">
										<div ng-repeat="(key, value) in view.filtersValues.category" ng-click="selectFilter($index,'category',$event, value.code)" ng-class="content.searchFilters.category.hasOwnProperty(value.code) && content.searchFilters.category[value.code] !== false ? 'hotel-option-checked' : 'hotel-option'">
											<div class="col-md-10 col-sm-10 col-xs-10 no-padding">
												<span> {{ value.name }} </span>
											</div>
											<div class="col-md-2 col-sm-2 col-xs-2 no-padding">
												<div class="hotel-checkbox-search-info"></div>
												<!--input type="checkbox" id="{{ value.code }}" class="hotel-checkbox" />
	                                                <label for="{{ value.code }}" ng-click="selectFilter($index,'supplier',$event, value.code)"></label-->
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-3 col-md-offset-1 filters-container">
							<div class='search-box-advanced no-border' ng-mouseleave="closeCollapses()">
								<div class="select hand" ng-click="toggleCollapse($event,'foodPlan')">
									<span>{{view.options.foodPlan}}</span>
								</div>
								<div uib-collapse="view.collapse.foodPlan" class="option-container-container info-filters">
									<div class="option-container">
										<div ng-repeat="(key, value) in view.filtersValues.foodPlan" ng-click="selectFilter($index,'foodPlan',$event, value.code)" ng-class="content.searchFilters.foodPlan.hasOwnProperty(value.code) && content.searchFilters.foodPlan[value.code] !== false ? 'hotel-option-checked' : 'hotel-option'">
											<div class="col-md-10 col-sm-10 col-xs-10 no-padding">
												<span> {{ value.name }} </span>
											</div>
											<div class="col-md-2 col-sm-2 col-xs-2 no-padding">
												<div class="hotel-checkbox-search-info"></div>
												<!--input type="checkbox" id="{{ value.code }}" class="hotel-checkbox" />
	                                                <label for="{{ value.code }}" ng-click="selectFilter($index,'supplier',$event, value.code)"></label-->
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>


					</div>
				</div>
			</div>
		</div>
	</div>

</div>
<!-- filters -->