<div class="div-hotel-amenities" style="color: black;">
	<i ng-repeat="index in range(0,((amenities.length>5)?4:amenities.length-1))" ng-if="amenities[index]" ng-class="{'last':$last,'cch-amenities-breakfast':amenities[index].TYPE === 'BREAKFAST','cch-gym':amenities[index].TYPE === 'GYM','cch-hidromassage':amenities[index].TYPE === 'BATH','cch-pool':amenities[index].TYPE === 'POOL','cch-wifi':amenities[index].TYPE === 'WIFI','cch-amenities-all-inclusive':amenities[index].TYPE === 'ALL-INCLUSIVE','cch-air-conditioner':amenities[index].TYPE === 'AIR','cch-spa':amenities[index].TYPE === 'SPA','cch-parking':amenities[index].TYPE === 'PARKING'}" uib-tooltip-html=" amenities[index].description | trustHtml " tooltip-placement="bottom">
	</i>
</div>