<div class="search-info" ng-cloak>
	<div class="container-fluid search-info-box" id="search-info-box-id">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div ng-click="editSearch()">
				<div class="input-container-places arrow">
					<div class="cch-position-container">
						<i class="cch-position"></i>
					</div>
					<div class="places-container">
						<span title="{{data.places.destination.regionNameLong}}">{{data.places.destination.regionNameLong}}</span>
					</div>
				</div>
				<div class="separator arrow"></div>
				<div class="input-container arrow">
					<div class="cch-calendar-flight-container">
						<i class="cch-calendar-flight"></i>
					</div>
					<div class="dates-container">
						<span>{{data.dates.arrival | cDateFilter:'short-month'}}</span>
						<span>{{data.dates.departure | cDateFilter:'short-month'}}</span>
					</div>
				</div>


				<div class="separator arrow"></div>
				<div class="input-container arrow">
					<div class='cch-adult-child-container'>
						<i class="cch-adult-boy"></i>
					</div>
					<div class="room-passengers-summary">
						<span>
                        {{data.passengers.rooms}} Habitación{{data.passengers.rooms > 1 ? 'es' : ''}}
                      </span>
						<span>
                        , {{data.passengers.adults}} Adulto{{data.passengers.adults > 1 ? 's' : ''}}
                      </span>
						<span ng-if="data.passengers.children > 0">
                        , {{data.passengers.children}} Niño{{data.passengers.children > 1 ? 's' : ''}}
                      </span>
					</div>

				</div>
			</div>
			<div class="text-right  search-info-button-group " ng-if="view.showButtons && mode === 'sticky'  && hasResults == false">
				<button smooth-scroll="search-info-wrapper-container-id" class="btn-general-transparent" ng-click="editSearchOnSticky()" ng-class="edit.value ? '': 'rotate'">
                    <span ng-if="!view.smallButtons">Modificar</span>
                    <span ng-if="view.smallButtons" class="glyphicon glyphicon-edit"></span>
                    <div class="button-arrow-down" ng-if="!edit.arrow">
                    </div>
                    <div class="button-arrow-down-border" ng-if="!edit.arrow">
                    </div>
                </button>

				<button class="btn-map" ng-click="callback()">
                    <span ng-if="!view.smallButtons">Ver Mapa</span>
                    <span ng-if="view.smallButtons" class="cch-position"></span>
                </button>

				<button smooth-scroll="search-info-wrapper-container-id" class="btn-general" ng-click="openFiltersOnSticky()" ng-class="filters.value ? '': 'rotate'">
                    <span ng-if="!view.smallButtons">Filtrar</span>
                    <span ng-if="view.smallButtons" class="glyphicon glyphicon-filter"></span>
                    <div class="button-arrow-down" ng-if="!filters.arrow">
                    </div>
                    <div class="button-arrow-down-border" ng-if="!filters.arrow">
                    </div>
                </button>
			</div>
			<div class="text-right search-info-button-group" ng-if="view.showButtons && mode === 'normal' && hasResults == false ">
				<button class="btn btn-general-transparent" ng-click="editSearch()" ng-class="edit.value ? '': 'rotate'">
                    <span ng-if="!view.smallButtons">Modificar</span>
                    <span ng-if="view.smallButtons" class="glyphicon glyphicon-edit"></span>
                    <div class="button-arrow-down" ng-if="!edit.value">
                    </div>
                    <div class="button-arrow-down-border" ng-if="!edit.value">
                    </div>
                </button>

				<button class="btn btn-map" ng-click="callback()">
                    <span ng-if="!view.smallButtons">Ver Mapa</span>
                    <span ng-if="view.smallButtons" class="cch-position"></span>
                </button>

				<button class="btn btn-general" ng-click="openFilters()" ng-class="filters.value ? '': 'rotate'">
                    <span ng-if="!view.smallButtons">Filtrar</span>
                    <span ng-if="view.smallButtons" class="glyphicon glyphicon-filter"></span>
                    <div class="button-arrow-down" ng-if="!filters.value">
                    </div>
                    <div class="button-arrow-down-border" ng-if="!filters.value">
                    </div>
                </button>
			</div>
		</div>
	</div>
</div>