<div class="row">

	<hotel-search-filters></hotel-search-filters>

	<!-- region info, sorting options -->
	<div class="row" ng-show="view.loadingResults === false">
		<div class=" row ">
			<div class=" results ">
				<span class=''> <h1 class='region-title-results'><span class='hotel-result-number'> Hoteles en {{content.search.places.destination.regionNameLong }} <span class='hotel-result-number' ng-if="content.numberResults > 0" >({{ content.numberResults }} Resultados)</span>
				<!--({{content.results.length}} resultados)-->
				</span>
				</h1>
				</span>
			</div>

			<div class=" sort-by">
				<div class="sort-background">
					<div class=" sort-padding">
						<span>Ordenar por</span>
					</div>
					<div class=" select-box-container" outside-click="collapseSelectBox($event,true)">
						<div class="select-box" ng-click="collapseSelectBox($event)">
							{{view.sortOption.value}}
						</div>
						<div uib-collapse="view.collapseSelectBox" class="option-container">
							<div ng-repeat="sortOption in view.sortingOptions" ng-click="sortResults(sortOption)" class="option">
								{{sortOption.value}}
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<!-- region info, sorting options -->

	<!-- hotel results -->
	<div class='row' ng-hide="view.loadingResults === true">
		<div class="col-xs-12 div-hotel-result" ng-repeat="hotel in content.results track by $index" ng-class="{'preferred-hotel-result':hotel.request.isPreferred===true && content.filters.start == 0}">
			<div class='row div-hotel-info'>
				<div class='hotel-preferred-tag' ng-if="(hotel.request.isPreferred===true && content.filters.start == 0) && (hotel.categories.length == 0 || hotel.categories[0].name !== 'Selected Partners')">
					El hotel que buscas
				</div>

				<div class='category-container'>
					<div class='category-tooltip' ng-if="hotel.request.categories.partner === true" uib-tooltip-html="( view.textCategory | cRawHtmlFilter)" tooltip-placement="bottom">
						<div class="hotel-category">
							<span class='hand'>

					<span class="category-text-bold">
						COCHA PREFERRED
					</span>
							<span class="category-text-regular">
						PARTNERS
					</span>

							</span>
						</div>
					</div>
				</div>


				<div class='padded-img'>
					<div class='center-cropped' ng-style="{'background-image':'url( '+(( hotel.images[0].url.length > 10 ) ? getImageName(hotel.images[0].url) : 'https://www.cocha.com/images/default_hotel_img.png' )  +')' }">

						<img background-fallback="https://www.cocha.com/images/default_hotel_img.png" ng-src="{{ (( hotel.images[0].url.length > 0 ) ? getImageName(hotel.images[0].url) : 'error.jpg' ) }}" class='img-dummy-fallback'>
					</div>
				</div>
				<div class=' padded-hotel-data'>
					<div class='col-xs-12'>
						<div class='hotel-results-info'>
							<div class='hotel-result-name test'>
								{{ hotel.name }}
							</div>
							<span class="box-offer-star hotel-rating-stars"> <uib-rating ng-model="hotel.hotelRating" max="5" read-only="true" data-read-only="true" state-on="'cch-star'" state-off="'cch-star-o'" on-leave="overStar = null"></uib-rating> </span>
							<span ng-if="hotel.tripAdvisorRating != null && hotel.tripAdvisorRating != 0"> <span class="separator-hotel-results"></span> <span class='trip-hotel-result'> <trip-advisor-rating trip-rating="hotel.tripAdvisorRating" min='1' max='5' number-reviews="hotel.tripAdvisorReviewCount" url="hotel.tripAdvisorUrl" ></trip-advisor-rating> </span> </span>
							<div ng-click="getHotelMap(hotel.request, hotel.hotelID, hotel.name, hotel.latitude, hotel.longitude, hotel.hotelRating, hotel.address1)" class='hand map-icon hotel-result-address-container '>
								<span class="separator-hotel-results hotel-result-address-separator "></span>

								<span class='hotel-result-address' uib-tooltip="Ver mapa"><i class="cch-position location-icon"></i>{{ hotel.address1 }}</span>
							</div>
							<hotel-category categories="hotel.request.categories">
							</hotel-category>
						</div>
						<div class='hotel-results-price-div hotel-button-filler'>

							<span class='hotel-results-dollar text-right'>
								<div class='link-hotel-results'>
						  			desde
								</div>

                              <img class="logo-lowest" ng-src="img/{{ view.lowestPriceHotel[hotel.hotelID] ? view.lowestSupplierHotel[hotel.hotelID] : hotel.lowestSupplier }}.png"> US${{ (view.lowestPriceHotel.hasOwnProperty(hotel.hotelID) && (!isNaN(view.lowestPriceHotel[hotel.hotelID])) ? view.lowestPriceHotel[hotel.hotelID] : hotel.lowestPrice) | moneyFilter }} 

								<div ng-if="!isNaN(content.currency)" class='hotel-results-converted'>
	                            ({{ ((view.lowestPriceHotel.hasOwnProperty(hotel.hotelID) && !isNaN(view.lowestPriceHotel[hotel.hotelID])) ? view.lowestPriceHotel[hotel.hotelID] : hotel.lowestPrice) | USDtoCLPFilter }})
	                          </div>              

	                          							<div class='hotel-result-rate-text'>
                              Tarifa promedio por habitacion
						  </div>
							<div class='hotel-result-rate-text' ng-style="{'padding-left':'50px'}">
                              (por noche)
                          </div>                
                          </span>


						</div>
					</div>
					<div class='row'>

						<div class="row text-left hotel-result-buttons ">
							<div class="row hotel-amenities">
								<hotel-amenities amenities="hotel.amenities"></hotel-amenities>
							</div>
							<div class='div-get-rates  col-sm-6 col-xs-12'>
								<!--div class="row">llalaa</div-->
								<a class='btn hotel-result-btn-rate' ng-click="showRooms(hotel.request)">
                              Vista rápida de tarifas
                              <span ng-if="!checkCollapseDetails(hotel.hotelID)">
                                <i class='cch-arrow-down'></i>
                              </span>
                              <span ng-if="checkCollapseDetails(hotel.hotelID)">
                                <i class='cch-arrow-up'></i>
                              </span>
                          </a>
							</div>
							<div class='div-goto-details text-right col-sm-6 col-xs-12'>

								<span class='hotel-result-button-div' ng-show="view.goToDetailLoader[hotel.hotelID]!==true">
							    	<button  ng-click="saveHotelData(hotel,$index)" class='btn btn-red btn-goto-hotel-details'>
							        Ver Detalles
							    	</button>
								</span>
								<div class='hotel-result-go-detail-loader' ng-show="view.goToDetailLoader[hotel.hotelID]===true">
									<img src="img/loader.gif">
								</div>
							</div>

						</div>
					</div>
				</div>

				<!--div class="arrow-rooms"></div-->

			</div>
			<!-- div details rooms -->
			<div class='row div-hotel-details col-xs-12' uib-collapse="!checkCollapseDetails(hotel.hotelID)">

				<!--div class="button-arrow-down-rooms">
            </div>
            <div class="button-arrow-down-rooms-border">
            </div-->

				<!-- preloader  -->
				<div class='row spinner-hotel-details' ng-show="checkLoaderDetails(hotel.hotelID)">
					<div class="">
						<div class="col-xs-12 loader-container">
							<div class="center-loader">
								<main-loader color="'black no-plane'" message1="'Un momento por favor'"></main-loader>
							</div>
						</div>
						<!--div class="preloader-animation text-center">
							<img src='img/loader.gif' class='hotel-results-details-loader'>
						</div>
						<div class="preloader-caption preloader-caption-hotel-detail text-center">
							<p class="room-loader-caption">
								Un momento por favor
							</p>
						</div-->
					</div>
				</div>
				<!-- preloader  -->
				<!-- rooms  -->
				<hotel-rooms ng-if="!checkLoaderDetails(hotel.hotelID)" mode="'list'" data='content.hotelDetails[hotel.hotelID].rooms' rooms-supplier="content.hotelDetails[hotel.hotelID].roomsBySupplier" hotel-id='hotel.hotelID' callback-fn="checkout(flagBooking,room,roomPosition,hotelPosition)" quote-fn="saveQuote(flagBooking,room,roomPosition,hotelPosition, doneFn)" is-preferred=" (hotel.categories.length > 0 && hotel.categories[0].name == 'Selected Partners' ) " hotel-position="$index"></hotel-rooms>

				<!-- rooms  -->

			</div>
			<!-- extra -->
		</div>
		<!-- hotel results -->
		<!-- pagination -->

		<div class="row" ng-if="content.results.length == 0">
			<div class="col-xs-12 results">
				<span>No hay resultados con los filtros aplicados</span>
			</div>
		</div>


		<hotel-result-pagination></hotel-result-pagination>

		<!-- pagination -->
	</div>

</div>