<div class='pagination-container text-center row'>
	<button ng-if="content.filters.start > 0" class='btn-pagination-transparent' ng-click="page('previous')">
                <i class='cch-arrow-left'></i>
   </button>

	<span ng-repeat="pages in view.pagination.visibleIndexes track by $index" ng-class="{'active-page': pages === view.pagination.currentPage }"> 

      <a ng-click="gotoPage(0)" href="#" class='pagination-links' ng-if="$first === true && (view.pagination.visibleIndexes[0] !== 0 ) ">
            1
         </a>

        <span ng-if="$first === true && (view.pagination.visibleIndexes[0] > 1 ) " class='pagination-links'>
          ...
          </span>


	<span ng-if="$last === true && (view.pagination.visibleIndexes[view.pagination.visibleIndexes.length-1] !== view.pagination.visibleIndexes[view.pagination.visibleIndexes.length-2] +1 ) && view.pagination.visibleIndexes.length > 1 " class='pagination-links'>
       		...
       	  </span>

	<a ng-click="gotoPage(pages)" href="#" class='pagination-links'>
          	{{ pages + 1 }}
       	 </a>
	</span>

	<button ng-if="content.filters.start < ( content.numberResults - 20)" class='btn-pagination-transparent' ng-click="page('next')">
               <i class='cch-arrow-right'></i>
    </button>
</div>