<!--  search box, info box with filters -->
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="search-info-wrapper-container-id">
	<div class="search-info-wrapper col-md-10 col-sm-12 col-xs-12 col-md-offset-1" id="search-info-wrapper-id">
		<!-- search info -->
		<div class="search-info" ng-cloak>
			<div class="container-fluid search-info-box" id="search-info-box-id">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div ng-click="editSearch()">
						<div class="input-container-places arrow">
							<div class="cch-position-container">
								<i class="cch-position"></i>
							</div>
							<div class="places-container">
								<span>{{ hotelInfo.name }}</span>
							</div>
						</div>
						<div class="separator arrow"></div>
						<div class="input-container arrow">
							<div class="cch-calendar-flight-container">
								<i class="cch-calendar-flight"></i>
							</div>
							<div class="dates-container">
								<span>{{ content.search.dates.arrival | cDateFilter:'short-month'}}</span>
								<span>{{ content.search.dates.departure | cDateFilter:'short-month'}}</span>
							</div>
						</div>

						<div class="separator arrow"></div>
						<div class="input-container arrow">

							<div class='cch-adult-child-container'>
								<i class="cch-adult-boy"></i>
							</div>
							<div class="room-passengers-summary">
								<span>
                        {{content.search.passengers.rooms}} Habitación{{content.search.passengers.rooms > 1 ? 'es' : ''}}
                      </span>
								<span>
                        , {{content.search.passengers.adults}} Adulto{{content.search.passengers.adults > 1 ? 's' : ''}}
                      </span>
								<span ng-if="content.search.passengers.children > 0">
                        , {{content.search.passengers.children}} Niño{{content.search.passengers.children > 1 ? 's' : ''}}
                      </span>
							</div>


						</div>
					</div>
					<div class="text-right" ng-if="view.showButtons && mode === 'sticky'">
						<button smooth-scroll="search-info-wrapper-container-id" class="btn-general-transparent" ng-click="editSearchOnSticky()" ng-class="view.edit.value ? '': 'rotate'">
                    <span ng-if="!view.smallButtons">Modificar</span>
                    <span ng-if="view.smallButtons" class="glyphicon glyphicon-edit"></span>
                    <div class="button-arrow-down" ng-if="!edit.arrow">
                    </div>
                    <div class="button-arrow-down-border" ng-if="!edit.arrow">
                    </div>
                </button>
						<button smooth-scroll="search-info-wrapper-container-id" class="btn-general" ng-click="openFiltersOnSticky()" ng-class="view.filter.value ? '': 'rotate'">
                    <span ng-if="!view.smallButtons">Filtrar</span>
                    <span ng-if="view.smallButtons" class="glyphicon glyphicon-filter"></span>
                    <div class="button-arrow-down" ng-if="!filters.arrow">
                    </div>
                    <div class="button-arrow-down-border" ng-if="!filters.arrow">
                    </div>
                </button>
					</div>
					<div class="text-right" ng-if="view.showButtons && mode === 'normal'">
						<button class="btn btn-general-transparent" ng-click="editSearch()" ng-class="view.edit.value ? '': 'rotate'">
                    <span ng-if="!view.smallButtons">Modificar</span>
                    <span ng-if="view.smallButtons" class="glyphicon glyphicon-edit"></span>
                    <div class="button-arrow-down" ng-if="!view.edit.value">
                    </div>
                    <div class="button-arrow-down-border" ng-if="!view.edit.value">
                    </div>
                </button>
						<button class="btn btn-general" ng-click="openFilters()" ng-class="view.filter.value ? '': 'rotate'">
                    <span ng-if="!view.smallButtons">Filtrar</span>
                    <span ng-if="view.smallButtons" class="glyphicon glyphicon-filter"></span>
                    <div class="button-arrow-down" ng-if="!view.filter.value">
                    </div>
                    <div class="button-arrow-down-border" ng-if="!view.filter.value">
                    </div>
                </button>
					</div>
				</div>
			</div>
			<div class="container search-filters-box-details no-padding" uib-collapse="view.filter.value">
				<div class="col-md-12 col-sm-12 col-xs-12 no-padding">
					<div class="row">
						<div class='col-md-12 no-padding'>
							<div class='col-md-12 no-padding'>

								<!-- filters -->
								<div class='row search-box '>
									<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
										<div class='details-filter-text'>Política de Cancelacion</div>
										<div class='search-box-advanced no-border ' outside-click="closeCollapses()">
											<div class="select hand" ng-click="toggleCollapse($event,'cancellation')">
												<span>{{view.options.cancellation}}</span>
											</div>
											<div uib-collapse="view.collapse.cancellation" class="col-xs-12 option-container-container" ng-mouseleave="closeCollapses()">
												<div class="option-container-hotel">
													<div ng-repeat="(key, value) in view.filters.cancellation" ng-click="selectFilter($index,'cancellation',$event, value.code)" ng-class="content.filters.cancellation.hasOwnProperty(value.code) && content.filters.cancellation[value.code] !== false ? 'hotel-option-checked' : 'hotel-option'">
														<div class="col-md-10 col-sm-10 col-xs-10 no-padding">
															<span>
						                        {{ value.name }}
						                      </span>
														</div>
														<div class="col-md-2 col-sm-2 col-xs-2 no-padding">
															<div class="hotel-checkbox-search-info">
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
										<div class='details-filter-text'>Proveedor</div>
										<div class='search-box-advanced no-border ' outside-click="closeCollapses()">
											<div class="select hand" ng-click="toggleCollapse($event,'supplier')">
												<span>{{view.options.supplier}}</span>
											</div>
											<div uib-collapse="view.collapse.supplier" class="col-xs-12 option-container-container" ng-mouseleave="closeCollapses()">
												<div class="option-container">
													<div ng-repeat="(key, value) in view.filters.supplier" ng-click="selectFilter($index,'supplier',$event, value.code)" ng-class="content.filters.supplier.hasOwnProperty(value.code) && content.filters.supplier[value.code] !== false ? 'hotel-option-checked' : 'hotel-option'">
														<div class="col-md-10 col-sm-10 col-xs-10 no-padding">
															<span>
						                                {{ value.name }} 
						                              </span>
														</div>
														<div class="col-md-2 col-sm-2 col-xs-2 no-padding">
															<div class="hotel-checkbox-search-info">
															</div>
														</div>
													</div>
												</div>
											</div>


										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
										<div class='details-filter-text'>Servicios del Hotel</div>
										<div class='search-box-advanced no-border ' outside-click="closeCollapses()">
											<div class="select hand" ng-click="toggleCollapse($event,'amenities')">
												<span>{{view.options.amenities}}</span>
											</div>
											<div uib-collapse="view.collapse.amenities" class="col-xs-12 option-container-container" ng-mouseleave="closeCollapses()">
												<div class="option-container">
													<div ng-repeat="(key, value) in view.filters.amenities" ng-click="selectFilter($index,'amenities',$event, value.code)" ng-class="content.filters.amenities.hasOwnProperty(value.code) && content.filters.amenities[value.code] !== false ?  'hotel-option-checked' : 'hotel-option'">
														<div class="col-md-10 col-sm-10 col-xs-10 no-padding">
															<span>
						                                {{ value.name }}
						                              </span>
														</div>
														<div class="col-md-2 col-sm-2 col-xs-2 no-padding">
															<div class="hotel-checkbox-search-info">
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
										<div class='details-filter-text'>Tipo de Pago</div>
										<div class='search-box-advanced no-border ' outside-click="closeCollapses()">

											<div class="select hand" ng-click="toggleCollapse($event,'payment')">
												<span>{{view.options.payment}}</span>
											</div>
											<div uib-collapse="view.collapse.payment" class="col-xs-12 option-container-container" ng-mouseleave="closeCollapses()">
												<div class="option-container">
													<div ng-repeat="(key, value) in view.filters.paymentType" ng-click="selectFilter($index,'paymentType',$event, value.code)" ng-class="content.filters.paymentType.hasOwnProperty(value.code) && content.filters.paymentType[value.code] !== false ?  'hotel-option-checked' : 'hotel-option'">
														<div class="col-md-10 col-sm-10 col-xs-10 no-padding">
															<span>
						                                    {{ value.name }}
						                                  </span>
														</div>
														<div class="col-md-2 col-sm-2 col-xs-2 no-padding">
															<div class="hotel-checkbox-search-info">
															</div>
														</div>
													</div>
												</div>
											</div>


										</div>
									</div>
								</div>
								<!--  filters -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- search info -->
	</div>
	<div class="search-box-wrapper-results col-md-10 col-md-offset-1 col-sm-12 col-xs-12" uib-collapse="view.edit.value">
		<!-- searchbox -->
		<div class='row'>
			<hotel-search-box minimized='true'></hotel-search-box>
		</div>
		<!-- searchbox -->
	</div>
</div>
<!--  search box, info box -->