<div ng-if="content && view" class="search-box" ng-class="verticalAlign === true ? 'vertical-move' : ''" ng-cloak>
	<div class="container-fluid">
		<div class="row padding-top-9">
			<div class="col-xs-12">
				<div class="col-sm-4 col-xs-12 no-padding-left" ng-if="!minimized">
					<div class="col-lg-1 col-xs-2 cch-position-container text-center">
						<i class="cch-position"></i>
					</div>
					<div class="col-lg-11 col-xs-10">
						<input autocomplete="off" select-on-click type="text" ng-trim="false" ng-model="view.search.destination.text" ng-class="view.errors.destination ? 'input-required' : 'input'" placeholder="Destino, hotel, aeropuerto o punto de interés" ng-keydown="focusResults($event)" tabindex="1" id="search-origin-input-id" />
						<img ng-src="img/error-cocha.png" class="warning-off" ng-class="{'warning-on': view.errors.destination}">
						<div ng-class="view.errors.destination ? 'input-underline-error' : 'input-underline'"></div>
						<div ng-if="view.isSearching && (content.placesResults|ObjectKeyLength) == 0" class="search-loading-container">
							<div class="search-place-loading"></div>
						</div>

						<div class="search-results-container" ng-if=" (content.placesResults|ObjectKeyLength) > 0 && view.hideResults === false">
							<!-- ^^outside-click="hideResults()" -->
							<div class="" ng-repeat="(key,value) in content.placesResults">

								<span class="category-result">
                                  <b>
                                  {{ key }}
                                  </b>
                                </span>
								<div class="result hand" ng-repeat="place in value " ng-click="onSelectResult(place)" id="result_id_{{$index}}" tabindex="{{$index + 2}}" ng-keydown="keySelectPlace($event, $index, place, 'destination', 'search-origin-input-id')">
									<span class="result-text">                                    
                                    {{ place.name }}
                                    </span>
								</div>
							</div>
						</div>

					</div>
				</div>

				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 minimized-searchbox-text" ng-if="minimized === true">
					Seleccione nuevamente fechas y pasajeros:
				</div>
				<!-- arrival -->
				<div class="col-sm-2 col-xs-6 no-padding-left-xs" ng-click="openCalendar('arrival', $event)">
					<div class="col-sm-2 cch-calendar-flight-container text-center">
						<i class="cch-calendar-flight hand"></i>
					</div>
					<div class="col-sm-10 col-xs-12 padding-left-10 no-padding-left-xs">
						<div ng-class="view.errors.departure ? 'input-required div-input-xs hand' : 'input div-input-xs hand'" tabindex="101" placeholder="Salida" id="calendar-arrival-id" ng-keydown="openCalendar()">
							<span ng-if="content.search.dates.arrival">
								{{content.search.dates.arrival | cDateFilter:'short-month'}}
							</span>
							<span class="placeholder" ng-if="!content.search.dates.arrival">
								Entrada
							</span>
						</div>
						<div ng-class="view.errors.arrival ? 'input-underline-error2 underline-xs underline-xs-fix2' : 'input-underline2 underline-xs underline-xs-fix2'"></div>
					</div>
					<img ng-src="img/error-cocha.png" class="warning-off2" ng-class="{'warning-on': view.errors.arrival}">
				</div>
				<div ng-if="!view.smallView" class="col-40 col-xs-offset-4 double-calendar-left" uib-collapse="view.collapseCalendar.arrival" ng-click="stopPropagation($event)">
					<cocha-date-picker template-url="views/directives/cocha-calendar-double.html" start="content.search.dates.arrival" end="content.search.dates.departure" mode="start" identifier="arrival" default-limits="view.calendarLimits">
					</cocha-date-picker>
				</div>
				<div ng-if="view.smallView && view.openCalendarXs.arrival" class="custom-modal" ng-click="stopPropagation($event)">
					<div class="calendar-header">
						<i class="cch-arrow-left" ng-click="closeModalCalendar()"></i>
						<span>
							Selecciona fecha Entrada
						</span>
					</div>
					<cocha-date-picker template-url="views/directives/cocha-calendar-xs.html" start="content.search.dates.arrival" end="content.search.dates.departure" mode="start" identifier="arrival-xs" on-pick-date="closeModalCalendar" default-limits="view.calendarLimits">
					</cocha-date-picker>
				</div>
				<!-- arrival -->
				<!-- departure -->
				<div class="col-sm-2 col-xs-6 no-padding-left-xs" ng-click="openCalendar('departure', $event)">
					<div class="col-sm-2 cch-calendar-flight-container text-center">
						<i class="cch-calendar-flight hand"></i>
					</div>
					<div class="col-sm-10 col-xs-12 padding-left-10 no-padding-left-xs">
						<div ng-class="view.errors.departure ? 'input-required div-input-xs hand' : 'input div-input-xs hand'" tabindex="101" placeholder="Salida" id="calendar-departure-id" ng-keydown="openCalendar()">
							<span ng-if="content.search.dates.departure">	
		{{content.search.dates.departure | cDateFilter:'short-month'}}	
		</span>
							<span class="placeholder" ng-if="!content.search.dates.departure">
			Salida
		</span>
						</div>
						<div ng-class="view.errors.departure ? 'input-underline-error2 underline-xs underline-xs-fix2' : 'input-underline2 underline-xs underline-xs-fix2'"></div>
					</div>
					<img ng-src="img/error-cocha.png" class="warning-off2" ng-class="{'warning-on': view.errors.departure}">
				</div>
				<div ng-if="!view.smallView" class="col-40 col-xs-offset-6 double-calendar-left" uib-collapse="view.collapseCalendar.departure" ng-click="stopPropagation($event)">
					<cocha-date-picker template-url="views/directives/cocha-calendar-double.html" start="content.search.dates.arrival" end="content.search.dates.departure" mode="end" identifier="departure" default-limits="view.calendarLimits">
					</cocha-date-picker>
				</div>
				<div ng-if="view.smallView && view.openCalendarXs.departure" class="custom-modal" ng-click="stopPropagation($event)">
					<div class="calendar-header">
						<i class="cch-arrow-left" ng-click="closeModalCalendar()"></i>
						<span>
							Selecciona fecha Salida
						</span>
					</div>
					<cocha-date-picker template-url="views/directives/cocha-calendar-xs.html" start="content.search.dates.arrival" end="content.search.dates.departure" mode="end" identifier="departure-xs" on-pick-date="closeModalCalendar" default-limits="view.calendarLimits">
					</cocha-date-picker>
				</div>
				<!-- departure -->

				<div class="col-md-2 col-sm-4 col-xs-12">
					<div class="col-xs-2 cch-calendar-flight-container text-center">
						<i class="cch-adult-boy"></i>
					</div>
					<div class="col-xs-10 padding-left-10">
						<div class="select2 hand" ng-click="toggleRoomOption($event)">
							<span class='transparent-input'>
                            {{content.search.passengers.rooms}} Hab, {{content.search.passengers.adults}} ad  <span ng-if="content.search.passengers.children > 0">, {{content.search.passengers.children}} ni </span>
							</span>
						</div>
						<div ng-class="view.errors.numberRooms ? 'input-underline-error2' : 'input-underline2'"></div>
					</div>
					<div class="cabin-option-container" uib-collapse="!view.collapse.showRoomOption">
						<div class='cabin-option' ng-click="addRoom(true,1)"> 1 Hab 1 Ad</div>
						<div class='cabin-option' ng-click="addRoom(true,2)"> 1 Hab 2 Ad</div>
						<div class='cabin-option' ng-click="addRoom(true,3)"> 1 Hab 3 Ad</div>

						<div class='cabin-option' ng-click="toggleRooms($event)">
							<span ng-if="view.collapse.showRoomsOption==false"> 
                            Mostrar más opciones
                          </span>
							<span ng-if="view.collapse.showRoomsOption==true">   
                            Ocultar opciones
                          </span>
						</div>
					</div>
				</div>
				<!-- select room option -->
				<div class=" col-md-2 col-sm-4 col-xs-12">
					<button class="btn btn-block btn-search" type="submit" ng-click="goToSearch(searchBoxForm)" ng-class="{'off': view.collapse.showRoomsOption, 'on': !view.collapse.showRoomsOption }">{{ view.textSearchButton }}</button>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid search-box-advanced" uib-collapse="!view.collapse.showRoomsOption == true">
		<div class="row">
			<div class=" col-xs-12">
				<div class=" col-xs-12 room-enter" ng-repeat="item in content.search.rooms">
					<div class="spacer-14"></div>
					<div class="col-md-1 col-xs-12 room-title">
						Habitación {{$index + 1}}
					</div>
					<div class="col-sm-3 col-xs-12">
						<div class="input-styled passenger-container">
							<div ng-if="!view.properWidth" class="col-md-10  col-xs-12 overflow-y-hide overflow-x-hide">
								<div show="class-buttons">
									<div class="label-container">
										Adultos (>18 años)*
									</div>
									<div class="btn-passenger-container">
										<div class="btn-passenger" ng-click="addRemovePassenger('adults', 'remove', $index)">
											<span class="minus">-</span>
										</div>
										<div class="btn-passenger" ng-click="addRemovePassenger('adults', 'add', $index)">
											<span class="plus">+</span>
										</div>
									</div>
								</div>
							</div>
							<div ng-if="!view.properWidth" class="col-md-2 col-xs-3 hand">
								<div class="transparent-input">
									{{item.adults}}
								</div>
							</div>

							<div ng-if="view.properWidth" class="col-xs-12 overflow-y-hide overflow-x-hide">
								<div class="label-container col-lg-6 col-md-7  col-xs-6 no-padding">
									Adultos (>18 años)*
								</div>
								<div class="col-lg-4 col-xs-3">
									<div class="show-buttons2">
										<div class="blank-container">
										</div>
										<div class="btn-passenger-container2">
											<div class="btn-passenger" ng-click="addRemovePassenger('adults', 'remove', $index)">
												<span class="minus">-</span>
											</div>
											<div class="btn-passenger" ng-click="addRemovePassenger('adults', 'add', $index)">
												<span class="plus">+</span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-2 col-md-2  col-xs-3 hand">
									<div class="transparent-input">
										{{item.adults}}
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
						<div class="input-styled passenger-container">
							<div ng-if="!view.properWidth" class="col-md-10  col-xs-12 overflow-y-hide">
								<div class="show-buttons">
									<div class="label-container">
										Niños (0 - 17 años)*
									</div>
									<div class="btn-passenger-container">
										<div class="btn-passenger" ng-click="addRemovePassenger('children', 'remove', $index)">
											<span class="minus">-</span>
										</div>
										<div class="btn-passenger" ng-click="addRemovePassenger('children', 'add', $index)">
											<span class="plus">+</span>
										</div>
									</div>
								</div>
							</div>
							<div ng-if="!view.properWidth" class="col-md-2 col-xs-3 hand">
								<div class="transparent-input">
									{{item.children}}
								</div>
							</div>

							<div ng-if="view.properWidth" class="col-lg-12 col-xs-12 overflow-y-hide">
								<div class="label-container col-lg-6 col-md-7  col-xs-6 no-padding">
									Niños (0 - 17 años)*
								</div>
								<div class="col-lg-4 col-xs-3">
									<div class="show-buttons2">
										<div class="blank-container">
										</div>
										<div class="btn-passenger-container2">
											<div class="btn-passenger" ng-click="addRemovePassenger('children', 'remove', $index)">
												<span class="minus">-</span>
											</div>
											<div class="btn-passenger" ng-click="addRemovePassenger('children', 'add', $index)">
												<span class="plus">+</span>
											</div>
										</div>
									</div>
								</div>
								<div class=" col-md-2  col-xs-3 hand">
									<div class="transparent-input">
										{{item.children}}
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-5 col-sm-6 col-xs-12" ng-hide="content.search.rooms[$index].children == 0">
						<div class=" col-xs-4 children-ages">
							<span>
                                Edad de los niños: 
                            </span>

						</div>


						<div class="children-ages-selects" ng-repeat="children in content.search.rooms[$index].ages track by $index">
							<div id="children_{{$parent.$index}}_{{$index}}">
								<div class=" passenger-container select-age select2" ng-click='toggleChildrenSelect($parent.$index,$index,$event)'>
									<span ng-show="content.search.rooms[$parent.$index].ages[$index] !== false">
										{{ content.search.rooms[$parent.$index].ages[$index] }}
									</span>
								</div>
								<div ng-class="view.errors.children[$parent.$index][$index] ? 'input-underline-error' : 'input-underline'"></div>
								<div class="cabin-option-container container-age" uib-collapse="view.collapse.childrenAges[$parent.$index][$index] === false">
									<div class="cabin-option children-age-option" ng-repeat="age in range(0,17)" ng-click="selectChildrenAge($parent.$parent.$index,$parent.$index, age)">
										{{ age }}
									</div>
								</div>
							</div>
						</div>
						<!-- select-age -->
					</div>
				</div>
				<div class="col-xs-12 ">
					<div class="room-btn-container">
						<span ng-hide=" content.search.passengers.rooms >= 3 ">
                      <button class="add-room-btn" ng-click="addRoom()">
                        Agregar habitación
                      </button>                     
                    </span>
						<button ng-hide=" content.search.passengers.rooms <= 1 " class="add-room-btn" ng-click="deleteRoom()">
                        Quitar habitación
                    </button>
						<span ng-hide=" true ">
                      <button class="add-room-btn" ng-click="" >
                        ¿Más de 3 Habitaciones?
                      </button>
                    </span>
						<span class='btn-search-hotels-2-container'>
					  <button class="btn btn-block btn-search" type="submit" ng-click="goToSearch(searchBoxForm)" ng-class="{'off': !view.collapse.showRoomsOption , 'on': view.collapse.showRoomsOption  }">Buscar Hoteles</button>
					</span>

					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid search-box-advanced corporate-code-options" ng-if="view.isB2B ">
		<div class="col-md-4 corporate-code-title">


			<div>
				<span class="payment-type-title title-padded">
					Tipo de Pago
				</span>
				<span class="payment-type-select">
					<div class="select2 hand" ng-click="toggleReservationTypeOption($event)">
						<span class='transparent-input'>
	                            {{ (content.search.reservationType === 'prepaid' ? 'Prepago' : (content.search.reservationType === 'inhotel' ? 'Pago Directo' : 'Todos' )) }}
	                    </span>
			</div>
			<div class="cabin-option-container payment-type-select" uib-collapse="!view.collapse.showReservationTypeOption">
				<div class='cabin-option' ng-click="selectReservationType('prepaid')"> Prepago </div>
				<div class='cabin-option' ng-click="selectReservationType('inhotel')"> Pago Directo </div>
				<div class='cabin-option' ng-click="selectReservationType()"> Todos</div>
			</div>
			</span>
		</div>
	</div>

	<!--- -->

	<div class="col-md-6" ng-if="(view.appType == 2 || view.appType == 3)">
		<div class="col-md-8 corporate-code-option corporate-code-title title-padded">
			<span>
				Tipo de Viaje
			</span>
			<span class="option-separator"></span>
			<span ng-click="selectCorporateType('V')"><i ng-class="{'cch-circle-o':view.corporateType!=='V','cch-mob-check':view.corporateType==='V'}"></i><span class="option-separator"></span>Vacacional</span>
			<span class="option-separator"></span>
			<span ng-click="selectCorporateType('C')"><i ng-class="{'cch-circle-o':view.corporateType!=='C','cch-mob-check':view.corporateType==='C'}"></i><span class="option-separator"></span>Corporativo</span>
		</div>
		<div class="col-md-4 corporate-code-nemo">

			<div class="content-input-container" ng-show="view.collapse.showCorporateCode || view.corporateType==='C'">
				<div class=" col-xs-12 content-input-height">
					<input class="input-email corporate-code-nemo-value" ng-blur="validateCorporateCode()" ng-model="content.search.corporateCode" force-uppercase placeholder="Ingresar Nemo" ng-focus="view.focus.corporateCode = true" />

					<span class='input-field-loader' ng-show="view.loader.corporateCode === true"><img src="img/mini-loader.gif"></span>
					<div ng-class="view.focus.businessId ? 'content-input-underline-focus' : 'content-input-underline'"></div>
					<div ng-if="view.errors.corporateCode" class="content-input-underline-error"></div>
					<img ng-src="img/error-cocha.png" class="warning-off" ng-class="{'warning-on':view.errors.corporateCode}">
				</div>
			</div>

		</div>

	</div>

	<!--- -->


</div>
</div>


</div>
</div>


</div>
<div class="col-xs-12 btn-search-group" ng-if="view.btnGroup && !view.smallView && view.corporateType!=='C'">
	<div class="alert">
		<span class="text"> ¿Necesitas más de 3 habitaciones? Envía tu solicitud en </span>
		<span class="btn-content"> <button class="btn-red" ng-click="goToGroup()" tabindex="115">Viajes en grupo <i class="cch-arrow-right"></i></button></span>
		<span class="btn-rigth" ng-click="view.btnGroup = false"> <i class="cch-close-bold"></i></span>
	</div>
</div>