<div class="row category-list" ng-if="(categories | activeCategory) && view.isB2B">
	<div class="hotel-category-mark">
		<div class="container-mark">
			<div class="text-mark">
				<div class="icon-recommended">
					<i class="cch-favicocha"></i>
				</div>
				<div class="separator-recommended">

				</div>
				<div class="text-recommended">
					<div class="text-recommended-1">COCHA</div>
					<div class="text-recommended-2">recomienda</div>
				</div>
			</div>
			<div class="triangle-mark-1"></div>
			<div class="triangle-mark-2"></div>
		</div>
	</div>
	<span ng-repeat="(key,value) in categories">
		<div ng-if="value && key!== 'partner' && key!== 'style'" class="hotel-category-container hand" tooltip-placement="bottom" uib-tooltip="{{ key | categoryData : 'tooltip' }}">
			<div class="category-icon-container">
				<i class="{{ key | categoryData : 'icon' }}"></i>
			</div>
			<div class="category-text-container">
				{{ key | categoryData : 'title' }}
			</div>
		</div>
	</span>
</div>