<div class="overflow-hidden box-offer-container" ng-class="(openCalendar.value && openCalendar.index === index) || (openOrigin.value && openOrigin.index === index) ? 'box-offer-container-double' : ''" id="{{program.id}}" ng-cloak>
	<div class="box-offer" ng-class="(openCalendar.value && openCalendar.index === index) || (openOrigin.value && openOrigin.index === index) ? 'no-overflow-hidden' : 'overflow-hidden'" style="background: url('{{program.image}}') no-repeat 100% center;">
		<div class="blurry-background" style="background: url('{{program.image}}') no-repeat 100% center;">
		</div>
		<div class="main-content hand">
			<div class="title">
				{{program.title}}
			</div>
			<div class="info-footer-container">
				<table class="info-footer">
					<td class="left" ng-class="program.tabs.condition ? 'text-left' : 'text-center'">
						<img src="img/icons/ico_flight.png" class="flight-icon"> &nbsp;
						<span>
                            {{program.subtitle}}
                        </span>
					</td>
					<td class="right" ng-if="program.tabs.condition">
						<span class="glyphicon glyphicon-time"></span> &nbsp;
						<span>
                            {{program.tabs.condition}}
                        </span>
					</td>
				</table>
			</div>
		</div>
		<div class="details hand">
			<div class="details-content" style="background: url('{{program.image}}') no-repeat 100% center;">
			</div>
			<div class="box-offer-sale" ng-if="program.discount > 0">
				<div class="box-offer-sale-val">{{program.discount}}<span>%</span> </div>
				<div class="box-offer-sale-text">dcto</div>
			</div>
			<div class="program-prices">
				<div class="prices">
					<span class="from">
                        desde
                    </span>
					<br>
					<span class="main-price">
                        {{program.pricing[0].mainPrice}}{{!program.pricing[0].extra.tax && !program.pricing[0].extra.fee ? '': '*'}}
                    </span>
					<br>
					<span class="secondary-price" ng-if="program.pricing[0].secondPrice">
                        ({{program.pricing[0].secondPrice}}) {{program.pricing[0].subtitle}}
                    </span>
				</div>
				<div class="availability" ng-if="program.availability !== '-1'">
					<span>
                    cupos: {{program.availability}}
                    </span>
				</div>

			</div>
			<div class="main-not-included" ng-hide="!program.pricing[0].extra.tax && !program.pricing[0].extra.fee">
				<span>
                    *No incluye {{program.pricing[0].extra.tax ? 'tasas de ' + program.pricing[0].extra.tax : ''}}  {{program.pricing[0].extra.fee ? 'y cargos de ' + program.pricing[0].extra.fee : ''}}
                </span>
			</div>
		</div>
		<div class="program-hover" ng-class="(openCalendar.value && openCalendar.index === index) ? 'display-none' : ''">
			<div class="title">
				{{program.title}}
			</div>
			<div class="subtitle">
				<span>{{program.pricing[0].subtitle}} desde 
                </span>
				<strong>{{program.pricing[0].mainPrice}}*</strong>
			</div>
			<div class="select-btn-container">
				<button class="select-btn" ng-click="loadElements()">
                    Seleccionar
                </button>
				<div ng-if="view.loadingElements" class="loading-elements-container">
					<div class="loading-elements ">
					</div>
				</div>
			</div>
			<div class="hover-not-included">
				<span>
                    *No incluye {{program.pricing[0].extra.tax ? 'tasas de ' + program.pricing[0].extra.tax : ''}} {{program.pricing[0].extra.fee ? 'y cargos de ' + program.pricing[0].extra.fee : ''}}.
                </span>
				<span class="conditions hand" ng-click="viewDetails()">
                    Ver condiciones
                </span>
			</div>
		</div>
	</div>
	<div ng-if="view.showElements" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 calendar-data no-padding" ng-class="(openCalendar.value && openCalendar.index === index) ? 'calendar-data-in' : 'calendar-data-out'">
		<div class="calendar-data-header">
			<button class="close-calendar-data" ng-click="functions.openSelectors('close', 'offers', index)">
                <span>X</span>
            </button>
			<span class="calendar-data-title">
                Selecciona tu <strong>{{state.value === 'returning' ? 'vuelta de ' : 'ida a '}} {{program.title}}</strong>
            </span>
			<button class="back-calendar-data" ng-click="functions.openSelectors('back', 'offers', index)">
                <span class="glyphicon glyphicon-menu-left"></span>
            </button>
		</div>
		<cocha-date-picker template-url="views/directives/cocha-calendar-single.html" state="state" departure-date="data.dates.departure" returning-date="data.dates.returning" mode="data.mode.value" collapse="{value: (openCalendar.value && openCalendar.index === index)}" config="program.searchConfig" index="{{index}}">
		</cocha-date-picker>
		<div class="calendar-data-bottom text-center">
			<button class="continue-btn" ng-click="functions.openSelectors('open', 'dates', index)" ng-class="state.value === 'finished' ? '' : 'disabled'">
                continuar
            </button>
		</div>
	</div>
	<div ng-if="view.showElements" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pax-data no-padding" ng-class="(openOrigin.value && openOrigin.index === index) ? 'pax-data-in' : 'pax-data-out'">
		<div class="pax-data-header">
			<button class="close-pax-data" ng-click="functions.openSelectors('close', 'dates', index)">
                <span>X</span>
            </button>
			<span class="pax-data-title">
                Selecciona tu <strong>Origen y Pasajeros</strong>
            </span>
			<button class="back-pax-data" ng-click="functions.openSelectors('back', 'dates', index)">
                <span class="glyphicon glyphicon-menu-left"></span>
            </button>
		</div>
		<div class="origin">
			<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
				<div class="form-element-container">
					<div class="title">
						Origen
					</div>
					<div>
						<input select-on-click ng-model="data.originText" class="input">
					</div>
				</div>
				<div ng-if="data.isSearching" class="search-loading-container">
					<div class="search-place-loading"></div>
				</div>
				<div class="search-results-container" ng-if="data.placesResults.length > 0">
					<div class="result hand" ng-repeat="place in data.placesResults" ng-click="functions.onSelectResult(place)">
						<span class="result-text">
                            {{place.city}}, {{place.country}} ({{place.code}})
                        </span>
					</div>
				</div>
				<div class="form-element-container hand" ng-click="data.collapseCabinOptions = !data.collapseCabinOptions">
					<div class="title">
						Cabina
					</div>
					<div class="value">
						{{data.cabin.name}}
					</div>
				</div>
				<div uib-collapse="data.collapseCabinOptions" class="cabin-option-container">
					<div class="cabin-option" ng-repeat="cabin in data.cabinOptions" ng-click="functions.selectCabinType(cabin)">
						{{cabin.name}}
					</div>
				</div>
				<div class="form-element-container passenger-container">
					<div class="label-container col-lg-6 col-md-7 col-sm-6 col-xs-6 no-padding">
						Adultos (>12 años)*
					</div>
					<div class="col-lg-4 col-md-3 col-sm-3 col-xs-3">
						<div class="show-buttons">
							<div class="blank-container">
							</div>
							<div class="btn-passenger-container">
								<div class="btn-passenger" ng-click="functions.addRemovePassenger('adults', 'add')">
									<span class="plus">+</span>
								</div>
								<div class="btn-passenger" ng-click="functions.addRemovePassenger('adults', 'remove')">
									<span class="minus">-</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 hand">
						<div class="value">
							{{data.passengers.adults}}
						</div>
					</div>
				</div>
				<div class="form-element-container passenger-container">
					<div class="label-container col-lg-6 col-md-7 col-sm-6 col-xs-6 no-padding">
						Niños (1 - 11 años)*
					</div>
					<div class="col-lg-4 col-md-3 col-sm-3 col-xs-3">
						<div class="show-buttons">
							<div class="blank-container">
							</div>
							<div class="btn-passenger-container">
								<div class="btn-passenger" ng-click="functions.addRemovePassenger('children', 'add')">
									<span class="plus">+</span>
								</div>
								<div class="btn-passenger" ng-click="functions.addRemovePassenger('children', 'remove')">
									<span class="minus">-</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 hand">
						<div class="value">
							{{data.passengers.children}}
						</div>
					</div>
				</div>
				<div class="form-element-container passenger-container">
					<div class="label-container col-lg-6 col-md-7 col-sm-6 col-xs-6 no-padding">
						Infantes (&#60;1 año)*
					</div>
					<div class="col-lg-4 col-md-3 col-sm-3 col-xs-3">
						<div class="show-buttons">
							<div class="blank-container">
							</div>
							<div class="btn-passenger-container">
								<div class="btn-passenger" ng-click="functions.addRemovePassenger('infants', 'add')">
									<span class="plus">+</span>
								</div>
								<div class="btn-passenger" ng-click="functions.addRemovePassenger('infants', 'remove')">
									<span class="minus">-</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 hand">
						<div class="value">
							{{data.passengers.infants}}
						</div>
					</div>
				</div>

			</div>
		</div>
		<div class="age-text text-center">
			<span>* Edad a la fecha del viaje
            </span>
		</div>
		<div class="text-center">
			<button class="continue-btn" ng-click="functions.goToSearch(program)">
                continuar
            </button>
		</div>
	</div>
</div>