<div class="loader-animation" ng-class="color">
	<i class="main-icon" ng-class="view.icon"></i>
	<div class="line"></div>
	<div class="plane-container">
		<div class="plane"></div>
	</div>
</div>
<div class="loader-message" ng-class="color">
	<span ng-bind-html="message1"></span>
	<span>{{message2}}<br>(proceso {{view.step}} de {{limit}})<br><br></span>
	<span ng-bind-html="message3"></span>
</div>