<div class="loader-animation" ng-class="color">
	<i class="main-icon" ng-class="view.icon"></i>
	<div class="line"></div>
	<div class="plane-container">
		<div class="plane"></div>
	</div>
</div>
<div class="loader-message" ng-class="color">
	<span>{{message1}}<br>{{message2}}
	</span>
</div>