<span class="detail-star">
	<i class="cch-star"  ng-repeat="n in stars.fill track by $index"></i>
	<i class="cch-star-half" ng-repeat="n in stars.half track by $index"></i>
	<i class="cch-star-o" ng-repeat="n in stars.empty track by $index"></i>
</span>