<span ng-class="{'hand':view.urlTripAdvisorReview!==''}" ng-click="showReviews()" ng-if="mode!=='details'">
  <span>
    <img ng-src='{{ view.urlLogo }}' class='trip-review-logo'>
  </span>
<span>
    <span class='trip-ball-container'  ng-repeat="n in view.trip.fill track by $index">
      <i class='cch-circle'></i>
    </span>
<span class='trip-ball-container' ng-repeat="n in view.trip.half track by $index">
      <i class='cch-circle-half'></i>
    </span>
<span class='trip-ball-container' ng-repeat="n in view.trip.empty track by $index">
      <i class='cch-circle-o'></i>
    </span>
</span>
</span>
<div ng-if="mode==='details'" ng-class="{'hand':view.urlTripAdvisorReview!==''}" class="text-center" ng-click="showReviews()">
	<div>
		<img ng-src='{{ view.urlLogo }}' class='trip-review-logo-details'>
	</div>
	<div>
		<span class='trip-ball-container-details' ng-repeat="n in view.trip.fill track by $index">
      <i class='cch-circle'></i>
    </span>
		<span class='trip-ball-container-details' ng-repeat="n in view.trip.half track by $index">
      <i class='cch-circle-half'></i>       
    </span>
		<span class='trip-ball-container-details' ng-repeat="n in view.trip.empty track by $index">
      <i class='cch-circle-o'></i>      
    </span>
	</div>
	<div ng-if="(numberReviews > 0 || view.urlTripAdvisorReview !== '')">
		<a href="#" class='trip-button-review-details'>({{ numberReviews }} opiniones)</a>
	</div>
</div>
<!--span ng-if=" (numberReviews > 0 || url !== '') && mode!=='short' " class='trip-button-review'>
    <button ng-click="showReviews()" class='btn btn-trip-review-transparent'>Ver opiniones
  </button></span-->