<script type="text/ng-template" id="error-connection">
	<div class="modal-container col-md-12 col-sm-12" style="margin-top:200px;">
		<div class="modal-title col-md-9 col-sm-9 text-left ng-binding">
			Error
		</div>
		<div class="close-modal col-md-3 col-sm-3 text-right">
			<i class="cch-close hand" ng-click="$dismiss()"></i>
		</div>
		<div class="detail-connection-box col-md-12 col-sm-12">
			<span>Lo sentimos, en estos momentos no podemos desplegar la información.</span>
			<br>
			<span>Por favor, inténtalo más tarde.</span>
		</div>

		<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
			<div class="btn btn-action" ng-click="$close()">
				Aceptar
			</div>
		</div>
	</div>
</script>

<script type="text/ng-template" id="error-internal">
	<div class="modal-container col-md-12 col-sm-12" style="margin-top:200px;">
		<div class="modal-title col-md-9 col-sm-9 text-left ng-binding">
			Error
		</div>
		<div class="close-modal col-md-3 col-sm-3 text-right">
			<i class="cch-close hand" ng-click="$dismiss()"></i>
		</div>
		<div class="detail-connection-box col-md-12 col-sm-12">
			<span>Lo sentimos, en estos momentos no podemos desplegar la información.</span>
			<br>
			<span>Por favor, inténtalo más tarde o has click en llamar.</span>
		</div>
		<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
			<div class="btn btn-action" ng-click="$close()">
				Aceptar
			</div>
		</div>
	</div>
</script>

<script type="text/ng-template" id="error-subscription">
	<div class="modal-container col-md-12 col-sm-12" style="margin-top:200px;">
		<div class="modal-title col-md-9 col-sm-9 text-left ng-binding">
			Error
		</div>
		<div class="close-modal col-md-3 col-sm-3 text-right">
			<i class="cch-close hand" ng-click="$dismiss()"></i>
		</div>
		<div class="detail-connection-box col-md-12 col-sm-12">
			<span>Lo sentimos, ocurrió un error suscribiendo tu correo. Por favor, intenta nuevamente.</span>
		</div>
		<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
			<div class="btn btn-action" ng-click="$close()">
				Aceptar
			</div>
		</div>
	</div>
</script>

<script type="text/ng-template" id="error-modal">
	<div class="modal-container col-md-12 col-sm-12" style="margin-top:200px;">
		<div class="modal-title col-md-9 col-sm-9 text-left ng-binding">
			{{ content.title }}
		</div>
		<div class="close-modal col-md-3 col-sm-3 text-right">
			<i class="cch-close hand" ng-click="$dismiss()"></i>
		</div>
		<div class="detail-connection-box col-md-12 col-sm-12">
			<span>{{ content.message }}</span>
		</div>
		<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
			<div class="btn btn-action" ng-click="$close()">
				Aceptar
			</div>
		</div>
	</div>
</script>


<script type="text/ng-template" id="quote-success">
	<div class="modal-container quote-success col-xs-12">

		<div class="modal-title col-sm-9 col-xs-12 text-left ng-binding">
			<i class="cch-close-bold hand visible-xs" ng-click="$close()"></i> Producto agregado
		</div>

		<div class="close-modal col-xs-3 text-right hidden-xs">
			<i class="cch-close-bold hand" ng-click="$close()"></i>
		</div>

		<div class="container-message-change-rate">
			<div class="title col-xs-12 text-left">
				<div class="col-xs-12">
					<div class="subtitle col-xs-10">
						<span class='check-container col-xs-1 col-xs-offset-1 text-center'>
								<i class="cch-check"></i>
						</span> &nbsp;El producto ha sido agregado con éxito a la Cotización.
					</div>
				</div>
				<div class="col-xs-12 product-table">
					<div class="col-xs-10 col-xs-offset-1 product-row">
						<div class="col-xs-6 product-cell title ">
							Pasajeros
						</div>
						<div class="col-xs-6 product-cell text-right">
							<div>{{ content.adults }} adulto{{ content.adults | plural }}</div>
							<div ng-if="content.children > 0">{{ content.children }} niño{{ content.children | plural }}</div>
						</div>
					</div>
					<div class="col-xs-10 col-xs-offset-1 product-row">
						<div class="col-xs-6 product-cell title bottomline">
							Precio
						</div>
						<div class="col-xs-6 product-cell text-right bottomline">
							<div class="subtotal">{{ content.prices.usd.base | cPriceFilter:'USD' }}</div>
							<div> Tasas y cargos agencia {{ content.prices.usd.taxes + content.prices.usd.fee + content.prices.usd.feeB2b | cPriceFilter:'USD' }}
							</div>
							<div ng-if="content.assistance.usd > 0"> Asistencia en viaje {{content.assistance.usd | cPriceFilter:'USD' }}</div>
							<div ng-if="content.transfer.usd > 0"> Transfer {{content.transfer.usd | cPriceFilter:'USD'}}</div>
						</div>
					</div>
					<div class="col-xs-10 col-xs-offset-1 product-row">
						<div class="col-xs-6 product-cell title total bottomline">
							Total
						</div>
						<div class="col-xs-6 product-cell text-right bottomline">
							<div class="total">{{ content.prices.usd.total + content.transfer.usd + content.assistance.usd | cPriceFilter:'USD' }}</div>
							<div>{{ content.prices.clp.total + content.transfer.clp + content.assistance.clp | cPriceFilter:'CLP' }}
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-xs-4 col-xs-offset-7 buttons-container">
				<div class="btn btn-action gray btn-block" ng-click="$dismiss();">
					Agregar más productos
				</div>
			</div>

		</div>
</script>