<div class="error-background error-height">
	<div class="container">
		<div class="row">
			<div class="col-md-7 col-md-offset-5 col-sm-7 col-sm-offset-5 col-xs-8 col-xs-offset-2 top-position">
				<div class="error-title">
					<span>
						Lo sentimos,
					</span>
					<br>
					<span>
						esta página ya no está vigente
					</span>
				</div>
				<div class="error-content">
					<span>
						Te invitamos a ingresar a
					</span>
					<a href="http://www.cocha.com">
						www.cocha.com
					</a>
					<span>
						aquí encontrarás los
					</span>
					<br>
					<span>
						mejores destinos y promociones para tus próximas vacaciones.
					</span>
					<br>
					<br>
					<span>
						Si tienes dudas o consultas, llámanos:
					</span>

				</div>
				<div class="error-info">
					<div class="phone">
						<span>
							2 2464 1300
						</span>
					</div>
					<div class="separator">
					</div>
					<div class="cell-phone">
						<span>
							*1300
						</span>
					</div>
					<div class="cell-phone-info">
						<span>
							(desde celulares)
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>