<!--script type="text/ng-template" id="calling-you">
	<div class="modal-container col-xs-12" style="margin-top:80px;">
		<div class="modal-title col-xs-9 text-left">
			¿Necesitas ayuda para tu viaje? ¡Te llamamos!
		</div>
		<div class="close-modal col-xs-3 text-right">
			<i class="cch-close-bold hand" ng-click="$dismiss()"></i>
		</div>
		<div class="detail-connection-box col-xs-12">
			<div class="subtitle col-xs-12">
				Dános tus dato y un consultor de viajes te llamará apenas se desocupe
			</div>
			<div class="brackets col-xs-12">
				(utilizaremos tus datos solo para tratar tu solicitud)
			</div>
			<div class="col-sm-6 col-xs-12">
				<input class="modal-input" placeholder="Nombre" ng-model="content.contact.name" ng-class="{'error': content.errors.nameNotSet || content.errors.nameInvalid}">
			</div>
			<div class="col-sm-6 col-xs-12">
				<input class="modal-input" placeholder="R.U.T" ng-model="content.contact.foid.entire" ng-change="content.contact.foid.entire = content.functions.formatId(content.contact.foid.entire, content.contact.foid)" maxlength="12" ng-class="{'error': content.errors.identifierNumberNotSet || content.errors.identifierNumberFormatInvalid || content.errors.identifierVerificatorInvalid}">
			</div>
			<div class="col-sm-6 col-xs-12">
				<input class="modal-input" placeholder="Email" ng-model="content.contact.email" ng-class="{'error': content.errors.emailNotSet || content.errors.emailInvalid}">
			</div>
			<div class="col-sm-1 col-xs-2">
				<input class="modal-input" placeholder="56" ng-model="content.contact.phoneCountryError" ng-class="{'error': content.errors.phoneCountryError || content.errors.nameInvalid}">
			</div>
			<div class="col-sm-1 col-xs-2">
				<input class="modal-input" placeholder="9" ng-model="content.contact.areaCode" ng-class="{'error': content.errors.phoneCodeError}">
			</div>
			<div class="col-sm-4 col-xs-8">
				<input class="modal-input" placeholder="12345678" ng-model="content.contact.phoneNumber" ng-class="{'error': content.errors.phoneEmpty || content.errors.phoneInvalid}">
			</div>
			<div class="col-sm-6 col-xs-12 terms">
				<div class="checkbox-container">
					<input type="checkbox" id="terms" ng-model="content.contact.subscribe">
					<label for="terms"></label>
				</div>
				<div class="checkbox-text-container2 hand">
					<span class="terms-text">Quiero recibir novedades por email y acepto <br> las
						</span>
					<span class="terms-click" ng-click="content.functions.showPrivacy()">Políticas de Privacidad</span>
				</div>
			</div>
			<div class="col-xs-12 disclaimer">
				<button class="request-call-btn" ng-click="content.functions.sendCallRequest(content)">
					Solicitar Llamada
				</button>
				<br>
				<span ng-if="content.requesting">Solicitando ...</span>
				<br> Servicio disponible de <span class="strong">lunes</span> a <span class="strong">domingo</span> de <span class="strong">9</span> a <span class="strong">22 horas.</span>
			</div>
		</div>
	</div>
</script>
<script type="text/ng-template" id="booking-privacy">
	<div class="modal-container col-md-12 col-sm-12 col-xs-12">
		<div class="modal-title col-md-9 col-sm-9 col-xs-9 text-left ng-binding">
			POLÍTICAS DE PRIVACIDAD
		</div>
		<div class="close-modal col-md-3 col-sm-3 col-xs-3 text-right">
			<i class="cch-close-bold hand" ng-click="$dismiss()"></i>
		</div>
		<div class="terms-content col-md-12 col-sm-12 col-xs-12">
			<span>Para <strong>COCHA</strong> es muy importante la protección de la privacidad de sus clientes. Nos esforzamos al máximo por mantener la información personal de ellos en la más estricta confidencialidad.
			</span>
			<br>
			<br>
			<span class="subtitle">
				Turismo COCHA S.A.
			</span>
			<div class="terms-content-identation">
				<span>
					Para dudas, consultas o cotización de viajes, puedes contactarnos:<br><br>

					Al teléfono 22464 1300, desde celular al *1300.<br><br>

					Al correo electrónico: servicioclientes1@cocha.com<br><br>

					También puedes dirigirte a cualquiera de nuestras <strong>sucursales</strong><br>
					<strong>Casa Matriz:</strong> El Bosque Norte 0430, Las Condes, Santiago – Chile.<br>
					<strong>Casa Matriz y Sucursales:</strong> Lunes a viernes de 9:00 a 18:45 hrs.<br>
					<strong>COCHA Parque Arauco:</strong> Lunes a sábado de 11:00 a 21:00 hrs., domingo de 11:00 a 21:00 hrs.<br>
					<strong>COCHA Alto Las Condes:</strong> Lunes a domingo de 10:00 a 22:00 hrs.<br>
					<strong>Corners Ripley:</strong> Malls de lunes a domingo de 11:00 a 21:00 hrs. Tiendas calle de 10:00 a 20:30 hrs.<br>
					<strong>COCHA Aeropuerto:</strong> Lunes a domingo las 24 horas.<br><br>

					<strong>Número de Emergencia 24 horas:</strong> (56 2) 2 464 1200
				</span>
			</div>
			<br>
			<span class="subtitle">
				De los datos:
			</span>
			<br>
			<br>
			<span class="subtitle">
				¿Por qué recopilamos información personal?
			</span>
			<br>
			<span>
				COCHA recoge y emplea la información personal de sus clientes para poder ofrecerles una excelente atención, facilitarles el acceso adecuado a nuestros productos y servicios, y para que dispongan de más opciones. Además, la usamos para mantenerte al día sobre las ofertas especiales, promociones, productos nuevos y otras informaciones que, creemos, te gustará conocer. Esto puede incluir ocasionalmente información proveniente de otras empresas sobre productos y servicios que puedan añadir valor a los productos de COCHA. De vez en cuando, también podemos emplear tu información personal para ponernos en contacto contigo a fin de que participes en alguna encuesta de investigación de mercado, para así calibrar el grado de satisfacción del cliente y desarrollar productos mejores.
			</span>
			<br>
			<br>
			<span class="subtitle">
				¿Cómo obtenemos la información personal?
			</span>
			<br>
			<span>
				Podemos obtener la información personal de varias formas: por ejemplo, al pedirte información de contacto cuando nos envías un mail, nos llamas para hacer una reserva o solicitar un servicio, o cuando participas en alguna encuesta online. Además, cuando solicitas que te incluyamos en una lista de distribución, extraemos y almacenamos la información que nos facilitas en una base de datos segura.
			</span>
			<br>
			<br>
			<span class="subtitle">
				¿Cuándo damos a conocer esa información personal?
			</span>
			<br>
			<span>
				Debido a que COCHA forma parte de un grupo amplio y variado, podemos compartir tu información personal con otras unidades comerciales. Estas protegerán tu información personal de acuerdo con nuestra Política Estándar de Confidencialidad del Cliente. 
				En algunas opciones nos pueden solicitar que revelemos información personal a través de un proceso legal o judicial.
			</span>
			<br>
			<br>
			<span class="subtitle">
				¿Cómo protegemos tu información personal?
			</span>
			<br>
			<span>
				COCHA salvaguarda la seguridad de los datos que nos envías mediante procedimientos físicos, electrónicos y administrativos. Te aconsejamos que adoptes todas las precauciones necesarias para proteger tus datos cuando estés conectado a Internet.
			</span>
			<br>
			<br>
			<span class="subtitle">
				Obtención de otra información personal
			</span>
			<br>
			<span>
				Cuando visites la página web de COCHA, podrás hacerlo de forma anónima. Sin embargo, tu navegador nos indica automáticamente el tipo de computador y el sistema operativo que estás utilizando. 
				Al igual que muchas otras páginas web, la de COCHA emplea la tecnología de las «cookies». Las cookies nos ayudan a conocer qué partes de nuestras páginas web resultan más populares, a dónde van nuestros visitantes y cuánto tiempo pasan allí. Estas se instalan automáticamente en tu equipo apenas ingresas a COCHA.com. Empleamos las cookies para estudiar los patrones del tráfico en nuestra Web, de forma que podamos mejorarla aún más. También usamos cookies con fines de marketing y así, en base a tu comportamiento en nuestra web, podemos mostrarte ofertas personalizadas y que puedan ser de tu interés, en páginas web de terceros o en redes sociales. 
				En el caso de inhabilites las cookies en tu equipo o utilices tu navegador en modo privado, es posible que algunas funciones y algunos servicios de nuestra web no funcionen correctamente.
			</span>
			<br>
			<br>
			<span class="subtitle">
				El compromiso de toda la empresa con la confidencialidad
			</span>
			<br>
			<span>
				Todos los empleados de COCHA conocen las normas de confidencialidad de la empresa. 
				La página web de COCHA contiene algunos vínculos a otras webs. COCHA no comparte tu información personal con dichos sitios web, y tampoco se responsabiliza de sus prácticas sobre privacidad.
			</span>
			<br>
			<br>
			<span class="subtitle">
				De la suscripción a correos promocionales
			</span>
			<br>
			<span>
				Al ingresar por primera vez al sitio de COCHA o al hacer una solicitud web, invitamos a que nos dejes tu correo electrónico para recibir promociones y ofertas COCHA. Los clientes que deseen dejar de recibir nuestros newsletters pueden cancelar su suscripción haciendo click en la opción “Cancelar suscripción” ubicada en la parte inferior de los correos electrónicos enviados por COCHA.com
			</span>
		</div>
	</div>
</script-->
<script type="text/ng-template" id="program-conditions">
	<div class="modal-container col-md-12 col-sm-12 col-xs-12">
		<div class="modal-title col-md-9 col-sm-9 col-xs-9 text-left ng-binding">
			Condiciones
		</div>
		<div class="close-modal col-md-3 col-sm-3 col-xs-3 text-right">
			<i class="cch-close-bold hand" ng-click="$dismiss()"></i>
		</div>
		<div class="detail-connection-box col-md-12 col-sm-12 col-xs-12">
			<div ng-bind-html="content.conditions | cRawHtmlFilter">
			</div>
		</div>

		<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
			<div class="btn btn-action" ng-click="$close()">
				Aceptar
			</div>
		</div>
	</div>
</script>
<script type="text/ng-template" id="mobile-filters">
	<div id="modal-mobile" ng-class="{'show-modal': view.showFilter}">
		<div class="title-mob visible-xs">Filtrar productos
			<i class="cch-close-bold" ng-click="closeModal('filter')"></i>
		</div>

		<div class="col-xs-12 filter-box" ng-class="{'enter-deal-box': second}">
			<div class="background-box">
				<div ng-if="view.selectSearch.code === 'vuelo,hotel,paquete'">
					<div class="filter col-sm-3" ng-click="changeActiveFilter('all-dest')" ng-class="{'active-filter':view.filters.activeTab === 'all-dest'}">

						<span>Destinos <span ng-if="view.filters.filters.regions.length > 0">({{view.filters.filters.regions.length}})</span><i class="cch-arrow-down" ng-class="{'rotate': view.filters.activeTab === 'all-dest'}"></i></span>
					</div>

					<div id="opt-region" uib-collapse="view.filters.activeTab !== 'all-dest'">
						<filter-region></filter-region>
					</div>

					<div class="filter col-sm-3" ng-click="changeActiveFilter('all-calendar')" ng-class="{'active-filter':view.filters.activeTab === 'all-calendar'}">

						<span>Salidas <span ng-if="view.filters.filters.months.length > 0">({{view.filters.filters.months.length}})</span><i class="cch-arrow-down" ng-class="{'rotate': view.filters.activeTab === 'all-calendar'}"></i></span>
					</div>

					<div id="opt-calendar" uib-collapse="view.filters.activeTab !== 'all-calendar'">
						<filter-calendar></filter-calendar>
					</div>

					<div class="filter col-sm-3" ng-click="changeActiveFilter('all-more')" ng-class="{'active-filter':view.filters.activeTab === 'all-more'}">

						<span>Más filtros <span ng-if="(view.filters.filters.offer.length + view.filters.filters.stars.length + view.filters.filters.durations.length + view.filters.filters.airlines.length) > 0">({{view.filters.filters.offer.length + view.filters.filters.stars.length + view.filters.filters.durations.length + view.filters.filters.airlines.length}})</span><i class="cch-arrow-down" ng-class="{'rotate': view.filters.activeTab === 'all-more'}"></i></span>
					</div>

					<div id="opt-more" uib-collapse="view.filters.activeTab !== 'all-more'">
						<filter-more-option></filter-more-option>
					</div>
				</div>


				<div ng-if="view.selectSearch.code === 'vuelo'">
					<div class="filter col-sm-3" ng-click="changeActiveFilter('regions')" ng-class="{'active-filter':view.filters.activeTab === 'regions'}">
						<span>Destinos <span ng-if="view.filters.filters.regions.length > 0">({{view.filters.filters.regions.length}})</span><i class="cch-arrow-down" ng-class="{'rotate': view.filters.activeTab === 'regions'}"></i></span>
					</div>

					<div id="opt-region" uib-collapse="view.filters.activeTab !== 'regions'">
						<filter-region></filter-region>
					</div>

					<div class="filter col-sm-3" ng-click="changeActiveFilter('calendar')" ng-class="{'active-filter':view.filters.activeTab === 'calendar'}">
						<span>Salidas <span ng-if="view.filters.filters.months.length > 0">({{view.filters.filters.months.length}})</span><i class="cch-arrow-down" ng-class="{'rotate': view.filters.activeTab === 'calendar'}"></i></span>
					</div>

					<div id="opt-calendar" uib-collapse="view.filters.activeTab !== 'calendar'">
						<filter-calendar></filter-calendar>
					</div>

					<div class="filter col-sm-3" ng-click="changeActiveFilter('airline')" ng-class="{'active-filter':view.filters.activeTab === 'airline'}">
						<span>Aereolíneas <span ng-if="view.filters.filters.airlines.length > 0">({{view.filters.filters.airlines.length}})</span><i class="cch-arrow-down" ng-class="{'rotate': view.filters.activeTab === 'airline'}"></i></span>
					</div>

					<div id="opt-airline" uib-collapse="view.filters.activeTab !== 'airline'">
						<filter-airline></filter-airline>
					</div>

					<div class="filter col-sm-3" ng-click="changeActiveFilter('campaign')" ng-class="{'active-filter':view.filters.activeTab === 'campaign'}">
						<span>Destacados <span ng-if="view.filters.filters.featured.length > 0">({{view.filters.filters.featured.length}})</span><i class="cch-arrow-down" ng-class="{'rotate': view.filters.activeTab === 'campaign'}"></i></span>
					</div>

					<div id="opt-region" uib-collapse="view.filters.activeTab !== 'campaign'">
						<filter-campaign></filter-campaign>
					</div>
				</div>

				<div ng-if="view.selectSearch.code === 'hotel'">
					<div class="filter col-sm-3" ng-click="changeActiveFilter('hotel-destination')" ng-class="{'active-filter':view.filters.activeTab === 'hotel-destination'}">

						<span>Destinos <span ng-if="view.filters.filters.regions.length > 0">({{view.filters.filters.regions.length}})</span><i class="cch-arrow-down" ng-class="{'rotate': view.filters.activeTab === 'hotel-destination'}"></i></span>
					</div>

					<div id="opt-region" uib-collapse="view.filters.activeTab !== 'hotel-destination'">
						<filter-region></filter-region>
					</div>

					<div class="filter col-sm-3" ng-click="changeActiveFilter('hotel-departure')" ng-class="{'active-filter':view.filters.activeTab === 'hotel-departure'}">

						<span>Salidas <span ng-if="view.filters.filters.months.length > 0">({{view.filters.filters.months.length}})</span><i class="cch-arrow-down" ng-class="{'rotate': view.filters.activeTab === 'hotel-departure'}"></i></span>
					</div>

					<div id="opt-calendar" uib-collapse="view.filters.activeTab !== 'hotel-departure'">
						<filter-calendar></filter-calendar>
					</div>

					<div class="filter col-sm-3" ng-click="changeActiveFilter('hotel-morefilter')" ng-class="{'active-filter':view.filters.activeTab === 'hotel-morefilter'}">

						<span>Más filtros <span ng-if="(view.filters.filters.offer.length + view.filters.filters.stars.length + view.filters.filters.durations.length + view.filters.filters.airlines.length) > 0">({{view.filters.filters.offer.length + view.filters.filters.stars.length + view.filters.filters.durations.length + view.filters.filters.airlines.length}})</span><i class="cch-arrow-down" ng-class="{'rotate': view.filters.activeTab === 'hotel-morefilter'}"></i></span>
					</div>

					<div id="opt-more" uib-collapse="view.filters.activeTab !== 'hotel-morefilter'">
						<filter-more-option></filter-more-option>
					</div>
				</div>

				<div ng-if="view.selectSearch.code === 'paquete'">
					<div class="filter col-sm-3" ng-click="changeActiveFilter('destination')" ng-class="{'active-filter':view.filters.activeTab === 'destination'}">
						<span>Destinos <span ng-if="view.filters.filters.destinationPlaces.length > 0">({{view.filters.filters.destinationPlaces.length}})</span><i class="cch-arrow-down" ng-class="{'rotate': view.filters.activeTab === 'destination'}"></i></span>
					</div>

					<div id="opt-region" uib-collapse="view.filters.activeTab !== 'destination'">
						<filter-destination></filter-destination>
					</div>


					<div class="filter col-sm-3" ng-click="changeActiveFilter('departure')" ng-class="{'active-filter':view.filters.activeTab === 'departure'}">
						<span>Salidas <span ng-if="view.filters.filters.months.length > 0">({{view.filters.filters.months.length}})</span><i class="cch-arrow-down" ng-class="{'rotate': view.filters.activeTab === 'departure'}"></i></span>
					</div>

					<div id="opt-departure" uib-collapse="view.filters.activeTab !== 'departure'">
						<filter-calendar-complete></filter-calendar>
					</div>

					<div class="filter col-sm-3" ng-click="changeActiveFilter('traveltype')" ng-class="{'active-filter':view.filters.activeTab === 'traveltype'}">
						<span>Tipos de viajes <span ng-if="view.filters.filters.categories.length > 0">({{view.filters.filters.categories.length}})</span><i class="cch-arrow-down" ng-class="{'rotate': view.filters.activeTab === 'traveltype'}"></i></span>
					</div>

					<div id="opt-category" uib-collapse="view.filters.activeTab !== 'traveltype'">
						<filter-category></filter-category>
					</div>

					<div class="filter col-sm-3" ng-click="changeActiveFilter('morefilter')" ng-class="{'active-filter':view.filters.activeTab === 'morefilter'}">
						<span>Más filtros <span ng-if="(view.filters.filters.offer.length + view.filters.filters.stars.length + view.filters.filters.durations.length + view.filters.filters.airlines.length) > 0">({{view.filters.filters.offer.length + view.filters.filters.stars.length + view.filters.filters.durations.length + view.filters.filters.airlines.length}})</span><i class="cch-arrow-down" ng-class="{'rotate': view.filters.activeTab === 'morefilter'}"></i></span>
					</div>

					<div id="opt-more" uib-collapse="view.filters.activeTab !== 'morefilter'">
						<filter-more-option></filter-more-option>
					</div>
				</div>
			</div>

			<div class="filter-active" ng-if="view.smallView">
				<div class="background" ng-if="view.tags.length > 0">
					<span class="title">Filtros Activados</span>
					<div class="tags-in-filter">
						<filter-tags></filter-tags>
					</div>
				</div>

			</div>
		</div>
	</div>
</script>