<script type="text/ng-template" id="hotels-error-msg">
	<div class="modal-container col-xs-12">
		<div class="modal-cancellation-confirm row">
			<div class="modal-cancellation-confirm-title row">
				<div>
					Error
				</div>
				<div>
					{{ view.modalText }}
				</div>
			</div>
			<div class="col-xs-6 col-xs-offset-3 ">
				<div class="btn btn-action" ng-click="$close()">
					Aceptar
				</div>
			</div>
		</div>
	</div>
</script>
<script type="text/ng-template" id="hotels-cancellation-result">
	<div class="modal-container col-xs-12" style="margin-top:100px;">
		<div class="modal-cancellation-result row">

			<div class="modal-cancellation-result-title">
				Confirmación de la cancelación
			</div>
			<div>
				<p>Tu reserva ha sido cancelada y la devolución del monto pagado ya está siendo procesada en caso que esta aplique.</p>
			</div>
			<div ng-if="!content.isB2B">
				<p>Para mayor información llama al (56) 2 2464 1300</p>
			</div>
			<div ng-if="content.isB2B">
				<p>Para mayor información contacta a Hoteles Online.</p>
			</div>
			<button class="btn button-dismiss-result-modal" ng-click="refresh()">
			  Aceptar
			</button>

		</div>
	</div>
</script>
<script type="text/ng-template" id="hotels-cancellation-reasons">
	<div class="modal-container col-xs-12" style="margin-top:100px;">
		<div class="modal-cancellation-reasons row">
			<div class="modal-cancellation-reasons-title row">
				<div>
					<span>Cancelar reserva</span>
				</div>
				<div>
					Favor indica el motivo de la cancelación:
				</div>
			</div>
			<div class="modal-cancellation-reasons-text row">
				<!-- options -->
				<div class="payment-opt hand" ng-click="selectReason('COP')">
					<div class="left">
						<input type="radio" value="COP" class='hide'>
						<label for="radio-1"> <i class="hand" ng-class="content.reason === 'COP' ? 'cch-circle' : 'cch-circle-o'"> </i> </label>
					</div>
					<div class="right">
						Cambio de planes
					</div>
				</div>
				<div class="payment-opt hand" ng-click="selectReason('FBP')">
					<div class="left">
						<input type="radio" value="FBP" class='hide'>
						<label for="radio-1"> <i class="hand" ng-class="content.reason === 'FBP' ? 'cch-circle' : 'cch-circle-o'"> </i> </label>
					</div>
					<div class="right">
						Encontré mejor precio
					</div>
				</div>
				<div class="payment-opt hand" ng-click="selectReason('FPH')">
					<div class="left">
						<input type="radio" value="FPH" class='hide'>
						<label for="radio-1"> <i class="hand" ng-class="content.reason === 'FPH' ? 'cch-circle' : 'cch-circle-o'"> </i> </label>
					</div>
					<div class="right">
						Encontré mejor hotel
					</div>
				</div>
				<div class="payment-opt hand" ng-click="selectReason('OTH')">
					<div class="left">
						<input type="radio" value="OTH" class='hide'>
						<label for="radio-1"> <i class="hand" ng-class="content.reason === 'OTH' ? 'cch-circle' : 'cch-circle-o'"> </i> </label>
					</div>
					<div class="right">
						Otro
					</div>
				</div>
				<!-- options -->
			</div>
			<div class="row modal-cancellation-reasons-mail">
				<div class="col-xs-8 mail-form-container ">
					<div>Favor ingresa el correo electrónico al cual quieres enviar el comprobante.</div>
					<div><input type="text" ng-model='content.email'></div>
				</div>
				<div class="col-xs-48 mail-form-button">
					<button ng-if="view.cancellationLoader===false" class="btn button-cancel-popup" ng-click="cancelReservation()"><i class="cch-mob-input-close"></i> Confirmar cancelación</button>
					<span class="loader-cancellation" ng-if="view.cancellationLoader===true"><img src="img/loader.gif"></span>
				</div>
			</div>

		</div>
	</div>
</script>
<script type="text/ng-template" id="hotels-cancellation-confirm">
	<div class="modal-container col-xs-12" style="margin-top:100px;">
		<div class="modal-cancellation-confirm row">
			<div class="modal-cancellation-confirm-title row">
				<div>
					<span>Cancelación de la reserva</span>
				</div>
				<div>
					Al cancelar la reserva estás aceptando las Políticas de Cancelación y los cargos asociados, en caso que apliquen.
				</div>
			</div>
			<div class="modal-cancellation-confirm-text row">
				<div class="col-xs-9 ">
					<div class="row cancel-policy-modal-title ">
						Políticas de cancelación
					</div>
					<div class="row">
						{{ content.result.hotelItineraryRespDTO.hotelItineraryResponse.itinerary.hotelConfirmation[0].rateInfos.rateInfo.cancellationPolicy }}
					</div>
				</div>
				<div class="col-xs-3 modal-button-container ">
					<button class="btn button-cancel-popup" ng-click="$dismiss() && showCancellationReasonsModal()">
						<i class="cch-mob-input-close"></i>
						<div>Cancelar Reserva</div>
					</button>
				</div>
			</div>
		</div>
	</div>
</script>
<script type="text/ng-template" id="hotels-map-voucher">
	<div class="modal-container hotel-map-modal-background col-xs-12">
		<div class="icon-close-modal hand text-right" ng-click="$dismiss()" ng-show="view.loader === false">
			<i class="cch-close hand"></i>
		</div>
		<div class=" col-xs-12">

			<div class='col-xs-12'>
				<div class='hotel-map-name'> {{ content.result.hotelDetailDTO.hotelDetails.name }} </div>
				<div class='hotel-map-info'>
					<span class='hotel-map-rating'>
					<span class="box-offer-star hotel-rating-stars" ng-init="nrate = content.result.hotelDetailDTO.hotelDetails.starRating">
    <uib-rating ng-model="nrate" max="5" read-only="true" data-read-only="true" state-on="'cch-star'" state-off="'cch-star-o'" on-leave="overStar = null"></uib-rating>
    </span>
					</span>
					<span class='separator-hotel-results'></span>
					<span class='hotel-map-address'><i class="cch-position location-icon "></i>
						{{ content.result.hotelDetailDTO.hotelDetails.address }}
						, {{ content.result.hotelDetailDTO.hotelDetails.country }} 
					</span>
				</div>

			</div>

			<!--div class="embed-responsive embed-responsive-16by9 col-xs-12 background loader-map-modal " ng-hide="view.loader === false">
				<div class="preloader">
					<div class="preloader-animation">
						<div class="preloader-earth">
						</div>
					</div>
					<div class="preloader-caption">
						<p class="cleared-row phrase">Un momento por favor</p>
					</div>
				</div>
			</div-->

			<div class=" col-xs-12 ">
				<div class='hotel-map'>

					<!--div id="div-hotel-map" ng-class="{{ view.option }}">
    </div-->

					<ng-map id="map" center="[{{ content.result.hotelDetailDTO.hotelDetails.latitude }},{{ content.result.hotelDetailDTO.hotelDetails.longitude }}]" zoom="13" default-style="false" class='google-map-hotel'>
						<marker position="[{{ content.result.hotelDetailDTO.hotelDetails.latitude }},{{ content.result.hotelDetailDTO.hotelDetails.longitude }}]"></marker>

						<custom-marker ng-repeat="point in view.closestPoints track by $index" id="custom-marker-{{$index}}" position="[{{point.latitude}}, {{point.longitude}}]" on-click="showNamePlace(point, $index)">
							<div class='hotel-details-marker hand'>
								<div class='hotel-details-text-marker'>
									{{ $index + 1 }}
								</div>
							</div>
						</custom-marker>

						<info-window id="hotel-map-iw">
							<div ng-non-bindable="">
								<b>
								    {{ view.point.regionName }}
								</b>
							</div>
						</info-window>
					</ng-map>
				</div>
				<div class='closest-hotels'>
					<p class="hotel-map-points-title"><b>Puntos de Interés: </b></p>
					<div class='row hotel-details-separator'></div>
					<p class="closest-hotel" ng-repeat="closest in view.closestPoints ">
						{{ ($index+1) }}. {{ closest.regionName }} (a {{ closest.distance | moneyFilter: 2:',':'.' }} km)
					</p>
				</div>
			</div>
		</div>

	</div>
</script>
<script type="text/ng-template" id="hotels-rate-detail">
	<div class="modal-container col-xs-12" style="margin-top:200px;">
		<div class="modal-rate-detail row">
			<div class="modal-rate-detail-text row">
				<div class="row modal-rate-detail-title"><span>Desglose de la tarifa</span></div>
				<div class="row" ng-repeat="roomCharge in content.result.hotelItineraryRespDTO.hotelItineraryResponse.itinerary.hotelConfirmation ">
					<div class="col-md-6"> Tarifa por habitación {{ $index+1 }}</div>
					<div class="col-md-6 text-right"> <span>US$ {{ roomCharge.rateInfos.rateInfo.chargeableRateInfo.nightlyRateTotal | moneyFilter: 2:',':'.' }} </span> ({{ roomCharge.rateInfos.rateInfo.chargeableRateInfo.nightlyRateTotal | USDtoCLPFilter : content.result.summary.transactionRate }})</div>
				</div>
				<div class="row modal-rate-detail-taxes" ng-if="content.result.summary.surchargeTotal !== null">
					<div class="col-md-6"> Impuestos y tasas </div>
					<div class="col-md-6 text-right"> <span>US$ {{ content.result.summary.surchargeTotal | moneyFilter: 2:',':'.' }}</span> ({{ content.result.summary.surchargeTotal | USDtoCLPFilter : content.result.summary.transactionRate }}) </div>
				</div>
			</div>
			<div class="modal-rate-detail-total row">
				<div class="col-md-6">
				</div>
				<div class="col-md-6">
					<div><span>Tarifa total</span> </div>
					<div>
						<span class="summary-price-foreign">US$ {{ content.result.summary.total | moneyFilter: 2:',':'.' }}</span>
						<div class="summary-price-local"> (${{ content.result.totalPayment | moneyFilter }})</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</script>
<script type="text/ng-template" id="hotels-see-voucher">
	<div class="modal-container col-xs-12">
		<div class="modal-see-voucher row">
			<div class="modal-see-voucher-text row">
				<iframe src="{{ content.seeVoucherUrl | trustUrl }}" class="display-voucher"></iframe>
			</div>
		</div>
	</div>
</script>
<script type="text/ng-template" id="hotels-success-voucher">
	<div class="modal-container col-xs-12" style="margin-top:200px;">
		<div class="modal-send-voucher row">
			<div class="modal-send-voucher-title row">
				Reenvío de Voucher
			</div>
			<div class="modal-send-voucher-text row">
				El voucher fue reenviado exitosamente.
			</div>
		</div>

		<div class="text-right modal-send-voucher-btn-container row">
			<button class="btn btn-modal-send-voucher" ng-click="$dismiss() && resendVoucher()">
			  <i class="cch-send-mail"></i>
			  Reenviar a otro destinatario
			</button>
		</div>
	</div>
</script>
<script type="text/ng-template" id="hotels-send-voucher">
	<div class="modal-container col-xs-12" style="margin-top:200px;">
		<div class="modal-send-voucher row">
			<div class="modal-send-voucher-title row">
				Reenvío de Voucher
			</div>
			<div class="modal-send-voucher-text row">
				Favor ingresa el correo electrónico al cual quieres reenviar el voucher.
			</div>
			<div class="modal-send-voucher-input row">
				<input type="text" ng-model="content.email" ng-change="content.email = cleanEmail(content.email)">
			</div>
			<div ng-if="view.errors.sendVoucher" class='voucher-error'> Se produjo un error al enviar el voucher, por favor intente nuevamente </div>
		</div>

		<div class="text-right modal-send-voucher-btn-container row">
			<button class="btn btn-modal-send-voucher" ng-click="$dismiss() && sendVoucherToAddress()">
			  <i class="cch-send-mail"></i>
			  Enviar
			</button>
		</div>
	</div>
</script>
<script type="text/ng-template" id="hotels-error-currency">
	<div class="modal-container  col-xs-12" style="margin-top:200px;">
		<div class="modal-title  col-xs-9 text-left ">
			Error
		</div>
		<div class="detail-connection-box col-xs-12">
			<span>No se ha podido cargar la información de cambio,
				Por favor contacta a Hoteles Online (hotelesonline@cocha.com)
			</span>
		</div>

		<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
			<a class="btn btn-action" href="/">				Aceptar

			</a>
		</div>
	</div>
</script>
<script type="text/ng-template" id="hotel-full-map">
	<div class="close-map" ng-click="$dismiss()">Cerrar x</div>
	<div>
		<ng-map id="mapModal" center="[{{ content.mapData.latitude }},{{ content.mapData.longitude }}]" scrollWheel="true" zoom="13" default-style="false">
			<marker position="[{{ content.mapData.latitude }},{{ content.mapData.longitude }}]"></marker>
			<!--marker ng-repeat="point in view.closestPoints" icon="{url: 'img/marker1.png', scale: 10}" position="{{point.latitude}}, {{point.longitude}}"></marker-->
			<custom-marker ng-repeat="point in view.closestPoints track by $index" id="custom-marker-{{$index}}" position="[{{point.latitude}}, {{point.longitude}}]" on-click="showNamePlace(point, $index)">
				<div class='hotel-details-marker hand'>
					<div class='hotel-details-text-marker'>
						{{ $index + 1 }}
					</div>
				</div>
			</custom-marker>

			<info-window id="hotel-map-iw">
				<div ng-non-bindable="">
					<b>
								    {{ view.point.regionName }}
								</b>
				</div>
			</info-window>

		</ng-map>
		<div class='closest-hotels-full-map'>

			<div class='hotel-map-name'> {{ content.mapData.hotelName }} </div>
			<div class='hotel-map-info'>
				<span class='hotel-map-rating'>
					<span class="box-offer-star hotel-rating-stars" ng-init="nrate = content.mapData.rating">
    <uib-rating ng-model="nrate" max="5" data-readonly="true" state-on="'cch-star'" state-off="'cch-star-o'" on-leave="overStar = null"></uib-rating>
    </span>
				</span>
				<span class='separator-hotel-results'></span>
				<span class='hotel-map-address'><i class="cch-position location-icon "></i> {{ content.mapData.address }} </span>
			</div>

			<p class="hotel-map-points-title"><b>Puntos de Interés: </b></p>
			<div class='row hotel-details-separator'></div>
			<p class="closest-hotel" ng-repeat="closest in view.closestPoints ">
				{{ ($index+1) }}. {{ closest.regionName }} (a {{ closest.distance | moneyFilter: 2:',':'.' }} km)
			</p>
		</div>
	</div>

</script>
<script type="text/ng-template" id="details-gallery">
	<div class="modal-container  col-xs-12">
		<div class="icon-close-modal hand text-right" ng-click="$dismiss()" ng-show="view.loader === false">
			<i class="cch-close hand"></i>
		</div>
		<div class="row  details-gallery-container">
			<div class='row hotel-gallery-name'>
				<h3> {{ content.hotelInfo.name }} </h3>
			</div>
			<div class='row hotel-gallery-info'>
				<span class="hotel-rating-star">
    <span class="box-offer-star hotel-rating-stars">
    <uib-rating ng-model="content.hotelInfo.starRating" max="5" data-readonly="true" state-on="'cch-star'" state-off="'cch-star-o'" on-leave="overStar = null"></uib-rating>
    </span>
				</span>
				<span class='light-text'>
    <span class="separator-hotel-results"></span>
				<span class='hotel-details-address hotel-result-address'>
    <i class="cch-position location-icon"></i> {{ content.hotelInfo.address }} {{ (view.regionName.length > 0 ? ', '+view.regionName :'') }} {{ (content.hotelInfo.country.length > 0 ? ', '+content.hotelInfo.country :'' ) }}</div>
    </span>
				</span>
			</div>
			<div class='row hotel-gallery-photos'>

				<div>
					<div class='details-carousel-container' uib-carousel active="active" interval="5000" no-wrap="false" no-transition='true'>
						<div uib-slide ng-repeat="slide in content.hotelInfo.images track by $index" index="$index">
							<img ng-src="{{ getImageName(slide.url) }}" fallback-src="{{slide.url}}" class="carousel-img">


							<div class="carousel-caption">
								<!--h4>Slide {{slide.id}}</h4>
    <p>{{slide.text}}</p-->
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</script>
<script type="text/ng-template" id="my-booking-form-error">
	<div class="modal-container col-md-12 col-sm-12 col-xs-12">
		<div class="modal-title col-md-9 col-sm-9 col-xs-9mtext-left ng-binding">
			Error
		</div>
		<div class="close-modal col-md-3 col-sm-3 col-xs-3 text-right">
			<i class="cch-close hand" ng-click="$dismiss()"></i>
		</div>
		<div class="detail-connection-box col-md-12 col-sm-12 col-xs-12">
			<span>Se encontraron errores en los datos de búsqueda ingresados, por favor revise el formulario.</span>
		</div>

		<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
			<div class="btn btn-action" ng-click="$close()">
				Aceptar
			</div>
		</div>
	</div>
</script>
<script type="text/ng-template" id="hotels-error-reservation-msg-only">
	<div class="modal-container col-md-12 col-sm-12 col-xs-12" style="margin-top:200px;">
		<div class="modal-title col-md-9 col-sm-9 col-xs-9 text-left ng-binding">
			Error
		</div>
		<div class="close-modal col-md-3 col-sm-3 col-xs-3 text-right">
			<i class="cch-close hand" ng-click="$dismiss()"></i>
		</div>
		<div class="detail-connection-box col-md-12 col-sm-12 col-xs-12">
			<span ng-bind-html="(view.msgError|cRawHtmlFilter)"></span>
		</div>
		<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
			<div class="btn btn-action" ng-click="$dismiss()">
				Aceptar
			</div>
		</div>
	</div>
</script>
<script type="text/ng-template" id="hotels-error-reservation-general">
	<div class="modal-container col-md-12 col-sm-12 col-xs-12" style="margin-top:200px;">
		<div class="modal-title col-md-9 col-sm-9 col-xs-9 text-left ng-binding">
			Error
		</div>
		<div class="close-modal col-md-3 col-sm-3 col-xs-3 text-right">
			<i class="cch-close hand" ng-click="$dismiss()"></i>
		</div>
		<div class="detail-connection-box col-md-12 col-sm-12 col-xs-12">
			<span>{{ view.msgError }}</span>
		</div>
		<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
			<div class="btn btn-action" ng-click="closeWindow()">
				Aceptar
			</div>
		</div>
	</div>
</script>
<script type="text/ng-template" id="reservation-form-error">
	<div class="modal-container col-md-12 col-sm-12 col-xs-12">
		<div class="modal-title col-md-9 col-sm-9 col-xs-9mtext-left ng-binding">
			Error
		</div>
		<div class="close-modal col-md-3 col-sm-3 col-xs-3 text-right">
			<i class="cch-close hand" ng-click="$dismiss()"></i>
		</div>
		<div class="detail-connection-box col-md-12 col-sm-12 col-xs-12">
			<span>Se encontraron errores en su formulario, por favor revise los datos ingresados.</span>
		</div>

		<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
			<div class="btn btn-action" ng-click="$close()">
				Aceptar
			</div>
		</div>
	</div>
</script>
<script type="text/ng-template" id="trip-advisor-review">
	<div class="modal-container col-md-12 col-sm-12 col-xs-12">
		<div class="modal-title col-md-9 col-sm-9 col-xs-9 text-left ng-binding">

		</div>
		<div class="close-modal col-md-3 col-sm-3 col-xs-3 text-right">
			<i class="cch-close hand" ng-click="$dismiss()"></i>
		</div>
		<div class="detail-connection-box-trip-advisor col-md-12 col-sm-12 col-xs-12">

			<div class="embed-responsive embed-responsive-16by9 col-xs-12 col-sm-12 col-md-12 col-lg-12 background loader-map-modal " ng-hide="view.loader === false">
				<div class="preloader">
					<div class="preloader-animation">
						<div class="preloader-earth">
						</div>
					</div>
					<div class="preloader-caption">
						<p class="cleared-row phrase">Un momento por favor</p>
					</div>
				</div>
			</div>

			<div class="embed-responsive embed-responsive-16by9 col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<iframe class="embed-responsive-item" ng-src="{{ view.urlTripAdvisorReview | trustUrl }}"></iframe>
			</div>
		</div>

	</div>
</script>
<script type="text/ng-template" id="region-template-map">
	<div class="modal-container  col-xs-12">
		<div ng-if="view.loader === false" class="icon-close-modal hand text-right" ng-click="$dismiss()">
			<i class="cch-close hand"></i>
		</div>

		<div class="detail-connection-box-region-map  col-xs-12">

			<div class="embed-responsive embed-responsive-16by9  col-xs-12 background loader-map-modal " ng-hide="view.loader === false">
				<div class="preloader">
					<div class="preloader-animation">
						<div class="preloader-earth">
						</div>
					</div>
					<div class="preloader-caption">
						<p class="cleared-row phrase">Un momento por favor</p>
					</div>
				</div>
			</div>

			<div class=" embed-responsive embed-responsive-16by9 col-xs-12 ">

				<ng-map id="div-region-map" center="[{{ view.processedHotels[0].latitude }},{{ view.processedHotels[0].longitude }}]" zoom="13" default-style="false" class='google-map-region'>
					<marker ng-repeat="point in view.processedHotels" id="hotel-marker-{{$index}}" position="[{{point.latitude}}, {{point.longitude}}]" on-click="showHotelInfo(point, $index)" icon="{url: 'img/icon-hotel2.png'}"></marker>

					<info-window id="region-map-iw">
						<div ng-non-bindable="">


							<span><div class="row">
					<div class="col-xs-3">
					<img src="{{ view.point.images[0] }}" class="img-popup-region-map ">
					</div>
					<div class="col-xs-9 ml-0">
					<h3> {{ view.point.name }} </h3>
					<p class="text-warning">
					  <stars-rating rating = "{{view.point.hotelRating}}"></stars-rating></p>
					  <p class="haddress">
					    <i class="fa fa-map-marker red"></i> {{ view.point.address1 }} </p>
					    </div>
					    </div> 
					    <div class="row grey">
					      <div class="col-sm-12 text-right">

				
					<a ng-repeat=" price in  view.point.priceUsd track by $index" class="link-hotel-map"  href="{{ view.point.url[$index] }}" target="_parent" onClick="parent.ga('send','event','Hoteles: Resultados','Mapa','Ver Hotel - ' + layer.feature.properties.title ,{'nonInteraction':0});return false;" >
					<div class="col-xs-4 text-left">
					<img src="{{ view.point.logo[$index] }}" class="img-region-map-supplier">
					</div>
					<div class="col-xs-8 price-container-top-margin" uib-tooltip="{{ view.point.tooltip[$index] }}" >
					desde US$ {{ price }} <span class="price-small">(${{ view.point.pricePesos[$index] }})</span>
						</div>
						<br>

						</a>

			</div>
		</div>
		</span>


	</div>
	</info-window>
	</ng-map>


	</div>
	</div>

	</div>
</script>
<script type="text/ng-template" id="hotel-template-map">
	<div class="modal-container hotel-map-modal-background col-xs-12">
		<div class="icon-close-modal hand text-right" ng-click="$dismiss()" ng-show="view.loader === false">
			<i class="cch-close hand"></i>
		</div>
		<div class=" col-xs-12">

			<div class='col-xs-12'>
				<div class='hotel-map-name'> {{ content.mapData.hotelName }} </div>
				<div class='hotel-map-info'>
					<span class='hotel-map-rating'>
					<span class="box-offer-star hotel-rating-stars" ng-init="nrate = content.mapData.rating">
    <uib-rating ng-model="nrate" max="5" data-readonly="true" state-on="'cch-star'" state-off="'cch-star-o'" on-leave="overStar = null"></uib-rating>
    </span>
					</span>
					<span class='separator-hotel-results'></span>
					<span class='hotel-map-address'><i class="cch-position location-icon "></i> {{ content.mapData.address }} </span>
				</div>

			</div>

			<div class="embed-responsive embed-responsive-16by9 col-xs-12 background loader-map-modal " ng-hide="view.loader === false">
				<div class="preloader">
					<div class="preloader-animation">
						<div class="preloader-earth">
						</div>
					</div>
					<div class="preloader-caption">
						<p class="cleared-row phrase">Un momento por favor</p>
					</div>
				</div>
			</div>

			<div class=" col-xs-12 ">
				<div class='hotel-map'>

					<!--div id="div-hotel-map" ng-class="{{ view.option }}">
    </div-->

					<ng-map id="map" center="[{{ content.mapData.latitude }},{{ content.mapData.longitude }}]" zoom="13" default-style="false" class='google-map-hotel'>
						<marker position="[{{ content.mapData.latitude }},{{ content.mapData.longitude }}]"></marker>
						<!--marker ng-repeat="point in view.closestPoints" icon="{url: 'img/marker1.png', scale: 10}" position="{{point.latitude}}, {{point.longitude}}"></marker-->
						<custom-marker ng-repeat="point in view.closestPoints track by $index" id="custom-marker-{{$index}}" position="[{{point.latitude}}, {{point.longitude}}]" on-click="showNamePlace(point, $index)">
							<div class='hotel-details-marker hand'>
								<div class='hotel-details-text-marker'>
									{{ $index + 1 }}
								</div>
							</div>
						</custom-marker>

						<info-window id="hotel-map-iw">
							<div ng-non-bindable="">
								<b>
								    {{ view.point.regionName }}
								</b>
							</div>
						</info-window>
					</ng-map>
				</div>
				<div class='closest-hotels'>
					<p class="hotel-map-points-title"><b>Puntos de Interés: </b></p>
					<div class='row hotel-details-separator'></div>
					<p class="closest-hotel" ng-repeat="closest in view.closestPoints ">
						{{ ($index+1) }}. {{ closest.regionName }} (a {{ closest.distance | moneyFilter: 2:',':'.' }} km)
					</p>
				</div>
			</div>
		</div>

	</div>
</script>
<script type="text/ng-template" id="rooms-no-results">
	<div class="modal-container col-md-12 col-sm-12 col-xs-12" style="margin-top:200px;">
		<div class="modal-title col-md-9 col-sm-9 col-xs-9mtext-left ng-binding">
			Error
		</div>
		<div class="close-modal col-md-3 col-sm-3 col-xs-3 text-right">
			<i class="cch-close hand" ng-click="$dismiss()"></i>
		</div>
		<div class="detail-connection-box col-md-12 col-sm-12 col-xs-12">
			<span>No se han encontrado Habitaciones disponibles con los parametros de búsqueda seleccionados. Vuelve a realizar la búsqueda seleccionando otras características</span>
		</div>

		<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
			<div class="btn btn-action" ng-click="$close()">
				Aceptar
			</div>
		</div>
	</div>
</script>
<script type="text/ng-template" id="region-map-error">
	<div class="modal-container col-md-12 col-sm-12 col-xs-12" style="margin-top:200px;">
		<div class="modal-title col-md-9 col-sm-9 col-xs-9mtext-left ng-binding">
			Error
		</div>
		<div class="close-modal col-md-3 col-sm-3 col-xs-3 text-right">
			<i class="cch-close hand" ng-click="$dismiss()"></i>
		</div>
		<div class="detail-connection-box col-md-12 col-sm-12 col-xs-12">
			<span>No se han cargado aún los resultados para este mapa, por favor vuelva a intentar en unos segundos.</span>
		</div>

		<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
			<div class="btn btn-action" ng-click="$close()">
				Aceptar
			</div>
		</div>
	</div>
</script>
<script type="text/ng-template" id="hotels-no-results-map-data">
	<div class="modal-container col-md-12 col-sm-12 col-xs-12" style="margin-top:200px;">
		<div class="modal-title col-md-9 col-sm-9 col-xs-9mtext-left ng-binding">
			Error
		</div>
		<div class="close-modal col-md-3 col-sm-3 col-xs-3 text-right">
			<i class="cch-close hand" ng-click="$dismiss()"></i>
		</div>
		<div class="detail-connection-box col-md-12 col-sm-12 col-xs-12">
			<span>No se ha encontrado Información para este mapa, por favor recargue la página</span>
		</div>

		<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
			<div class="btn btn-action" ng-click="$close()">
				Aceptar
			</div>
		</div>
	</div>
</script>
<script type="text/ng-template" id="hotels-no-results">
	<div class="modal-container col-md-12 col-sm-12 col-xs-12" style="margin-top:200px;">
		<div class="modal-title col-md-9 col-sm-9 col-xs-9 text-left ng-binding">
			Sin Resultados
		</div>
		<div class="close-modal col-md-3 col-sm-3 col-xs-3 text-right">
			<i class="cch-close hand" ng-click="$dismiss()"></i>
		</div>
		<div class="detail-connection-box col-md-12 col-sm-12 col-xs-12 text-center">
			<span>No hemos encontrado hoteles para el criterio de búsqueda seleccionado. Favor reduce la cantidad de criterios utilizados para ampliar los resultados o busca otra fecha.</span>

		</div>

		<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
			<div class="btn btn-action" ng-click="$close()">
				Aceptar
			</div>
		</div>
	</div>
</script>
<script type="text/ng-template" id="require-backoffice">
	<div class="modal-container col-md-12 col-sm-12 col-xs-12" style="margin-top:200px;">
		<div class="modal-title col-md-9 col-sm-9 col-xs-9 text-left ng-binding">
			Información
		</div>
		<div class="close-modal col-md-3 col-sm-3 col-xs-3 text-right">
			<i class="cch-close hand" ng-click="$dismiss()"></i>
		</div>
		<div class="detail-connection-box col-md-12 col-sm-12 col-xs-12">
			<span>Una reserva de más de 6 pasajeros requiere apoyo de nuestros expertos.</span>
			<br>
			<br>
			<span>Por favor comuníquese al {{content.phone}}</span>
		</div>

		<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
			<div class="btn btn-action" ng-click="$close()">
				Aceptar
			</div>
		</div>
	</div>
</script>
<script type="text/ng-template" id="flights-no-selection">
	<div class="modal-container col-md-12 col-sm-12 col-xs-12" style="margin-top:200px;">
		<div class="modal-title col-md-9 col-sm-9 col-xs-9 text-left ng-binding">
			Advertencia
		</div>
		<div class="close-modal col-md-3 col-sm-3 col-xs-3 text-right">
			<i class="cch-close hand" ng-click="$dismiss()"></i>
		</div>
		<div class="detail-connection-box col-md-12 col-sm-12 col-xs-12">
			<span>Por favor seleccione viajes de ida y vuelta</span>
		</div>

		<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
			<div class="btn btn-action" ng-click="$close()">
				Aceptar
			</div>
		</div>
	</div>
</script>
<script type="text/ng-template" id="flights-accept-terms">
	<div class="modal-container col-md-12 col-sm-12 col-xs-12" style="margin-top:200px;">
		<div class="modal-title col-md-9 col-sm-9 col-xs-9 text-left ng-binding">
			Advertencia
		</div>
		<div class="close-modal col-md-3 col-sm-3 col-xs-3 text-right">
			<i class="cch-close hand" ng-click="$dismiss()"></i>
		</div>
		<div class="detail-connection-box col-md-12 col-sm-12 col-xs-12">
			<span>Para continuar, acepte términos y condiciones</span>
		</div>

		<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
			<div class="btn btn-action" ng-click="$close()">
				Aceptar
			</div>
		</div>
	</div>
</script>

<script type="text/ng-template" id="LC-accept-terms">
	<div class="modal-container col-md-12 col-sm-12 col-xs-12" style="margin-top:200px;">
		<div class="modal-title col-md-9 col-sm-9 col-xs-9 text-left ng-binding">
			Advertencia
		</div>
		<div class="close-modal col-md-3 col-sm-3 col-xs-3 text-right">
			<i class="cch-close hand" ng-click="$dismiss()"></i>
		</div>
		<div class="detail-connection-box col-md-12 col-sm-12 col-xs-12">
			<span>Para continuar con el pago, acepte los términos y condiciones de la línea de crédito</span>
		</div>

		<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
			<div class="btn btn-action" ng-click="$close()">
				Aceptar
			</div>
		</div>
	</div>
</script>

<script type="text/ng-template" id="flights-error-blocking">
	<div class="modal-container col-md-12 col-sm-12 col-xs-12" style="margin-top:200px;">
		<div class="modal-title col-md-9 col-sm-9 col-xs-9 text-left ng-binding">
			Error
		</div>
		<div class="close-modal col-md-3 col-sm-3 col-xs-3 text-right">
			<i class="cch-close hand" ng-click="$dismiss()"></i>
		</div>
		<div class="detail-connection-box col-md-12 col-sm-12 col-xs-12">
			<span>Vuelos expirados, por favor realiza la búsqueda nuevamente</span>
		</div>

		<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
			<div class="btn btn-action" ng-click="$close()">
				Aceptar
			</div>
		</div>
	</div>
</script>

<script type="text/ng-template" id="hotels-error-availability">
	<div class="modal-container col-md-12 col-sm-12 col-xs-12" style="margin-top:200px;">
		<div class="modal-title col-md-9 col-sm-9 col-xs-9 text-left ng-binding">
			Intenta nuevamente
		</div>
		<div class="close-modal col-md-3 col-sm-3 col-xs-3 text-right">
			<i class="cch-close hand" ng-click="$dismiss()"></i>
		</div>
		<div class="detail-connection-box col-md-12 col-sm-12 col-xs-12">
			<span>¡Lo sentimos! No se encontró disponibilidad para la(s) habitacion(es) seleccionada(s)
    		, por favor intenta nuevamente con otra habitación</span>
		</div>

		<div class=" col-xs-6 ">
			<div class="btn btn-action" ng-click="$close() && reload()">
				Reintentar
			</div>
		</div>

		<div class=" col-xs-6 ">
			<div class="btn btn-action" ng-click="goBack()">
				Cerrar
			</div>
		</div>
	</div>
</script>

<script type="text/ng-template" id="hotels-error-reservation">
	<div class="modal-container col-md-12 col-sm-12 col-xs-12" style="margin-top:200px;">
		<div class="modal-title col-md-9 col-sm-9 col-xs-9 text-left ng-binding">
			Intenta nuevamente
		</div>
		<div class="close-modal col-md-3 col-sm-3 col-xs-3 text-right">
			<i class="cch-close hand" ng-click="$dismiss()"></i>
		</div>
		<div class="detail-connection-box col-md-12 col-sm-12 col-xs-12">
			<span>¡Lo sentimos! Ocurrió un error en el proceso
    <span ng-if="view.msgError.length == 0 || view.msgError === null ">, por favor intenta nuevamente</span>
			<span class='error-cause-modal' ng-if="view.msgError.length >0 && view.msgError !== null "> Error : {{ view.msgError }}  </span>
			</span>
			<div class='error-cause-modal' ng-if="view.msgError=='ERROR!'">
				Por favor contacta a Hoteles Online (hotelesonline@cocha.com)
			</div>
		</div>

		<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
			<div class="btn btn-action" ng-click="$close() && retry()" ng-if="view.msgError!='ERROR!'">
				Reintentar
			</div>
			<div class="btn btn-action" ng-click="$close()" ng-if="view.msgError=='ERROR!'">
				Aceptar
			</div>
		</div>
	</div>
</script>

<script type="text/ng-template" id="hotels-error-internal">
	<div class="modal-container col-md-12 col-sm-12 col-xs-12" style="margin-top:200px;">
		<div class="modal-title col-md-9 col-sm-9 col-xs-9 text-left ng-binding">
			Intenta nuevamente
		</div>
		<div class="close-modal col-md-3 col-sm-3 col-xs-3 text-right">
			<i class="cch-close hand" ng-click="$dismiss()"></i>
		</div>
		<div class="detail-connection-box col-md-12 col-sm-12 col-xs-12">
			<span>¡Lo sentimos! Ocurrió un error en el proceso, por favor intenta nuevamente</span>
		</div>

		<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
			<div class="btn btn-action" ng-click="$close() && retry()">
				Reintentar
			</div>
		</div>
	</div>
</script>

<script type="text/ng-template" id="hotels-error-network">
	<div class="modal-container col-md-12 col-sm-12 col-xs-12" style="margin-top:200px;">
		<div class="modal-title col-md-9 col-sm-9 col-xs-9 text-left ng-binding">
			Falla de conexión
		</div>
		<div class="close-modal col-md-3 col-sm-3 col-xs-3 text-right">
			<i class="cch-close hand" ng-click="$dismiss()"></i>
		</div>
		<div class="detail-connection-box col-md-12 col-sm-12 col-xs-12">
			<span>Hubo un problema al acceder a la red. Verifica tu conexión e intenta nuevamente</span>
		</div>

		<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
			<div class="btn btn-action" ng-click="$close() && content()">
				Reintentar
			</div>
		</div>
	</div>
</script>

<script type="text/ng-template" id="hotels-ok-quoting">
	<div class="modal-container col-md-12 col-sm-12 col-xs-12" style="margin-top:200px;">
		<div class="modal-title col-md-9 col-sm-9 col-xs-9 text-left ng-binding">
			información
		</div>
		<div class="close-modal col-md-3 col-sm-3 col-xs-3 text-right">
			<i class="cch-close hand" ng-click="$dismiss()"></i>
		</div>
		<div class="detail-connection-box col-md-12 col-sm-12 col-xs-12">
			<span>Agregado a la cotización</span>
		</div>

		<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
			<div class="btn btn-action" ng-click="$close() && content()">
				Cerrar
			</div>
		</div>
	</div>
</script>

<script type="text/ng-template" id="flight-detail">
	<div class="modal-container col-md-12 col-sm-12 col-xs-12">
		<div class="modal-title col-md-9 col-sm-9 col-xs-9 text-left">
			Detalle vuelo {{content.type | cTranslationFilter:'en':'es2'}}
		</div>
		<div class="close-modal col-md-3 col-sm-3 col-xs-3 text-right">
			<i class="cch-close hand" ng-click="$dismiss()"></i>
		</div>
		<div ng-repeat="connection in content.flight.connections">
			<div class="detail-stop-box col-md-12 col-sm-12 col-xs-12" ng-if="connection.stopDuration">
				<div class="col-md-7 col-sm-7 col-xs-7" ng-class="connection.airportChange ? 'stop-with-scales' : 'stop'">
					Escala{{connection.airportChange ? ' con cambio de aeropuerto' : ''}}
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 duration">
					{{connection.stopDuration | cDurationFilter}}
				</div>
			</div>
			<div class="detail-connection-box col-md-12 col-sm-12 col-xs-12">
				<div class="col-md-7 col-sm-7 col-xs-7">
					<div class="detail-itinerary-container">
						<div ng-show="$first" class="detail-origin-dot">
						</div>
						<div ng-hide="$first" class="detail-stop-dot-origin">
						</div>
						<div class="detail-itinerary-dashed">
						</div>
						<div ng-hide="$last" class="detail-stop-dot-destination">
						</div>
						<div ng-show="$last" class="detail-destination-dot">
						</div>
					</div>
					<div class="detail-content-container">
						<div class="card-place">
							<div class="top">
								<div>
									<span class="code">{{connection.origin.cityCode}}</span>
								</div>
								<div class="margin-minus">
									<span class="city">{{connection.origin.cityName | cCapitalizeFilter}} - {{connection.origin.countryName | cCapitalizeFilter}}</span>
								</div>
								<div class="description">
									<span>Aeropuerto {{connection.origin.airportName}}</span>
								</div>
								<div class="description">
									<span>Vuelo {{connection.airlineCode + connection.flightNumber}}{{connection.operator ? (' - Operado por ' + (connection.operator | cAirlineNameFilter)) : ''}}</span>
								</div>
								<div class="description">
									<span>Avión {{connection.equipment.name}}</span>
								</div>
								<div class="description2">
									<span>Cabina {{connection.cabinType | CabinNameFilter}}</span>
								</div>
								<div class="description2" ng-repeat="stop in connection.stops">
									<strong>Parada en {{stop.place.cityName | cCapitalizeFilter}} ({{stop.place.cityCode}})</strong><br>
									<strong>Duración detención {{stop.duration | cDurationFilter}}</strong>
								</div>
							</div>
							<div class="bottom">
								<div>
									<span class="code">{{connection.destination.cityCode}}</span>
								</div>
								<div class="margin-minus">
									<span class="city">{{connection.destination.cityName | cCapitalizeFilter}} - {{connection.destination.countryName | cCapitalizeFilter}}
    </span>
									<div class="description">
										<span>Aeropuerto {{connection.destination.airportName}}
    </span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-4">
					</div>
				</div>
				<div class="col-md-5 col-sm-5 col-xs-5">
					<div class="detail-datetime-container no-padding">
						<div class="card-place">
							<div class="top">
								<div class="description3">
									<span>Salida {{connection.departureDateTime | cDateFilter:'day'}} <strong>{{connection.departureDateTime | cTimeFilter}}</strong>
    </span>
								</div>
								<div class="description3 duration">
									{{connection.duration | cDurationFilter}}
								</div>
								<div class="airline-image-container">
									<img ng-if="connection.airlineIcon" class="airline-image" ng-src="{{connection.airlineIcon}}">
									<span ng-if="!connection.airlineIcon" class="airline-no-image">{{connection.airlineName}}</span>
								</div>
							</div>
							<div class="bottom">
								<div class="description3">
									<span>Llegada {{connection.arrivalDateTime | cDateFilter:'day'}} <strong>{{connection.arrivalDateTime | cTimeFilter}}</strong>
    </span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</script>
<script type="text/ng-template" id="price-detail">
	<div class="modal-container col-md-12 col-sm-12 col-xs-12" style="margin-top:100px;">
		<div class="modal-title col-md-9 col-sm-9 col-xs-9 text-left">
			Detalle de precio
		</div>
		<div class="close-modal col-md-3 col-sm-3 col-xs-3 text-right">
			<i class="cch-close hand" ng-click="$dismiss()"></i>
		</div>
		<div class="subtitles col-md-12 col-sm-12 col-xs-12">
			<div class="col-md-3 col-sm-3 col-xs-3 text-left">
				<span>Pasajeros</span>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-3 text-right">
				<span>Cantidad</span>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-3 text-right">
				<span>Tarifa</span>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-3 text-right">
				<span>Total</span>
			</div>
		</div>
		<div class="passenger-block col-md-12 col-sm-12 col-xs-12" ng-if="content.detail.quantity.ADT > 0">
			<div class="col-md-3 col-sm-3 col-xs-3 text-left">
				<span>Adultos</span>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-3 text-right">
				<span>{{content.detail.quantity.ADT}}</span>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-3 text-right">
				<span>
    {{content.unitary.base.ADT | cPriceFilter:content.currency}}
    </span>
				<span ng-if="content.currency === 'USD'">
    ({{content.unitary.base.ADT | FlightsUSDtoCLPFilter}})
    </span>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-3 text-right">
				<span>
    {{content.detail.base.ADT | cPriceFilter:content.currency}}
    </span>
				<span ng-if="content.currency === 'USD'">
    ({{content.detail.base.ADT | FlightsUSDtoCLPFilter}})
    </span>
			</div>
		</div>
		<div class="passenger-block col-md-12 col-sm-12 col-xs-12" ng-if="content.detail.quantity.CHD > 0">
			<div class="col-md-3 col-sm-3 col-xs-3 text-left">
				<span>Niños</span>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-3 text-right">
				<span>{{content.detail.quantity.CHD}}</span>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-3 text-right">
				<span>
    {{content.unitary.base.CHD | cPriceFilter:content.currency}}
    </span>
				<span ng-if="content.currency === 'USD'">
    ({{content.unitary.base.CHD | FlightsUSDtoCLPFilter}})
    </span>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-3 text-right">
				<span>
    {{content.detail.base.CHD | cPriceFilter:content.currency}}
    </span>
				<span ng-if="content.currency === 'USD'">
    ({{content.detail.base.CHD | FlightsUSDtoCLPFilter}})
    </span>
			</div>
		</div>
		<div class="passenger-block col-md-12 col-sm-12 col-xs-12" ng-if="content.detail.quantity.INF > 0">
			<div class="col-md-3 col-sm-3 col-xs-3 text-left">
				<span>Infantes</span>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-3 text-right">
				<span>{{content.detail.quantity.INF}}</span>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-3 text-right">
				<span>
    {{content.unitary.base.INF | cPriceFilter:content.currency}}
    </span>
				<span ng-if="content.currency === 'USD'">
    ({{content.unitary.base.INF | FlightsUSDtoCLPFilter}})
    </span>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-3 text-right">
				<span>
    {{content.detail.base.INF | cPriceFilter:content.currency}}
    </span>
				<span ng-if="content.currency === 'USD'">
    ({{content.detail.base.INF | FlightsUSDtoCLPFilter}})
    </span>
			</div>
		</div>
		<div class="base-price-block text-right col-md-12 col-sm-12 col-xs-12">
			<span>
    {{content.summary.base | cPriceFilter:content.currency}}
    </span>
			<span ng-if="content.currency === 'USD'">
    ({{content.summary.base | FlightsUSDtoCLPFilter}})
    </span>
		</div>
		<div class="subtitles col-md-12 col-sm-12 col-xs-12">
			<div class="col-md-3 col-sm-3 col-xs-3 text-left">
				<span>Impuestos aéreos</span>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-3 text-right">
				<span>Cantidad</span>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-3 text-right">
				<span>Tarifa</span>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-3 text-right">
				<span>Total</span>
			</div>
		</div>
		<div class="taxes-fee-block text-right col-md-12 col-sm-12 col-xs-12">
			<div class="col-md-3 col-sm-3 col-md-offset-3 col-sm-offset-3 col-xs-3 col-xs-offset-3 text-right">
				<span>{{content.summary.quantity}}</span>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-3 text-right">
				<span>
    {{content.unitary.taxes.ADT | cPriceFilter:content.currency}}
    </span>
				<span ng-if="content.currency === 'USD'">
    ({{content.unitary.taxes.ADT | FlightsUSDtoCLPFilter}})
    </span>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-3 text-right">
				<span>
    {{content.summary.taxes | cPriceFilter:content.currency}}
    </span>
				<span ng-if="content.currency === 'USD'">
    ({{content.summary.taxes | FlightsUSDtoCLPFilter}})
    </span>
			</div>
		</div>
		<div class="subtitles col-md-12 col-sm-12 col-xs-12">
			<div class="col-md-3 col-sm-3 col-xs-3 text-left">
				<span>Cargo agencia</span>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-3 text-right">
				<span>Cantidad</span>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-3 text-right">
				<span>Tarifa</span>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-3 text-right">
				<span>Total</span>
			</div>
		</div>
		<div class="taxes-fee-block text-right col-md-12 col-sm-12 col-xs-12">
			<div class="col-md-3 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3 text-right">
				<span>{{content.summary.quantity}}</span>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-3 text-right">
				<span>
    {{content.unitary.fee.ADT | cPriceFilter:content.currency}}
    </span>
				<span ng-if="content.currency === 'USD'">
    ({{content.unitary.fee.ADT | FlightsUSDtoCLPFilter}})
    </span>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-3 text-right">
				<span>
    {{content.summary.fee | cPriceFilter:content.currency}}
    </span>
				<span ng-if="content.currency === 'USD'">
    ({{content.summary.fee | FlightsUSDtoCLPFilter}})
    </span>
			</div>
		</div>
		<div class="total-block col-md-12 col-sm-12 col-xs-12">
			<div class="col-md-6 col-sm-6 col-xs-6 text-left">
				<span>Valor Total</span>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-6 text-right">
				<span>
    {{content.summary.total | cPriceFilter:content.currency}}
    </span>
				<span ng-if="content.currency === 'USD'">
    ({{content.summary.total | FlightsUSDtoCLPFilter}})
    </span>
			</div>
		</div>
	</div>
</script>
<script type="text/ng-template" id="booking-terms">
	<div class="modal-container col-md-12 col-sm-12 col-xs-12" style="margin-top:100px;">
		<div class="modal-title col-md-9 col-sm-9 col-xs-9 text-left">
			CONDICIONES GENERALES
		</div>
		<div class="close-modal col-md-3 col-sm-3 col-xs-3 text-right">
			<i class="cch-close hand" ng-click="$dismiss()"></i>
		</div>
		<div class="terms-content col-md-12 col-sm-12 col-xs-12">
			<ul>
				<li>Tarifas sujetas a cambios sin previo aviso y disponibilidad de espacio hasta el momento de efectuarse la reserva.
				</li>
				<li>Cualquier cambio en la reserva estará sujeto a las condiciones y/o restricciones tarifarías de la aerolínea. Estas pueden implicar cargos, multas o penalizaciones según las condiciones de cada línea aérea.
				</li>
				<li>Condiciones financieras y crediticias de las tarjetas de crédito son de exclusiva responsabilidad de la institución financiera emisora.
				</li>
				<li>Es responsabilidad del pasajero ingresar de forma correcta y veraz los datos de la reserva. Asimismo, es total responsabilidad del pasajero disponer de la documentación de viaje necesaria para ingresar y salir del destino de acuerdo a las leyes locales, esto aplica tanto para adultos, niños como infantes; el caso de los extranjeros, estos deben consultar sobre la información de viaje en su consulado.
				</li>
			</ul>
			<p>Ante dudas o consultas, llámanos al 2 2464 1300 | *1300 (desde celulares).</p>
		</div>
	</div>
</script>
<script type="text/ng-template" id="booking-privacy">
	<div class="modal-container col-md-12 col-sm-12 col-xs-12">
		<div class="modal-title col-md-9 col-sm-9 col-xs-9 text-left ng-binding">
			POLÍTICAS DE PRIVACIDAD
		</div>
		<div class="close-modal col-md-3 col-sm-3 col-xs-3 text-right">
			<i class="cch-close hand" ng-click="$dismiss()"></i>
		</div>
		<div class="terms-content col-md-12 col-sm-12 col-xs-12">
			<span>Para <strong>COCHA</strong> es muy importante la protección de la privacidad de sus clientes. Nos esforzamos al máximo por mantener la información personal de ellos en la más estricta confidencialidad.
    </span>
			<br>
			<br>
			<span class="subtitle">
    Turismo COCHA S.A.
    </span>
			<div class="terms-content-identation">
				<span>
    Para dudas, consultas o cotización de viajes, puedes contactarnos:<br><br>

    Al teléfono 22464 1300, desde celular al *1300.<br><br>

    Al correo electrónico: servicioclientes1@cocha.com<br><br>

    También puedes dirigirte a cualquiera de nuestras <strong>sucursales</strong><br>
    <strong>Casa Matriz:</strong> El Bosque Norte 0430, Las Condes, Santiago – Chile.<br>
    <strong>Casa Matriz y Sucursales:</strong> Lunes a viernes de 9:00 a 18:45 hrs.<br>
    <strong>COCHA Parque Arauco:</strong> Lunes a sábado de 11:00 a 21:00 hrs., domingo de 11:00 a 21:00 hrs.<br>
    <strong>COCHA Alto Las Condes:</strong> Lunes a domingo de 10:00 a 22:00 hrs.<br>
    <strong>Corners Ripley:</strong> Malls de lunes a domingo de 11:00 a 21:00 hrs. Tiendas calle de 10:00 a 20:30 hrs.<br>
    <strong>COCHA Aeropuerto:</strong> Lunes a domingo las 24 horas.<br><br>

    <strong>Número de Emergencia 24 horas:</strong> (56 2) 2 464 1200
    </span>
			</div>
			<br>
			<span class="subtitle">
    De los datos:
    </span>
			<br>
			<br>
			<span class="subtitle">
    ¿Por qué recopilamos información personal?
    </span>
			<br>
			<span>
    COCHA recoge y emplea la información personal de sus clientes para poder ofrecerles una excelente atención, facilitarles el acceso adecuado a nuestros productos y servicios, y para que dispongan de más opciones. Además, la usamos para mantenerte al día sobre las ofertas especiales, promociones, productos nuevos y otras informaciones que, creemos, te gustará conocer. Esto puede incluir ocasionalmente información proveniente de otras empresas sobre productos y servicios que puedan añadir valor a los productos de COCHA. De vez en cuando, también podemos emplear tu información personal para ponernos en contacto contigo a fin de que participes en alguna encuesta de investigación de mercado, para así calibrar el grado de satisfacción del cliente y desarrollar productos mejores.
    </span>
			<br>
			<br>
			<span class="subtitle">
    ¿Cómo obtenemos la información personal?
    </span>
			<br>
			<span>
    Podemos obtener la información personal de varias formas: por ejemplo, al pedirte información de contacto cuando nos envías un mail, nos llamas para hacer una reserva o solicitar un servicio, o cuando participas en alguna encuesta online. Además, cuando solicitas que te incluyamos en una lista de distribución, extraemos y almacenamos la información que nos facilitas en una base de datos segura.
    </span>
			<br>
			<br>
			<span class="subtitle">
    ¿Cuándo damos a conocer esa información personal?
    </span>
			<br>
			<span>
    Debido a que COCHA forma parte de un grupo amplio y variado, podemos compartir tu información personal con otras unidades comerciales. Estas protegerán tu información personal de acuerdo con nuestra Política Estándar de Confidencialidad del Cliente.
    En algunas opciones nos pueden solicitar que revelemos información personal a través de un proceso legal o judicial.
    </span>
			<br>
			<br>
			<span class="subtitle">
    ¿Cómo protegemos tu información personal?
    </span>
			<br>
			<span>
    COCHA salvaguarda la seguridad de los datos que nos envías mediante procedimientos físicos, electrónicos y administrativos. Te aconsejamos que adoptes todas las precauciones necesarias para proteger tus datos cuando estés conectado a Internet.
    </span>
			<br>
			<br>
			<span class="subtitle">
    Obtención de otra información personal
    </span>
			<br>
			<span>
    Cuando visites la página web de COCHA, podrás hacerlo de forma anónima. Sin embargo, tu navegador nos indica automáticamente el tipo de computador y el sistema operativo que estás utilizando.
    Al igual que muchas otras páginas web, la de COCHA emplea la tecnología de las «cookies». Las cookies nos ayudan a conocer qué partes de nuestras páginas web resultan más populares, a dónde van nuestros visitantes y cuánto tiempo pasan allí. Estas se instalan automáticamente en tu equipo apenas ingresas a COCHA.com. Empleamos las cookies para estudiar los patrones del tráfico en nuestra Web, de forma que podamos mejorarla aún más. También usamos cookies con fines de marketing y así, en base a tu comportamiento en nuestra web, podemos mostrarte ofertas personalizadas y que puedan ser de tu interés, en páginas web de terceros o en redes sociales.
    En el caso de inhabilites las cookies en tu equipo o utilices tu navegador en modo privado, es posible que algunas funciones y algunos servicios de nuestra web no funcionen correctamente.
    </span>
			<br>
			<br>
			<span class="subtitle">
    El compromiso de toda la empresa con la confidencialidad
    </span>
			<br>
			<span>
    Todos los empleados de COCHA conocen las normas de confidencialidad de la empresa.
    La página web de COCHA contiene algunos vínculos a otras webs. COCHA no comparte tu información personal con dichos sitios web, y tampoco se responsabiliza de sus prácticas sobre privacidad.
    </span>
			<br>
			<br>
			<span class="subtitle">
    De la suscripción a correos promocionales
    </span>
			<br>
			<span>
    Al ingresar por primera vez al sitio de COCHA o al hacer una solicitud web, invitamos a que nos dejes tu correo electrónico para recibir promociones y ofertas COCHA. Los clientes que deseen dejar de recibir nuestros newsletters pueden cancelar su suscripción haciendo click en la opción “Cancelar suscripción” ubicada en la parte inferior de los correos electrónicos enviados por COCHA.com
    </span>
		</div>
	</div>
</script>
<script type="text/ng-template" id="program-conditions">
	<div class="modal-container col-md-12 col-sm-12 col-xs-12">
		<div class="modal-title col-md-9 col-sm-9 col-xs-9 text-left ng-binding">
			Condiciones
		</div>
		<div class="close-modal col-md-3 col-sm-3 col-xs-3 text-right">
			<i class="cch-close hand" ng-click="$dismiss()"></i>
		</div>
		<div class="detail-connection-box col-md-12 col-sm-12 col-xs-12">
			<div ng-bind-html="content.conditions | cRawHtmlFilter">
			</div>
		</div>

		<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
			<div class="btn btn-action" ng-click="$close()">
				Aceptar
			</div>
		</div>
	</div>
</script>