<div class="my-bkg-detail-loader" ng-if="view.loadingResult == true">

	<div class='row'>
		<div class="col-xs-12" ng-hide="view.loadingResults === false">
			<div class="preloader  ">
				<div class="preloader-animation">
					<div class="preloader-earth"></div>
				</div>
				<div class="preloader-caption   ">
					<p class="cleared-row phrase ">
						Un momento por favor
					</p>
				</div>
			</div>
		</div>
	</div>


</div>
<div class="my-bkg-detail-content" ng-if="content.result !== null">
	<div>
		<div class="body-text">

			<div class="voucher">
				<div class="left-column">
					<div class="block-hotel-info">
						<div class='block-hotel-title'>Información de tu reserva en el </div>
						<div class='block-hotel-name'>
							{{ content.result.hotelDetailDTO.hotelDetails.name }}
							<!-- {{ content.result.hotelDetailDTO.hotelDetails.starRating }}-->
							<!--img src="http://hotel.cocha.com/img/mails/3stars.png" class="hotel-stars"-->
							<span class="hotel-rating-star">
							  <span class="box-offer-star hotel-rating-stars">
    	             			<uib-rating ng-model="content.result.hotelDetailDTO.hotelDetails.starRating" max="5" read-only="true" data-read-only="true" state-on="'cch-star'" state-off="'cch-star-o'" on-leave="overStar = null"></uib-rating>
               				  </span>
							</span>

						</div>
						<div class="block-location">{{ content.result.regionData.regionNameLong }}</div>

						<div class="block-info ">
							<div class="block-hotel-image">
								<img src="{{ content.result.summary.image }}" class="block-img-hotel">
							</div>
							<div class="block-address">
								<div>Dirección</div>
								<div class="address-data">{{ content.result.hotelDetailDTO.hotelDetails.address }}, {{ content.result.hotelDetailDTO.hotelDetails.country }}</div>
								<br>
								<div>Teléfono</div>
								<div class="address-data">{{ content.result.hotelItineraryRespDTO.hotelItineraryResponse.itinerary.hotelConfirmation[0].hotel[0].phone }}</div>

								<div class="row text-left map-link-container ">
									<a href="#" class="" ng-click="getMapInfo()"><i class="cch-position"></i> ver mapa</a>
								</div>
								<div class="row text-right information-link-container">
									<a href="#" ng-click="showHotelInformation()">Ver información del hotel</a>
								</div>
							</div>
						</div>

						<div uib-collapse="view.hotelInformation" class='col-xs-12 hotel-information-collapsable-div'>
							<div class='row'>
								<div ng-if="content.result.hotelDetailDTO.hotelDetails.policyDescription.length>0 " class='hotel-information-title'> Información acerca del hotel </div>
								<div ng-bind-html="(content.result.hotelDetailDTO.hotelDetails.policyDescription | cRawHtmlFilter)">
								</div>
								<div ng-if="content.result.hotelDetailDTO.hotelDetails.mandatoryFeeDescription.length>0 " class='hotel-information-title'> Cargos a pagar en el hotel </div>
								<div ng-bind-html="(content.result.hotelDetailDTO.hotelDetails.mandatoryFeeDescription | cRawHtmlFilter)">
								</div>
								<!--div class='hotel-information-title'> Otros Cargos </div>
								<div ng-bind-html="(content.result.hotelDetailDTO.hotelDetails.feeDescription | cRawHtmlFilter)">
								</div-->
							</div>
							<div class='row'>
								<div ng-if="content.result.attributes.length > 0" class='hotel-information-title row'> Servicios del hotel </div>
								<div class='col-lg-4 col-md-4 col-sm-12  '>
									<ul ng-repeat="service in content.result.attributes" class='details-list-services' ng-if="$index <= (content.result.attributes.length/3) ">
										<li>{{ service.attribute.description }}<span ng-if=" service.text !=='' ">: {{ service.text }} </span></li>
									</ul>
								</div>
								<div class='col-lg-4 col-md-4 col-sm-12 col-xs-12'>
									<ul ng-repeat="service in content.result.attributes" class='details-list-services' ng-if="($index >= ((content.result.attributes.length/3)+1)) && ($index <= (content.result.attributes.length/3)*2) ">
										<li>{{ service.attribute.description }}<span ng-if=" service.text !=='' ">: {{ service.text }} </span></li>
									</ul>
								</div>
								<div class='col-lg-4 col-md-4 col-sm-12 col-xs-12'>
									<ul ng-repeat="service in content.result.attributes" class='details-list-services' ng-if="($index >= ((content.result.attributes.length/3)*2) +1) && ($index <= content.result.attributes.length) ">
										<li>{{ service.attribute.description }}<span ng-if=" service.text !=='' ">: {{ service.text }} </span></li>
									</ul>
								</div>
							</div>

						</div>


						<div class="block-amenities" ng-if="content.result.amenities.values.length > 0">
							<div class="amenities-title">
								Servicios Principales:
							</div>
							<div class="amenities text-left">
								<span class="my-bkg-back-icon-amenities" ng-repeat="amenity in content.result.amenities.values">
								   <i class="amenity-icon {{ getIconAmenity(amenity.name) }}"></i>
								   <span>{{ amenity.description | cCapitalizeFilter   }}</span>
								</span>
								<!--img src="http://hotel.cocha.com/img/mails/internet.png"> Internet Gratuito
								<img src="http://hotel.cocha.com/img/mails/parking.png"> Estacionamiento Gratuito
								<img src="http://hotel.cocha.com/img/mails/breakfast.png"> Desayuno Incluido-->
							</div>
						</div>

					</div>
					<div class="block-passengers">

						<div class="block-passengers-title">Habitaciones</div>

						<div class="block-room" ng-repeat="room in content.result.hotelItineraryRespDTO.hotelItineraryResponse.itinerary.hotelConfirmation">
							<div class="block-room-title">
								<div class="my-bkg-room-detail-title">
									Habitación {{ $index + 1 }}:
								</div>
								<div class="my-bkg-room-detail-container">
									<a href="#" ng-click="showRoomDetail($index)" class="my-bkg-room-detail-link">Ver detalles de la habitación</a>
								</div>
								<div class="my-bkg-room-description" uib-collapse="view.roomDescription[$index] !== false" ng-bind-html="( ( (content.result.selectedRooms[$index].roomDescription.length > 0 ) ? content.result.selectedRooms[$index].roomDescription : 'No hay información acerca de la habitación.' ) | cRawHtmlFilter)">
								</div>
							</div>
							<div class="block-room-passenger-data text-right">
								<div class="room-passenger-value">{{ room.roomDescription }} </div>
								<div>Titular de la habitación: <span class="room-passenger-value">{{ content.result.hotelPassengerDetailDTO[$index].passengerDTO.name }} {{ content.result.hotelPassengerDetailDTO[$index].passengerDTO.surname }} </span></div>
								<div>Rut/Pasaporte: <span class="room-passenger-value"> 

								  {{ ((content.result.hotelPassengerDetailDTO[$index].passengerDTO.passport !== '') ? content.result.hotelPassengerDetailDTO[$index].passengerDTO.passport : content.result.hotelPassengerDetailDTO[$index].passengerDTO.rut) }}

								</span></div>
								<div>Nº de confirmación: <span class="room-passenger-value"> {{ room.confirmationNumber }} </span></div>
								<div>Huéspedes: <span class="room-passenger-value">

									{{ room.numberOfAdults }} Adulto{{ ((room.numberOfAdults > 1 ) ? 's' : '' ) }}

									{{ ( (room.numberOfChildren > 0) ? room.numberOfChildren +' Niño'+ ( (room.numberOfChildren > 1) ? 's' : '') : '' ) }}

<span ng-repeat="children in content.result.hotelPassengerDetailDTO[$index].childrenDTO "> {{ ($first ? '(' : '') }} {{ children.age }} Año{{  ( (children.age > 1) ? 's' : '' )  }}  {{$last ? ')' : ', '}}</span>

									</span>
								</div>
							</div>
						</div>

					</div>
				</div>
				<div class="right-column">
					<div class="block-booking-identifier">
						<div class="my-bkg-status-block text-right {{ getBookingStatusClass() }}">{{ getBookingStatus() }}</div>
						<div class="booking-identifier-title">Identificador de la reserva</div>
						<div class="identifier-data">Número de reserva: <span class="identifier-value"> {{ content.result.hotelItineraryRespDTO.hotelItineraryResponse.itinerary.itineraryId }} </span></div>

						<div ng-if="content.isB2B" class="identifier-data">Número de negocio: <span class="identifier-value">{{ content.businessNumber }}</span></div>

						<div class="identifier-data">Código Interno: <span class="identifier-value">{{ content.spnr }}</span></div>
					</div>
					<div class="block-booking-data">

						<div class="booking-title">Itinerario</div>
						<div class="booking-data">
							<div class="booking-sub-title">
								Fecha de entrada
							</div>
							<div class="booking-sub-title">
								<span ng-if="(content.result.hotelDetailDTO.hotelDetails.checkInTime !== '' && content.result.hotelDetailDTO.hotelDetails.checkInTime !== null)">Hora de Check-in</span>&nbsp;
							</div>

							<div class="booking-value">
								{{ content.result.hotelItineraryRespDTO.hotelItineraryResponse.itinerary.itineraryStartDate | dateFormatFilter : 'hotel-date-itinerary' }}
							</div>
							<div class="booking-value">
								<span ng-if="(content.result.hotelDetailDTO.hotelDetails.checkInTime !== '' && content.result.hotelDetailDTO.hotelDetails.checkInTime !== null)">{{ (content.result.hotelDetailDTO.hotelDetails.checkInTime !== '' && content.result.hotelDetailDTO.hotelDetails.checkInTime !== null && content.result.hotelDetailDTO.hotelDetails.checkInTime !== 'noon' && content.result.hotelDetailDTO.hotelDetails.checkInTime !== 'Noon') ? 'Desde las '+ content.result.hotelDetailDTO.hotelDetails.checkInTime : ( (content.result.hotelDetailDTO.hotelDetails.checkInTime === 'noon' || content.result.hotelDetailDTO.hotelDetails.checkInTime === 'Noon') ? 'Mediodia' : 'Información no disponible' ) }}</span>&nbsp;
							</div>

							<div class="booking-sub-title">
								Fecha de salida
							</div>
							<div class="booking-sub-title">
								<span ng-if="(content.result.hotelDetailDTO.hotelDetails.checkOutTime !== '' && content.result.hotelDetailDTO.hotelDetails.checkOutTime !== null)">
								Hora de Check-Out
								</span>&nbsp;
							</div>

							<div class="booking-value">
								{{ content.result.hotelItineraryRespDTO.hotelItineraryResponse.itinerary.itineraryEndDate | dateFormatFilter : 'hotel-date-itinerary' }}
							</div>
							<div class="booking-value">
								<span ng-if="(content.result.hotelDetailDTO.hotelDetails.checkOutTime !== '' && content.result.hotelDetailDTO.hotelDetails.checkOutTime !== null)">
								{{ (content.result.hotelDetailDTO.hotelDetails.checkOutTime !== '' && content.result.hotelDetailDTO.hotelDetails.checkOutTime !== null && content.result.hotelDetailDTO.hotelDetails.checkOutTime !== 'noon' && content.result.hotelDetailDTO.hotelDetails.checkOutTime !== 'Noon') ? 'Desde las '+ content.result.hotelDetailDTO.hotelDetails.checkOutTime : ( (content.result.hotelDetailDTO.hotelDetails.checkOutTime === 'noon' || content.result.hotelDetailDTO.hotelDetails.checkOutTime === 'Noon') ? 'Mediodia' : 'Información no disponible' ) }}
								</span>&nbsp;
							</div>

							<div class="booking-summary">
								<span class="summary-block">
									{{ content.result.summary.nights }} Noche{{ (content.result.summary.nights > 1 ? 's' :'') }}  
									| {{ content.result.summary.rooms }} Habitacion{{ (content.result.summary.rooms > 1 ? 'es' :'') }}   
									| {{ content.result.summary.adults }} adulto{{ (content.result.summary.adults > 1 ? 's' :'') }} 
									<span ng-if=" content.result.summary.children > 0"> 
									| {{ content.result.summary.children }} niño{{ (content.result.summary.children > 1 ? 's' :'') }}
									</span>
								</span>
							</div>

						</div>

					</div>
					<div class="block-payment-data">
						<div class="payment-data-value">Datos de pago</div>
						<div class="text-right">Nombre Comprador: <span class="payment-data-value">
							{{ content.result.hotelPassengerDetailDTO[0].passengerDTO.name }}
							{{ content.result.hotelPassengerDetailDTO[0].passengerDTO.surname }}

						</span></div>
						<div class="text-right">Rut/Pasaporte: <span class="payment-data-value">								  {{ ((content.result.hotelPassengerDetailDTO[0].passengerDTO.passport !== '') ? content.result.hotelPassengerDetailDTO[0].passengerDTO.passport : content.result.hotelPassengerDetailDTO[0].passengerDTO.rut) }}</span></div>
						<div class="text-right">Teléfono de contacto: <span class="payment-data-value">	
						  {{ content.result.hotelPassengerDetailDTO[0].passengerDTO.phoneCountry }} {{ content.result.hotelPassengerDetailDTO[0].passengerDTO.phoneArea }} {{ content.result.hotelPassengerDetailDTO[0].passengerDTO.phoneNumber }}
						</span>
						</div>
						<div class="text-right">E-Mail: <span class="payment-data-value"> {{ content.result.hotelPassengerDetailDTO[0].passengerDTO.email }} </span></div>

						<div class="text-left" ng-if="content.result.status === 'AC' || content.result.status === 'CO'">
							<div class="text-left payment-data-value">Reserva Pagada</div>
							<div class="text-left">La reserva ha sido confirmada y el cargo se ha aplicado a tu tarjeta en <span ng-if="content.result.currency==='CLP'">pesos</span><span ng-if="content.result.currency==='USD'">dólares</span>.</div>
						</div>


					</div>
					<div class="block-summary-data">

						<div class='my-bkg-block-price row'>
							<div class='my-bkg-detail-rate'>
								<div>Tarifa total</div>
								<div class="summary-price">
									<span class="summary-price-foreign">US$ {{ content.result.summary.total | moneyFilter: 2:',':'.' }}</span>
									<span class="summary-price-local"> (${{ content.result.totalPayment | moneyFilter }})</span>
								</div>
							</div>
							<div class='my-bkg-detail-price text-right'>
								<button class='btn my-bkg-button-detail-price' ng-click="showRateDetail()">Ver desglose del precio</button>
							</div>
						</div>

						<div class="summary-cancellation">
							<div class="cancellation-title">Políticas de cancelación</div>
							<div>{{ content.result.hotelItineraryRespDTO.hotelItineraryResponse.itinerary.hotelConfirmation[0].rateInfos.rateInfo.cancellationPolicy }}</div>
							<div class='row text-right my-bkg-cancellation-container' ng-if="content.result.status === 'AC' || content.result.status === '' || content.result.status === 'PE'">
								<button class="btn my-bkg-button-cancel " ng-click="showCancellationModal()">
									<i class="cch-mob-input-close"></i>
									<div>Cancelar Reserva</div>
								</button>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		<!-- -->
	</div>
</div>

<div class="my-bkg-buttons row" ng-if="content.result !== null">
	<div class=" col-md-2 col-md-offset-1 ">
		<button ng-click="seeVoucher() " class="btn my-bkg-btn-watch-voucher "><i class="cch-eye "></i> Visualizar voucher </button>
	</div>
	<div class="col-md-2 ">
		<button ng-click="resendVoucher() " class="btn my-bkg-btn-send-voucher "><i class="cch-send-mail "></i> Reenviar voucher </button>
	</div>
	<div class="col-md-2 ">
		<button ng-click="getVoucher() " class="btn my-bkg-btn-download-voucher "><i class="cch-download "></i> Descargar voucher </button>
	</div>
	<div class="col-md-2 ">
		<button ng-click="searchBooking() " class="btn my-bkg-btn-search-booking "><i class="cch-mob-input-search "></i> Buscar otra reserva </button>
	</div>
	<div class="col-md-2 ">
		<button ng-click="goToHome() " class="btn my-bkg-btn-back-home "><i class="cch-reply" ></i> Volver al home </button>
	</div>
</div>

<div class='my-bkg-help-info text-center row'>
	<div ng-if="content.isB2B ">
		Soporte: <span>Mail</span> <a href="mailto:hotelesonline@cocha.com ">hotelesonline@cocha.com</a> | <span>Anexos</span> Paulina Vega: 1282 Pilar Ramirez: 1015
	</div>
	<div ng-if="!content.isB2B ">
		Atención al pasajero: (56) 2 2464 1300 | Emergencias 24 hrs.: (56) 2 2464 1200 | E-mail: <a href="mailto:emergencias@cocha.com ">emergencias@cocha.com</a>
	</div>
</div>