<div>

	<my-booking-search-box search-fn="search(data)">
	</my-booking-search-box>

	<!-- 

	<div class='my-bkg-search-box'>

		<div class='my-bkg-search-box-title row'>
			<div class='col-xs-6 '>
				Mi Reserva
			</div>
		</div>

		<div class='my-bkg-search-box-fields row' ng-if="!isB2B">
			<div class='row'>
				<div class='col-xs-6 field-label '>
					Número de reserva
				</div>
				<div class='col-xs-6 field-label'>
					Apellido
				</div>
			</div>

			<div class='row'>
				<div class='col-xs-6 field-container'>
					<input class="field-input" ng-model="content.bookingNumber" ui-mask='999999999999999999' placeholder="123456789" ui-mask-placeholder ui-options="view.maskOptionsNumber" ui-mask-placeholder-char=" " maxlength="25" />
					<div ng-if="view.errors.bookingNumberInvalid === true" class="content-input-underline-error"></div>
					<img ng-src="img/error-cocha.png" class="warning-off" ng-class="{'warning-on': view.errors.bookingNumberInvalid }">
				</div>
				<div class='col-xs-6 field-container'>
					<input type='text' class="field-input" ng-model="content.surname" ng-change="content.surname = cleanName(content.surname)" maxlength="30">
					<div ng-if="view.errors.surnameInvalid === true" class="content-input-underline-error"></div>
					<img ng-src="img/error-cocha.png" class="warning-off" ng-class="{'warning-on': view.errors.surnameInvalid }">
				</div>
			</div>
		</div>


		<div class='my-bkg-search-box-fields row' ng-if="isB2B">
			<div class='row'>
				<div class='col-xs-4 field-label '>
					Número de reserva
				</div>
				<div class='col-xs-4 field-label'>
					Número de Negocio
				</div>
				<div class='col-xs-4 field-label'>
					Código Interno
				</div>
			</div>
			<div class='row'>
				<div class='col-xs-4 field-container'>
					<input class="field-input" ng-model="content.bookingNumber" ui-mask='999999999999999999' placeholder="123456789" ui-mask-placeholder ui-options="view.maskOptionsNumber" ui-mask-placeholder-char=" " maxlength="25" />
					<div ng-if="view.errors.bookingNumberInvalid === true" class="content-input-underline-error"></div>
					<img ng-src="img/error-cocha.png" class="warning-off" ng-class="{'warning-on': view.errors.bookingNumberInvalid }">
				</div>
				<div class='col-xs-4 field-container'>

					<input class="field-input" ng-model="content.businessNumber" force-uppercase ui-mask='*-***-999' placeholder="Número de negocio" ui-options="view.maskOptionsBusinessId" ui-mask-placeholder ui-mask-placeholder-char="_" maxlength="9" />
					<div ng-if="view.errors.businessNumberInvalid === true" class="content-input-underline-error"></div>
					<img ng-src="img/error-cocha.png" class="warning-off" ng-class="{'warning-on': view.errors.businessNumberInvalid }">

				</div>
				<div class='col-xs-4 field-container'>
					<input class="field-input" ng-model="content.spnr" force-uppercase ui-mask='A999999' placeholder="H000000" ui-mask-placeholder ui-options="view.maskOptionsSpnr" ui-mask-placeholder-char=" " maxlength="10" />
					<div ng-if="view.errors.spnrInvalid === true" class="content-input-underline-error"></div>
					<img ng-src="img/error-cocha.png" class="warning-off" ng-class="{'warning-on': view.errors.spnrInvalid }">
				</div>
			</div>

			<div class='row'>
				<div class='col-xs-4 field-label '>
					Apellido
				</div>
				<div class='col-xs-4 field-label'>
					E-mail
				</div>
				<div class='col-xs-4 field-label'>
					Nombre del hotel
				</div>
			</div>
			<div class='row'>
				<div class='col-xs-4 field-container'>
					<input type='text' placeholder="Apellido" class="field-input" ng-model="content.surname" ng-change="content.surname = cleanName(content.surname)" maxlength="30">
					<div ng-if="view.errors.surnameInvalid === true" class="content-input-underline-error"></div>
					<img ng-src="img/error-cocha.png" class="warning-off" ng-class="{'warning-on': view.errors.surnameInvalid }">
				</div>
				<div class='col-xs-4 field-container'>
					<input type='text' placeholder="ejemplo@mail.com" class="field-input" ng-model="content.email" ng-change="content.email = cleanEmail(content.email)" maxlength="120">
					<div ng-if="view.errors.emailInvalid === true" class="content-input-underline-error"></div>
					<img ng-src="img/error-cocha.png" class="warning-off" ng-class="{'warning-on': view.errors.emailInvalid }">
				</div>
				<div class='col-xs-4 field-container'>
					<input type='text' class="field-input" placeholder="Hotel" ng-model="content.hotelName" ng-change="content.hotelName = cleanName(content.hotelName)" maxlength="100">
					<div ng-if="view.errors.hotelNameInvalid === true" class="content-input-underline-error"></div>
					<img ng-src="img/error-cocha.png" class="warning-off" ng-class="{'warning-on': view.errors.hotelNameInvalid }">
				</div>
			</div>

			<div class='row'>
				<div class='col-xs-8 field-label '>
					Book
				</div>

				<div class='col-xs-4 field-label'>
					Estado de la reserva
				</div>
			</div>
			<div class='row'>

				<div class='col-xs-4 field-container' ng-click="openCalendar('bookarrival', $event)">
					<input type='text' readonly class="field-input" ng-model="content.bookDateIni" id="calendar-book-arrival-id" ng-keydown="openCalendar()" placeholder="Elige rango fecha inicial">
					<div ng-if="view.errors.bookDateIniInvalid === true" class="content-input-underline-error"></div>
					<img ng-src="img/error-cocha.png" class="warning-off" ng-class="{'warning-on': view.errors.bookDateIniInvalid }">
					<div ng-if="view.errors.bookDateRangeInvalid === true"> Debe seleccionarse un rango de fechas</div>


					<div ng-if="!view.smallView" class="double-calendar-left" uib-collapse="view.collapseCalendar.bookarrival" ng-click="stopPropagation($event)">
						<cocha-date-picker min-range="'1'" template-url="views/directives/cocha-calendar-double.html" start="content.bookDateIni" end="content.bookDateEnd" mode="start" identifier="bookarrival">
						</cocha-date-picker>
					</div>
					<div ng-if="view.smallView && view.openCalendarXs.bookarrival" class="custom-modal" ng-click="stopPropagation($event)">
						<div class="calendar-header">
							<i class="cch-arrow-left" ng-click="closeModalCalendar()"></i>
							<span>
							Selecciona fecha Entrada
						</span>
						</div>
						<cocha-date-picker min-range="'1'" template-url="views/directives/cocha-calendar-xs.html" start="content.bookDateIni" end="content.bookDateEnd" mode="start" identifier="bookarrival-xs" on-pick-date="closeModalCalendar">
						</cocha-date-picker>
					</div>
				</div>


				<div class='col-xs-4 field-container' ng-click="openCalendar('bookdeparture', $event)">
					<input type='text' readonly class="field-input" ng-model="content.bookDateEnd" ng-keydown="openCalendar()" placeholder="Elige rango fecha final">
					<div ng-if="view.errors.bookDateEndInvalid === true" class="content-input-underline-error"></div>
					<img ng-src="img/error-cocha.png" class="warning-off" ng-class="{'warning-on': view.errors.bookDateEndInvalid }">

					<div ng-if="!view.smallView" class="double-calendar-left" uib-collapse="view.collapseCalendar.bookdeparture" ng-click="stopPropagation($event)">
						<cocha-date-picker min-range="'1'" template-url="views/directives/cocha-calendar-double.html" start="content.bookDateIni" end="content.bookDateEnd" mode="end" identifier="bookdeparture">
						</cocha-date-picker>
					</div>
					<div ng-if="view.smallView && view.openCalendarXs.bookdeparture" class="custom-modal" ng-click="stopPropagation($event)">
						<div class="calendar-header">
							<i class="cch-arrow-left" ng-click="closeModalCalendar()"></i>
							<span>
					Selecciona fecha Salida
				</span>
						</div>
						<cocha-date-picker min-range="'1'" template-url="views/directives/cocha-calendar-xs.html" start="content.bookDateIni" end="content.bookDateEnd" mode="end" identifier="bookdeparture-xs" on-pick-date="closeModalCalendar">
						</cocha-date-picker>
					</div>
				</div>

				<div class='col-xs-4 field-container'>
					<div class="row">
						<div class="select2 hand" ng-click="toggleStatusOption($event)">
							<span class='transparent-input'>
				{{ ((content.statusBooking !== '') ?  content.statusBooking.short : 'Elige de la lista' ) }}
			</span>
						</div>
					</div>
					<div ng-if="view.errors.statusOptionInvalid === true" class="content-input-underline-error"></div>
					<img ng-src="img/error-cocha.png" class="warning-off" ng-class="{'warning-on': view.errors.statusOptionInvalid }">
					<div class="cabin-option-container" uib-collapse="!view.showStatusOption">
						<div class='cabin-option' ng-repeat="status in view.statusOptions" ng-click="selectStatus(status)">
							{{ status.name }}
						</div>
					</div>
				</div>
			</div>


			<div class='row'>
				<div class='col-xs-8 field-label '>
					Check-in
				</div>

			</div>
			<div class='row'>
				<div class='col-xs-4 field-container' ng-click="openCalendar('arrival', $event)">
					<input type='text' readonly class="field-input" ng-model="content.checkInIni" id="calendar-arrival-id" ng-keydown="openCalendar()" placeholder="Elige rango fecha inicial">

					<div ng-if="view.errors.checkInIniInvalid === true" class="content-input-underline-error"></div>
					<img ng-src="img/error-cocha.png" class="warning-off" ng-class="{'warning-on': view.errors.checkInIniInvalid }">

					<div ng-if="view.errors.checkInRangeInvalid === true"> Debe seleccionarse un rango de fechas</div>

					<div ng-if="!view.smallView" class="double-calendar-left" uib-collapse="view.collapseCalendar.arrival" ng-click="stopPropagation($event)">
						<cocha-date-picker min-range="'1'" template-url="views/directives/cocha-calendar-double.html" start="content.checkInIni" end="content.checkInEnd" mode="start" identifier="arrival">
						</cocha-date-picker>
					</div>
					<div ng-if="view.smallView && view.openCalendarXs.arrival" class="custom-modal" ng-click="stopPropagation($event)">
						<div class="calendar-header">
							<i class="cch-arrow-left" ng-click="closeModalCalendar()"></i>
							<span>
				Selecciona fecha Entrada
			</span>
						</div>
						<cocha-date-picker min-range="'1'" template-url="views/directives/cocha-calendar-xs.html" start="content.checkInIni" end="content.checkInEnd" mode="start" identifier="arrival-xs" on-pick-date="closeModalCalendar">
						</cocha-date-picker>
					</div>
				</div>

				<div class='col-xs-4 field-container' ng-click="openCalendar('departure', $event)">
					<input type='text' readonly class="field-input" ng-model="content.checkInEnd" ng-keydown="openCalendar()" placeholder="Elige rango fecha final">
					<div ng-if="view.errors.checkInEndInvalid === true" class="content-input-underline-error"></div>
					<img ng-src="img/error-cocha.png" class="warning-off" ng-class="{'warning-on': view.errors.checkInEndInvalid }">
					<div ng-if="!view.smallView" class="double-calendar-left" uib-collapse="view.collapseCalendar.departure" ng-click="stopPropagation($event)">
						<cocha-date-picker min-range="'1'" template-url="views/directives/cocha-calendar-double.html" start="content.checkInIni" end="content.checkInEnd" mode="end" identifier="departure">
						</cocha-date-picker>
					</div>
					<div ng-if="view.smallView && view.openCalendarXs.departure" class="custom-modal" ng-click="stopPropagation($event)">
						<div class="calendar-header">
							<i class="cch-arrow-left" ng-click="closeModalCalendar()"></i>
							<span>
								Selecciona fecha Salida
							</span>
						</div>
						<cocha-date-picker min-range="'1'" template-url="views/directives/cocha-calendar-xs.html" start="content.checkInIni" end="content.checkInEnd" mode="end" identifier="departure-xs" on-pick-date="closeModalCalendar">
						</cocha-date-picker>
					</div>
				</div>


			</div>
		</div>


		<div class='my-bkg-search-box-search-button row text-right'>
			<button class='btn btn-search-bkg btn-red' ng-click="searchReservation()">Realizar búsqueda</button>
		</div>
	</div>

	-->


	<div class='my-bkg-help-info text-center'>
		<div ng-if="content.isB2B">
			Soporte: <span>Mail</span> <a href="mailto:hotelesonline@cocha.com">hotelesonline@cocha.com</a> | <span>Anexos</span> Paulina Vega: 1282 Pilar Ramirez: 1015
		</div>
		<div ng-if="!content.isB2B">
			Atención al pasajero: (56) 2 2464 1300 | Emergencias 24 hrs.: (56) 2 2464 1200 | E-mail: <a href="mailto:emergencias@cocha.com">emergencias@cocha.com</a>
		</div>
	</div>

</div>