<div>


	<div ng-if="!content.isB2B">

		<div class='my-bkg-search-no-results'>
			<div class='my-bkg-search-box-title row'>
				<div class='col-xs-6 '>
					Mi Reserva
				</div>
			</div>

			<div class="row my-bkg-no-results-title">
				Sin Resultados
			</div>

			<div class="row  my-bkg-no-results-msg">
				<span ng-if="content.isB2B">No tenemos registrada esta reserva. Revisa que los datos ingresados estén correctos.</span>
				<span ng-if="!content.isB2B">No tenemos registrada esta reserva. Revisa que los datos estén correctos o reduce la cantidad de criterios ingresados.</span>
			</div>

			<div class="row">
				<div class='col-xs-6'>
					<button class='btn my-bkg-go-to-search-button btn-red' ng-click="functions.goBack()"><i class='cch-mob-input-search'></i> Buscar otra reserva</button>
				</div>
				<div class='col-xs-6'>
					<button class='btn my-bkg-back-button btn-red' ng-click="functions.goToHome()"><i class='cch-arrow-left'></i> Volver al home</button>
				</div>
			</div>

		</div>


	</div>

</div>

<div ng-if="content.isB2B">

	<div class='my-bkg-search-results'>

		<div class="col-xs-2">

			<my-booking-search-box search-fn="functions.search(data)" template-url="views/directives/my-booking/searchbox-thin.html" preset="true">
			</my-booking-search-box>

		</div>
		<div class="my-bkg-results-list col-xs-10">

			<div class="my-bkg-title-results row">
				<div class='col-md-3'>
					Reservas registradas:
				</div>
				<div class='col-md-2'>
					<div ng-if="view.loadingResults===true" class="my-bkg-loader-search-results">
						<img src="img/loader.gif">
					</div>
				</div>
				<div class='col-md-7 text-right'>
					<button class='btn btn-red' ng-click="functions.goBack()">Volver</button>
				</div>
			</div>

			<div class="text-center my-bkg-pagination-container" ng-if="content.results.length > 0">
				<div>
					<span ng-if="content.results.length > 20 && view.pageIndex !== 0">
						<button class="btn" ng-click="page('previous')">Anterior</button>
					</span>
					<span ng-if="(content.results.length > 20 && ((view.pageIndex + 20) < content.results.length)   )">
						<button class="btn" ng-click="page('next')">Siguiente</button>
					</span>
				</div>
				<div class='my-bkg-pagination-data'>
					{{ ((view.pageIndex === 0) ? 1 : view.pageIndex ) }} al {{ ((view.pageIndex + view.pageLimit) > content.results.length ? content.results.length : (view.pageIndex + view.pageLimit)) }} de {{ content.results.length }}
				</div>
			</div>

			<div class="row my-bkg-header-results" ng-if="content.results.length > 0">
				<div class="my-bkg-business-column my-bkg-column"> # Negocio </div>
				<div class="my-bkg-email-column my-bkg-column"> Email </div>
				<div class="my-bkg-name-column my-bkg-column"> Nombre </div>
				<div class="my-bkg-spnr-column my-bkg-column"> Código Interno </div>
				<div class="my-bkg-reservation-column my-bkg-column"> # Reserva </div>
				<div class="my-bkg-book-column my-bkg-column "> Book </div>
				<div class="my-bkg-check-in-column my-bkg-column "> Check-in </div>
				<div class="my-bkg-hotel-column my-bkg-column "> Hotel </div>
				<div class="my-bkg-status-column my-bkg-column "> Estado </div>
				<div class="my-bkg-supplier-column my-bkg-column "> Supplier </div>
				<div class="my-bkg-button-column my-bkg-column "> </div>
			</div>
			<div ng-repeat="result in content.results" class='row my-bkg-row-results' ng-if="( $index >=  (view.pageIndex)  ) && ($index < (view.pageIndex + view.pageLimit)) " ng-class="{'my-bkg-row-color-1':$index%2===0,'my-bkg-row-color-2':$index%2===1}" ng-if="content.results.length > 0">
				<div class="my-bkg-business-column my-bkg-column" ng-bind-html=" ((result.businessNumber || '&nbsp;'  ) |cRawHtmlFilter) "> </div>
				<div class="my-bkg-email-column my-bkg-column" ng-bind-html=" ((result.email || '&nbsp;'  ) |cRawHtmlFilter) "></div>
				<div class="my-bkg-name-column my-bkg-column" ng-bind-html=" ((result.name || '&nbsp;'  ) |cRawHtmlFilter) "></div>
				<div class="my-bkg-spnr-column my-bkg-column" ng-bind-html=" ((result.spnr || '&nbsp;'  ) |cRawHtmlFilter) "></div>
				<div class="my-bkg-reservation-column my-bkg-column" ng-bind-html=" ((result.itinerary || '&nbsp;'  ) |cRawHtmlFilter) "></div>
				<div class="my-bkg-book-column my-bkg-column " ng-bind-html=" ((result.bookDate || '&nbsp;'  ) |cRawHtmlFilter) "></div>
				<div class="my-bkg-check-in-column my-bkg-column " ng-bind-html=" ((result.checkIn || '&nbsp;'  ) |cRawHtmlFilter) "></div>
				<div class="my-bkg-hotel-column my-bkg-column " ng-bind-html=" ((result.hotelName || '&nbsp;'  ) |cRawHtmlFilter) "></div>
				<div class="my-bkg-status-column my-bkg-column "> {{ functions.getStatusName(result.bookStatus) }}</div>
				<div class="my-bkg-supplier-column my-bkg-column "> <img ng-src="img/{{ (result.supplier ? result.supplier : 'BKG' ) + '.png' }}" class='my-bkg-results-logo-supplier'> </div>
				<div class="my-bkg-button-column my-bkg-column "> <button class='btn my-bkg-button-details btn-transparent' ng-click="functions.goToDetail(result)">Ir</button> </div>
			</div>


			<div class="text-center my-bkg-pagination-container" ng-if="content.results.length > 0">
				<div>
					<span ng-if="content.results.length > 20 && view.pageIndex !== 0">
						<button class="btn" ng-click="page('previous')">Anterior</button>
					</span>
					<span ng-if="(content.results.length > 20 && ((view.pageIndex + 20) < content.results.length)   )">
						<button class="btn" ng-click="page('next')">Siguiente</button>
					</span>
				</div>
				<div>
					{{ ((view.pageIndex === 0) ? 1 : view.pageIndex ) }} al {{ ((view.pageIndex + view.pageLimit) > content.results.length ? content.results.length : (view.pageIndex + view.pageLimit)) }} de {{ content.results.length }}
				</div>
			</div>

		</div>

		<div class="my-bkg-msg-search-no-results text-center" ng-if="!content.results.length || content.results.length === 0">
			<div>
				Búsqueda sin resultados.
			</div>
			<span>
					Modifica tus criterios de búsqueda para ampliar los resultados.
				</span>
		</div>

	</div>

</div>


<div class='my-bkg-help-info text-center row'>
	<div ng-if="content.isB2B">
		Soporte: <span>Mail</span> <a href="mailto:hotelesonline@cocha.com">hotelesonline@cocha.com</a> | <span>Anexos</span> Paulina Vega: 1282 Pilar Ramirez: 1015
	</div>
	<div ng-if="!content.isB2B">
		Atención al pasajero: (56) 2 2464 1300 | Emergencias 24 hrs.: (56) 2 2464 1200 | E-mail: <a href="mailto:emergencias@cocha.com">emergencias@cocha.com</a>
	</div>
</div>


</div>