<div ng-class="!view.isBooking ? 'header' : 'header fix-header'" ng-cloak>
	<div class="container">
		<div class="row">
			<div class="col-lg-9 col-md-8 col-sm-8 col-xs-8 no-padding header-left">
				<img src="img/shared/logo-medium-cocha.png" class="header-logo" alt="logo cocha">
			</div>
			<div class="col-lg-3 col-md-4 col-sm-4 col-xs-4 no-padding header-right">
				<div class="header-help">
					<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 no-padding phone-img">
					</div>
					<div class="col-lg-7 col-md-6 col-sm-6 col-xs-6 phone">
						(56 2) 2464 1300
					</div>
					<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 separator">
					</div>
					<div class="col-lg-3 col-md-4 col-sm-4 col-xs-4 no-padding">
						<div class="mobile">
							<span>&nbsp;*1300</span>
						</div>
						<div class="mobile-img">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>