<div class="loader-background loader-height" ng-if="view.isBooking" ng-cloak>
	<div class="container center-loader">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="preloader">
					<div class="preloader-animation">
						<div class="preloader-satellite"></div>
						<div class="preloader-earth"></div>
					</div>

					<div class="preloader-caption">
						<p class="cleared-row phrase">Un momento,</p>
						<p class="cleared-row phrase">estamos redirigiendo al pago.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>