<cocha-footer></cocha-footer>
<!--div class="footer-background hidden-xs" id="cocha-footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
					<div class="footer-title">
						Acerca de nosotros
					</div>
					<ul class="about">
						<li class="hand">
							<a target="_blank" href="http://cms.cocha.com/html/nuestra-empresa/nuestra-empresa.html">Nuestra empresa</a>
						</li>
						<li class="hand">
							<a target="_blank" href="http://cms.cocha.com/terminos-y-condiciones">Términos y condiciones</a>
						</li>
						<li class="hand">
							<a target="_blank" href="http://hpcocha.laborum.cl/listadoofertas.bum">Trabaja con nosotros</a>
						</li>
						<li class="hand">
							<a target="_blank" href="http://cms.cocha.com/politicas-de-privacidad">Políticas de privacidad</a>
						</li>
						<li class="hand">
							<a target="_blank" href="https://cms-int.cocha.com/cmsIntranet/loginAgentSession.php?seccion=login">COCHA World</a>
						</li>
					</ul>
					<div class="social">
						<ul>
							<li class="hand">
								<a target="_blank" href="https://www.facebook.com/Cochaviajes?cid=Home-FB"><i class="cch-facebook"></i></a>
							</li>
							<li class="hand">
								<a target="_blank" href="https://twitter.com/cochaviajes?cid=twitter"><i class="cch-twitter"></i></a>
							</li>
							<li class="hand">
								<a target="_blank" href="https://www.youtube.com/channel/UC4H7ewqROY9nkSaJi2psPPg"><i class="cch-youtube"></i></a>
							</li>
							<li class="hand">
								<a target="_blank" href="https://www.instagram.com/cochaviajes/"><i class="cch-instagram"></i></a>
							</li>
						</ul>
					</div>
					<div class="subscribe">
						<div>
							<input class="subscribe-input" type="text" placeholder="Nuestras novedades por email" ng-model="content.subscribe.subscribeEmail" ng-class="{'error': view.errors.emailNotSet || view.errors.emailInvalid}">
							<div class="subscribe-btn-container">
								<button class="subscribe-btn" ng-click="subscribe()" ng-show="view.subscribingState === ''">
									ok
								</button>
								<button class="subscribe-btn-error" ng-click="subscribe()" ng-show="view.subscribingState === 'error'">
									<i class="cch-close-bold"></i>
								</button>
								<button class="subscribe-btn-success" ng-show="view.subscribingState === 'success'">
									<i class="cch-check"></i>
								</button>
								<button class="subscribe-btn-loading" ng-show="view.subscribingState === 'loading'">
									<div class="loader">

									</div>
								</button>
							</div>
						</div>
						<div>
							<input id="footer" type="checkbox" class="subscribe-checkbox" ng-model="content.subscribe.terms">
							<label for="footer">
								<span ng-class="{'error': view.errors.subscribe}">
									Acepto las 
									<a class="hand" target="_blank" href="http://cms.cocha.com/politicas-de-privacidad">Políticas de privacidad</a>
								</span>
							</label>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
					<div class="footer-title">
						sucursales cercanas
					</div>
					<div class='branch-map-container'>
						<div ng-click="activateMap()" ng-if="view.mapLoader !== false " class="branch-map-static-img fade-element-in">
							<img alt="www.cocha.com" src="img/mapa-static.png">
							<div class="branch-map-loader" ng-show="view.mapLoader === true">
								<img src="img/loader.gif">
							</div>
						</div>
						<div ng-if="view.activeMap === true">
							<ng-map id="map" class="branch-map fade-element-in" center="{{mapLocation.center}}" zoom="{{mapLocation.zoom}}" default-style="false">
								<marker ng-if="mapLocation.currentLocation" position="current" centered="mapLocation.centered" icon="{{iconMap}}"></marker>
								<marker ng-repeat="location in offices" position="{{location.latitud + ',' + location.length}}"></marker>
							</ng-map>
						</div>
					</div>

					<ul class="map-buttons">
						<li>
							<button class="branch-btn" ng-click="geoLocation()">
								sucursales cercanas
							</button>
						</li>
						<li>
							<button class="branch-btn" ng-click="open('branch')">
								todas las sucursales
							</button>
						</li>
					</ul>
				</div>
				<div class="col-lg-2 col-lg-offset-1 col-md-2 col-md-offset-1 col-sm-3 col-sm-offset-0 col-xs-2 col-xs-offset-1">
					<div class="footer-title col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-10 col-sm-offset-2 col-xs-12 col-xs-offset-0 no-padding">
						Servicio al cliente
					</div>
					<div class="footer-subtitle col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-10 col-sm-offset-2 col-xs-12 col-xs-offset-0 no-padding">
						Contáctanos
					</div>
					<ul class="client-service col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-10 col-sm-offset-2 col-xs-12 col-xs-offset-0 no-padding">
						<li class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="icon">
								<i class="cch-phone"></i>
							</div>
							<div class="text">
								<span>
									+56 2 2 464 1300
								</span>
							</div>
						</li>
						<li class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="icon">
								<i class="cch-cellphone-mz"></i>
							</div>
							<div class="text">
								<span>&nbsp;*1300</span>
							</div>
						</li>
						<li class="hand col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-click="clickToCall($event)">
							<div style="float: none;">
								Te llamamos
							</div>
						</li>
					</ul>
					<div class="footer-subtitle col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-10 col-sm-offset-2 col-xs-12 col-xs-offset-0 no-padding">
						Emergencias 24hrs
					</div>
					<ul class="client-service col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-10 col-sm-offset-2 col-xs-12 col-xs-offset-0 no-padding">
						<li class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="icon">
								<i class="cch-exclamation"></i>
							</div>
							<div class="text">
								<span>
									+56 2 2 464 1200
								</span>
							</div>
						</li>
					</ul>
					<div class="footer-subtitle col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-10 col-sm-offset-2 col-xs-12 col-xs-offset-0 no-padding">
						Otras consultas
					</div>
					<ul class="client-service col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-10 col-sm-offset-2 col-xs-12 col-xs-offset-0 no-padding">
						<li class="hand col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<a href="http://cms.cocha.com/preguntas-frecuentes" target="_blank">Preguntas frecuentes</a>
						</li>
						<li class="hand col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<a href="" ng-click="feedBack()">Comentarios y sugerencias</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="footer-xs-background visible-xs">
	<div class="xs-footer-container">
		<div class="footer-logo">
			<img src="img/logo-cocha.png">
		</div>
	</div>
	<div class="xs-footer-container lg">
		<div class="footer-content">
			<div class="subscribe-btn-container">
				<div class="subscribe-btn mobile-tap-footer" mobile-tap="remain">
					Nuestras novedades por email
				</div>
			</div>
			<div class="social">
				<ul>
					<li>
						<div class="icon-container hand mobile-tap-RRSS" mobile-tap="quick">
							<a target="_blank" href="https://www.facebook.com/Cochaviajes?cid=Home-FB"><i class="cch-facebook"></i></a>
						</div>
					</li>
					<li>
						<div class="icon-container hand mobile-tap-RRSS" mobile-tap="quick">
							<a target="_blank" href="https://twitter.com/cochaviajes?cid=twitter"><i class="cch-twitter"></i></a>
						</div>
					</li>
					<li>
						<div class="icon-container hand mobile-tap-RRSS" mobile-tap="quick">
							<a target="_blank" href="https://www.youtube.com/channel/UC4H7ewqROY9nkSaJi2psPPg"><i class="cch-youtube"></i></a>
						</div>
					</li>
					<li>
						<div class="icon-container hand mobile-tap-RRSS" mobile-tap="quick">
							<a target="_blank" href="https://www.instagram.com/cochaviajes/"><i class="cch-instagram"></i></a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="xs-footer-container mobile-tap-footer" mobile-tap="remain">
		<div class="footer-content">
			Términos y condiciones
		</div>
	</div>
	<div class="xs-footer-container mobile-tap-footer" mobile-tap="remain">
		<div class="footer-content">
			<a target="_blank" href="http://cms.cocha.com/politicas-de-privacidad">Políticas de privacidad</a>
		</div>
	</div>
	<div class="xs-footer-container mobile-tap-footer" mobile-tap="remain">
		<div class="footer-content">
			<i class="cch-computers-room"></i>
			<span>
				Ir a desktop
			</span>
		</div>
	</div>
</div>
<div class="footer-rights">
	<span>Copyright (c) 2016 COCHA. All Rights Reserved</span>
	<br>
	<span>El Bosque Norte 0430, Las Condes, Santiago - Chile</span>
</div-->
<!--
<div class="row" style="background-color:#F1F1F1; padding-left: 15px;padding-right: 15px;" id="new-footer">
	<div class="container">
		<div class="col-md-12 col-sm-12 col-xs-12" style="padding: 4px;border-radius: 4px;margin-top: 20px;padding-bottom: 15px; text-align:left;">

			<div class="col-md-3 col-sm-6">
				<div class="custom">
					<h1 class="h1footer">Acerca de nosotros</h1>
					<div>
						<img src="img/shared/icon-small-cocha.png" width="24" height="23" alt="Icono Cocha" />
					</div>
				</div>
				<br>

				<ul class="menu">
					<li class="item-173">
						<a href="http://cms.cocha.com/html/nuestra-empresa/nuestra-empresa.html">Nuestra Empresa</a>
					</li>
					<li class="item-176">
						<a href="http://cms.cocha.com/sucursales.html">Sucursales</a>
					</li>
					<li class="item-174">
						<a href="http://internet.cocha.com/_DisenoWeb/minisitios/sitio/por-que-comprar-en-cocha.html?cid=por-que-comprar-en-cocha">Por qué viajar con Cocha</a>
					</li>
					<li class="item-170">
						<a href="http://cms.cocha.com/terminos-y-condiciones">Términos y Condiciones Generales</a>
					</li>
					<li class="item-175">
						<a href="http://internet.cocha.com/_DisenoWeb/minisitios/sitio/trabaja-con-nosotros.html?cid=trabaja_en_cocha">Trabaja con nosotros</a>
					</li>
				</ul>

			</div>
			<div class="col-md-3 col-sm-6">
				<div class="custom">
					<h1 class="h1footer">Servicio al cliente</h1>
					<div>
						<img src="img/shared/icon-medium-customerServiceGray.png" width="24" height="23" alt="Servicio al cliente" />
					</div>
				</div>
				<br>

				<ul class="menu">
					<li class="item-169">
						<a href="http://internet.cocha.com/produccion/webrequests.nsf/IBEfrm_contactos?OpenForm">Contáctanos</a>
					</li>
					<li class="item-171">
						<a href="http://internet.cocha.com/_DisenoWeb/minisitios/sitio/servicio-al-pasajero.html?cid=atencion-al-pasajero">Atención al pasajero</a>
					</li>
					<li class="item-168">
						<a href="http://internet.cocha.com/_DisenoWeb/minisitios/sitio/faq.html?cid=preguntas-frecuentes">Preguntas frecuentes</a>
					</li>
					<li class="item-220">
						<a href="http://www.cocha.com/ibe/bookingManagement/retrieveBookingForm.do">Consultar reserva</a>
					</li>
					<li class="item-172">
						<a href="http://internet.cocha.com/_DisenoWeb/check-in/check-in.html?cid=check-in-on-line">Check-in en línea </a>
					</li>
					<li class="item-486">
						<a href="http://internet.cocha.com/manual-del-viajero.pdf" target="_blank">Manual del viajero</a>
					</li>
				</ul>
			</div>

			<div class="col-md-3 col-sm-6">
				<div class="custom">
					<h1 class="h1footer">Medios de pago</h1>
					<div>
						<img src="img/shared/icon-small-card.png" width="24" height="23" alt="Icono tarjeta" />
					</div>
					<br>
					<ul class="card-images">
						<li class="check-footer">Tarjetas de crédito</li>
						<li>
							<img src="http://cms.cocha.com/images/ico_footer/webpay.png" alt="web-pay" title="WEB PAY" height="25" class="card" />
							<img src="http://cms.cocha.com/images/ico_footer/visa-card.png" alt="visa-card" title="VISA" width="35" height="25" class="card" />
							<img src="http://cms.cocha.com/images/ico_footer/master-card.png" alt="master-card" title="Mastercard" width="35" height="25" class="card" />
							<img src="http://cms.cocha.com/images/ico_footer/dinner-club-card.png" alt="dinner-club-card" title="Diners Club International" width="35" height="25" class="card" />
						</li>
						<li class="check-footer">Transferencias bancarias</li>
						<li>
							<img src="http://cms.cocha.com/images/ico_footer/banco-santander-card-1.png" alt="banco-santander-card-1" title="Banco Santander" width="35" height="25" class="card" />
							<img src="http://cms.cocha.com/images/ico_footer/banco-de-chile-card-1.png" alt="banco-de-chile-card-1" title="Banco de Chile" width="35" height="25" class="card" />
						</li>
						<li class="check-footer">Tarjeta Ripley</li>
						<li>
							<img src="http://cms.cocha.com/images/ico_footer/ripley-card.png" alt="ripley-card" title="Tarjeta Ripley" width="35" height="25" class="card" />
						</li>
					</ul>
				</div>
			</div>

			<div class="col-md-3 col-sm-6">
				<div class="custom">
					<div id="foo-red">
						<span style="float: left;margin-top: 9px;color:#666666;font-size: 12px;">Síguenos en ... </span>
						<span id="ico-red-foo">
							<a href="https://www.facebook.com/Cochaviajes?cid=Home-FB" target="_blank" class="fb-btn analytics-data" data-category="Footer" data-action="Social" data-label="Facebook">
							</a>
							<a href="https://twitter.com/cochaviajes?cid=twitter" target="_blank" class="tw-btn analytics-data" data-category="Footer" data-action="Social" data-label="Twitter">
							</a>
							<a href="https://www.youtube.com/channel/UC4H7ewqROY9nkSaJi2psPPg" target="_blank" class="yb-btn analytics-data" data-category="Footer" data-action="Social" data-label="Youtube">
							</a>
							<a href="https://instagram.com/cochaviajes/" target="_blank" class="ins-btn analytics-data" data-category="Footer" data-action="Social" data-label="Instagram">
							</a>
						</span>
					</div>
				</div>

				<div class="custom">
					<ul class="log-cal">
						<li>
							<img class="triplogo log-tripadv analytics-data" src="img/shared/logo-medium-tripadvisor.png" alt="Logo TripAdvisor" title="Tripadvisor" data-category="Footer" data-action="Alianzas" data-label="Chile es tuyo" style="border: 1px solid #ccc;" />
						</li>
						<li style="width:100%;">
							<a href="http://internet.cocha.com/especiales/sello-de-calidad-turistica.html" target="_blank" style="float: left;margin-left: 20px;" class="log-sello analytics-data" data-category="Footer" data-action="Alianzas" data-label="Calidad turistica">
								<img src="img/shared/logo-medium-touristQuality.png" width="110" alt="Sello de calidad turistica" />
							</a>
							<a href="http://www.chileestuyo.cl/" class="log-chile analytics-data" target="_blank" data-category="Footer" data-action="Alianzas" data-label="Chile es tuyo">
								<img src="img/shared/logo-medium-chileEsTuyo.png" alt="Logo Chileestuyo" />
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="row" style="background-color:#F1F1F1;border-top: 1px solid #cccccc;padding: 20px;">
		<div class="container">
			<div class="col-md-4 col-sm-3">
				<div class="custom">
					<p>
						<img src="img/shared/logo-medium-rapidssl.gif" width="90" height="50" alt="RapidSSL SEAL" />
					</p>
					<p class="secure-ssl">✓ Compra segura</p>
				</div>

			</div>
			<div class="col-md-4 col-sm-5">
				<div class="custom">
					<p class="copyright">Copyright © 2015 Cocha. All Rights Reserved
						<br /> El Bosque Norte 0430, Las Condes, Santiago - Chile</p>
				</div>

			</div>
			<div class="col-md-4 col-sm-4" id="number-em">
				<div class="custom">
					<div class="fono-footer">
						<img src="img/shared/icon-medium-phone.png" width="20" height="20" alt="phone-icon"> <span> Atención al pasajero<br>2 2464 1300</span>
					</div>
					<div class="emer-footer">Emergencias 24 hrs.
						<br> (56) 2 2464 1200
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

-->