<cocha-header></cocha-header>
<!--nav class="navbar cocha-navbar hidden-xs">
	<div class="container">
		<div class="col-lg-12 col-ms-12 col-sm-12 col-xs-12 no-padding">
			<div class="navbar-header cocha-navbar-header">
				<a class="navbar-brand cocha-brand" href="#" ng-click="selectSection('logo-id', 'normal')" id="logo-id">
					<img alt="www.cocha.com" src="img/logo-cocha.png" class="header-logo">
				</a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li ng-click="selectSection('vuelos-id', 'normal'); goToFlights()" id="vuelos-id">
						<span>
							Vuelos
						</span>
					</li>
					<li ng-click="selectSection('hoteles-id', 'normal'); goToHotels()" id="hoteles-id">
						<span>
							Hoteles
						</span>
					</li>
					<li ng-click="selectSection('paquetes-id', 'normal'); goToPackage()" id="paquetes-id">
						<span>
							Paquetes
						</span>
					</li>
					<li ng-click="selectSection('otros-id', 'normal')" id="otros-id">
						<span class="drop">
							Otros productos
						</span>
						<div class="navbar-option-container">
							<div class="left-options">
								<ul>
									<li class="navbar-option">
										Cruceros
									</li>
									<li class="li-border">
									</li>
									<li class="navbar-option">
										Autos
									</li>
								</ul>
							</div>
							<div class="right-options">
								<ul>
									<li class="navbar-option">
										cocha jóven
									</li>
									<li class="li-border">
									</li>
									<li class="navbar-option">
										Asistencia en viaje
									</li>
								</ul>
								<ul class="ul-border">
								</ul>
							</div>
						</div>
					</li>
					<li ng-click="selectSection('campanias-id', 'normal')" id="campanias-id">
						<span class="drop">
							Campañas Cocha
						</span>
						<div class="navbar-option-container">
							<div class="left-options">
								<ul>
									<li class="navbar-option">
										Cruceros
									</li>
									<li class="li-border">
									</li>
									<li class="navbar-option">
										Autos
									</li>
								</ul>
							</div>
							<div class="right-options">
								<ul>
									<li class="navbar-option">
										cocha joven
									</li>
									<li class="li-border">
									</li>
									<li class="navbar-option">
										Asistencia en viaje
									</li>
								</ul>
								<ul class="ul-border">
								</ul>
							</div>
						</div>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<div class="header-phone-container">
						<div class="cch-phone-container hand" ng-click="phonePopup($event)">
							<i class="cch-phone"></i>
						</div>
						<div class="popup-arrow" ng-class="{'show': view.phonePopup}">
						</div>
					</div>
					<div class="header-popup" ng-class="{'show': view.phonePopup}">
						<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 text-left">
							<span class="bold-font">
								Contáctanos
							</span>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right">
							<span class="bold-font">
								Emergencia 24hrs
							</span>
						</div>
						<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 text-left">
							<div class="header-help">
								<div class="icon-img">
									<i class="icon cch-phone"></i>
								</div>
								<div class="phone">
									+56 2 2 464 1300
								</div>
								<div class="icon-img">
									<i class="i con cch-cellphone"></i>
								</div>
								<div class="mobile">
									<span>&nbsp;*1300</span>
								</div>
								<button class="call" ng-click="clickToCall($event)">
									Te Llamamos
								</button>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right">
							<div class="header-help">
								<div class="emergency">
									+56 2 2 464 1200
								</div>
								<div class="icon-img">
									<i class="icon cch-exclamation"></i>
								</div>
							</div>
						</div>
					</div>
					<li>
						<span class="light">
							Viajes de
						</span>
						<br>
						<span class="bold">
							experiencia
						</span>
					</li>
					<li>
						<span class="light">
							cocha
						</span>
						<br>
						<span class="bold">
							corporate
						</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</nav>
<div class="xs-nav visible-xs">
	<div class="white-nav">
		<div class="logo">
			<img src="img/logotipo_cocha_header_retina.png">
		</div>
		<div class="xs-nav-right">
			<div class="col-20">
				<div class="more-sites" ng-click="openMoreSites($event)" ng-class="{'active' : view.moreSites}">
					<span class="plus">+</span>
					<br>
					<br>
					<span class="sites">Sitios</span>
				</div>
			</div>
			<div class="icon">
				<i class="cch-phone"></i>
			</div>
			<div class="icon">
				<i class="cch-position"></i>
			</div>
		</div>
	</div>
	<div class="sections">
		<div class="sections-options-container">
			<div class="sections-options" ng-class="view.secondaryOptions ? 'secondary-options' : ''">
				<div class="option-xs hand" ng-click="selectSection('logo-id-xs', 'small')" id="logo-id-xs" ng-class="{'active' : view.elementId === 'logo-id-xs'}">
					<i class="cch-home"></i>
				</div>
				<div class="option-xs hand" ng-click="selectSection('vuelos-id-xs', 'small')" id="vuelos-id-xs" ng-class="{'active' : view.elementId === 'vuelos-id-xs'}">
					<i class="cch-going"></i>
				</div>
				<div class="option-xs hand" ng-click="selectSection('hoteles-id-xs', 'small')" id="hoteles-id-xs" ng-class="{'active' : view.elementId === 'hoteles-id-xs'}">
					<i class="cch-amenities-hotel"></i>
				</div>
				<div class="option-xs hand" ng-click="selectSection('paquetes-id-xs', 'small')" id="paquetes-id-xs" ng-class="{'active' : view.elementId === 'paquetes-id-xs'}">
					<i class="cch-amenities-package"></i>
				</div>
				<div class="option-xs hand" ng-click="selectSection('car-id-xs', 'small', true)" id="car-id-xs" ng-class="{'active' : view.elementId === 'car-id-xs'}">
					<i class="cch-car"></i>
				</div>
				<div class="option-xs hand" ng-click="selectSection('asistencia-id-xs', 'small', true)" id="asistencia-id-xs" ng-class="{'active' : view.elementId === 'asistencia-id-xs'}">
					<i class="cch-assistance-24hrs"></i>
				</div>
				<div class="option-xs double-option-xs hand" ng-click="selectSection('campaigns-id-xs', 'small', true)" id="campaigns-id-xs" ng-class="{'active' : view.elementId === 'campaigns-id-xs'}">
					<div class="span-container">
						<span>CAMPAÑAS COCHA
						</span>
					</div>
				</div>
			</div>
			<div class="cocha-navbar-arrow" ng-show="view.showArrow">
				<div class="arrow-container-container" id="arrow-container-id">
					<div class="arrow-container" id="arrow-id-xs">
						<div class="arrow arrow-xs">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="sections-btn">
			<div class="option-xs btn-option hand no-border" ng-click="changeOptions()" ng-class="view.secondaryOptions ? 'rotate' : ''">
				<i class="cch-next"></i>
			</div>
		</div>
	</div>
</div>
<div class="sites-modal visible-xs" ng-class="view.moreSites ? 'sites-modal-in' : 'sites-modal-out'">
	<div class="more-sites-container" ng-class="view.moreSites ? 'more-sites-container-in' : 'more-sites-container-out'">
		<div class="site-option">
			cocha corporate
		</div>
		<div class="site-option">
			cocha joven
		</div>
	</div>
</div>

<div class="cocha-navbar-arrow hidden-xs">
	<div class="arrow-container-container">
		<div class="arrow-container" id="arrow-id" on-load="addListeners">
			<div class="arrow">
			</div>
		</div>
	</div>
</div>
<!--
<div class="container-jo hidden-xs hidden-sm">
	<div class="menu-top-jo">
		<div class="row2">
			<div class="left-menu-jo">

				<a href="http://internet.cocha.com/_DisenoWeb/minisitios/sitio/viajes-corporativos.html" target="_top" class="analytics-data" data-category="Header" data-action="Preheader" data-label="Empresas">Empresas</a> | <a href="http://www.cochajoven.com/ibe/common/home.do" target="_top" class="urloj analytics-data" data-category="Header" data-action="Preheader" data-label="Cochajoven">Cocha Joven</a>


			</div>
			<div class="right-menu-jo ">
				<div class="custom">
					<div class="carro-link-jo">
						<a class="urloj analytics-data" data-category="Header" data-action="Preheader derecha" data-label="Servicio al cliente" href="http://internet.cocha.com/_DisenoWeb/minisitios/sitio/servicio-al-pasajero.html?cid=atencion-al-pasajero" target="_top">
							<img src="img/shared/icon-medium-help.png" width="20" height="20" alt="Servicio al cliente" /> Servicio al cliente
						</a>
					</div>
					<div class="carro-link-jo">
						<a class="urloj analytics-data" data-category="Header" data-action="Preheader derecha" data-label="Sucursales" href="http://cms.cocha.com/sucursales.html" target="_top">
							<img src="img/shared/icon-medium-locationGrey.png" width="20" height="20" alt="Sucursales" /> Sucursales
						</a>
					</div>
					<div class="count-link-jo">
						<ul class="nav-sec-jo">
							<li>
								<a class="count-link-jo-inner urloj analytics-data" data-category="Header" data-action="Preheader derecha" data-label="Mi cuenta" href="https://www.cocha.com/ibe/profile/login.do?SECURE=true" target="_top">
									<img src="img/shared/icon-medium-account.png" width="20" height="20" alt="" /> Mi Cuenta &#x25BE;
								</a>
								<div class="small-submenu">
									<div class="nav-column-small-jo">
										<ul>
											<li>
												<a class="urloj analytics-data" data-category="Header" data-action="Preheader derecha" data-label="Mi cuenta | entrar" href="https://www.cocha.com/ibe/profile/login.do?SECURE=true" target="_top">
													Entrar
												</a>
											</li>
											<li>
												<a class="urloj analytics-data" data-category="Header" data-action="Preheader derecha" data-label="Mi cuenta | crear cuenta" href="http://www.cocha.com/ibe/profile/createProfile.do" target="_top">
													Crear cuenta
												</a>
											</li>
											<li>
												<a class="urloj analytics-data" data-category="Header" data-action="Preheader derecha" data-label="Mi cuenta | cambiar contraseña" href="http://www.cocha.com/ibe/profile/changePassword.do" target="_top">
													Cambiar contraseña
												</a>
											</li>
											<li>
												<a class="urloj analytics-data" data-category="Header" data-action="Preheader derecha" data-label="Mi cuenta | recuperar contraseña" href="https://www.cocha.com/ibe/profile/recoverPassword.do?SECURE=true" target="_top">
													Recuperar contraseña
												</a>
											</li>
											<li>
												<a class="urloj analytics-data" data-category="Header" data-action="Preheader derecha" data-label="Mi cuenta | cerrar sesion" href="http://www.cocha.com/ibe/profile/signout.do" target="_top">
													Cerrar sesión
												</a>
											</li>
										</ul>
									</div>
								</div>
							</li>
						</ul>
					</div>

					<div class="carro-link-jo">
						<a class="urloj analytics-data" data-category="Header" data-action="Preheader derecha" data-label="Mi carro" href="http://www.cocha.com/ibe/checkout/shoppingCart.do" target="_top">
							<img src="img/shared/icon-medium-cart.png" width="20" height="20" alt="Mi carro" /> Mi Carro
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="middle-jo col-md-12">
		<div class="row2">
			<div class="logo-jo">
				<div class="custom">
					<div>
						<div class="custom">
							<div>
								<a href="http://www.cocha.com" target="_top" class="analytics-data" data-category="Header" data-action="Logo">
									<img src="img/shared/logo-medium-cocha.png" alt="logo-cocha">
								</a>
							</div>
						</div>

						<style>
							@-moz-document url-prefix() {
								.pre-2 {
									margin-top: -22px!important;
								}
							}
						</style>
						<style>
							li.item-3549 {
								visibility: hidden;
								display: none;
							}
						</style>

					</div>
				</div>
			</div>
			<div class="right-box-jo">
				<div class="number-jo">
					<div class="custom">
						<div class="first-number-jo">
							<img src="img/shared/icon-medium-phone.png" width="20" height="20" alt="phone-icon" style="margin-top: -4px;"> 2 2464 1300 |
						</div>
						<div class="second-number-jo">
							<div class="number-one-jo">
								<img src="img/shared/icon-small-mobile.png" width="20" height="20" alt="phone-icon" style="margin-top: -4px;"> *1300
							</div>
						</div>
						<div class="image-header-jo hidden-xs" style="z-index: 0;">
							<a href="http://internet.cocha.com/temporada/click_to_call.html" class="verano cboxElement analytics-data" target="_blank" data-category="Header" data-action="Interaccion" data-label="Ayuda en tu compra">
								<img alt="Ayuda en tu compra" title="Ayuda en tu compra" border="0" src="img/shared/icon-medium-help.png" width="20" height="20" style="margin-top: -4px;"> Ayuda en tu compra
							</a>
						</div>
						<div style="float: left;height: 35px;display: block;margin-top: -3px;" class="hidden-xs">
							<a href="https://www.facebook.com/Cochaviajes?cid=Home-FB" target="_blank" class="fb-btn analytics-data" data-category="Footer" data-action="Social" data-label="Facebook">
							</a>
							<a href="https://twitter.com/cochaviajes?cid=twitter" target="_blank" class="tw-btn analytics-data" data-category="Footer" data-action="Social" data-label="Twitter">
							</a>
							<a href="https://www.youtube.com/channel/UC4H7ewqROY9nkSaJi2psPPg" target="_blank" class="yb-btn analytics-data" data-category="Footer" data-action="Social" data-label="Youtube">
							</a>
							<a href="https://instagram.com/cochaviajes/" target="_blank" class="ins-btn analytics-data" data-category="Footer" data-action="Social" data-label="Instagram">
							</a>
						</div>
					</div>
				</div>
				<div class="image-header-jo"> </div>
			</div>
		</div>
	</div>
	<div class="principal-nav-jo col-md-12">
		<div class="row2">
			<ul class="menu nav-joom">
				<li class="item-157">
					<a class="ini-btn" href="http://www.cocha.com/ibe/common/clearHome.do">Inicio</a>
				</li>
				<li class="item-158 deeper parent">
					<a href="http://cms.cocha.com/vuelos.html">Vuelos ▾</a>
					<ul>
						<li class="item-222">
							<a class="vuelos_menu" href="http://cms.cocha.com/vuelos/ofertas">Ofertas</a>
						</li>
						<li class="item-305">
							<a href="http://cms.cocha.com/vuelos.html">Todos los vuelos</a>
						</li>
					</ul>
				</li>
				<li class="item-159 deeper parent">
					<a href="http://h.cocha.com/h-search/">Hoteles ▾</a>
					<ul>
						<li class="item-1694">
							<a href="http://cms.cocha.com/hoteles/ofertas">Ofertas</a>
						</li>
						<li class="item-584">
							<a href="http://hoteles.cocha.com/">Paga en el hotel</a>
						</li>
						<li class="item-223">
							<a href="http://h.cocha.com/h-search/">Todos los hoteles</a>
						</li>
					</ul>
				</li>
				<li class="item-160 deeper parent">
					<a href="http://cms.cocha.com/paquetes">Paquetes ▾</a>
					<ul>
						<li class="item-3979 deeper parent">
							<a href="http://cms.cocha.com/paquetes/ofertas/caribe/cuba.html">Ofertas</a>
							<ul>
								<li class="item-3553 deeper parent">
									<a href="/paquetes/ofertas/caribe.html">Caribe</a>
									<ul>
										<li class="item-3554 deeper parent">
											<a href="/paquetes/ofertas/caribe/cuba.html">Cuba</a>
											<ul>
												<li class="item-3558">
													<a href="/paquetes/ofertas/caribe/cuba/la-habana-y-varadero.html">La Habana y Varadero</a>
												</li>
												<li class="item-3559">
													<a href="/paquetes/ofertas/caribe/cuba/varadero.html">Varadero</a>
												</li>
												<li class="item-3837">
													<a href="/paquetes/ofertas/caribe/cuba/cayo-santa-maria.html">Cayo Santa María</a>
												</li>
												<li class="item-4103">
													<a href="/paquetes/ofertas/caribe/cuba/la-habana-y-cayo-santa-maria-via-lan.html">La Habana y Cayo Santa María Vía LAN</a>
												</li>
												<li class="item-3684">
													<a href="/paquetes/ofertas/caribe/cuba/circuitos.html">Circuitos</a>
												</li>
											</ul>
										</li>
										<li class="item-3555 deeper parent">
											<a href="/paquetes/ofertas/caribe/republica-dominicana.html">República Dominicana</a>
											<ul>
												<li class="item-3560">
													<a href="/paquetes/ofertas/caribe/republica-dominicana/punta-cana.html">Punta Cana</a>
												</li>
												<li class="item-4108">
													<a href="/paquetes/ofertas/caribe/republica-dominicana/punta-cana-via-lan.html">Punta Cana Vía LAN</a>
												</li>
												<li class="item-4109">
													<a href="/paquetes/ofertas/caribe/republica-dominicana/bayahibe-via-lan.html">Bayahibe Vía LAN </a>
												</li>
												<li class="item-3561">
													<a href="/paquetes/ofertas/caribe/republica-dominicana/bayahibe.html">Bayahibe</a>
												</li>
												<li class="item-3562">
													<a href="/paquetes/ofertas/caribe/republica-dominicana/samana.html">Samaná</a>
												</li>
												<li class="item-3685">
													<a href="/paquetes/ofertas/caribe/republica-dominicana/costa-norte.html">Costa Norte</a>
												</li>
											</ul>
										</li>
										<li class="item-4069 deeper parent">
											<a href="/paquetes/ofertas/caribe/mexico.html">México</a>
											<ul>
												<li class="item-4070">
													<a href="/paquetes/ofertas/caribe/mexico/cancun-via-copa.html">Cancún Vía Copa</a>
												</li>
												<li class="item-4104">
													<a href="/paquetes/ofertas/caribe/mexico/cancun-via-lan.html">Cancún Vía LAN</a>
												</li>
												<li class="item-4105">
													<a href="/paquetes/ofertas/caribe/mexico/playa-del-carmen-via-lan.html">Playa del Carmen Vía LAN </a>
												</li>
												<li class="item-4071">
													<a href="/paquetes/ofertas/caribe/mexico/playa-del-carmen-via-copa.html">Playa del Carmen Vía Copa</a>
												</li>
												<li class="item-4106">
													<a href="/paquetes/ofertas/caribe/mexico/riviera-maya-via-lan.html">Riviera Maya Vía LAN </a>
												</li>
												<li class="item-4107">
													<a href="/paquetes/ofertas/caribe/mexico/riviera-maya-via-copa.html">Riviera Maya Vía Copa</a>
												</li>
											</ul>
										</li>
										<li class="item-3556 deeper parent">
											<a href="/paquetes/ofertas/caribe/aruba.html">Aruba</a>
											<ul>
												<li class="item-3557">
													<a href="/paquetes/ofertas/caribe/aruba/aruba.html">Aruba</a>
												</li>
												<li class="item-4110">
													<a href="/paquetes/ofertas/caribe/aruba/aruba-via-lan.html">Aruba Vía LAN</a>
												</li>
											</ul>
										</li>
									</ul>
								</li>
								<li class="item-3708 deeper parent">
									<a href="/paquetes/ofertas/sudamerica.html">Sudamerica</a>
									<ul>
										<li class="item-3709 deeper parent">
											<a href="/paquetes/ofertas/sudamerica/brasil.html">Brasil</a>
											<ul>
												<li class="item-3710">
													<a href="/paquetes/ofertas/sudamerica/brasil/buzios.html">Buzios</a>
												</li>
												<li class="item-3711">
													<a href="/paquetes/ofertas/sudamerica/brasil/salvador-de-bahia.html">Salvador de bahía</a>
												</li>
												<li class="item-3823">
													<a href="/paquetes/ofertas/sudamerica/brasil/rio-de-janeiro-y-buzios.html">Río de Janeiro y Buzios</a>
												</li>
												<li class="item-3824">
													<a href="/paquetes/ofertas/sudamerica/brasil/porto-de-galinhas.html">Porto de Galinhas</a>
												</li>
												<li class="item-3825">
													<a href="/paquetes/ofertas/sudamerica/brasil/recife-y-porto-de-galinhas.html">Recife y Porto de Galinhas</a>
												</li>
												<li class="item-3826">
													<a href="/paquetes/ofertas/sudamerica/brasil/maceio-maragogi.html">Maceió-Maragogi</a>
												</li>
												<li class="item-3838">
													<a href="/paquetes/ofertas/sudamerica/brasil/natal-recife-fortaleza.html">Natal-Recife-Fortaleza</a>
												</li>
												<li class="item-4139">
													<a href="/paquetes/ofertas/sudamerica/brasil/foz-de-iguazu.html">Foz de Iguazu</a>
												</li>
											</ul>
										</li>
										<li class="item-3827 deeper parent">
											<a href="/paquetes/ofertas/sudamerica/colombia.html">Colombia</a>
											<ul>
												<li class="item-3828">
													<a href="/paquetes/ofertas/sudamerica/colombia/san-andres.html">San Andrés</a>
												</li>
												<li class="item-3829">
													<a href="/paquetes/ofertas/sudamerica/colombia/cartagena-de-indias.html">Cartagena de Indias</a>
												</li>
												<li class="item-3830">
													<a href="/paquetes/ofertas/sudamerica/colombia/cartagena-santa-marta.html">Cartagena &amp; Santa Marta</a>
												</li>
												<li class="item-3831">
													<a href="/paquetes/ofertas/sudamerica/colombia/cartagena-isla-mucura.html">Cartagena e Isla Múcura</a>
												</li>
												<li class="item-3935">
													<a href="/paquetes/ofertas/sudamerica/colombia/santa-marta.html">Santa Marta</a>
												</li>
											</ul>
										</li>
										<li class="item-4111 deeper parent">
											<a href="/paquetes/ofertas/sudamerica/argentina.html">Argentina</a>
											<ul>
												<li class="item-4112">
													<a href="/paquetes/ofertas/sudamerica/argentina/buenos-aires-via-lan.html">Buenos Aires Vía LAN</a>
												</li>
											</ul>
										</li>
										<li class="item-4113 deeper parent">
											<a href="/paquetes/ofertas/sudamerica/peru.html">Perú</a>
											<ul>
												<li class="item-4114">
													<a href="/paquetes/ofertas/sudamerica/peru/lima.html">Lima</a>
												</li>
												<li class="item-4140">
													<a href="/paquetes/ofertas/sudamerica/peru/cusco.html">Cusco</a>
												</li>
											</ul>
										</li>
									</ul>
								</li>
								<li class="item-3832 deeper parent">
									<a href="/paquetes/ofertas/centroamerica.html">Centroamérica</a>
									<ul>
										<li class="item-3833 deeper parent">
											<a href="/paquetes/ofertas/centroamerica/panama.html">Panamá</a>
											<ul>
												<li class="item-3834">
													<a href="/paquetes/ofertas/centroamerica/panama/panama.html">Panamá</a>
												</li>
												<li class="item-4102">
													<a href="/paquetes/ofertas/centroamerica/panama/ciudad-panama.html">Ciudad Panamá </a>
												</li>
											</ul>
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<li class="item-754">
							<a href="http://cms.cocha.com/anticipo-verano">Anticipo de Verano</a>
						</li>
						<li class="item-4025">
							<a href="http://cms.cocha.com/go-temporada-baja">GO Temporada Baja</a>
						</li>
						<li class="item-4068">
							<a href="http://cms.cocha.com/ofertas-go-norteamerica">GO Norteamérica</a>
						</li>
						<li class="item-4092">
							<a href="http://cms.cocha.com/go-temporada-baja/circuitos/europa/turquia.html">GO Europa</a>
						</li>
						<li class="item-4093">
							<a href="http://cms.cocha.com/go-temporada-baja/circuitos/destinos-lejanos.html">GO Destinos Lejanos</a>
						</li>
						<li class="item-1390">
							<a href="http://cms.cocha.com/chile">Chile</a>
						</li>
						<li class="item-488">
							<a href="http://cms.cocha.com/escapadas">Escapadas</a>
						</li>
						<li class="item-3549">
							<a class="esconderlink" href="/paquetes/detalle.html">Detalle</a>
						</li>
						<li class="item-307">
							<a href="http://cms.cocha.com/paquetes.html">Todos los paquetes</a>
						</li>
					</ul>
				</li>
				<li class="item-161 deeper parent">
					<a href="http://cms.cocha.com/cruceros.html">Cruceros ▾</a>
					<ul>
						<li class="item-1399">
							<a class="cruceros_menu" href="http://cms.cocha.com/crucero/ofertas.html">Ofertas</a>
						</li>
						<li class="item-1400">
							<a class="cruceros_menu" href="http://cms.cocha.com/crucero/europa.html">Europa</a>
						</li>
						<li class="item-1402">
							<a class="cruceros_menu" href="http://cms.cocha.com/crucero/fluviales.html">Fluviales</a>
						</li>
						<li class="item-1403">
							<a href="http://cms.cocha.com/cruceros.html">Todos los cruceros</a>
						</li>
					</ul>
				</li>
				<li class="item-1486 deeper">
					<a href="http://autos.cocha.com/">Autos</a>
				</li>
				<li class="item-162 deeper">
					<a href="http://cms.cocha.com/html/especiales/universal-assistance.html">Asistencia en viaje </a>
				</li>
				<li class="item-163 deeper parent">
					<a href="http://cms.cocha.com/paquetes/ofertas/caribe/cuba.html">Ofertas ▾</a>
					<ul>
						<li class="item-240">
							<a href="http://cms.cocha.com/vuelos/ofertas">Vuelos</a>
						</li>
						<li class="item-241">
							<a href="http://cms.cocha.com/hoteles/ofertas">Hoteles</a>
						</li>
						<li class="item-3940">
							<a href="http://cms.cocha.com/paquetes/ofertas/caribe/cuba.html">Paquetes</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="navbar navbar-inverse navbar-fixed-top hidden-lg hidden-md na-color" role="navigation" id="slide-nav">
	<div class="container" style="width: 100%; height: 30px;background: #F4F4F4;">
		<div class="navbar-header">
			<div id="pre-header">
				<div class="left-icon">
					<a href="http://internet.cocha.com/_DisenoWeb/minisitios/sitio/viajes-corporativos.html" target="_top" class="analytics-data" data-category="Header" data-action="Preheader" data-label="Empresas">Empresas</a> | <a href="http://www.cochajoven.com/ibe/common/home.do" target="_top" class="urloj analytics-data" data-category="Header" data-action="Preheader" data-label="Cochajoven">Cocha Joven</a>

				</div>
				<div class="rigth-icon">
					<ul id="ico-ext">
						<li>
							<a class="urloj analytics-data" data-category="Header" data-action="Preheader derecha" data-label="Sucursales" href="http://cms.cocha.com/sucursales.html" target="_top"> <img src="img/shared/icon-medium-locationGrey.png" width="30" alt="" />
							</a>
						</li>
						<li>
							<a class="urloj analytics-data" data-category="Header" data-action="Preheader derecha" data-label="Mi carro" href="http://www.cocha.com/ibe/checkout/shoppingCart.do" target="_top"> <img src="img/shared/icon-medium-cart.png" width="30" alt="" />
							</a>
						</li>
					</ul>

				</div>
			</div>
			<a class="navbar-toggle show">
				<span class="sr-only">Toggle navigation</span> <span class="icon-bar">
				</span> <span class="icon-bar">
				</span> <span class="icon-bar">
				</span>
			</a>
			<div class="logo-mobile">
				<a href="http://www.cocha.com/">
					<img src="img/shared/logo-medium-cochaMobile.png" width="120" alt="" />
				</a>
			</div>
			<div id="info-right">
				<div class="custom">
					<div class="first-number-jo"> <img src="img/shared/icon-medium-phone.png" width="20" height="20" alt="phone-icon" style="margin-top: -4px;"> 2 2464 1300 | </div>
					<div class="second-number-jo">
						<div class="number-one-jo"> <img src="img/shared/icon-small-mobile.png" width="20" height="20" alt="phone-icon" style="margin-top: -4px;"> *1300 </div>
					</div>
					<div class="image-header-jo hidden-xs hidden-sm" style="z-index: 0;">
						<a href="http://internet.cocha.com/temporada/click_to_call.html" class="verano cboxElement analytics-data" target="_blank" data-category="Header" data-action="Interaccion" data-label="Ayuda en tu compra">
							<img alt="Ayuda en tu compra" title="Ayuda en tu compra" border="0" src="img/shared/icon-medium-help.png" width="20" height="20" style="margin-top: -4px;"> Ayuda en tu compra
						</a>
					</div>
					<div style="float: left;height: 35px;display: block;margin-top: -3px;" class="hidden-xs hidden-sm">
						<a href="https://www.facebook.com/Cochaviajes?cid=Home-FB" target="_blank" class="fb-btn analytics-data" data-category="Footer" data-action="Social" data-label="Facebook">
						</a>
						<a href="https://twitter.com/cochaviajes?cid=twitter" target="_blank" class="tw-btn analytics-data" data-category="Footer" data-action="Social" data-label="Twitter">
						</a>
						<a href="https://www.youtube.com/channel/UC4H7ewqROY9nkSaJi2psPPg" target="_blank" class="yb-btn analytics-data" data-category="Footer" data-action="Social" data-label="Youtube">
						</a>
						<a href="https://instagram.com/cochaviajes/" target="_blank" class="ins-btn analytics-data" data-category="Footer" data-action="Social" data-label="Instagram">
						</a>
					</div>
				</div>
			</div>
		</div>
		<div id="slidemenu">
			<ul class="menu nav navbar-nav">
				<li class="item-157">
					<a class="ini-btn" href="http://www.cocha.com/ibe/common/clearHome.do">Inicio</a>
				</li>
				<li class="item-158 deeper parent">
					<a href="http://cms.cocha.com/vuelos.html">Vuelos ▾</a>
					<ul>
						<li class="item-222">
							<a class="vuelos_menu" href="http://cms.cocha.com/vuelos/ofertas">Ofertas</a>
						</li>
						<li class="item-305">
							<a href="http://cms.cocha.com/vuelos.html">Todos los vuelos</a>
						</li>
					</ul>
				</li>
				<li class="item-159 deeper parent">
					<a href="http://h.cocha.com/h-search/">Hoteles ▾</a>
					<ul>
						<li class="item-1694">
							<a href="http://cms.cocha.com/hoteles/ofertas">Ofertas</a>
						</li>
						<li class="item-584">
							<a href="http://hoteles.cocha.com/">Paga en el hotel</a>
						</li>
						<li class="item-223">
							<a href="http://h.cocha.com/h-search/">Todos los hoteles</a>
						</li>
					</ul>
				</li>
				<li class="item-160 deeper parent">
					<a href="http://cms.cocha.com/paquetes">Paquetes ▾</a>
					<ul>
						<li class="item-3979 parent">
							<a href="http://cms.cocha.com/paquetes/ofertas/caribe/cuba.html">Ofertas</a>
						</li>
						<li class="item-754">
							<a href="http://cms.cocha.com/anticipo-verano">Anticipo de Verano</a>
						</li>
						<li class="item-4025">
							<a href="http://cms.cocha.com/go-temporada-baja">GO Temporada Baja</a>
						</li>
						<li class="item-4068">
							<a href="http://cms.cocha.com/ofertas-go-norteamerica">GO Norteamérica</a>
						</li>
						<li class="item-4092">
							<a href="http://cms.cocha.com/go-temporada-baja/circuitos/europa/turquia.html">GO Europa</a>
						</li>
						<li class="item-4093">
							<a href="http://cms.cocha.com/go-temporada-baja/circuitos/destinos-lejanos.html">GO Destinos Lejanos</a>
						</li>
						<li class="item-1390">
							<a href="http://cms.cocha.com/chile">Chile</a>
						</li>
						<li class="item-488">
							<a href="http://cms.cocha.com/escapadas">Escapadas</a>
						</li>
						<li class="item-3549">
							<a class="esconderlink" href="/paquetes/detalle.html">Detalle</a>
						</li>
						<li class="item-307">
							<a href="http://cms.cocha.com/paquetes.html">Todos los paquetes</a>
						</li>
					</ul>
				</li>
				<li class="item-161 deeper parent">
					<a href="http://cms.cocha.com/cruceros.html">Cruceros ▾</a>
					<ul>
						<li class="item-1399">
							<a class="cruceros_menu" href="http://cms.cocha.com/crucero/ofertas.html">Ofertas</a>
						</li>
						<li class="item-1400">
							<a class="cruceros_menu" href="http://cms.cocha.com/crucero/europa.html">Europa</a>
						</li>
						<li class="item-1402">
							<a class="cruceros_menu" href="http://cms.cocha.com/crucero/fluviales.html">Fluviales</a>
						</li>
						<li class="item-1403">
							<a href="http://cms.cocha.com/cruceros.html">Todos los cruceros</a>
						</li>
					</ul>
				</li>
				<li class="item-1486 deeper parent">
					<a href="http://autos.cocha.com/">Autos</a>
					<ul>
						<li class="item-4100">
							<a class="micuenta" href="http://autos.cocha.com/">Autos</a>
						</li>
					</ul>
				</li>
				<li class="item-162 deeper parent">
					<a href="http://cms.cocha.com/html/especiales/universal-assistance.html">Asistencia en viaje </a>
					<ul>
						<li class="item-4101">
							<a class="micuenta" href="http://cms.cocha.com/html/especiales/universal-assistance.html">Asistencia en viaje</a>
						</li>
					</ul>
				</li>
				<li class="item-163 deeper parent">
					<a href="http://cms.cocha.com/paquetes/ofertas/caribe/cuba.html">Ofertas ▾</a>
					<ul>
						<li class="item-240">
							<a href="http://cms.cocha.com/vuelos/ofertas">Vuelos</a>
						</li>
						<li class="item-241">
							<a href="http://cms.cocha.com/hoteles/ofertas">Hoteles</a>
						</li>
						<li class="item-3940">
							<a href="http://cms.cocha.com/paquetes/ofertas/caribe/cuba.html">Paquetes</a>
						</li>
					</ul>
				</li>
				<li class="item-4094 deeper parent">
					<a class="micuenta" href="https://www.cocha.com/ibe/profile/login.do?SECURE=true">Mi cuenta ▾</a>
					<ul>
						<li class="item-4095">
							<a class="micuenta" href="https://www.cocha.com/ibe/profile/login.do?SECURE=true">Entrar</a>
						</li>
						<li class="item-4096">
							<a class="micuenta" href="http://www.cocha.com/ibe/profile/createProfile.do">Crear cuenta</a>
						</li>
						<li class="item-4097">
							<a class="micuenta" href="http://www.cocha.com/ibe/profile/changePassword.do">Cambiar contraseña</a>
						</li>
						<li class="item-4098">
							<a class="micuenta" href="https://www.cocha.com/ibe/profile/recoverPassword.do?SECURE=true">Recuperar contraseña</a>
						</li>
						<li class="item-4099">
							<a class="micuenta" href="http://www.cocha.com/ibe/profile/signout.do">Cerrar sesión</a>
						</li>
					</ul>
				</li>
			</ul>
			<ul style="list-style:none;  text-transform:uppercase;">
				<li>
					<a href="//m.cocha.com" class="v-mob">Ir a versión mobile</a>
				</li>
			</ul>
		</div>
	</div>
</div>
-->