@keyframes earth {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes sat {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes tooltipOut {
	0% {
		opacity: 0;
		display: block;
	}
	20% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		display: none;
	}
}

@keyframes searchBoxErrorUnderline {
	0% {
		width: 0%;
	}
	100% {
		width: ~'calc(100% - 10px)';
	}
}

@keyframes searchBoxErrorUnderline2 {
	0% {
		width: 0%;
	}
	100% {
		width: 100%;
	}
}

@keyframes searchBoxErrorUnderline3 {
	0% {
		width: 0%;
	}
	100% {
		width: ~'calc(100% - 15px)';
	}
}

@keyframes load8 {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes fadeInReturnButton {
	0% {
		opacity: 0;
	}
	85% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeOutReturnButton {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes roundTripButtonIn {
	0% {
		left: 290px
	}
	100% {
		left: 0px;
	}
}

@keyframes roundTripButtonOut {
	0% {
		left: 0px
	}
	100% {
		left: 290px;
	}
}

@keyframes withChildrenSelectorIn {
	0% {
		opacity: 0;
		left: 424px;
	}
	50% {
		opacity: 0;
		left: 424px;
	}
	100% {
		opacity: 1;
		left: 0px;
	}
}

@keyframes calendarIn {
	0% {
		opacity: 0;
		max-height: 0px;
	}
	100% {
		opacity: 1;
		max-height: 261px;
	}
}

@keyframes calendarOut {
	0% {
		opacity: 1;
		max-height: 261px;
	}
	100% {
		opacity: 0;
		max-height: 0px;
	}
}

@keyframes selectDestinyIn {
	0% {
		top: 186px;
	}
	100% {
		top: 0;
	}
}

@keyframes selectDestinyOut {
	0% {
		top: 0;
	}
	100% {
		top: 186px;
	}
}

@keyframes unmissableIn {
	0% {
		top: 100%;
	}
	100% {
		top: 50%;
	}
}

@keyframes unmissableOut {
	0% {
		top: 50%;
	}
	100% {
		top: 100%;
	}
}

@keyframes planeLeftIn {
	0% {
		left: -20px;
		top: 9px;
	}
	100% {
		left: 0px;
		top: 9px;
	}
}

@keyframes planeRightIn {
	0% {
		right: -20px;
		top: 9px;
	}
	100% {
		right: 0px;
		top: 9px;
	}
}

@keyframes bouncingChevron {
	0% {
		top: -2px;
	}
	50% {
		top: 2px;
	}
	100% {
		top: -2px;
	}
}

@keyframes enterCampaigns {
	0% {
		bottom: 120px;
		opacity: 0;
	}
	30% {
		opacity: 0;
	}
	100% {
		bottom: 65px;
		opacity: 1;
	}
}

@keyframes leaveCampaigns {
	0% {
		bottom: 65px;
		opacity: 1;
	}
	70% {
		opacity: 0;
	}
	100% {
		bottom: 10px;
		opacity: 0;
	}
}

@keyframes tapEffect {
	0% {
		transform: scale3d(0, 0, 1);
	}
	25%,
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: scale3d(1.2, 1.2, 1);
	}
}

@keyframes tapEffectRemain {
	0% {
		transform: scale3d(0, 0, 1);
	}
	25%,
	50% {
		opacity: 1;
	}
	100% {
		opacity: 1;
		transform: scale3d(1.2, 1.2, 1);
	}
}

@keyframes tapEffectRRSS {
	0% {
		opacity: 1;
		transform: scale3d(0.5, 0.5, 1);
	}
	100% {
		opacity: 0;
		transform: scale3d(1.2, 1.2, 1);
	}
}

@keyframes sitesModalIn {
	0% {
		right: -100%;
		opacity: 0;
	}
	1% {
		right: 0;
		left: 0;
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes sitesModalOut {
	0% {
		opacity: 1;
	}
	99% {
		opacity: 0;
		right: 0;
		left: 0;
	}
	100% {
		opacity: 0;
		right: -100%;
	}
}

@keyframes markNumber {
	0% {
		opacity: 1;
	}
	45% {
		opacity: 0;
	}
	55% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes displayAndOpacityIn {
	0% {
		display: none;
		opacity: 0;
	}
	1% {
		display: block !important;
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes displayAndOpacityOut {
	0% {
		opacity: 1;
	}
	99% {
		display: block;
		opacity: 0;
	}
	100% {
		display: none !important;
		opacity: 0;
	}
}

@keyframes displayAndOpacityIn2 {
	0% {
		display: none !important;
		opacity: 0 !important;
	}
	50% {
		display: block !important;
		opacity: 0 !important;
	}
	100% {
		opacity: 1 !important;
	}
}

@keyframes displayAndOpacityOut2 {
	0% {
		opacity: 1 !important;
	}
	50% {
		display: block !important;
		opacity: 0 !important;
	}
	100% {
		display: none !important;
		opacity: 0 !important;
	}
}
