.btn-transparent {
	font-weight: 900;
	border-radius: 15px;
	background: @transparent;
	text-transform: uppercase;
	outline: none;
	border: 1px solid @official-gray-2;
	color: white;
	transition: all ease 0.4s;
	height: 30px;
	padding: 5px 15px;
	&:hover {
		background: white;
		color: @color-darkgray;
		transition: all ease 0.4s;
	}
	&:active {
		outline: none;
	}
	&:focus {
		outline: none;
	}
}

.btn-red {
	font-weight: 900;
	border-radius: 15px;
	background: @color-red;
	text-transform: uppercase;
	outline: none;
	border: 1px solid @color-red;
	color: white;
	transition: all ease 0.4s;
	height: 30px;
	padding: 5px 15px;
	&:hover {
		background: #9E0D20;
		border: 1px solid #9E0D20;
		transition: all ease 0.4s;
		color: white;
	}
	&:active {
		outline: none;
	}
	&.disabled {
		opacity: 0.7;
		pointer-events: none;
	}
}

.btn-red-invert {
	border-radius: 15px;
	border: 1px solid @color-red;
	text-transform: uppercase;
	background: white;
	color: @color-red;
	font-weight: bold;
	outline: none;
	transition: all ease 0.4s;
	height: 30px;
	padding: 5px 15px;
	&:hover {
		background: @color-red;
		color: white;
		transition: all ease 0.4s;
	}
	&:active {
		outline: none;
	}
}

.btn-transparent-grey {
	background: @transparent;
	border: 1px solid #666;
	outline: none;
	text-align: center;
	text-transform: uppercase;
	border-radius: 0px;
	font-weight: 900;
	transition: all ease 0.4s;
	height: 30px;
	padding: 5px 15px;
	&:hover:not(.active) {
		background: #43413F;
		border: 1px solid #43413F;
		color: white;
		transition: all ease 0.4s;
	}
	&.active {
		background: #97959C;
		border: 1px solid #97959C;
		color: white;
		box-shadow: none;
		pointer-events: none;
	}
}

.btn-white {
	border-radius: 15px;
	font-weight: 900;
	text-transform: uppercase;
	outline: none;
	border: 1px solid white;
	transition: all ease 0.4s;
	background: white;
	color: @color-darkgray;
	height: 30px;
	padding: 5px 15px;
	&:hover {
		background: @color-darkgray;
		color: white;
		transition: all ease 0.4s;
	}
	&:active {
		outline: none;
	}
}

.action-btn {
	font-weight: 900;
	border: 1px solid #cdcdcd;
	border-radius: 50%;
	background: transparent;
	color: #cdcdcd;
	text-transform: uppercase;
	outline: none;
	transition: all ease 0.4s;
	&:hover {
		background: #cdcdcd;
		color: #434041;
		transition: all ease 0.4s;
	}
	&:active {
		outline: none;
	}
}

.lightgrey-transparent-btn {
	font-weight: 900;
	border: 1px solid #cdcdcd;
	border-radius: 15px;
	height: 30px;
	background: transparent;
	color: #cdcdcd;
	text-transform: uppercase;
	outline: none;
	transition: all ease 0.4s;
	&:hover {
		background: #cdcdcd;
		color: #434041;
		transition: all ease 0.4s;
	}
	&:active {
		outline: none;
	}
}

.darkgrey-btn {
	font-weight: 900;
	border: 1px solid #595B5F;
	border-radius: 15px;
	height: 30px;
	background: #595B5F;
	color: white;
	text-transform: uppercase;
	outline: none;
	transition: all ease 0.4s;
	&:hover {
		background: transparent;
		color: #595B5F;
		transition: all ease 0.4s;
	}
	&:active {
		outline: none;
	}
}

.btn-transparent-black {
	background: @trans-black;
	border: none;
	outline: none;
	border-radius: 0px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 900;
	transition: all ease 0.4s;
	height: 30px;
	padding: 5px 15px;
	color: white;
	&:hover:not(.active) {
		background: #737172;
		color: white;
		transition: all ease 0.4s;
	}
	&.active {
		background: white;
		border: 1px solid #ccc;
		color: #666;
		box-shadow: none;
		pointer-events: none;
	}
	&.border-radius-left {
		border-bottom-left-radius: 20px !important;
		border-top-left-radius: 20px !important;
	}
	&.border-radius-right {
		border-bottom-right-radius: 20px !important;
		border-top-right-radius: 20px !important;
		margin-left: -4px;
	}
}

.background-black {
	width: 100%;
	height: 100px;
	background: @trans-black;
	padding: 35px 0;
	margin-bottom: 20px;
}

.background-white {
	width: 100%;
	height: 100px;
	background: white;
	padding: 35px 0;
	margin-bottom: 20px;
}

.text-container {
	width: 100%;
	padding: 25px 0;
	margin-bottom: 20px;
}
