.flight-calendar-results {
	width: 100%;
	color: white;
	font-weight: normal;
	.flight-calendar-results-box {
		border-top: 1px solid white;
		background: rgba(0, 0, 0, .6);
		width: 100%;
		height: auto;
		padding-bottom: 30px;
		.returning-dates-container {
			margin-top: 100px;
			.vertical-text-container-7 {
				height: 430px;
				line-height: 465px;
			}
			.vertical-text-container-5 {
				height: 319px;
				line-height: 353px;
			}
			.vertical-text-container-3 {
				height: 209px;
				line-height: 247px;
			}
			.vertical-text {
				transform: rotate(-90deg);
				transform-origin: 50% 50%;
			}
			.returning-text-container {
				font-weight: 900;
				margin-bottom: 6px;
			}
			.up-chevron {
				margin-top: 3px;
				margin-left: 24px;
				background: url(../img/icons/icon_back.png);
				background-size: 13px 13px;
				height: 13px;
				width: 16px;
				transform: rotate(90deg);
				cursor: pointer;
				user-select: none;
			}
			.down-chevron {
				margin-bottom: 3px;
				margin-left: 24px;
				background: url(../img/icons/icon_back.png);
				background-size: 13px 13px;
				height: 13px;
				width: 16px;
				transform: rotate(270deg);
				cursor: pointer;
				user-select: none;
			}
			.v-dates-container {
				border-top: 1px solid #99979E;
				border-left: 1px solid #99979E;
				border-bottom: 1px solid #99979E;
				padding-top: 12px;
				padding-bottom: 12px;
				height: auto;
				width: 50px;
				.returning-date {
					font-weight: 900;
					margin-bottom: 17px;
					padding-left: 15px;
					.no-wrap {
						white-space: nowrap;
					}
				}
				.returning-date.last {
					font-weight: 900;
					margin-bottom: 0px;
					padding-left: 15px;
				}
			}
		}
		.departure-dates-container {
			margin-top: 30px;
			.departure-text-container {
				font-weight: 900;
				margin-bottom: 6px;
			}
			.left-chevron {
				margin-top: 21px;
				float: left;
				background: url(../img/icons/icon_back.png);
				background-size: 13px 13px;
				height: 13px;
				width: 16px;
				cursor: pointer;
				user-select: none;
			}
			.right-chevron {
				margin-top: 21px;
				float: left;
				background: url(../img/icons/icon_back.png);
				background-size: 13px 13px;
				height: 13px;
				width: 16px;
				transform: rotate(180deg);
				cursor: pointer;
				user-select: none;
			}
			.h-dates-container {
				float: left;
				border-top: 1px solid #99979E;
				border-left: 1px solid #99979E;
				border-right: 1px solid #99979E;
				height: 45px;
				width: ~'calc(100% - 32px)';
				.departure-date {
					font-weight: 900;
					padding-top: 9px;
				}
			}
		}
		.prices-container {
			padding: 27px 12px 0 12px;
			font-weight: 900;
			.column-padding {
				padding-left: 9px;
				padding-right: 9px;
			}
			.flight-price {
				height: 40px;
				margin-bottom: 13px;
				width: 100%;
				padding: 12px 0;
				background: white;
				color: #666;
				cursor: pointer;
				text-align: center;
			}
			.flight-price[disabled='disabled'] {
				cursor: default;
				text-align: center;
			}
			.my-days {
				height: 40px;
				margin-bottom: 13px;
				width: 100%;
				padding: 12px 0;
				background: #CCCCCC;
				color: #666;
				text-align: center;
			}
			.my-date {
				height: 40px !important;
				margin-bottom: 13px !important;
				width: 100% !important;
				padding: 7px 0 !important;
				border: 5px solid @color-red !important;
				text-align: center;
			}
			.best-price {
				height: 40px;
				margin-bottom: 13px;
				width: 100%;
				padding: 12px 0;
				background: #FFA73B;
				color: white;
				border: none;
				text-align: center;
			}
			.flight-price:hover {
				height: 40px !important;
				margin-bottom: 13px !important;
				width: 100% !important;
				padding: 7px 0;
				background: #444243 !important;
				color: #fff !important;
				border: 5px solid white !important;
				text-align: center;
			}
			.price-loader {
				border-top: 3px solid rgba(0, 0, 0, 0.4);
				border-right: 3px solid rgba(0, 0, 0, 0.4);
				border-bottom: 3px solid black;
				border-left: 3px solid black;
				animation: load8 1s infinite linear;
				border-radius: 50%;
				width: 18px;
				height: 18px;
				z-index: 99;
				margin: 0 auto;
			}
		}
		.legend-container {
			padding: 10px 21px;
			.selected {
				float: right;
				margin-right: 40px;
			}
			.economic {
				float: right;
			}
			.selected-legend-icon {
				float: left;
				padding: 0;
				background: white;
				border: 3px solid @color-red;
				height: 15px;
				width: 15px;
				margin-right: 10px;
			}
			.selected-legend-text,
			.economic-legend-text {
				float: left;
				text-align: left;
				color: white;
				font-weight: 900;
			}
			.economic-legend-icon {
				float: left;
				padding: 0;
				background: #FFA73B;
				height: 15px;
				width: 15px;
				margin-right: 10px;
			}
		}
	}
	.loader-calendar-container {
		width: 100%;
		padding: 20px 0;
		border-top: 1px solid white;
		background: rgba(0, 0, 0, .6);
		height: auto;
		.calendar-loader {
			border-top: 5px solid rgba(207, 17, 42, 0.4);
			border-right: 5px solid rgba(207, 17, 42, 0.4);
			border-bottom: 5px solid @color-red;
			border-left: 5px solid @color-red;
			animation: load8 1s infinite linear;
			border-radius: 50%;
			width: 50px;
			height: 50px;
			z-index: 99;
			margin: 0 auto;
		}
	}
}

@media (max-width: 991px) {
	.prices-container {
		padding: 27px 16px 0 !important;
		font-weight: 900;
	}
	.column-padding {
		padding-left: 5px !important;
		padding-right: 5px !important;
	}
	.flight-price:hover {
		padding: 7px 0 !important;
	}
}
