.double-calendar-left {
	position: absolute;
	top: 31px;
	left: 32px;
	z-index: 100;
}

.double-calendar-right {
	position: absolute;
	top: 31px;
	right: 5px;
	z-index: 100;
}

.calendar-border {
	border-bottom: 2px solid #1E120E;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

.months-height {
	height: 300px !important;
}

.week-days-padding {
	padding: 0 40px 0 15px;
}

.calendar-container-padding {
	padding: 8px 13px !important;
}

.month-name-padding {
	padding: 10px 0;
}

.cocha-calendar {
	width: 100%;
	margin-bottom: 15px;
	background: white;
	.week-days {
		border-bottom: 1px solid black;
		background-color: #EBEBEB !important;
		height: 40px;
		.day-name {
			height: 40px;
			color: black;
			font-size: @font-size-base;
			font-weight: normal;
			padding-top: 11px;
			text-align: center;
		}
	}
	.calendar-container {
		padding: 10px;
	}
	.months {
		height: 370px;
		overflow: auto;
		.month-container {
			padding: 5px;
			.month-name {
				height: 40px;
				padding: 15px 0 10px;
				text-transform: uppercase;
				font-size: @font-size-base;
				font-weight: 900;
				color: black;
			}
			.default-day {
				color: #666;
				position: relative;
				height: 40px;
				border-bottom: 1px solid #EBEBEB;
				text-align: center;
				font-size: @font-size-base;
				font-weight: normal;
				padding-top: 11px;
				background: white;
				transition: all 0.15s ease;
				overflow: hidden;
				&:hover {
					background: #EBEBEB;
					transition: all 0.3s ease;
				}
				&.disabled {
					cursor: not-allowed !important;
					color: #EBEBEB; //pointer-events: none;
					&.hover {
						background: white !important;
						transition: all 0.15s ease;
					}
				}
				&.departure {
					background-color: #5B5B5F !important;
					color: white !important;
					transition: background-color 0.15s ease;
					span {
						position: absolute;
						left: 22px;
						top: 9px;
						font-size: @font-size-base + 3;
						text-align: right;
					}
					&:before {
						font-family: 'Glyphicons Halflings';
						content: "\e093";
						transform: rotate(90deg);
						font-size: @font-size-base + 3;
						color: #5B5B5F;
						background: white;
						position: absolute;
						top: 10px;
						left: -20px;
						width: 20px;
						height: 20px;
						animation: planeLeftIn 0.15s ease;
						animation-fill-mode: forwards;
					}
				}
				&.returning {
					background-color: #5B5B5F !important;
					color: white !important;
					transition: background-color 0.15s ease;
					span {
						position: absolute;
						right: 22px;
						top: 9px;
						font-size: @font-size-base + 3;
						text-align: right;
					}
					&:after {
						font-family: 'Glyphicons Halflings';
						content: "\e093";
						transform: rotate(-90deg);
						font-size: @font-size-base + 3;
						color: #5B5B5F;
						background: white;
						position: absolute;
						top: 10px;
						right: -20px;
						width: 20px;
						height: 20px;
						animation: planeRightIn 0.15s ease;
						animation-fill-mode: forwards;
					}
				}
				&.range {
					background-color: #99989D !important;
					color: white !important;
					transition: all 0.3s ease;
				}
				&.basis {
					background: #32cccc;
					color: #fff;
				}
			}
			.not-day {
				height: 40px;
			}
			.tooltip {
				.tooltip-arrow {
					border-top-color: rgba(0, 0, 0, 0.85) !important;
				}
				.tooltip-inner {
					max-width: 160px !important;
					border-radius: 21px !important;
					padding: 5px 10px !important;
					background: rgba(0, 0, 0, 0.85) !important;
				}
			}
		}
		.month-container-double {
			.month-name {
				height: 35px;
				padding: 15px 0 10px;
				text-transform: uppercase;
				font-size: @font-size-base;
				font-weight: 900;
				color: black;
			}
			.default-day {
				position: relative;
				height: 35px;
				border-bottom: 1px solid #EBEBEB;
				text-align: center;
				font-size: @font-size-base - 1;
				font-weight: normal;
				padding-top: 10px;
				background: white;
				transition: all 0.3s ease;
				&:hover {
					background: #EBEBEB;
					transition: all 0.15s ease;
				}
				&.disabled {
					cursor: not-allowed !important;
					color: #EBEBEB;
					pointer-events: none;
					&.hover {
						background: white !important;
						transition: all 0.3s ease;
					}
				}
				&.departure {
					background-color: #5B5B5F !important;
					color: white !important;
					transition: background-color 0.15s ease;
					span {
						position: absolute;
						left: 19px;
						top: 9px;
						font-size: @font-size-base;
						text-align: right;
						transition: all 0.3s ease;
					}
					&:before {
						font-family: 'Glyphicons Halflings';
						content: "\e093";
						transform: rotate(90deg);
						font-size: @font-size-base;
						color: #5B5B5F;
						background: white;
						position: absolute;
						top: 11px;
						left: -1px;
						width: 15px;
						height: 15px;
						transition: all 0.15s ease;
					}
				}
				&.returning {
					background-color: #5B5B5F !important;
					color: white !important;
					transition: background-color 0.15s ease;
					span {
						position: absolute;
						right: 19px;
						top: 9px;
						font-size: @font-size-base;
						text-align: right;
						transition: all 0.3s ease;
					}
					&:before {
						font-family: 'Glyphicons Halflings';
						content: "\e093";
						transform: rotate(-90deg);
						font-size: @font-size-base;
						color: #5B5B5F;
						background: white;
						position: absolute;
						top: 9px;
						right: 1px;
						width: 15px;
						height: 15px;
						transition: all 0.15s ease;
					}
				}
				&.range {
					background-color: #99989D !important;
					color: white !important;
					transition: all 0.15s ease;
				}
			}
			.not-day {
				height: 40px;
			}
		}
	}
	/* 25x25 scrollbar */
	::-webkit-scrollbar {
		width: 20px;
		height: 20px;
	}
	::-webkit-scrollbar-button {
		background-color: #fff;
	}
	/* agrega un boton arriba y abajo de la barra */
	::-webkit-scrollbar-button:start:decrement,
	::-webkit-scrollbar-button:end:increment {
		display: block;
		height: 20px;
		/*border-right: 2px solid #F7F7F8;*/
	}
	/* Tope de barra */
	::-webkit-scrollbar-button:vertical:start:increment,
	::-webkit-scrollbar-button:vertical:end:decrement {
		display: none;
	}
	/* botón hacia abajo */
	::-webkit-scrollbar-button:vertical:increment {
		background: @official-gray-2;
		background-image: url(../img/arrow-down-scroll.png);
		background-size: 80%;
		background-position: center;
		background-repeat: no-repeat;
	}
	/* botón hacia arriba */
	::-webkit-scrollbar-button:vertical:decrement {
		background: @official-gray-2;
		background-image: url(../img/arrow-up-scroll.png);
		background-size: 80%;
		background-position: center;
		background-repeat: no-repeat;
	}
	::-webkit-scrollbar-track:vertical {
		background-color: #ccc;
		border: 1px solid #ccc;
	}
	/* Top area above thumb and below up button */
	::-webkit-scrollbar-track-piece:vertical:start {
		border: 1px solid #F7F7F8;
	}
	/* Bottom area below thumb and down button */
	::-webkit-scrollbar-track-piece:vertical:end {
		border: 1px solid #F7F7F8;
	}
	/* Back scroll bar */
	::-webkit-scrollbar-track-piece {
		background-color: #F7F7F8;
	}
	/* Barra dinamica */
	::-webkit-scrollbar-thumb:vertical {
		height: 50px;
		background-color: #CCC;
		border-left: none;
		/*border-right: 2px solid #F7F7F8;*/
	}
	/* Corner */
	::-webkit-scrollbar-corner:vertical {
		background-color: black;
	}
	/* Resizer */
	::-webkit-scrollbar-resizer:vertical {
		background-color: gray;
	}
}

@media (max-width: 991px) and (min-width: 769px) {
	.cocha-calendar .months .month-container .default-day.departure:before,
	.cocha-calendar .months .month-container .default-day.returning:after {
		display: none;
	}
	.cocha-calendar .months .month-container .default-day.returning span,
	.cocha-calendar .months .month-container .default-day.departure span {
		position: relative;
		font-size: @font-size-base + 3;
		text-align: center;
		left: 0;
		top: -1px;
	}
}

@media (max-width: 768px) {
	.calendar-header {
		background: white;
		position: relative;
		width: 100%;
		border-top: 2px solid #F0F0F0;
		padding: 17px;
		color: #656568;
		display: inline-block;
		text-align: center;
		i {
			position: absolute;
			top: 15px;
			left: 20px;
			font-size: @font-size-base + 10;
		}
		span {
			vertical-align: middle;
			text-transform: uppercase;
			font-size: @font-size-base + 2;
			font-weight: 100;
			font-style: normal;
		}
	}
	.cocha-calendar {
		height: 100%;
		.calendar-container {
			/*height: 100%;*/
			height: 280px;
			overflow: hidden;
			padding: 0;
			background: white;
		}
		.months {
			height: 100%;
			.month-container {
				.month-name {
					padding: 15px 10px 10px;
				}
				.default-day {
					border-bottom: none;
					font-size: @font-size-base;
					overflow: visible;
					&.departure {
						span {
							position: relative;
							left: 0;
							top: 0;
							font-size: @font-size-base;
							text-align: center;
						}
						&:before {
							content: '';
							animation: none;
							dispaly: none;
						}
					}
					&.returning {
						span {
							position: relative;
							left: 0;
							top: 0;
							font-size: @font-size-base;
							text-align: center;
						}
						&:after {
							content: '';
							animation: none;
							dispaly: none;
						}
					}
					.xs-calendar-tooltip {
						position: absolute;
						top: -21px;
						left: 0;
						width: 100%;
						height: 16px;
						border-radius: 8px;
						text-align: center;
						font-size: @font-size-base - 4;
						border: 1px solid #FFC177;
						background: white;
						color: #666;
						padding: 2px 0;
						.arrow-border {
							position: absolute;
							bottom: -5px;
							left: 50%;
							transform: translateX(-50%);
							width: 0;
							height: 0;
							border-left: 5px solid transparent;
							border-right: 5px solid transparent;
							border-top: 5px solid #FFC177;
						}
						.arrow-content {
							position: absolute;
							bottom: -4px;
							left: 50%;
							transform: translateX(-50%);
							width: 0;
							height: 0;
							border-left: 4px solid transparent;
							border-right: 4px solid transparent;
							border-top: 4px solid white;
						}
					}
				}
			}
		}
		::-webkit-scrollbar {
			display: none;
		}
		::-webkit-scrollbar-button {
			display: none;
		}
		/* agrega un boton arriba y abajo de la barra */
		::-webkit-scrollbar-button:start:decrement,
		::-webkit-scrollbar-button:end:increment {
			display: none;
			/*border-right: 2px solid #F7F7F8;*/
		}
		/* Tope de barra */
		::-webkit-scrollbar-button:vertical:start:increment,
		::-webkit-scrollbar-button:vertical:end:decrement {
			display: none;
		}
		/* botón hacia abajo */
		::-webkit-scrollbar-button:vertical:increment {
			display: none;
		}
		/* botón hacia arriba */
		::-webkit-scrollbar-button:vertical:decrement {
			display: none;
		}
		::-webkit-scrollbar-track:vertical {
			display: none;
		}
		/* Top area above thumb and below up button */
		::-webkit-scrollbar-track-piece:vertical:start {
			display: none;
		}
		/* Bottom area below thumb and down button */
		::-webkit-scrollbar-track-piece:vertical:end {
			display: none;
		}
		/* Back scroll bar */
		::-webkit-scrollbar-track-piece {
			display: none;
		}
		/* Barra dinamica */
		::-webkit-scrollbar-thumb:vertical {
			display: none;
		}
		/* Corner */
		::-webkit-scrollbar-corner:vertical {
			display: none;
		}
		/* Resizer */
		::-webkit-scrollbar-resizer:vertical {
			display: none;
		}
		.week-days {
			height: 25px;
			background-color: #F5F5F5;
			border-bottom: none;
			.day-name {
				padding-top: 4px;
				height: 25px;
			}
		}
	}
}
