@import "variables";
html,
body {
	height: 100%;
}

@-webkit-keyframes height-more {
	from {
		height: 225px;
	}
	to {
		height: 410px;
	}
}

@-webkit-keyframes height-minus {
	from {
		height: 410px;
	}
	to {
		height: 225px;
	}
}

@-webkit-keyframes dis-opacity {
	from {
		display: initial;
	}
	to {
		display: none;
	}
}

.detail-map {
	height: 219px;
	animation-name: height-minus;
	animation-duration: 0.5s;
	overflow: hidden;
	.layer-map-black {
		background: rgba(0, 0, 0, .6);
		color: #fff;
		height: 219px;
		z-index: 10;
		position: absolute;
		width: 100%;
		text-align: center;
		animation-name: height-minus;
		animation-duration: 0.5s;
		cursor: pointer;
		padding: 10px 0;
		.cch-arrow-up {
			font-size: 40px;
			width: 100%;
			display: block;
			margin-bottom: 14px;
			margin-top: 3px;
		}
		.cch-arrow-down {
			font-size: 40px;
			width: 100%;
			display: block;
		}
		.cch-position {
			font-size: 40px;
			border-radius: 50px;
			border: 1px solid #fff;
			padding: 5px 0;
			margin: 17px auto 8px;
			display: block;
			width: 50px;
			height: 50px;
			text-align: center;
		}
		.map-ubication {
			font-size: 25px;
			width: 100%;
			float: left;
			margin-bottom: 10px;
		}
	}
	.layer-map-black:hover {
		color: #ccc;
		.glyphicon-map-marker {
			border: 1px solid #ccc;
		}
	}
	#map2 {
		margin: 0;
		padding: 0;
		height: 100%;
	}
	#close-map {
		display: none;
	}
}

.view-map {
	height: 410px;
	animation-name: height-more;
	animation-duration: 0.5s;
	position: relative;
	.layer-map-black {
		opacity: 0;
		display: none;
		-webkit-transition: opacity 0.5s ease-in-out;
		-moz-transition: opacity 0.5s ease-in-out;
		transition: opacity 0.5s ease-in-out;
	}
	#close-map {
		display: block;
		position: absolute;
		z-index: 1;
		right: 30px;
		top: 10px;
		background: #fff;
		position: absolute;
		padding: 10px 20px;
		width: 160px;
		text-align: center;
		font-size: 10px;
		font-weight: 900;
		color: #666;
		border: 1px solid #ccc;
		cursor: pointer;
		text-transform: uppercase;
		border-radius: 17px;
		text-decoration: none;
		-webkit-transition-duration: 1s;
		transition-duration: 1s;
	}
	#close-map:hover {
		background: #666;
		color: #fff;
		-webkit-transition-duration: 1s;
		/* Safari */
		transition-duration: 1s;
	} // .g-map {
	// 	height:400px!important;
	// }
}

@media (max-width: 479px)
/* 767px - 480px */

{}

@media (max-width: @screen-xs-max) and (min-width: @screen-xs-min)
/* 767px - 480px */

{}

@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max)
/* 768px - 991px */

{}

@media (min-width: @screen-md-min) and (max-width: @screen-md-max)
/* 992px - 1199px */

{}

@media (min-width: @screen-lg-min)
/* 1200px */

{}
