.error-background {
	background-image: url('../img/fnd_page_error.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #CF9B57;
}

.error-height {
	height: 100%;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}

.top-position {
	top: 15%;
	position: absolute;
	left: 0;
	.error-title {
		font-weight: bold;
		font-size: @font-size-base + 10;
		line-height: 1;
		margin-bottom: 30px;
		color: black;
	}
	.error-content {
		font-weight: normal;
		font-size: @font-size-base + 2;
		color: black;
	}
	.error-info {
		.phone {
			float: left;
			font-weight: bold;
			font-size: @font-size-base + 10;
			color: @color-red;
		}
		.separator {
			float: left;
			height: 17px;
			border-left: 2px solid @color-red;
			margin: 7px 8px 0px;
		}
		.cell-phone {
			float: left;
			font-weight: bold;
			font-size: @font-size-base + 10;
			color: @color-red;
		}
		.cell-phone-info {
			float: left;
			padding-left: 3px;
			padding-top: 8px;
			color: black;
		}
	}
}
