@font-face {
	font-family: 'proxima nova thin';
	src: url("../styles/fonts/ProximaNova-Thin.eot");
	src: url("../styles/fonts/ProximaNova-Thin.eot?#iefix") format('embedded-opentype'), url("../styles/fonts/ProximaNova-Thin.woff") format('woff'), url("../styles/fonts/ProximaNova-Thin.ttf") format('truetype'), url("../styles/fonts/ProximaNova-Thin.svg#proxima_novasemibold") format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-weight: 100;
	font-style: normal;
	src: url("../styles/fonts/ProximaNova-Light.eot");
	src: url("../styles/fonts/ProximaNova-Light.eot?#iefix") format('embedded-opentype'), url("../styles/fonts/ProximaNova-Light.woff") format('woff'), url("../styles/fonts/ProximaNova-Light.ttf") format('truetype'), url("../styles/fonts/ProximaNova-Light.svg#proxima_novasemibold") format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-weight: 900;
	src: url("../styles/fonts/ProximaNova-Semibold.eot");
	src: url("../styles/fonts/ProximaNova-Semibold.eot?#iefix") format('embedded-opentype'), url("../styles/fonts/ProximaNova-Semibold.woff") format('woff'), url("../styles/fonts/ProximaNova-Semibold.ttf") format('truetype'), url("../styles/fonts/ProximaNova-Semibold.svg#proxima_novasemibold") format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-weight: normal;
	src: url("../styles/fonts/ProximaNova-Regular.eot");
	src: url("../styles/fonts/ProximaNova-Regular.eot?#iefix") format('embedded-opentype'), url("../styles/fonts/ProximaNova-Regular.woff") format('woff'), url("../styles/fonts/ProximaNova-Regular.ttf") format('truetype'), url("../styles/fonts/ProximaNova-Regular.svg#proxima_novasemibold") format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'proxima nova regular italic';
	src: url("../styles/fonts/ProximaNova-RegularItalic.eot");
	src: url("../styles/fonts/ProximaNova-RegularItalic.eot?#iefix") format('embedded-opentype'), url("../styles/fonts/ProximaNova-RegularItalic.woff") format('woff'), url("../styles/fonts/ProximaNova-RegularItalic.ttf") format('truetype'), url("../styles/fonts/ProximaNova-RegularItalic.svg#proxima_novasemibold") format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-weight: bold;
	src: url("../styles/fonts/ProximaNova-Bold.eot");
	src: url("../styles/fonts/ProximaNova-Bold.eot?#iefix") format('embedded-opentype'), url("../styles/fonts/ProximaNova-Bold.woff") format('woff'), url("../styles/fonts/ProximaNova-Bold.ttf") format('truetype'), url("../styles/fonts/ProximaNova-Bold.svg#proxima_novasemibold") format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'proxima nova black';
	src: url("../styles/fonts/ProximaNova-Black.eot");
	src: url("../styles/fonts/ProximaNova-Black.eot?#iefix") format('embedded-opentype'), url("../styles/fonts/ProximaNova-Black.woff") format('woff'), url("../styles/fonts/ProximaNova-Black.ttf") format('truetype'), url("../styles/fonts/ProximaNova-Black.svg#proxima_novasemibold") format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'amaranth regular';
	src: url("../styles/fonts/Amaranth-Regular.otf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'amaranth bold';
	src: url("../styles/fonts/Amaranth-Bold.otf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'amaranth italic';
	src: url("../styles/fonts/Amaranth-Italic.otf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'amaranth bold italic';
	src: url("../styles/fonts/Amaranth-BoldItalic.otf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	/*
	font-family: 'cocha-icons';
	src: url('fonts/cocha-icons.eot?opvwyr');
	src: url('fonts/cocha-icons.eot?opvwyr#iefix') format('embedded-opentype'), url('fonts/cocha-icons.ttf?opvwyr') format('truetype'), url('fonts/cocha-icons.woff?opvwyr') format('woff'), url('fonts/cocha-icons.svg?opvwyr#cocha-icons') format('svg');
	font-weight: normal;
	font-style: normal;
	*/
}

i {
	/*font-family: 'cocha-icons' !important;*/
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/*
.cch-adult-child:before {
	content: "\e900";
}

.cch-amenities-all-inclusive:before {
	content: "\e901";
}

.cch-amenities-assistance:before {
	content: "\e902";
}

.cch-amenities-breakfast:before {
	content: "\e903";
}

.cch-amenities-circuit:before {
	content: "\e904";
}

.cch-amenities-complete-pension:before {
	content: "\e905";
}

.cch-amenities-cruise:before {
	content: "\e906";
}

.cch-amenities-document:before {
	content: "\e907";
}

.cch-amenities-flight:before {
	content: "\e908";
}

.cch-amenities-gallery:before {
	content: "\e909";
}

.cch-amenities-half-pension:before {
	content: "\e90a";
}

.cch-amenities-hotel:before {
	content: "\e90b";
}

.cch-amenities-package:before {
	content: "\e90c";
}

.cch-amenities-ticket:before {
	content: "\e90d";
}

.cch-amenities-train-transfer:before {
	content: "\e90e";
}

.cch-amenities-transfer:before {
	content: "\e90f";
}

.cch-arrow-down:before {
	content: "\e910";
}

.cch-arrow-left:before {
	content: "\e911";
}

.cch-arrow-right:before {
	content: "\e912";
}

.cch-arrow-up:before {
	content: "\e913";
}

.cch-baby:before {
	content: "\e914";
}

.cch-beach:before {
	content: "\e915";
}

.cch-calendar-flight:before {
	content: "\e916";
}

.cch-calendar-going:before {
	content: "\e917";
}

.cch-calendar-return:before {
	content: "\e918";
}

.cch-card:before {
	content: "\e919";
}

.cch-circle-click-to-call:before {
	content: "\e91a";
}

.cch-circle-half:before {
	content: "\e91b";
}

.cch-circle-minus:before {
	content: "\e91c";
}

.cch-circle-more:before {
	content: "\e91d";
}

.cch-circle-o:before {
	content: "\e91e";
}

.cch-circle:before {
	content: "\e91f";
}

.cch-click-to-call:before {
	content: "\e920";
}

.cch-close:before {
	content: "\e921";
}

.cch-culture:before {
	content: "\e922";
}

.cch-exclamation:before {
	content: "\e923";
}

.cch-facebook:before {
	content: "\e924";
}

.cch-favicocha:before {
	content: "\e925";
}

.cch-filter-o:before {
	content: "\e926";
}

.cch-filter:before {
	content: "\e927";
}

.cch-fullscreen:before {
	content: "\e928";
}

.cch-going:before {
	content: "\e929";
}

.cch-hearing:before {
	content: "\e92a";
}

.cch-includes-all-inclusive:before {
	content: "\e92b";
}

.cch-includes-assistance:before {
	content: "\e92c";
}

.cch-includes-breakfast:before {
	content: "\e92d";
}

.cch-includes-couple:before {
	content: "\e92e";
}

.cch-includes-document:before {
	content: "\e92f";
}

.cch-includes-flight:before {
	content: "\e930";
}

.cch-includes-hotel:before {
	content: "\e931";
}

.cch-includes-transfer-point:before {
	content: "\e932";
}

.cch-includes-transfer:before {
	content: "\e933";
}

.cch-mob-adult:before {
	content: "\e935";
}

.cch-mob-asistencia .path1:before {
	content: "\e936";
	color: rgba(0, 0, 0, 0.3);
}

.cch-mob-asistencia .path2:before {
	content: "\e937";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}

.cch-mob-asistencia .path3:before {
	content: "\e938";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}

.cch-mob-asistencia .path4:before {
	content: "\e939";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}

.cch-mob-asistencia .path5:before {
	content: "\e93a";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}

.cch-mob-asistencia .path6:before {
	content: "\e93b";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}

.cch-mob-asistencia .path7:before {
	content: "\e93c";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}

.cch-mob-asistencia .path8:before {
	content: "\e93d";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}

.cch-mob-autos .path1:before {
	content: "\e93e";
	color: rgba(0, 0, 0, 0.3);
}

.cch-mob-autos .path2:before {
	content: "\e93f";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}

.cch-mob-autos .path3:before {
	content: "\e940";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}

.cch-mob-autos .path4:before {
	content: "\e941";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}

.cch-mob-autos .path5:before {
	content: "\e942";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}

.cch-mob-autos .path6:before {
	content: "\e943";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}

.cch-mob-autos .path7:before {
	content: "\e944";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}

.cch-mob-autos .path8:before {
	content: "\e945";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}

.cch-mob-calendar:before {
	content: "\e946";
}

.cch-mob-check:before {
	content: "\e947";
}

.cch-mob-child:before {
	content: "\e948";
}

.cch-mob-destiny:before {
	content: "\e949";
}

.cch-mob-filter:before {
	content: "\e94a";
}

.cch-mob-hotel .path1:before {
	content: "\e94b";
	color: rgba(0, 0, 0, 0.3);
}

.cch-mob-hotel .path2:before {
	content: "\e94c";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}

.cch-mob-hotel .path3:before {
	content: "\e94d";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}

.cch-mob-hoteles-cercanos .path1:before {
	content: "\e94e";
	color: rgba(0, 0, 0, 0.15);
}

.cch-mob-hoteles-cercanos .path2:before {
	content: "\e94f";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}

.cch-mob-hoteles-cercanos .path3:before {
	content: "\e950";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}

.cch-mob-input-close:before {
	content: "\e951";
}

.cch-mob-input-search:before {
	content: "\e952";
}

.cch-mob-minus:before {
	content: "\e953";
}

.cch-mob-more:before {
	content: "\e954";
}

.cch-mob-order:before {
	content: "\e955";
}

.cch-mob-origin:before {
	content: "\e956";
}

.cch-mob-paquetes .path1:before {
	content: "\e957";
	color: rgba(0, 0, 0, 0.3);
}

.cch-mob-paquetes .path2:before {
	content: "\e958";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}

.cch-mob-paquetes .path3:before {
	content: "\e959";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}

.cch-mob-paquetes .path4:before {
	content: "\e95a";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}

.cch-mob-paquetes .path5:before {
	content: "\e95b";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}

.cch-mob-passenger:before {
	content: "\e95c";
}

.cch-mob-search:before {
	content: "\e95d";
}

.cch-mob-sucursales .path1:before {
	content: "\e95e";
	color: rgba(0, 0, 0, 0.3);
}

.cch-mob-sucursales .path2:before {
	content: "\e95f";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}

.cch-mob-sucursales .path3:before {
	content: "\e960";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}

.cch-mob-tcredito:before {
	content: "\e961";
}

.cch-mob-transferencia:before {
	content: "\e962";
}

.cch-mob-tripley:before {
	content: "\e963";
}

.cch-mob-vuelos .path1:before {
	content: "\e964";
	color: rgba(0, 0, 0, 0.2);
}

.cch-mob-vuelos .path2:before {
	content: "\e965";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}

.cch-mob-vuelos .path3:before {
	content: "\e966";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}

.cch-nautical-sport:before {
	content: "\e967";
}

.cch-order-o:before {
	content: "\e968";
}

.cch-order:before {
	content: "\e969";
}



.cch-parking:before {
	content: "\e96a";
}


.cch-phone:before {
	content: "\e96b";
}

.cch-position:before {
	content: "\e96c";
}

.cch-quote-left:before {
	content: "\e96d";
}

.cch-quote-right:before {
	content: "\e96e";
}

.cch-return:before {
	content: "\e96f";
}

.cch-romantic:before {
	content: "\e970";
}

.cch-room-night:before {
	content: "\e971";
}

.fa-star-half-o:before,
.cch-star-half-o:before {
	content: "\e972";
}
*/

/*
.fa-star-o:before,
.cch-star-o:before {
	content: "\e973";
}


.fa-star:before,
.cch-star:before {
	content: "\e974";
}

.cch-twitter:before {
	content: "\e975";
}
*/

/*
.cch-wifi:before {
	content: "\e976";
}


.cch-youtube:before {
	content: "\e977";
}
*/
