/*   
.footer-background {
	background: #434041 !important;
	display: block;
	width: 100%;
	height: auto;
	padding: 20px 0 0 0;
	.footer-title {
		font-size: @font-size-base + 2;
		font-weight: bold;
		margin-bottom: 15px;
		text-transform: uppercase;
		color: white;
	}
	.branch-map-container {
		height: 220px;
		.fade-element-in.ng-enter {
			transition: 0.8s linear all;
			opacity: 0;
		}
		.fade-element-in-init .fade-element-in.ng-enter {
			opacity: 1;
		}
		.fade-element-in.ng-enter.ng-enter-active {
			opacity: 1;
		}
		.fade-element-in.ng-leave {
			transition: 0.3s linear all;
			opacity: 1;
		}
		.fade-element-in.ng-leave.ng-leave-active {
			opacity: 0;
		}
		.branch-map-static-img {
			width: 100%;
			text-align: center;
			position: absolute;
			z-index: 1;
			height: 221px;
			img {
				z-index: 2;
				position: absolute;
				top: 0;
				left: 0;
				height: 222px;
			}
			.branch-map-loader {
				width: 100%;
				height: 220px;
				text-align: center;
				z-index: 3;
				position: absolute;
				img {
					width: 60px;
					height: 60px;
					margin-top: 70px;
					margin-left: 44%;
				}
			}
		}
		.branch-map {
			height: 220px;
		}
	}
	.footer-subtitle {
		font-size: @font-size-base;
		font-weight: bold;
		color: white;
		margin-bottom: 5px;
	}
	.about {
		padding: 0;
		list-style-type: none;
		line-height: 1.9;
		font-weight: normal;
		li {
			a {
				color: #cdcdcd;
				&:hover {
					color: white;
				}
			}
		}
		li:last-child {
			margin-bottom: 31px;
		}
	}
	.social {
		font-weight: normal;
		margin-bottom: 31px;
		height: 30px;
		ul {
			height: 30px;
			padding: 0;
			list-style-type: none;
			li {
				height: 30px;
				float: left;
				margin-right: 10px;
				border: 1px solid #ccc;
				border-radius: 50%;
				background: #ccc;
				width: 30px;
				color: #434041;
				padding: 5px;
				transition: all 0.3s ease;
				a {
					color: #434041;
					text-decoration: none;
					i {
						font-size: @font-size-base + 5;
					}
				}
				&:hover {
					background: #434041;
					transition: all 0.3s ease;
					a {
						color: #ccc;
					}
				}
			}
		}
	}
	.subscribe {
		font-weight: normal;
		top: -17px;
		position: relative;
		.subscribe-input {
			border: none;
			border-bottom: 1px solid white;
			background: transparent;
			padding: 5px 0;
			height: 25px;
			width: 70%;
			outline: none;
			color: #cdcdcd;
			margin-bottom: 10px;
			margin-right: 5px;
			transition: color 0.3s ease;
			&:active,
			&:focus {
				outline: none;
			}
			&.error {
				border-bottom: 1px solid red;
			}
		}
		.subscribe-input:focus::-webkit-input-placeholder {
			color: transparent;
			transition: color 0.3s ease;
		}
		.subscribe-btn-container {
			height: 30px;
			width: 30px;
			overflow: hidden;
			display: inline-block;
			position: relative;
			top: 8px;
			.subscribe-btn {
				.action-btn();
				height: 30px;
				width: 30px;
				font-size: @font-size-base - 2;
				padding: 4px;
			}
			.subscribe-btn-loading {
				.action-btn();
				height: 30px;
				width: 30px;
				font-size: @font-size-base - 2;
				padding: 4px;
				.loader {
					width: 12px;
					height: 12px;
					margin: 0 auto;
					border-radius: 50%;
					animation: load8 0.7s linear infinite;
					border-top: 3px solid #cdcdcd;
					border-left: 3px solid #cdcdcd;
					border-bottom: 3px solid @transparent;
					border-right: 3px solid @transparent;
				}
			}
			.subscribe-btn-error {
				.action-btn();
				background: #F40827;
				height: 30px;
				width: 30px;
				font-size: @font-size-base - 2;
				padding: 4px;
				i {
					color: white;
					font-size: @font-size-base;
					display: inline-block;
					margin-top: 3px;
				}
			}
			.subscribe-btn-success {
				.action-btn();
				background: #47AB2B;
				height: 30px;
				width: 30px;
				font-size: @font-size-base - 2;
				padding: 4px;
				i {
					color: white;
					font-size: @font-size-base;
					display: inline-block;
					margin-top: 3px;
				}
			}
		}
		.subscribe-checkbox {
			display: none;
		}
		.subscribe-checkbox+ label {
			display: inline-flex;
			vertical-align: middle;
			width: 12px;
			margin: 0;
			background: url(../img/uncheck2.png) left top no-repeat;
			background-size: 12px 12px;
			cursor: pointer;
			width: 100%;
			padding-left: 18px;
			span {
				display: inline-block;
				font-size: @font-size-base - 3;
				font-style: italic;
				color: #cdcdcd;
				vertical-align: middle;
				a {
					display: inline-block;
					color: #cdcdcd;
					text-decoration: underline;
					vertical-align: middle;
				}
				&.error {
					color: red;
					a {
						color: red !important;
					}
				}
			}
		}
		.subscribe-checkbox:checked+ label {
			background: url(../img/check2.png) left top no-repeat;
			background-size: 12px 12px;
		}
	}
	.map-img {
		width: 100%;
	}
	.map-buttons {
		list-style-type: none;
		padding: 0;
		margin-top: 15px;
		li {
			float: left;
			width: 50%;
			.branch-btn {
				.lightgrey-transparent-btn();
				padding: 4px 12px;
				font-size: @font-size-base - 1;
				font-weight: bold;
			}
			&:hover {
				color: white;
			}
		}
		li:first-child {
			padding: 0 10px 0 0;
			border-right: 1px solid #cdcdcd;
			text-align: right;
		}
		li:last-child {
			padding: 0 0 0 10px;
			border: none;
			text-align: left;
		}
	}
	.client-service {
		font-weight: normal;
		list-style-type: none;
		padding: 0;
		line-height: 1.9;
		li {
			padding: 0;
			margin-bottom: 5px;
			display: table-row;
			height: 19px;
			color: #cdcdcd;
			.icon {
				height: 18px;
				width: 18px;
				margin-right: 5px;
				border: 1px solid white;
				border-radius: 50%;
				text-align: center;
				display: inline-table;
				i {
					display: table-cell;
					font-size: @font-size-base - 1;
					vertical-align: middle;
				}
			}
			.text {
				color: #cdcdcd;
				height: 19px;
				display: inline-table;
			}
			a {
				color: #cdcdcd;
			}
			&:hover {
				color: white;
				i {
					color: #cdcdcd;
				}
				a {
					color: white;
				}
			}
		}
		li:last-child {
			margin-bottom: 22px;
		}
	}
}

.footer-xs-background {
	background: #434041;
	display: block;
	width: 100%;
	height: auto;
	.xs-footer-container {
		border-bottom: 1px solid #5C5B60;
		display: table;
		width: 100%;
		height: 50px;
		padding: 0 30px;
		position: relative;
		&.lg {
			height: 135px;
		}
		.footer-logo {
			padding: 20px 0;
			text-align: center;
			img {
				height: 35px;
			}
		}
		.footer-content {
			display: table-cell;
			vertical-align: middle;
			font-weight: normal;
			font-size: @font-size-base + 3;
			text-align: center;
			color: #cdcdcd;
			padding: 15px 0;
			position: absolute;
			left: 30px;
			right: 30px;
			top: 0;
			bottom: 0;
			z-index: 3;
			a {
				text-decoration: none;
				color: #cdcdcd;
			}
			i {
				font-size: @font-size-base + 8;
				vertical-align: middle;
			}
			span {
				vertical-align: middle;
			}
			.subscribe-btn-container {
				margin-bottom: 20px;
				height: 40px;
				border-radius: 20px;
				border: 1px solid #cdcdcd;
				.subscribe-btn {
					color: #cdcdcd;
					font-size: @font-size-base + 3;
					font-weight: normal;
					height: 40px;
					width: 100%;
					outline: none;
					border-radius: 20px;
					padding: 9px;
					position: absolute;
					top: 15px;
					left: 0;
					right: 0;
					text-transform: none;
					text-align: center;
					z-index: 0;
					&.tapped {
						color: #434041;
						transition: color 0.3s ease;
						&:after {
							z-index: -1 !important;
						}
					}
				}
			}
			.social {
				font-weight: normal;
				height: 40px;
				width: 100%;
				ul {
					height: 40px;
					padding: 0;
					list-style-type: none;
					width: 100%;
					display: flex;
					justify-content: space-between;
					li {
						width: 40px;
						position: relative;
						.icon-container {
							height: 40px;
							border: 1px solid #ccc;
							border-radius: 50%;
							background: #ccc;
							width: 40px;
							color: #434041;
							padding: 7px;
							a {
								color: #434041;
								text-decoration: none;
							}
							i {
								font-size: @font-size-base + 12;
							}
						}
					}
				}
			}
		}
		&.tapped {
			.footer-content {
				color: #434041;
				transition: color 0.3s ease;
			}
		}
	}
}

.footer-rights {
	font-weight: normal;
	background: #5C5B60;
	text-align: center;
	border-top: 1px solid #78787A;
	width: 100%;
	padding: 9px;
	color: #cdcdcd;
	line-height: 1.4;
	font-size: @font-size-base - 1;
}
*/
