body {
	font-weight: normal !important;
}

/***************
HEADER & FOOTER
****************/

#tabs-vuelos {
	display: none !important;
}

.container-jo {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	height: 116px;
	margin-bottom: 4px !important;
}

.menu-top-jo {
	width: 100%;
	height: 20px;
	background: #F4F4F4;
}

.left-menu-jo {
	color: #909090;
	font-size: 12px;
	float: left;
	margin-top: 3px;
}

.left-menu-jo a {
	color: #909090 !important;
	text-decoration: none;
}

.left-menu-jo a:hover {
	text-decoration: underline;
	color: #333333 !important;
}

.right-menu-jo {
	float: right;
	/* margin-top: 6px;*/
	color: #909090;
}

a.urloj,
a.nav-sec-jo,
a.carro-link-jo {
	color: #909090;
}

.right-menu-jo>div>div>a {
	color: #909090 !important;
	font-weight: normal !important;
}

.right-menu-jo>div>div>ul>li>a {
	color: #909090 !important;
	font-weight: normal !important;
}

.count-link-jo {
	float: left;
	margin-left: 20px;
}

a.count-link-jo-inner {
	color: #5f5f5f;
	font-size: 12px;
	margin-bottom: 5px;
	color: #5f5f5f;
	text-decoration: none;
	float: left;
	margin-right: 5px;
}

a.count-link-jo-inner:hover {
	text-decoration: underline;
	color: #333333 !important;
}

.carro-link-jo {
	font-size: 12px;
	margin-bottom: 5px;
	float: left;
	margin-left: 20px;
}

.carro-link-jo a {
	color: #5f5f5f;
	text-decoration: none;
}

.carro-link-jo a:hover {
	text-decoration: underline;
	color: #333333 !important;
}

/* Middle */

.middle-jo {
	width: 100%;
	height: 66px;
	background: #FFFFFF;
	margin-top: -5px;
	padding-top: 5px;
}

.logo-jo {
	float: left;
	margin-top: 5px;
}

.right-box-jo {
	float: right;
	height: 56px;
	margin-right: -36px;
}

.number-jo {
	overflow: hidden;
	margin-top: 9px;
	float: left;
}

.first-number-jo {
	color: #909090 !important;
	font-size: 15px;
	float: left;
	padding-right: 10px;
	margin-top: 10px;
}

.second-number-jo {
	margin-top: 20px;
	float: left;
}

.number-one-jo {
	color: #909090;
	font-size: 15px;
	float: left;
	margin-right: 5px;
	margin-top: -11px;
}

.first-number-jo img {
	margin-top: 0 !important;
	width: 20px;
	height: 20px;
}

.number-one-jo img {
	margin-top: 0 !important;
	width: 20px;
	height: 20px;
}

.number-two-jo {
	color: #909090;
	font-size: 13px;
	margin-top: 3px;
	float: left;
}

/*** NAVEGACION ***/

/* Principal nav-jo */

.principal-nav-jo {
	width: 100%;
	height: 34px;
	background: #666666;
}

/*activo*/

.nav-jo li.active {
	color: #fff;
	background: #7b7b7b;
	/* layer fill content */
}

.nav-jo a {
	text-decoration: none;
}

.nav-jo li {
	list-style: none;
}

/* Menu Container */

.nav-jo {
	display: inline-block;
	position: relative;
	cursor: default;
	z-index: 500;
}

/* Menu List */

.nav-jo>li {
	display: block;
	float: left;
}

@-moz-document url-prefix() {
	.nav-jo>li>a {
		font-size: 12px !important;
	}
}

/* Menu Links */

.nav-jo>li>a {
	position: relative;
	display: block;
	z-index: 510;
	line-height: 35px;
	height: 34px;
	text-transform: uppercase;
	color: #fff;
	padding: 0 19px;
	font-size: 13px;
	margin-top: 0;
	*padding-left: 15px !important;
}

.nav-jo>li:hover>a {
	color: #fff;
	background: #7b7b7b !important;
	/* layer fill content */
	z-index: 999999999999999999999999999999999999999;
}

.nav-jo>li:hover>a:before {
	content: ' ';
	display: block;
	position: absolute;
	left: 43%;
	top: 33px;
	width: 18px;
	height: 10px;
}

.last-nav-jo {
	background: none !important;
	margin-right: 0 !important;
}

.nav_active {
	color: #fff;
	background: #7b7b7b;
	/* layer fill content */
}

a.nav_active {
	color: #fff;
	/*background: #7b7b7b;*/
	/* layer fill content */
}

li.nav_active a {
	color: #fff;
	/*background: #7b7b7b;*/
	/* layer fill content */
}

.nav_active a:hover {
	color: #fff;
	/*background: #7b7b7b; */
	/* layer fill content */
}

.active_submenu {
	top: 30px !important;
}

.nav-jo>li>a {}

.nav-jo>li>a span {
	font-size: 10px !important;
}

/* Menu Dropdown */

.nav-jo>li>.small-submenu {
	position: absolute;
	display: block;
	top: 34px;
	width: auto;
	left: auto;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
	color: #525252;
	background: #fff;
	border-radius: 0 0 3px 3px;
	border: 1px solid #c3c3c3;
	border-top: none !important;
	z-index: 99999;
	padding-top: 5px;
	padding-bottom: 5px;
}

.nav-jo>li>div {
	position: absolute;
	display: block;
	width: 100%;
	top: 34px;
	left: 0;
	color: #525252;
	border-radius: 0 0 3px 3px;
	z-index: 99999;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
	background: #fff;
	border: 1px solid #c3c3c3;
	border-top: none !important;
	padding-top: 5px;
	padding-bottom: 5px;
}

.nav-jo>li:hover>div {
	opacity: 1;
	visibility: visible;
	overflow: visible;
}

/* Menu Content Styles */

.nav-jo .nav-column {
	float: left;
	padding: 15px 5px;
}

.nav-jo .small-submenu .nav-column-small {
	float: left;
	padding: 5px 5px;
	overflow: hidden;
}

.nav-jo .nav-column-small-2col {
	float: left;
	padding: 15px 5px;
}

.nav-jo .nav-column h3,
.nav-column-small h3,
.nav-column-small-2col h3 {
	margin: 20px 0 10px 0;
	line-height: 18px;
	font-size: 14px;
	color: #525252;
	text-transform: uppercase;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, .5);
}

.nav-jo .nav-column li a,
.nav-column-small li a,
.nav-column-small-2col li a {
	display: block;
	line-height: 30px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0 !important;
	font-size: 13px;
	color: #525252;
}

.nav-jo .nav-column li a:hover,
.nav-column-small li a:hover,
.nav-column-small-2col li a:hover {
	color: #525252;
	text-decoration: underline;
}

.nav-sec-jo>li {
	list-style: none;
}

.nav-sec-jo>li>a span {
	font-size: 10px !important;
}

/* Menu Dropdown */

.nav-sec-jo>li>.small-submenu {
	position: absolute;
	display: block;
	top: 20px;
	width: auto;
	left: auto;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
	color: #5f5f5f;
	background: #d2d2d2;
	border-radius: 0 0 3px 3px;
	z-index: 9999999;
}

.nav-sec-jo>li>div {
	position: absolute;
	display: block;
	width: 100%;
	top: 20px;
	left: 0;
	border-radius: 0 0 3px 3px;
	z-index: 99999;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
	background: #d2d2d2;
}

.nav-sec-jo>li:hover>div {
	opacity: 1;
	visibility: visible;
	overflow: visible;
}

/* Menu Content Styles */

.nav-sec-jo .nav-column {
	float: left;
	padding: 15px 5px;
}

.nav-sec-jo .small-submenu .nav-column-small-jo {
	float: left;
	padding: 10px 5px;
	overflow: hidden;
}

.nav-sec-jo .nav-column-small-2col {
	float: left;
}

.nav-sec-jo {
	padding-left: 0px;
}

.nav-sec-jo .nav-column-small-jo li a {
	display: block;
	/* line-height: 30px; */
	/* padding-right: 10px; */
	margin: 0 !important;
	font-size: 12px;
	color: #5f5f5f;
	text-decoration: none;
	padding: 7px;
	padding-left: 35px;
}

.nav-sec-jo .nav-column-small-jo li a:hover {
	color: #5f5f5f;
	text-decoration: underline;
}

/*MENU PARA MODULO DE JOOMLA*/

/*activo*/

.nav-joom li.current {
	color: #fff;
	background: #7b7b7b;
	/* layer fill content */
}

.nav-joom a {
	text-decoration: none;
}

.nav-joom li {
	list-style: none;
}

/* Menu Container */

.nav-joom {
	display: inline-block;
	position: relative;
	cursor: default;
	z-index: 500;
}

/* Menu List */

.nav-joom>li {
	display: block;
	float: left;
}

/*menu drop down con modulo menu*/

.nav-joom ul {
	display: none;
	position: absolute;
}

.nav-joom>li>ul {
	top: 34px;
	border: 1px solid #c3c3c3;
	background: #fff;
	padding: 10px;
}

.nav-joom>li:hover>ul {
	opacity: 1;
	visibility: visible;
	overflow: visible;
}

.nav-joom ul li a {
	display: block;
	/* line-height: 30px; */
	/* padding-right: 10px; */
	/* margin: 0!important; */
	font-size: 13px;
	color: #525252;
	top: 34px;
	/* left: 0; */
	/* border-radius: 0 0 3px 3px; */
	/* z-index: 99999; */
	overflow: hidden;
	/* background: #fff; */
	/* border-top: none!important; */
	/* border-bottom: none; */
	/* padding-top: 5px; */
	/* padding-bottom: 5px; */
	/* margin-left: -23px!important; */
	/* padding-left: 20px; */
	padding: 8px;
}

.nav-joom ul li a:hover {
	text-decoration: underline;
}

.programa_menu {
	min-width: 179px !important;
	margin-left: 280px !important;
}

.vuelos_menu {
	min-width: auto !important;
	left: 78px !important;
}

.hoteles_menu {
	min-width: 86px !important;
	left: 177px !important;
}

.cruceros_menu {
	min-width: 143px !important;
	left: 410px !important;
}

.otroprogramas_menu {
	min-width: 224px !important;
	left: 524px !important;
}

.destinos_menu {
	min-width: 173px;
	margin-left: 700px;
}

.menunav-joom_lastchild {
	border-bottom: 1px solid #c3c3c3 !important;
}

.nav-joom>li:hover>ul {
	display: block;
}

/*fin menu drop down con modulo menu*/

/* Menu Links */

.nav-joom>li>a {
	position: relative;
	display: block;
	z-index: 510;
	line-height: 35px;
	height: 34px;
	text-transform: uppercase;
	color: #fff;
	padding: 0 14px;
	font-size: 15px;
	margin-top: 0;
	list-style: none;
}

.nav-joom>li:hover>a {
	color: #fff;
	background: #7b7b7b;
	/* layer fill content */
	z-index: 510;
}

.nav-joom>li:hover>a:before {
	content: ' ';
	display: block;
	position: absolute;
	left: 43%;
	top: 33px;
	width: 18px;
	height: 10px;
}

.last-nav-joom {
	background: none !important;
	margin-right: 0 !important;
}

.nav_active {
	color: #fff;
	background: #7b7b7b;
	/* layer fill content */
}

a.nav_active {
	color: #fff;
	/*background: #7b7b7b;*/
	/* layer fill content */
}

li.nav_active a {
	color: #fff;
	/*background: #7b7b7b;*/
	/* layer fill content */
}

.nav_active a:hover {
	color: #fff;
	/*background: #7b7b7b; */
	/* layer fill content */
}

.active_submenu {
	top: 30px !important;
}

.nav-joom>li>a span {
	font-size: 10px !important;
}

/* Menu Dropdown */

.nav-joom>li>.small-submenu {
	position: absolute;
	display: block;
	top: 34px;
	width: auto;
	left: auto;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
	color: #525252;
	background: #fff;
	border-radius: 0 0 3px 3px;
	border: 1px solid #c3c3c3;
	border-top: none !important;
	z-index: 99999;
	padding-top: 5px;
	padding-bottom: 5px;
}

.nav-joom>li>div {
	position: absolute;
	display: block;
	width: 100%;
	top: 34px;
	left: 0;
	color: #525252;
	border-radius: 0 0 3px 3px;
	z-index: 99999;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
	background: #fff;
	border: 1px solid #c3c3c3;
	border-top: none !important;
	padding-top: 5px;
	padding-bottom: 5px;
}

.nav-joom>li:hover>div {
	opacity: 1;
	visibility: visible;
	overflow: visible;
}

/* Menu Content Styles */

.nav-joom .nav-column {
	float: left;
	padding: 15px 5px;
}

.nav-joom .small-submenu .nav-column-small {
	float: left;
	padding: 5px 5px;
	overflow: hidden;
}

.nav-joom .nav-column-small-2col {
	float: left;
	padding: 15px 5px;
}

.nav-joom .nav-column h3,
.nav-column-small h3,
.nav-column-small-2col h3 {
	margin: 20px 0 10px 0;
	line-height: 18px;
	font-size: 14px;
	color: #525252;
	text-transform: uppercase;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, .5);
}

.nav-joom .nav-column li a,
.nav-column-small li a,
.nav-column-small-2col li a {
	display: block;
	line-height: 30px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0 !important;
	font-size: 13px;
	color: #525252;
}

.nav-joom .nav-column li a:hover,
.nav-column-small li a:hover,
.nav-column-small-2col li a:hover {
	color: #525252;
	text-decoration: underline;
}

.image-header-jo {
	margin-left: 35px;
	float: left;
	font-size: 12px;
	margin-top: 10px;
}

.image-header-jo img {
	width: 20px;
	height: 20px;
	margin-top: 0 !important;
}

.image-header-jo>a {
	color: #909090 !important;
}

.programa_menu img {
	float: right;
	margin-right: 18px;
	margin-top: 8px;
}

@-moz-document url-prefix() {
	.first-number-jo {
		font-size: 22px !important;
	}
}

.bold {
	font-weight: bold;
}

img[src*="//cms.cocha.com/images/ico_header/phone-icon.png"] {
	margin-top: -6px;
}

.nav-column-small-jo ul li {
	list-style: none;
	margin-left: -30px;
}

.menu {
	list-style: none;
	margin-left: -38px;
	/*padding-left: 0px;*/
}

.card-images {
	list-style: none;
	color: #666666;
	margin-left: -38px;
}

#base-footer-principal-col04 div ul li {
	list-style: none;
}

#base-footer-principal-col04 div ul {
	width: 300px;
}

.card-images li img:first-child {
	margin-left: 0px;
}

.row2 {
	margin: 0 auto;
	zoom: 1;
}

.fb-btn {
	background-image: url(../img/shared/icon-medium-facebookGrey.png);
	background-repeat: no-repeat;
	height: 35px;
	width: 35px;
	background-position: 50% 50%;
	display: block;
	float: left;
	margin-left: 10px;
	background-size: 30px;
}

.tw-btn {
	background-image: url(../img/shared/icon-medium-twitterGrey.png);
	background-repeat: no-repeat;
	height: 35px;
	width: 35px;
	background-position: 50% 50%;
	display: block;
	float: left;
	margin-left: -3px;
	background-size: 30px;
}

.yb-btn {
	background-image: url(../img/shared/icon-medium-youtubeGrey.png);
	background-repeat: no-repeat;
	height: 35px;
	width: 35px;
	background-position: 50% 50%;
	display: block;
	float: left;
	margin-left: -3px;
	background-size: 30px;
}

.ins-btn {
	background-image: url(../img/shared/icon-medium-instagramGrey.png);
	background-repeat: no-repeat;
	height: 35px;
	width: 35px;
	background-position: 50% 50%;
	display: block;
	float: left;
	margin-left: -3px;
	background-size: 30px;
}

.fb-btn:hover {
	background-image: url(../img/shared/icon-medium-facebookBlue.png);
}

.tw-btn:hover {
	background-image: url(../img/shared/icon-medium-twitterBlue.png);
}

.yb-btn:hover {
	background-image: url(../img/shared/icon-medium-youtubeRed.png);
}

.ins-btn:hover {
	background-image: url(../img/shared/icon-medium-instagramBlue.png);
}

a.ini-btn {
	background-image: url(../img/shared/icon-small-homeGrey.png) !important;
	background-repeat: no-repeat;
	text-indent: -9999px;
	display: block;
	width: 94px;
	height: 34px;
	/*margin-left: 11px;*/
	background-position-x: 34px !important;
	background-position-y: 4px;
}

a.ini-btn:hover {
	background-image: url(../img/shared/icon-small-homeWhite.png) !important;
	background-repeat: no-repeat !important;
	text-indent: -9999px;
	display: block;
	/*margin-left: 11px;*/
	background-position-x: 2px !important;
	background-position-y: 4px;
}

/*** FIN NAVEGACION ***/

/**** HEADER & FOOTER MOBILE ****/

/* Header Mobile */

/* Barras para menú */

#slide-nav .navbar-toggle {
	cursor: pointer;
	position: absolute;
	/* line-height: 0; */
	/* float: left; */
	margin: 0;
	width: 30px;
	height: 40px;
	padding: 16px 0 0 0;
	border: 0;
	background: transparent;
	left: 25px;
}

#slide-nav .navbar-toggle>.icon-bar {
	background: #95949b
}

/* Primera capa menu*/

.navbar-nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.navbar-inverse .navbar-nav>li>a {
	color: #ffffff
}

/* Segunda Capa menu */

.navbar-nav ul li a {
	background: #fff;
	border-bottom: 1px solid #efeff0;
	width: 100%;
	line-height: 2.75em;
	text-indent: 2.75em;
	display: block;
	font-size: 0.923em;
	color: #878d95;
}

/* Botón visualiza el menu */

#slide-nav .navbar-toggle>.icon-bar {
	width: 100%;
	display: block;
	height: 3px;
	margin: 5px 0 0 0;
}

#slide-nav .navbar-toggle.slide-active .icon-bar {
	background: #95949b
}

#slide-nav .navbar-header {
	margin: 0 auto;
	padding: 0 15px;
}

#slide-nav .navbar.slide-active {
	position: absolute;
	width: 80%;
	top: -1px;
	z-index: 1000;
}

#slide-nav #slidemenu {
	background: #f7f7f7;
	left: -100%;
	width: 80%;
	min-width: 0;
	position: absolute;
	padding-left: 0;
	z-index: 2;
	top: -8px;
	margin: 0;
}

#slide-nav #slidemenu .navbar-nav {
	min-width: 0;
	width: 100%;
	margin: 0;
}

/* Caja de menu */

#slide-nav.navbar-inverse #slidemenu {
	background: #868589;
	top: 51px;
}

#slide-nav #navbar-height-col {
	position: fixed;
	top: 0;
	height: 100%;
	width: 80%;
	left: -80%;
	background: #868589;
}

#slide-nav.navbar-inverse #navbar-height-col {
	background: #868589;
	z-index: 1;
	border: 0;
}

#slide-nav .navbar-form {
	width: 100%;
	margin: 8px 0;
	text-align: center;
	overflow: hidden;
	/*fast clearfixer*/
}

#slide-nav .navbar-form .form-control {
	text-align: center
}

#slide-nav .navbar-form .btn {
	width: 100%
}

.na-color {
	background-color: #ffffff !important;
	border-color: #c1c2c6 !important;
	background-image: none !important
}

#pre-header {
	width: 100%;
	/* background: #ccc; */
	/* display: block; */
	/* position: relative; */
	height: 30px;
}

.left-icon {
	position: absolute;
	left: 10px;
	color: #ccc;
	font-size: 12px;
	padding-top: 6px;
}

.rigth-icon {
	position: absolute;
	right: 10px;
}

#ico-ext {
	margin: 0;
	padding: 0;
	list-style-type: none;
	width: 150px;
}

#ico-ext li {
	display: inline;
}

#ico-ext li a {
	float: left;
	margin-left: 5px;
}

.ico-cu {
	background: #868589 !important;
	width: 144px !important;
	font-size: 13px;
	padding-left: 0;
	list-style: none;
	top: 23px !important;
	right: 1px;
}

.ico-cu ul {
	padding-left: 7px;
	padding-right: 7px;
}

.ico-cu ul li a {
	padding-top: 10px;
	padding-bottom: 7px;
	width: 100%;
	color: #fff;
	text-decoration: none;
	border-bottom: 1px solid #95949b;
}

#slide-nav {
	height: 92px;
}

.navbar-nav>li {
	float: none !important
}

@media (min-width: 450px) {
	#slide-nav.navbar-inverse #navbar-height-col {
		width: 52%;
	}
	#slide-nav.navbar-inverse #slidemenu {
		width: 52%;
	}
	.v-mob,
	.v-mob:active,
	.v-mob:hover {
		color: #FFFFFF;
		text-decoration: none;
		/*border-top: 1px solid #fff;*/
		padding-top: 11px;
		width: 100%;
		margin-left: -18px;
		padding-left: 22%;
		margin-top: 17px;
		float: left;
	}
	ul.navbar-nav>li>a.ini-btn {
		background-image: url(../img/shared/icon-small-homeGrey.png) !important;
	}
}

@media (min-width: 768px) {
	#slide-nav.navbar-inverse #navbar-height-col {
		width: 30%;
	}
	#slide-nav.navbar-inverse #slidemenu {
		width: 30%;
	}
	.v-mob,
	.v-mob:active,
	.v-mob:hover {
		color: #FFFFFF;
		text-decoration: none;
		/*border-top: 1px solid #fff;*/
		padding-top: 11px;
		width: 100%;
		margin-left: -18px;
		padding-left: 10%;
		margin-top: 17px;
		float: left;
	}
	ul.navbar-nav>li>a.ini-btn {
		background-image: url(../img/shared/icon-small-homeWhite.png) !important;
	}
}

/* Fin NAv MObile */

/* FOOTER */

.h1footer {
	font-size: 15px;
	float: left;
	display: block;
	margin-top: 2px;
	text-transform: uppercase;
	margin-right: 7px;
	color: #666666;
	font-weight: 900;
}

.card {
	margin-right: 3px;
}

#new-footer a {
	color: #666666;
}

.log-cal {
	list-style: none;
	padding-left: 0;
}

.log-sello {
	margin-top: 10px;
}

.log-chile {
	margin-top: 11px;
	float: left;
}

.secure-ssl {
	font-size: 11px;
	color: #666666;
}

.copyright {
	font-size: 12px;
	text-align: center;
	color: #666666;
}

.fono-footer {
	text-align: left;
	color: #666666;
	font-size: 13px;
	float: left;
}

.fono-footer span {
	display: block;
	margin-left: 32px;
	margin-top: -21px;
}

.emer-footer {
	text-align: left;
	color: #666666;
	font-size: 13px;
	float: left;
	padding-left: 10px;
}

@media (min-width: 768px) {
	.emer-footer {
		width: 75%;
		border-top: 1px solid #666666;
		padding-top: 10px;
	}
	.fono-footer {
		width: 80%;
		border-right: none;
		margin-bottom: 10px;
	}
}

@media (min-width: 992px) {
	.emer-footer {
		width: 45.666667%;
		border-top: none;
		padding-top: 0;
	}
	.fono-footer {
		width: 46.333333%;
		border-right: 1px solid #666666;
		margin-bottom: 0;
	}
}

@media (min-width: 1200px) {
	.emer-footer {
		width: 45.666667%;
		border-top: none;
		padding-top: 0;
	}
	.fono-footer {
		width: 46.333333%;
		border-right: 1px solid #666666;
		margin-bottom: 0;
	}
}

@media (min-width: 300px) {
	.logo-mobile {
		position: absolute;
		left: 15%;
		padding: 3px;
		top: 39px;
	}
	.logo-mobile img {
		width: 80px;
	}
	.rigth-icon {
		position: absolute;
		right: -60px;
	}
}

@media (min-width: 768px) {
	.logo-mobile {
		position: absolute;
		left: 7%;
		padding: 3px;
	}
	.rigth-icon {
		position: absolute;
		right: -50px;
	}
}

@media (min-width: 996px) {
	.logo-mobile {
		position: absolute;
		left: 7%;
		padding: 3px;
	}
	.rigth-icon {
		position: absolute;
		right: 10px;
	}
}

@media (min-width: 768px) {
	#new-footer .container {
		width: 750px;
	}
}

@media (min-width: 992px) {
	.row2 {
		width: 985px;
	}
	#new-footer .container {
		width: 970px;
	}
	.menu-top-jo .row2 {
		width: 910px;
	}
	.middle-jo .row2 {
		width: 920px;
	}
}

.breadcrumbs {
	margin-top: 10px;
	margin-left: -41px;
	list-style: none;
}

@media (min-width: 1200px) {
	.row2 {
		width: 1175px;
	}
	#new-footer .container {
		width: 1170px;
	}
	.menu-top-jo .row2 {
		width: 1100px;
	}
	.middle-jo .row2 {
		width: 1110px;
	}
}

#new-footer .menu {
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
	margin-top: -5px;
	font-weight: normal;
	list-style: none;
	margin-left: -38px;
}

.nav-joom>li>a {
	font-size: 15px !important;
	font-weight: normal !important;
}

.destination .options {
	list-style: none;
}

/*** FIN HEADER & FOOTER MOBILE **/

// The following 4lines brake the grid system of bootstrap framework, that's why are commented,
// please, if you need change the behaviors of rows, create a custom row class, don't override!
// .row{
// 	margin-left: 0!important;
//   	margin-right:0!important;
//   }
#info-right {
	margin-top: 10px;
	position: absolute;
	right: 0;
	width: 218px;
}

img[alt="logo-cocha"] {
	width: 72%;
}

@media (min-width: 992px) {
	.nav-joom>li {
		padding-left: 2px;
		padding-right: 2px
	}
	.nav-joom .ini-btn,
	.nav-joom .item-157 {
		padding-left: 0 !important;
		padding-right: 0 !important;
		width: 70px !important
	}
	.nav-joom .ini-btn,
	.nav-joom .ini-btn:hover {
		background-position-x: 2px !important
	}
}

@media (min-width: 1200px) {
	.nav-joom>li {
		padding-left: 10px;
		padding-right: 10px
	}
	.nav-joom .ini-btn,
	.nav-joom .item-157 {
		padding-left: 0 !important;
		padding-right: 0 !important;
		width: 127px !important
	}
	.nav-joom .ini-btn,
	.nav-joom .ini-btn:hover {
		background-position-x: 2px !important
	}
}

#new-footer {
	margin-right: 0 !important
}

#llamado {
	background-image: url(http://cms-adm.cocha.com/images/home_responsivo/banner/bak_call90.png) !important
}

@media screen {
	#llamado {
		margin-top: -22px
	}
}

@media screen {
	#llamado {
		margin-top: -22px
	}
}

@media screen,
screen {
	#llamado {
		margin-top: -22px
	}
}

@media screen and (min-width: 0) {
	#llamado {
		margin-top: -22px
	}
}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
	#llamado {
		margin-top: -22px
	}
}

@media screen {
	@media (min-width: 0px) {
		#llamado {
			margin-top: -22px
		}
	}
}

.nav-joom>li>ul {
	width: 210px
}
