/* 
.header-logo {
	height: 35px;
}

.header-popup {
	background: @trans-black;
	position: absolute;
	top: 60px;
	right: 5px;
	border-radius: 15px;
	height: 60px;
	max-width: 550px;
	padding: 10px 20px;
	text-transform: none !important;
	font-size: @font-size-base !important;
	z-index: 1039;
	opacity: 0;
	transition: opacity 0.3s ease;
	.header-help {
		padding: 4px 0;
		font-weight:900;
		.icon-img {
			background-size: 18px 18px;
			height: 18px;
			width: 18px;
			float: left !important;
			margin-right: 5px;
			border-radius: 50%;
			border: 1px solid white;
			text-align: center;
			.icon {
				font-size: @font-size-base - 2;
			}
		}
		.phone {
			color: white;
			height: 15px;
			margin-top: 1px;
			float: left !important;
			margin-right: 20px;
		}
		.mobile {
			text-align: center;
			color: white;
			float: left;
			margin-top: 1px;
			float: left !important;
			margin-right: 20px;
		}
		.call {
			.btn-transparent();
			height: 18px;
			border-radius: 10px;
			padding: 1px 8px;
			font-size: @font-size-base - 3;
			float: left !important;
		}
		.emergency {
			color: white;
			height: 15px;
			margin-top: 1px;
			float: right !important;
		}
	}
	&.show {
		opacity: 1 !important;
		transition: opacity 0.3s ease;
	}
}

.cocha-navbar {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: @trans-black;
	height: 50px;
	z-index: 1039;
	font-weight:900;
	font-size: @font-size-base - 1;
	text-transform: uppercase;
	color: white;
	border-radius: 0px;
	.cocha-navbar-header {
		margin-right: 10px;
		.cocha-brand {
			padding: 6px 5px !important;
			width: 92px;
		}
	}
	ul {
		list-style-type: none;
		padding: 0;
		li {
			height: 49px;
			float: left !important;
			padding: 16px 15px;
			cursor: pointer;
			background: @transparent;
			transition: background 0.3s ease;
			&:hover {
				background: rgba(0, 0, 0, 0.3);
				transition: background 0.4s ease;
				.navbar-option-container {
					width: 350px;
					height: 100px;
					opacity: 1;
					transition: all 0.35s ease;
				}
				span.drop:after {
					transform: rotate(-180deg);
				}
			}
			span.drop:after {
				content: url('../img/arrow_down_button.png');
				margin-left: 6px;
				display: inline-block;
				transition: ease 0.35s;
			}
			.navbar-option-container {
				width: 0px;
				height: 0px;
				opacity: 0;
				transition: all 0.35s ease;
				position: absolute;
				top: 49px;
				left: 0;
				border-top: 1px solid white;
				background: @trans-black;
				z-index: 9999;
				overflow: hidden;
				.left-options {
					width: 50%;
					float: left;
					overflow: hidden;
				}
				.right-options {
					width: 50%;
					float: left;
					overflow: hidden;
				}
				.ul-border {
					margin-top: 10px;
					height: 80px;
					border-left: 1px solid white;
					width: 1px;
				}
				ul {
					list-style-type: none;
					padding: 0;
					li {
						&:hover {
							background: rgba(0, 0, 0, 0.3);
						}
					}
					.li-border {
						margin-left: 10px;
						width: ~'calc(100% - 20px)';
						margin-right: 10px;
						border-bottom: 1px solid white;
						height: 1px;
						padding: 0 !important;
					}
					li:last-child {
						border-bottom: none;
					}
				}
				.navbar-option {
					width: 100%;
					text-align: left;
					padding: 16px 20px !important;
				}
			}
		}
	}
	.navbar-right {
		.header-phone-container {
			position: relative;
			float: left;
			padding: 8px 10px;
			background: @transparent;
			transition: background 0.3s ease;
			.cch-phone-container {
				height: 32px;
				width: 32px;
				border: 2px solid white;
				border-radius: 50%;
				padding: 5px;
				color: white;
				transition: all 0.3s ease;
				i {
					font-size: @font-size-base + 5;
				}
				&:hover {
					transition: all 0.3s ease;
					background: white;
					color: #666;
				}
			}
			.popup-arrow {
				position: absolute;
				top: 51px;
				right: 0px;
				position: absolute;
				margin-left: auto;
				margin-right: auto;
				left: -7px;
				right: 0;
				width: 0;
				height: 0;
				border-left: 9px solid transparent;
				border-right: 9px solid transparent;
				border-bottom: 9px solid @trans-black;
				z-index: 1000;
				opacity: 0;
				transition: opacity 0.3s ease;
				&.show {
					opacity: 1 !important;
					transition: opacity 0.3s ease;
				}
			}
		}
		.light {
			font-family: 'amaranth regular';
			font-size: @font-size-base + 2;
		}
		.bold {
			font-family: 'amaranth bold';
			font-size: @font-size-base + 2;
		}
		li:last-child {
			border-left: 1px solid white;
			border-right: 1px solid white;
			line-height: 1.3;
		}
		li {
			padding: 5px 10px;
			border-left: 1px solid white;
			line-height: 1.3;
		}
	}
}

.cocha-navbar-arrow {
	position: absolute;
	top: 50px;
	left: 0;
	width: 100%;
	height: 11px;
	z-index: 1039;
	overflow: hidden;
	.arrow-container-container {
		position: relative;
		width: 100%;
		height: 11px;
		.arrow-container {
			position: relative;
			float: left;
			width: 21px;
			height: 11px;
			top: 0px;
			.arrow {
				position: absolute;
				margin: auto;
				top: -9px;
				width: 17px;
				height: 17px;
				left: 0;
				right: 0;
				transform: rotate(45deg);
				border-right: 1px solid white;
				border-bottom: 1px solid white;
				background: @trans-black;
			}
			&:after {
				content: '';
				height: 1px;
				width: 2000px;
				background: white;
				position: absolute;
				left: 20px;
			}
			&:before {
				content: '';
				height: 1px;
				width: 2000px;
				background: white;
				position: absolute;
				right: 20px;
			}
		}
	}
}

@media (max-width: 1200px) {}

@media (max-width: 991px) {
	.header-logo {
		height: 30px !important;
	}
	.cocha-navbar {
		.cocha-navbar-header {
			margin-right: 10px;
			.cocha-brand {
				padding: 8px 3px 8px 0px !important;
				width: 69px !important;
			}
		}
		font-size: @font-size-base - 1 !important;
		ul {
			li {
				padding: 15px 7px !important;
			}
		}
		.navbar-right {
			.header-phone-container {
				padding: 10px 7px;
				.cch-phone-container {
					height: 25px;
					width: 25px;
					border: 1px solid white;
					padding: 4px;
					i {
						font-size: @font-size-base + 2;
					}
				}
			}
			.light {
				font-size: @font-size-base - 2 !important;
			}
			.bold {
				font-size: @font-size-base - 2 !important;
			}
			li {
				padding-top: 8px !important;
				padding-right: 2px !important;
			}
		}
	}
	.header-popup {
		font-size: @font-size-base - 1 !important;
	}
}

@media (max-width: 768px) {
	.xs-nav {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 120px;
		z-index: 1000;
		.white-nav {
			position: relative;
			background: white;
			width: 100%;
			height: 60px;
			.logo {
				position: absolute;
				top: 0;
				left: 0;
				height: 60px;
				padding: 13px 10px;
				img {
					height: 34px;
				}
			}
			.xs-nav-right {
				position: absolute;
				top: 0;
				right: 0;
				height: 60px;
				width: 100%;
				padding: 10px 0;
				.icon {
					float: right;
					height: 40px;
					width: 40px;
					color: #99979E;
					margin-right: 5px;
					margin-top: 0px;
					border: 1px solid #99979E;
					border-radius: 50%;
					padding: 7px 0;
					text-align: center;
					transition: all 0.3s ease;
					i {
						font-size: @font-size-base + 12;
					}
					&:hover {
						background: #99979E;
						color: white;
						transition: all 0.3s ease;
					}
				}
				.col-20 {
					position: relative;
					float: right;
					text-align: center;
					border-left: 1px solid #ccc;
					height: 40px;
					line-height: 0.53;
					padding: 0 !important;
					.more-sites {
						height: 60px;
						width: ~'calc(100% + 1px)';
						margin-top: -10px;
						margin-left: -1px;
						color: #99979E;
						transition: all 0.3s ease;
						padding: 10px 0;
						&.active {
							color: white;
							background: #5C5B60;
							transition: all 0.3s ease;
						}
						.plus {
							font-size: @font-size-base + 31;
						}
						.sites {
							font-size: @font-size-base;
							text-transform: uppercase;
							font-weight:bold;
						}
					}
				}
			}
		}
		.sections {
			background: @trans-black;
			width: 100%;
			height: 60px;
			color: white;
			position: relative;
			.sections-options-container {
				background: none;
				height: 71px;
				width: 80%;
				float: left;
				overflow: hidden;
				position: relative;
				.sections-options {
					width: 200%;
					position: absolute;
					left: 0;
					top: 0;
					transition: all 0.2s ease;
					&.secondary-options {
						left: -100%;
						transition: all 0.2s ease;
					}
				}
			}
			.sections-btn {
				background: none;
				width: 20%;
				height: 60px;
				float: left;
				i {
					display: inline-block;
					transition: all 0.3s ease;
				}
				.rotate {
					i {
						transform: rotate(-180deg);
						display: inline-block;
						transition: all 0.3s ease;
					}
				}
			}
			.option-xs {
				width: 12.5%;
				height: 60px;
				border-right: 1px solid white;
				text-align: center;
				padding-top: 18px;
				float: left;
				font-size: @font-size-base + 9;
				i {
					display: inline-block;
					transition: all 0.3s ease;
				}
				&:hover,
				&.active {
					background: rgba(0, 0, 0, 0.3);
					transition: background 0.4s ease;
				}
			}
			.double-option-xs {
				width: 25% !important;
				font-weight: bold;
				font-size: @font-size-base;
				padding-top: 0px !important;
				display: table;
				.span-container {
					display: table-cell;
					height: 60px;
					vertical-align: middle;
				}
			}
			.btn-option {
				width: 100% !important;
				font-size: @font-size-base + 17 !important;
				padding-top: 14px !important;
			}
			.no-border {
				border: none;
			}
			.header-arrow-down {
				position: absolute;
				top: 60px;
				margin-left: auto;
				margin-right: auto;
				left: 0;
				right: 0;
				width: 0;
				height: 0;
				border-left: 9px solid transparent;
				border-right: 9px solid transparent;
				border-top: 9px solid rgba(0, 0, 0, 0.6);
				z-index: 1000;
			}
		}
	}
	.no-scroll {
		overflow: hidden;
	}
	.sites-modal {

&.sites-modal-in {
	animation: sitesModalIn 0.3s ease forwards;
}

&.sites-modal-out {
	animation: sitesModalOut 0.3s ease 0.3s forwards;
}

.more-sites-container {
	width: ~'calc(80% + 1px)';
	position: absolute;
	top: 0;
	background: #99979E;
	height: 100%;
	&.more-sites-container-in {
		right: 0%;
		transition: right 0.4s ease 0.2s;
	}
	&.more-sites-container-out {
		right: -81%;
		transition: right 0.4s ease;
	}
	.site-option {
		height: 60px;
		border-bottom: 1px solid #C0C0C0;
		padding: 21px 10px;
		text-align: right;
		color: white;
		text-transform: uppercase;
		font-weight: normal;
		font-size: @font-size-base + 1;
	}
}


}
.cocha-navbar-arrow {
	position: absolute;
	top: 60px;
	left: 0;
	width: 100%;
	height: 11px;
	z-index: 9998;
	overflow: hidden;
	.arrow-container-container {
		width: 100%;
		height: 11px;
		.arrow-container {
			position: relative;
			float: left;
			width: 21px;
			height: 11px;
			top: 0px;
			.arrow {
				position: absolute;
				margin: auto;
				top: -11px;
				width: 17px;
				height: 17px;
				left: 0;
				right: 0;
				transform: rotate(45deg);
				border-right: none;
				border-bottom: none;
				background: @trans-black;
			}
			.arrow-xs {
				background: rgba(0, 0, 0, 0.7) !important;
			}
			&:after {
				content: '';
				height: 0px;
			}
			&:before {
				content: '';
				height: 0px;
			}
		}
	}
}

}
*/

/*
    position: fixed;
    top: 60px;
    bottom: 0;
    width: 100%;
    overflow-y: scroll;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    */
