.home {
	position: relative;
	.background {
		min-width: 100%;
		min-height: 501px;
		max-height: 100%;
		position: fixed;
		left: 50%;
		transform: translateX(-50%);
		z-index: -1;
		top: 0;
	}
}

.full-width {
	width: 100%;
	margin-top: 40px;
}

.marketing-container {
	background: #fff;
	.bbva {
		width: 100%;
		margin: 30px 0 10px;
	}
	.bbva-legal {
		.btn-white();
		background: none;
		border: 1px solid #666;
		padding: 6px 15px 4px;
		border-radius: 17px;
		text-decoration: none;
		position: absolute;
		right: 3%;
		bottom: 6%;
	}
}

.view-offers-container-container {
	height: 55px;
	.view-offers-container {
		position: absolute;
		bottom: 0;
		width: 100%;
		z-index: 10;
		.view-offers {
			width: 230px;
			margin: 0 auto;
			text-align: center;
			background: @color-lightgray;
			padding: 11px 15px 2px 15px;
			height: 55px;
			.view-offers-text {
				font-weight: normal;
				font-size: @font-size-base + 3;
			}
			.chevron-container {
				position: relative;
				margin-top: 3px;
				.glyphicon-chevron-down {
					position: absolute;
					font-size: @font-size-base + 3;
					top: -2px;
					left: 95px;
					animation: 1s bouncingChevron ease infinite;
				}
			}
		}
	}
}

.home-title {
	font-weight: bold;
	font-size: @font-size-base + 10;
	text-transform: uppercase;
	margin-bottom: 25px;
}

.offers-filter-container {
	height: 68px;
	.filter-select {
		.black-select();
		margin: 15px 0 7px;
		padding: 6px 0;
	}
	.filter-option-container-container {
		position: absolute;
		top: 44px;
		left: 4px;
		z-index: 100;
		width: ~'calc(100% - 10px)';
		height: 410px;
		border-bottom: 2px solid @color-red;
		border-bottom-right-radius: 3px;
		border-bottom-left-radius: 3px;
		background: white;
		.filter-option-container {
			z-index: 100;
			width: 100%;
			max-height: 410px;
			overflow: auto;
			background: white;
			.filter-option {
				border-top: 1px solid @official-gray-1;
				height: 40px;
				background: white;
				color: #666;
				cursor: pointer;
				text-align: left;
				width: 100%;
				padding: 11px 10px;
				font-weight: 700;
				.filter-checkbox {
					display: none;
				}
				.filter-checkbox+label {
					display: inline-block;
					width: 15px;
					height: 15px;
					vertical-align: middle;
					background: url(../img/airline-checkbox.png) left top no-repeat;
					cursor: pointer;
				}
				.filter-checkbox:checked+label {
					background: url(../img/airline-checkbox.png) -15px top no-repeat;
				}
			}
			.filter-option-checked {
				background: @color-darkgray;
				color: white;
				border-top: 1px solid @official-gray-1;
				height: 40px;
				cursor: pointer;
				text-align: left;
				width: 100%;
				padding: 11px 10px;
				font-weight: bold;
				.filter-checkbox {
					display: none;
				}
				.filter-checkbox+label {
					display: inline-block;
					width: 15px;
					height: 15px;
					vertical-align: middle;
					background: url(../img/airline-checkbox.png) left top no-repeat;
					cursor: pointer;
				}
				.filter-checkbox:checked+label {
					background: url(../img/airline-checkbox.png) -15px top no-repeat;
				}
			}
		}
	}
}

.view-more-offers {
	border: 1px solid #666;
	background: white;
	border-radius: 18px;
	padding: 8px 20px;
	font-weight: 900;
	margin-bottom: 30px;
	text-transform: uppercase;
	outline: none;
	&:active {
		outline: none;
	}
}

.loading-container {
	width: 100%;
	.loading-offers {
		width: 30px;
		height: 30px;
		margin: 0 auto;
		border-radius: 50%;
		animation: load8 0.7s linear infinite;
		border-top: 4px solid @color-red;
		border-left: 4px solid @color-red;
		border-bottom: 4px solid @transparent;
		border-right: 4px solid @transparent;
	}
}

.specials-button,
.specials-button:active {
	width: 100%;
	font-weight: 900;
	font-size: @font-size-base;
	color: @official-gray-2;
	background-color: @transparent;
	padding: 6px 12px;
	text-transform: uppercase;
	border-radius: 3px;
	border: 1px solid @official-gray-2;
	transition: ease 0.4s;
	outline: none;
	margin-bottom: 15px;
}

.specials-button:hover {
	color: white;
	background-color: @color-darkgray;
	transition: ease 0.4s;
	outline: none;
}

.main-special-text {
	position: absolute;
	bottom: 25px;
	left: 25px;
	font-size: @font-size-base + 16;
	color: white;
	font-weight: 900;
	line-height: 1.4;
	text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.7);
}

.main-special {
	margin-bottom: 20px;
}

.main-special-img {
	width: 100%;
}

.more-specials-button,
.more-specials-button:active {
	position: absolute;
	bottom: 25px;
	right: 25px;
	width: 90%;
	font-weight: 900;
	font-size: @font-size-base;
	color: white;
	background-color: @color-red;
	padding: 6px 12px;
	text-transform: uppercase;
	border-radius: 3px;
	border: none;
	transition: ease 0.4s;
	outline: none;
}

.more-specials-button:hover {
	background-color: #9E0D20;
}

.special-box-offer-img {
	width: 100%;
	border: 1px solid @official-gray-1;
	border-radius: 3px;
}

.discount,
.box-offer-title,
.box-offer-price {
	/*position: absolute;*/
}

.select-offer-btn() {
	border-radius: 3px;
	border: none;
	background: @color-red;
	color: white;
	text-transform: uppercase;
	font-weight: 900;
	font-size: @font-size-base - 2;
	height: 25px;
	padding: 0 15px;
	outline: none;
	transition: ease 0.4s;
	&:active {
		outline: none;
	}
	&:hover {
		background: #9E0D20;
		transition: ease 0.4s;
	}
	&.disabled {
		opacity: 0.7;
		&:hover {
			background: @color-red;
			opacity: 0.7;
		}
	}
}

.discount {
	top: 1px;
	right: 6px;
	width: 112px;
	height: 33px;
	.number {
		padding-top: 2px;
		height: 33px;
		width: 56px;
		text-align: center;
		float: left;
		background: #FFA73B;
		color: white;
		font-size: @font-size-base + 7;
		font-weight: bold;
	}
	.text {
		height: 33px;
		width: 56px;
		padding: 8px 0;
		text-align: center;
		float: left;
		background: white;
		color: #FFA73B;
		text-transform: uppercase;
		font-size: @font-size-base;
		font-weight: bold;
	}
}

/*.box-offer-price {
	bottom: 2px;
	left: 6px;
	width: ~'calc(100% - 12px)';
	background: @color-darkgray;
	height: 50px;
	padding-left: 5px;
	.small-text {
		font-weight:900;
		color: white;
		font-size: @font-size-base - 2;
	}
	.medium-text {
		font-weight:900;
		color: white;
		font-size: @font-size-base + 1;
	}
	.big-text {
		font-weight:900;
		color: white;
		font-size: @font-size-base + 14;
		line-height: 1;
	}
}

.box-offer-title {
	top: 31%;
	left: -1px;
	width: 100%;
	text-align: center;
	font-size: @font-size-base + 16;
	font-weight:900;
	color: white;
	text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.7);
}

.special-box-offer {
	margin-bottom: 20px;
}

.light-grey-background {
	padding-top: 30px;
	background-color: @color-lightgray;
}
*/

.deals-flight-container {
	padding: 10px;
	width: 20%;
	float: left;
	margin-bottom: 30px;
	.deals-flight {
		position: relative;
		width: 100%;
		padding-bottom: 100%;
		border-radius: 50%;
		background: white;
		overflow: hidden;
		.content {
			text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.7);
			.deals-flight-img-container {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				background: black;
				.deals-flight-img {
					opacity: 0.75;
				}
			}
			.deals-flight-img:before {
				content: '';
				background: rgba(0, 0, 0, 0.3);
			}
			.title {
				position: absolute;
				top: 25%;
				width: 100%;
				text-align: center;
				font-size: @font-size-base + 5;
				font-weight: 900;
				color: white;
				padding: 0 10px;
			}
			.middle-separator-container {
				position: absolute;
				top: 51%;
				width: 100%;
				padding: 0 20px;
				.middle-separator {
					width: 100%;
					border-top: 1px solid @color-lightgray;
				}
			}
			.box-offer-price2 {
				position: absolute;
				top: 58%;
				left: 6px;
				text-align: center;
				width: ~'calc(100% - 12px)';
				.small-text {
					font-weight: 900;
					color: white;
					font-size: @font-size-base - 2;
				}
				.medium-text {
					font-weight: 900;
					color: white;
					font-size: @font-size-base + 1;
				}
				.big-text {
					font-weight: 900;
					color: white;
					font-size: @font-size-base + 14;
					line-height: 1;
				}
			}
		}
		.hover-content {
			border-top: 2px solid @color-red;
			text-align: center;
			position: absolute;
			top: 100%;
			width: 100%;
			height: 50%;
			background: white;
			z-index: 5;
			transition: top 0.3s ease;
			.via {
				margin-top: 8px;
				font-size: @font-size-base;
				font-weight: 900;
			}
			.via-image-container {
				.via-image {
					height: 25px;
					margin-bottom: 8px;
				}
			}
			button {
				.select-offer-btn;
			}
		}
	}
	.deals-flight:hover .hover-content {
		top: 50%;
		transition: top 0.3s ease;
	}
}

@media (max-width: 767px) {
	.home {
		position: relative;
		.background {
			min-width: 100%;
			min-height: 501px;
			max-height: 100%;
			transform: translateX(-40%);
			z-index: -1;
			top: 0;
		}
	}
}

/*
 @media (max-width: 991px) {
	.box-offer-price2 {
		top: 51% !important;
		.big-text {
			font-size: @font-size-base + 11 !important;
		}
	}
}

@media (max-width: 1200px) {
	.box-offer-price2 {
		top: 55%;
	}
	.via {
		margin-top: 1% !important;
		font-size: @font-size-base - 2 !important;
		font-weight:900 !important;
	}
	.airline {
		margin: 0 !important;
		font-size: @font-size-base + 2 !important;
		font-weight:900 !important;
	}
}
*/
