  #div-hotel-map {
  	position: absolute;
  	top: 0;
  	bottom: 0;
  	width: 100%;
  	min-height: 485px;
  }

  .map-loader {
  	position: absolute;
  	z-index: 100;
  	min-height: 485px;
  }

  .popup img {
  	width: 235px;
  }

  .hotel-map {
  	width: 70%;
  	min-height: 424px;
  	position: relative;
  	float: left;
  }

  .region-map {
  	width: 100%;
  	position: relative;
  	float: left;
  }

  .closest-hotels {
  	width: 29%;
  	padding: 2px;
  	position: relative;
  	float: right;
  	max-height: 485px;
  	text-align: left;
  	overflow-y: auto;
  }

  .closest-hotel {
  	text-align: left
  }

  /* popup region map */

  .link-hotel-map {
  	color: black !important;
  	text-decoration: none;
  	display: block;
  	clear: both;
  }

  .img-region-map-supplier {
  	height: 40px;
  }

  /* ng-map */

  .google-map-hotel {
  	height: 410px;
  }

  .google-map-region {
  	height: 490px;
  	margin-top: 5px;
  }

  #map .ng-map-info-window {
  	background-color: #fff !important;
  	color: #666 !important;
  	width: 200px;
  	margin-top: -40px;
  }

  #map .ng-map-info-window div:first-child>div:nth-child(1) {
  	border-top-color: #fff !important;
  	z-index: 2000;
  }

  #map .ng-map-info-window div:first-child>div:nth-child(2) {
  	background-color: #fff !important;
  }

  #map .ng-map-info-window div:first-child>div:nth-child(3) div {
  	background-color: transparent !important;
  	margin-top: 2px !important;
  	z-index: -10;
  }

  #map .ng-map-info-window div:first-child>div:nth-child(4) {
  	background-color: transparent !important;
  }

  .closest-hotels-full-map {
  	width: 300px;
  	padding: 10px;
  	position: absolute;
  	right: 0;
  	max-height: 485px;
  	text-align: left;
  	overflow-y: auto;
  	top: 70px;
  	background-color: white;
  }

  #mapModal .ng-map-info-window {
  	background-color: #fff !important;
  	color: #666 !important;
  	width: 200px;
  	margin-top: -40px;
  }

  #mapModal .ng-map-info-window div:first-child>div:nth-child(1) {
  	border-top-color: #fff !important;
  	z-index: 2000;
  }

  #mapModal .ng-map-info-window div:first-child>div:nth-child(2) {
  	background-color: #fff !important;
  }

  #mapModal .ng-map-info-window div:first-child>div:nth-child(3) div {
  	background-color: transparent !important;
  	margin-top: 2px !important;
  	z-index: -10;
  }

  #mapModal .ng-map-info-window div:first-child>div:nth-child(4) {
  	background-color: transparent !important;
  }
