/* hotel results directive */

.payment-type-msg {
	position: absolute;
	margin-left: 15px;
}

.payment-type-select {
	width: 60% !important;
}

.hotel-amenities {
	height: 26px;
	float: left;
	width: 100%;
	.div-hotel-amenities {
		display: inline-block;
		i {
			display: inline-block;
			font-size: @font-size-base + 9;
			height: 20px;
			width: 30px;
			border-right: 1px solid #ccc;
			text-align: center;
			margin-top: 10px;
			&.last {
				border-right: none;
			}
		}
	}
}

@media (min-width: 320px) and (max-width: 479px) {
	.test {
		/*color: white;*/
	}
	.pagination-links {
		font-size: @font-size-base + 7;
	}
	.results {
		.region-title-results {
			padding-top: 20px;
		}
	}
	.sort-by {
		.sort-padding {
			text-align: center;
		}
		.sort-background {
			.select-box-container {
				width: 280px;
			}
		}
	}
	.grey-background {
		.loader-disclaimer {
			.text {
				margin-top: 13px;
			}
		}
	}
	.div-hotel-result {
		.div-hotel-info {
			.padded-img {
				padding-left: 5px !important;
				padding-right: 10px;
				width: 100%;
				float: left;
				.center-cropped {
					width: 272px;
					height: 195px;
					background-position: center center;
					background-repeat: no-repeat;
					margin: auto;
					margin-top: 5px;
					margin-bottom: 5px;
					background-size: cover;
				}
			}
			.padded-hotel-data {
				clear: both;
				.hotel-results-info {
					padding-left: 10px;
					padding-right: 10px;
					.hotel-result-address-container {
						.hotel-result-address-separator {
							display: none;
						}
					}
				}
				.hotel-results-price-div {
					padding-left: 10px;
					padding-right: 10px;
					clear: both;
					.hotel-results-dollar {
						font-weight: 900;
						color: #444242;
						font-size: 28px;
						.logo-lowest {
							max-height: 20px;
							padding-right: 10px;
							max-width: 80px;
						}
						.link-hotel-results {
							font-size: 16px;
							font-weight: 400;
						}
						.hotel-results-converted {
							font-size: 13px;
							font-weight: 400;
						}
						.hotel-result-rate-text {
							font-size: 13px;
							display: block;
							font-weight: 400;
						}
					}
				}
				.hotel-result-buttons {
					display: table;
					width: 100%;
					padding-left: 10px;
					padding-right: 10px;
					.div-get-rates {
						display: table-footer-group;
						text-align: center;
						.hotel-result-btn-rate {
							padding-bottom: 0 !important;
							margin-top: 7px;
							font-weight: 900;
							font-weight: 900;
							font-size: 15px;
							color: #666;
							margin-bottom: 10px;
							&:hover {
								color: #666;
							}
							&:visited {
								color: #666;
							}
						}
					}
					.div-goto-details {
						display: table-header-group;
					}
				}
			}
		}
		.div-hotel-details {
			.rooms-list-title-row {
				display: none;
			}
			.div-logo-hotel-details {
				margin-top: 25px;
				text-align: center;
				width: 50%;
				float: left;
			}
			.content-room-result {
				width: 50%;
				float: left;
			}
			.amenity-result-container {
				width: 50%;
				float: left;
				clear: both;
				padding-top: 10px;
			}
			.cancellation-policy-info {
				width: 50%;
				float: left;
				.refundable-div-info {
					padding-top: 6px;
				}
				.tooltip {
					.tooltip-inner {
						width: 160px !important;
						padding: 5px 5px !important;
						background: rgba(0, 0, 0, 0.85) !important;
						border-radius: 15px;
					}
				}
			}
			.room-price {
				width: 100%;
				float: left;
			}
			.room-reservation-buttons {
				width: 100%;
				float: left;
			}
			.show-more-info-xs {
				width: 100%;
				float: left;
			}
			.room-info-collapse {
				width: 95%;
			}
		}
	}
}

/* 767px - 480px */

@media (min-width: @screen-xs-min) and (max-width: @screen-xs-max) {
	.test {
		/*color: red !important;*/
	}
	.pagination-links {
		font-size: @font-size-base + 7;
	}
	.results {
		.region-title-results {
			padding-top: 20px;
		}
	}
	.sort-by {
		.sort-padding {
			text-align: center;
		}
		.sort-background {
			width: 450px;
			margin: auto;
			.select-box-container {
				width: 440px;
			}
		}
	}
	.grey-background {
		.loader-disclaimer {
			.text {
				margin-top: 13px;
			}
		}
	}
	.div-hotel-result {
		.div-hotel-info {
			.padded-img {
				padding-left: 5px !important;
				width: 100%;
				float: left;
				.center-cropped {
					width: 350px;
					height: 195px;
					background-position: center center;
					background-repeat: no-repeat;
					margin: auto;
					margin-top: 5px;
					margin-bottom: 5px;
					background-size: cover;
				}
			}
			.padded-hotel-data {
				clear: both;
				.hotel-results-info {
					padding-left: 10px;
					padding-right: 10px;
					.hotel-result-address-container {
						display: inline;
						.hotel-result-address-separator {
							display: inline;
						}
					}
				}
				.hotel-results-price-div {
					clear: both;
					padding-left: 10px;
					padding-right: 10px;
					.hotel-results-dollar {
						font-weight: 900;
						color: #444242;
						font-size: 28px;
						.logo-lowest {
							max-height: 20px;
							padding-right: 10px;
							max-width: 80px;
						}
						.hotel-result-rate-text {
							font-size: 13px;
							clear: both;
							display: block;
						}
					}
				}
				.hotel-result-buttons {
					display: table;
					width: 100%;
					padding-left: 10px;
					padding-right: 10px;
					.div-get-rates {
						display: table-footer-group;
						text-align: center;
						.hotel-result-btn-rate {
							padding-bottom: 0 !important;
							margin-top: 7px;
							font-weight: 900;
							font-weight: 900;
							font-size: 15px;
							color: #666;
							margin-bottom: 10px;
							&:hover {
								color: #666;
							}
							&:visited {
								color: #666;
							}
						}
					}
					.div-goto-details {
						display: table-header-group;
					}
				}
			}
		}
		.div-hotel-details {
			.rooms-list-title-row {
				display: none;
			}
			.div-logo-hotel-details {
				margin-top: 25px;
				text-align: center;
				width: 50%;
				float: left;
			}
			.content-room-result {
				width: 50%;
				float: left;
			}
			.amenity-result-container {
				clear: both;
				width: 50%;
				float: left;
				padding-top: 10px;
			}
			.cancellation-policy-info {
				width: 50%;
				float: left;
				.refundable-div-info {
					padding-top: 6px;
				}
				.tooltip {
					.tooltip-inner {
						width: 160px !important;
						padding: 5px 5px !important;
						background: rgba(0, 0, 0, 0.85) !important;
						border-radius: 15px;
					}
				}
			}
			.room-price {
				width: 100%;
				float: left;
			}
			.room-reservation-buttons {
				width: 100%;
				float: left;
			}
			.show-more-info-xs {
				width: 100%;
				float: left;
			}
			.room-info-collapse {
				width: 95%;
			}
		}
	}
}

/* 768px - 991px */

@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
	.test {
		/*color: green !important;*/
	}
	.pagination-links {
		font-size: @font-size-base + 7;
	}
	.results {
		.region-title-results {
			padding-top: 20px;
		}
	}
	.sort-by {
		width: 450px;
		margin: auto;
		.sort-padding {
			text-align: center;
		}
		.sort-background {
			.select-box-container {
				width: 440px;
			}
		}
	}
	.grey-background {
		.loader-disclaimer {
			.text {
				margin-top: 13px;
			}
		}
	}
	.div-hotel-result {
		.div-hotel-info {
			.padded-img {
				padding-left: 5px !important;
				float: left;
				.center-cropped {
					width: 320px;
					background-position: center center;
					background-repeat: no-repeat;
					margin-top: 5px;
					margin-bottom: 5px;
					background-size: cover;
					/*height: calc(100%-5px);*/
					height: 225px;
					position: absolute;
					max-height: 225px;
				}
			}
			.padded-hotel-data {
				margin-left: 330px;
				.hotel-results-info {
					.hotel-result-name {
						padding-top: 7px;
					}
					.hotel-result-address-container {
						display: inline;
						line-height: 13px;
						.hotel-result-address-separator {
							display: inline;
						}
					}
				}
				.hotel-results-price-div {
					padding-left: 10px;
					padding-right: 10px;
					.hotel-results-dollar {
						font-weight: 900;
						color: #444242;
						font-size: 28px;
						.logo-lowest {
							max-height: 20px;
							padding-right: 10px;
							max-width: 80px;
						}
						.link-hotel-results {
							font-weight: 400;
							font-size: 16px;
						}
						.hotel-results-converted {
							font-size: 13px;
							font-weight: 400px;
						}
						.hotel-result-rate-text {
							font-size: 13px;
							display: block;
						}
					}
				}
				.hotel-result-buttons {
					display: table;
					width: 100%;
					padding-left: 10px;
					padding-right: 10px;
					.div-get-rates {
						display: table-footer-group;
						text-align: center;
						margin-top: 8px;
						.hotel-result-btn-rate {
							padding-bottom: 0 !important;
							margin-top: 7px;
							font-weight: 900;
							font-weight: 900;
							font-size: 15px;
							color: #666;
							margin-bottom: 0px;
							padding-left: 0px;
							&:hover {
								color: #666;
							}
							&:visited {
								color: #666;
							}
						}
					}
					.div-goto-details {
						margin-top: 5px;
						display: table-header-group;
					}
				}
			}
		}
		.div-hotel-details {
			.rooms-list-title-row {
				.rooms-title-room-provider {
					width: 14%;
					display: block;
					float: left;
					text-align: center;
				}
				.rooms-title-room-name {
					padding-top: 5px;
					padding-left: 5px;
					width: 16%;
					display: block;
					float: left;
				}
				.rooms-title-room-amenities {
					padding-top: 5px;
					width: 16%;
					display: block;
					padding-left: 5px;
					float: left;
				}
				.rooms-title-room-cancellation {
					padding-top: 5px;
					width: 20%;
					display: block;
					float: left;
				}
				.rooms-title-room-rate {
					padding-top: 5px;
					width: 34%;
					display: block;
					float: left;
					.room-rate-title {
						width: 40%;
						float: left;
					}
					.sabre-warning-text {
						width: 60%;
						float: left;
					}
				}
			}
			.div-logo-hotel-details {
				margin-top: 25px;
				text-align: center;
				width: 14%;
				float: left;
				.img-logo-hotel-details {
					float: left;
				}
			}
			.content-room-result {
				width: 16%;
				float: left;
				text-align: left;
			}
			.amenity-result-container {
				width: 16%;
				float: left;
				padding-top: 10px;
			}
			.cancellation-policy-info {
				width: 20%;
				float: left;
				text-align: left;
				.refundable-div-info {
					padding-top: 6px;
				}
				.tooltip {
					.tooltip-inner {
						width: 160px !important;
						padding: 5px 5px !important;
						background: rgba(0, 0, 0, 0.85) !important;
						border-radius: 15px;
					}
				}
			}
			.room-price {
				width: 34%;
				float: left;
				.room-price-clp {
					padding-top: 3px;
				}
			}
			.room-info-collapse {
				width: 80%;
				text-align: left;
			}
			.room-reservation-buttons {
				float: left;
				width: 34%;
				.reservate-room {
					margin-top: 0px;
				}
			}
		}
	}
}

/* 992px ---- */

@media (min-width: @screen-md-min) {
	.test {
		/*color: aquamarine !important;*/
	}
	.pagination-links {
		font-size: @font-size-base + 2;
	}
	.results {
		width: 65%;
		float: left;
		.region-title-results {
			padding-top: 20px;
		}
	}
	.sort-by {
		padding: 0 0 0 10px;
		margin: 60px 0 20px;
		width: 32%;
		float: right;
		.sort-background {
			height: 30px;
			.sort-padding {
				text-align: left;
				float: left;
				width: 95px;
			}
			.select-box-container {
				width: ~'calc(100% - 100px)';
				float: right;
				padding-right: 5px;
			}
		}
	}
	.grey-background {
		.loader-disclaimer {
			.text {
				margin-top: 13px;
			}
		}
	}
	.div-hotel-result {
		.div-hotel-info {
			.padded-img {
				padding-left: 5px !important;
				float: left;
				.center-cropped {
					width: 320px;
					background-position: center center;
					background-repeat: no-repeat;
					margin-top: 5px;
					margin-bottom: 5px;
					background-size: cover;
					/*height: calc(100%-5px);*/
					height: 225px;
					position: absolute;
					max-height: 225px;
				}
			}
			.padded-hotel-data {
				margin-left: 330px;
				.hotel-results-info {
					float: left;
					width: ~'calc(100% - 245px)';
					.hotel-result-name {
						padding-top: 7px;
					}
					.hotel-result-address-container {
						display: block;
						line-height: 13px;
						.hotel-result-address-separator {
							display: none;
						}
					}
				}
				.hotel-results-price-div {
					padding-left: 10px;
					padding-right: 10px;
					float: right;
					width: 235px;
					.hotel-results-dollar {
						clear: both;
						display: block;
						font-weight: 900;
						color: #444242;
						font-size: 28px;
						.logo-lowest {
							max-height: 20px;
							padding-right: 10px;
							max-width: 80px;
						}
						.link-hotel-results {
							font-weight: 400;
							font-size: 16px;
						}
						.hotel-results-converted {
							font-size: 13px;
							font-weight: 400;
						}
						.hotel-result-rate-text {
							font-size: 13px;
							display: block;
							font-weight: 400;
						}
					}
				}
				.hotel-result-buttons {
					display: table;
					width: 100%;
					padding-left: 5px;
					padding-right: 3px;
					/*
					padding-top: 20px;
					*/
					.hotel-amenities {}
					.div-get-rates {
						display: table-footer-group;
						text-align: left;
						margin-top: 8px;
						.hotel-result-btn-rate {
							padding-bottom: 0 !important;
							margin-top: 7px;
							font-weight: 900;
							font-weight: 900;
							font-size: 15px;
							color: #666;
							margin-bottom: 0px;
							padding-left: 0px;
							&:hover {
								color: #666;
							}
							&:visited {
								color: #666;
							}
						}
					}
					.div-goto-details {
						margin-top: 5px;
						display: table-header-group;
						.btn-red {
							width: 225px;
						}
					}
				}
			}
		}
		.div-hotel-details {
			.rooms-list-title-row {
				.rooms-title-room-provider {
					width: 9%;
					display: block;
					float: left;
					padding-left: 8px;
				}
				.rooms-title-room-name {
					padding-top: 5px;
					padding-left: 25px;
					width: 25%;
					display: block;
					float: left;
				}
				.rooms-title-room-amenities {
					padding-top: 5px;
					width: 16%;
					display: block;
					padding-left: 5px;
					float: left;
				}
				.rooms-title-room-cancellation {
					padding-top: 5px;
					width: 20%;
					display: block;
					float: left;
				}
				.rooms-title-room-rate {
					padding-top: 5px;
					width: 30%;
					display: block;
					float: left;
					.room-rate-title {
						width: 40%;
						float: left;
						padding-left: 10px;
					}
					.sabre-warning-text {
						width: 60%;
						float: left;
					}
				}
			}
			.div-logo-hotel-details {
				margin-top: 25px;
				text-align: center;
				width: 9%;
				float: left;
				padding-left: 3px;
				.img-logo-hotel-details {
					float: left;
				}
			}
			.content-room-result {
				width: 25%;
				float: left;
				text-align: left;
				padding-left: 25px;
				.info-link-room {
					padding-top: 15px;
				}
			}
			.amenity-result-container {
				width: 16%;
				float: left;
				padding-top: 20px;
			}
			.cancellation-policy-info {
				width: 20%;
				float: left;
				text-align: left;
				.refundable-div-info {
					padding-top: 15px;
				}
				.sabre-rate-type {
					padding-top: 5px;
				}
				.tooltip {
					.tooltip-inner {
						width: 340px !important;
						padding: 5px 5px !important;
						background: rgba(0, 0, 0, 0.85) !important;
						border-radius: 15px;
					}
				}
			}
			.room-price {
				width: 10%;
				float: left;
				text-align: left;
				padding-left: 10px;
				.room-price-clp {
					clear: left;
					padding-top: 3px;
				}
			}
			.room-info-collapse {
				width: 80%;
				text-align: left;
			}
			.room-reservation-buttons {
				float: right;
				.reservate-room {
					padding-right: 3px;
					margin-top: 20px;
				}
			}
		}
	}
}

.padded-img {
	padding-left: 5px !important;
}

.padded-hotel-data {
	/*margin-left: -40px;*/
	/*resp*/
}

.btn-goto-hotel-details {
	margin-bottom: 5px;
	height: 35px !important;
	padding-top: 8px !important;
	width: 100%;
	/*width: 220px;*/
	/*resp*/
	border-radius: 19px !important;
}

/* hotel results directive */

.hotel-result-address-container {
	.tooltip-inner {
		border-radius: 15px !important;
	}
}

.category-list {
	margin-top: 20px;
	.tooltip {
		.tooltip-arrow {
			border-top-color: rgba(0, 0, 0, 0.85) !important;
		}
		.tooltip-inner {
			width: 370px !important;
			max-width: 500px !important;
			padding: 10px 10px !important;
			background: rgba(0, 0, 0, 0.85) !important;
			border-radius: 15px;
		}
	}
	.hotel-category-mark {
		display: inline-block;
		width: 135px;
		float: left;
		.container-mark {
			width: 143px;
			height: 50px;
			position: relative;
			.text-mark {
				position: absolute;
				border-left: 2px solid #BF0411;
				border-bottom: 2px solid #BF0411;
				border-top: 2px solid #BF0411;
				width: 120px;
				height: 50px;
				.icon-recommended {
					width: 30px;
					float: left;
					height: 30px;
					font-size: 28px;
					display: inline-block;
					color: #BF0411;
					margin-top: 7px;
					margin-left: 2px;
					margin-right: 3px;
				}
				.separator-recommended {
					border-right-color: #BF0411;
					float: left;
					height: 35px;
					display: inline-block;
					border-right-width: 1px;
					border-right-style: solid;
					margin-top: 5px;
				}
				.text-recommended {
					font-size: 13px;
					display: inline-block;
					float: left;
					margin-left: 8px;
					.text-recommended-1 {
						font-size: 22px;
						line-height: 17px;
						margin-top: 10px;
						font-weight: 900;
					}
					.text-recommended-2 {
						line-height: 12px;
					}
				}
			}
			.triangle-mark-1 {
				position: absolute;
				margin-left: 79px;
				margin-right: auto;
				top: 10px;
				left: 13px;
				right: 0;
				width: 28px;
				height: 40px;
				-webkit-transform: rotate(290deg);
				-moz-transform: rotate(290deg);
				-o-transform: rotate(290deg);
				-ms-transform: rotate(290deg);
				transform: rotate(290deg);
				border-bottom: 2px solid #BF0411;
			}
			.triangle-mark-2 {
				position: absolute;
				margin-left: 74px;
				margin-right: 0px;
				top: 2px;
				left: 36px;
				right: 0;
				width: 15px;
				height: 25px;
				transform: rotate(339deg);
				-webkit-transform: rotate(339deg);
				-moz-transform: rotate(339deg);
				-o-transform: rotate(339deg);
				-ms-transform: rotate(339deg);
				border-right: 2px solid #BF0411;
			}
		}
	}
	.hotel-category-container {
		border-color: #95989A;
		border-width: 1px;
		border-style: solid;
		height: 30px;
		background-color: transparent;
		display: inline-block;
		margin-left: 4px;
		margin-top: 10px;
		.category-icon-container {
			background-color: #454444;
			color: #fff;
			width: 30px;
			height: 28px;
			font-size: 19px;
			display: inline-block;
			padding-left: 5px;
			i {
				vertical-align: sub;
			}
		}
		.category-text-container {
			background-color: transparent;
			color: #454444;
			width: 50px;
			font-size: 13px;
			height: 30px;
			display: inline;
			text-transform: uppercase;
			padding-left: 5px;
			padding-right: 5px;
		}
	}
}

.hotel-result-buttons {
	margin-top: 10px;
}

.hotel-result-rate-text {
	/*width: 200px;*/
}

.hotel-results-price-div {
	padding-top: 10px;
}

.reduced-padding {
	padding-left: 3px !important;
	padding-right: 0px !important;
}

.non-refundable-text {
	color: #CF112A;
	font-weight: 800;
	margin-top: 5px;
	margin-bottom: 5px;
}

.refundable-text {
	color: #609E4A;
	font-weight: 800;
	margin-top: 5px;
	margin-bottom: 5px;
}

.price-span {
	margin-right: 10px;
}

.offer-label {
	font-size: 12px;
	margin-right: 8px;
}

.link-hotel-results {
	color: #444242;
	text-decoration: none;
	font-size: 16px;
	&:hover {
		color: #444242;
		text-decoration: none;
	}
}

.div-hotel-result {
	margin-bottom: 10px;
	margin-top: 10px;
}

.div-hotel-info {
	/*
  background: rgba(0, 0, 0, .6);
 	color: white;
 	*/
	background: rgba(255, 255, 255, 0.92);
	color: #444242;
}

.div-hotel-details {
	background: rgba(255, 255, 255, 0.92);
	color: #666;
	margin-left: 0px;
	border-top-color: rgba(226, 227, 227, 0.13);
	border-top-width: 3px;
	border-top-style: groove;
}

.map-icon {
	font-size: 25px;
	color: white;
}

.region-title-results {
	span {
		color: white !important;
	}
}

.hotel-rating-stars {
	color: gold;
	font-size: 18px;
}

.separator-hotel-results {
	margin: 7px 7px;
	border-right: 1px solid #B8B8BD;
	padding-top: 6px;
	padding-bottom: 3px;
}

/* map button on search result */

.map-button-results {
	margin: 30px 0 20px 0;
	text-align: right;
	padding-right: 8px;
}

.btn-map-transparent {
	.btn-transparent;
	font-size: 12px !important;
	position: relative;
	/*color: #666 !important;*/
	background: rgba(0, 0, 0, .6);
	margin-top: 12px;
	padding: 4px 15px;
	display: inline-block;
	span:after {
		margin-left: 6px;
		display: inline-block;
		transition: ease 0.4s;
	}
	&.rotate {
		span:after {
			transform: rotate(-180deg);
		}
	}
	&:hover {
		span:after {
			-webkit-filter: invert(70%);
			filter: invert(70%);
		}
	}
}

.btn-pagination-transparent {
	.btn-transparent;
	font-size: 12px !important;
	position: relative;
	/*color: #666 !important;*/
	background: rgba(0, 0, 0, .01);
	margin-top: 12px;
	padding: 6px 9px;
	display: inline-block;
	border: 1px solid #ffffff;
	span:after {
		margin-left: 6px;
		display: inline-block;
		transition: ease 0.4s;
	}
	&.rotate {
		span:after {
			transform: rotate(-180deg);
		}
	}
	&:hover {
		span:after {
			-webkit-filter: invert(70%);
			filter: invert(70%);
		}
	}
}

.btn-rooms-transparent {
	.btn-transparent;
	font-size: 12px !important;
	position: relative;
	margin-top: 12px;
	margin-left: 12px;
	padding: 6px 15px;
	display: inline-block;
	span:after {
		margin-left: 6px;
		display: inline-block;
		transition: ease 0.4s;
	}
	&.rotate {
		span:after {
			transform: rotate(-180deg);
		}
	}
	&:hover {
		span:after {
			-webkit-filter: invert(70%);
			filter: invert(70%);
		}
	}
}

.details-option-room {
	margin-right: 10px;
	margin-top: 20px;
}

.room-loader-caption {
	color: #666;
	font-size: 18px;
}

.amenities-icon-span {
	font-size: 26px;
}

.room-details-container {
	min-height: 80px;
	border-bottom-width: 1px;
	border-bottom-color: #B4B4B6;
	border-bottom-style: solid;
}

.refundable-div {
	background-color: #70AD47;
	color: white;
	padding: 6px 8px;
	border-radius: 5px;
}

.non-refundable-div {
	background-color: #FF0000;
	color: white;
	padding: 6px 8px;
	border-radius: 5px;
}

.no-info-refundable-div {
	background-color: #666;
	color: white;
	padding: 6px 8px;
	border-radius: 5px;
}

.room-price {
	font-weight: bold;
	font-size: 18px;
	margin-top: 17px;
}

.room-taxes {
	font-size: 11px;
}

.btn-reservation-transparent {
	.btn-transparent;
	font-size: 12px !important;
	position: relative;
	margin-top: 12px;
	padding: 6px 15px;
	display: inline-block;
	color: #666;
	span:after {
		margin-left: 6px;
		display: inline-block;
		transition: ease 0.4s;
	}
	&.rotate {
		span:after {
			transform: rotate(-180deg);
		}
	}
	&:hover {
		span:after {
			-webkit-filter: invert(70%);
			filter: invert(70%);
		}
	}
}

.cancellationPolicy {
	margin-top: 10px;
	padding: 6px 8px;
	border-radius: 5px;
	border-width: 1px;
	border-color: #A5A5A5;
	border-style: solid;
}

.btn-amenity-info-transparent {
	.btn-transparent;
	font-size: 12px !important;
	position: relative;
	margin-top: 12px;
	padding: 6px 15px;
	display: inline-block;
	color: #666;
	span:after {
		margin-left: 6px;
		display: inline-block;
		transition: ease 0.4s;
	}
	&.rotate {
		span:after {
			transform: rotate(-180deg);
		}
	}
	&:hover {
		span:after {
			-webkit-filter: invert(70%);
			filter: invert(70%);
		}
	}
}

.room-info-amenities {
	padding: 10px 10px;
}

.img-logo-hotel-results {
	height: 30px;
}

.room-taxes-container {
	margin-top: 8px;
}

.room-img {
	width: 80px;
	height: 80px;
}

.button-close-room-list {
	margin-top: 7px;
	min-width: 100px;
	padding: 7px !important;
	margin-right: -5px;
	margin-bottom: 0;
	border-radius: 2px !important;
}

.rate-identification {
	margin-top: 10px;
	padding: 6px 8px;
	border-radius: 5px;
	border-width: 1px;
	border-color: #A5A5A5;
	border-style: solid;
}

.img-hotel-results {
	height: 150px;
	/*width: 100% !important;*/
	max-width: 240px !important;
}

.image-hotel-results {
	margin-top: 7px;
	background-color: black;
	text-align: center;
	width: 240px !important;
}

.preferred-hotel-result {
	border-color: #FFA63B;
	border-style: solid;
	border-width: 4px;
	padding: 0px 0px !important;
}

.hotel-preferred-tag {
	background-color: #FFA63B;
	color: #fff;
	font-weight: 800;
	font-size: 16px;
	width: 190px;
	text-align: center;
	position: absolute;
	z-index: 10;
	right: 0;
	padding-left: 20px;
	padding-right: 20px;
}

.title-header-room-provider {
	font-weight: 800;
	height: 42px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: center;
	font-size: 14px;
	background-color: #F5F5F5;
	color: black;
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.title-header-room-result {
	font-weight: 800;
	/*
 	padding-top: 14px;
 	padding-bottom: 14px;
 	*/
	height: 42px;
	padding-top: 10px;
	padding-bottom: 2px;
	text-align: left;
	font-size: 14px;
	background-color: #F5F5F5;
	color: black;
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.title-header-room-data-result {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.title-header-room-result:hover {
	color: black !important;
}

.hotel-result-name {
	font-size: 20px;
	font-weight: 800;
}

.hotel-result-address {
	font-size: 15px;
	color: #97969C;
	font-weight: 400;
	font-style: normal;
}

.hotel-result-provider-title {
	font-weight: 800;
	margin-top: 25px;
	margin-bottom: 8px;
	font-size: 16px;
}

.hotel-result-button-div {}

.hotel-result-button-detail {
	.btn-transparent;
	width: 151px;
	font-size: 13px !important;
	color: #666;
	position: relative;
	margin-top: 6px;
	padding: 4px 15px;
	display: inline-block;
	margin-right: 3px;
	span:after {
		margin-left: 6px;
		display: inline-block;
		transition: ease 0.4s;
	}
	&.rotate {
		span:after {
			transform: rotate(-180deg);
		}
	}
	&:hover {
		span:after {
			-webkit-filter: invert(70%);
			filter: invert(70%);
		}
	}
}

.trip-hotel-result {
	color: #55973D;
	font-size: 16px;
}

.trip-hotel-result .trip-ball-container {
	margin-left: -6px !important;
}

.hotel-provider-filler-1 {
	padding-top: 9.5% !important;
}

.hotel-provider-filler-2 {
	padding-top: 5% !important;
}

.hotel-provider-filler-3 {
	padding-top: 1.5% !important;
}

.hotel-button-filler {
	padding-top: 5% !important;
	padding-bottom: 1%;
}

.room-price-clp {
	font-size: 14px;
	font-weight: 500;
}

.cancellation-policy-text {
	text-decoration: underline;
	font-style: italic;
	font-size: 11px;
	/*margin-bottom: 5px;*/
	/*resp*/
}

.reservate-room {
	margin-top: 25px;
	margin-bottom: 10px;
}

.info-link-room {
	font-style: italic;
	font-weight: 600;
	font-size: 12px;
	margin-top: 10px;
	/*padding-left: 5px;*/
	margin-bottom: 5px;
}

.room-tax-message {
	font-size: 11px;
	margin-top: 10px;
}

.result-rate-tax {
	font-weight: 900;
	color: #97969C;
}

.room-name-text {
	margin-top: 8px;
	/*margin-bottom: 15px;*/
	/*resp*/
	text-transform: capitalize;
}

.sabre-rate-type {
	text-transform: capitalize;
}

.img-dummy-fallback {
	display: none;
}

.cancellation-policy-info {
	.tooltip {
		.tooltip-arrow {
			border-top-color: rgba(0, 0, 0, 0.85) !important;
		}
		.tooltip-inner {
			width: 370px !important;
			max-width: 500px !important;
			padding: 5px 5px !important;
			background: rgba(0, 0, 0, 0.85) !important;
			border-radius: 15px;
		}
	}
}

.title-room-result {
	margin-left: 35px;
}

.amenities-title-room-result {
	padding-left: 38px !important;
}

.info-arrow-room {
	vertical-align: middle;
}

.policy-room-result {
	margin-left: 40px;
}

.rate-title-room-result {
	margin-left: 19px;
}

.title-room-provider {
	margin-left: 5px;
}

#feedbackify {
	/*display: none;*/
}

.back-icon-amenities {
	background: transparent;
	display: table;
	margin: 0 auto;
	width: 20px;
	i {
		border: 2px solid #666;
		border-radius: 20px;
		padding: 5px;
		width: 30px;
		height: 30px;
		font-size: 22px;
		margin: 0 auto auto;
		border-width: thin;
	}
	.tooltip {
		width: 120px !important;
		.tooltip-inner {
			border-radius: 15px;
			padding: 5px;
		}
	}
}

.vertical-center {
	min-height: 100%;
	/* Fallback for browsers do NOT support vh unit */
	min-height: 100vh;
	/* These two lines are counted as one :-)       */
	display: flex;
	align-items: center;
}

.button-arrow-down-rooms {
	position: absolute;
	top: 37px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	width: 0;
	height: 0;
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	border-top: 9px solid white;
	z-index: 1000;
}

.button-arrow-down-rooms-border {
	position: absolute;
	top: 37px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 7px solid #59492D;
	z-index: 1001;
}

.arrow-rooms {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 20px;
	background-color: rgba(0, 0, 0, 0.8);
}

.arrow-rooms:before,
.arrow-rooms:after {
	content: '';
	position: absolute;
	bottom: 100%;
	width: 50%;
	box-sizing: border-box;
}

.arrow-rooms:before {
	right: 50%;
	border-bottom: 20px solid rgba(0, 0, 0, 0.8);
	border-right: 20px solid transparent;
}

.arrow-rooms:after {
	left: 50%;
	border-bottom: 20px solid rgba(0, 0, 0, 0.8);
	border-left: 20px solid transparent;
}

.img-loader-checkout {
	height: 30px;
}

.hotel-results-details-loader {
	height: 60px;
}

.sort-padding {
	padding-left: 5px !important;
	padding-right: 5px !important;
}

.pagination-links {
	color: white;
	text-decoration: none;
	padding: 5px;
	&:hover {
		color: white;
		text-decoration: none;
	}
	&:active {
		color: white;
		text-decoration: none;
	}
	&:visited {
		color: white;
		text-decoration: none;
	}
}

.active-page {
	border-bottom-width: 2px;
	border-bottom-color: white;
	border-bottom-style: solid;
	padding-bottom: 5px !important;
}

.pagination-container {
	padding: 15px;
}

.category-container {
	.category-tooltip {
		position: absolute;
		right: 10px;
		width: 220px;
		height: 30px;
		z-index: 2;
		.hotel-category {
			background-image: url(../img/background-label.png);
			/*background-position: 0 0;*/
			background-repeat: no-repeat;
			/*background-attachment: fixed;
	-webkit-background-size: cover;
	background-size: cover;*/
			color: #fff;
			font-weight: 800;
			width: 225px;
			padding: 7px 10px;
			position: absolute;
			right: 3px;
			text-align: center;
			text-transform: uppercase;
			z-index: 2;
			top: 5px;
			.category-text-bold {
				font-weight: 900;
				font-weight: 600;
			}
			.category-text-regular {
				font-weight: normal;
				font-weight: 100;
			}
		}
	}
	.tooltip {
		.tooltip-arrow {
			border-top-color: rgba(0, 0, 0, 0.85) !important;
		}
		.tooltip-inner {
			width: 370px !important;
			max-width: 500px !important;
			padding: 15px !important;
			background: rgba(0, 0, 0, 0.85) !important;
			text-align: left;
			border-radius: 15px;
			.category-title {
				font-weight: 800;
			}
		}
		ul {
			list-style-type: none;
			text-align: left;
			padding-left: 5px;
		}
	}
}

.loader-hotel-search {
	display: block;
	position: relative;
	width: 100%;
	max-width: 130px;
	margin: 0 auto;
	min-height: 100px;
	margin-bottom: 15px;
	.loader-hotel-icon {
		font-family: FontAwesome !important;
		color: white;
		font-size: 100px;
	}
}

.loader-hotel-caption {
	display: block;
	height: 30%;
	margin-bottom: 35px;
	color: #FFF;
	.phrase-wait {
		font-size: 25px;
		line-height: 25px;
		text-align: center;
		font-weight: 800;
	}
	.phrase-search {
		font-size: 15px;
		line-height: 25px;
		text-align: center;
		text-transform: uppercase;
	}
}

.loader-hotel-logos-container {
	margin-top: 25px;
	margin-bottom: 55px;
	width: 100%;
	.loader-hotel-logos {
		display: inline-block;
		height: 52px;
		/*width: 60%;*/
		margin: 0 auto;
		background-color: #FFF;
		.logo-container {
			padding-left: 10px;
			padding-right: 10px;
			text-align: center;
			.logo1 {
				height: 30px;
				margin-top: 6px;
			}
			.logo2 {
				margin-top: 7px;
				height: 40px;
			}
			.logo3 {
				height: 35px;
				margin-top: 10px;
			}
			.logo4 {
				height: 20px;
				margin-top: 5px;
			}
			.logo5 {
				height: 40px;
				margin-top: 7px;
			}
		}
	}
}

/* Mixin */

@mixin vertical-align($position: relative) {
	position: $position;
	top: 100%;
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
}

.hotel-result-go-detail-loader {
	width: 50%;
	margin: auto;
	img {
		height: 20px;
	}
}
