.box-offer-container {
	padding: 20px; //background: #fff;
	margin-bottom: 70px;
}

.box-offer {
	overflow: hidden;
	padding: 0 10px !important;
	margin-bottom: 2.45em;
	/* imagen - nombre */
	.box-image {
		width: 100%;
		height: 16.9em;
		background-position: center;
		box-shadow: inset 0px 55px 75px -10px rgba(0, 0, 0, 0.45);
		.box-name {
			//text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
			color: #fff;
			font-size: @font-size-base + 12;
			position: absolute;
			top: 0.25em;
			left: 1.2em;
			width: 56%;
		}
	}
	/* Fin imagen - nombre * Inicio información */
	.box-offer-hotel {
		position: absolute;
		background: @trans-white;
		right: 0.7em;
		top: 0;
		height: 100%;
		padding: 0.5em;
		border-bottom: 2px solid @trans-black;
		width: 13.1em;
		/* dcto */
		.box-offer-sale {
			width: 6.58em;
			position: absolute;
			right: 0;
			top: 0;
			z-index: 1;
			.box-offer-sale-val {
				text-align: center;
				background-color: #ffa63b;
				color: #fff;
				font-weight: 500;
				width: 2.5509em;
				font-size: @font-size-base + 5;
				padding: 0.26em;
				float: left;
				width: 49%;
				span {
					font-weight: lighter;
				}
			}
			.box-offer-sale-text {
				background-color: #fff;
				color: #ffa63b;
				text-align: center;
				font-size: @font-size-base;
				text-transform: uppercase;
				padding: 0.61em 0;
				width: 50%;
				float: left;
			}
		}
	}
	/* detalle */
	.box-offer-detail {
		z-index: 1;
		position: relative;
		top: -14em;
		height: 11.8em;
		margin-top: 3em;
		.box-offer-star {
			font-size: @font-size-base + 1;
			border-bottom: 1px solid #ccc;
			width: 100%;
			display: block;
			padding-bottom: 0.2em;
			i {
				color: #e6b041;
				margin-right: -4px;
			}
		}
		.box-offer-destiny {
			display: block;
			font-size: @font-size-base;
			line-height: 1em;
			padding-bottom: 0.3em;
			padding-top: 0.25em;
			text-transform: capitalize;
			i {
				font-size: @font-size-base + 4;
				vertical-align: text-bottom;
			}
		}
		.box-offer-info-price {
			position: absolute;
			bottom: 0.5em;
			.box-offer-since {
				display: block;
				.box-offer-before-price {
					text-decoration: line-through;
					color: #ffa63b;
				}
			}
			.box-offer-price {
				font-size: @font-size-base + 6;
				font-weight: 600;
				margin-top: -0.2em;
				display: block;
				.box-offer-clp {
					font-size: @font-size-base - 1;
					font-weight: normal;
				}
			}
			.box-offer-descent {
				font-size: @font-size-base - 1;
				margin-top: -2px;
				display: block;
			}
			.box-offer-quotes {
				color: #6a6a6c;
				margin-bottom: -0.25em;
				font-size: @font-size-base - 1;
				display: block;
			}
		}
	}
	/* Fin detalles */
	.box-includes {
		position: absolute;
		background: @trans-black;
		color: #fff;
		padding: 3px 5px;
		bottom: 0;
		font-size: @font-size-base - 1;
		display: table;
		width: 30.5em;
		.box-includes-reference {
			display: inline-block;
			height: 100%;
			text-align: left;
			padding-left: 8px;
			position: relative;
			vertical-align: middle;
			div {
				display: table;
				height: 100%;
				span {
					display: table-cell;
					vertical-align: middle;
				}
			}
		}
		.box-includes-hotel {
			display: inline-block;
			margin-right: 5px;
			text-align: left;
			padding-left: 10px;
			padding-right: 10px;
			border-right: 1px solid #fff;
			vertical-align: middle;
			div {
				display: table;
				height: 100%;
				i {
					font-size: @font-size-base + 12px;
					margin-right: 5px;
					display: table-cell;
					vertical-align: middle;
				}
			}
			.cch-amenities-all-inclusive {
				font-size: @font-size-base + 10px;
			}
		}
	}
	.details-content {
		-webkit-filter: blur(2px);
		filter: blur(2px);
		opacity: 0.15;
		height: 15.5em;
		-webkit-box-shadow: inset 0 55px 75px -10px rgba(0, 0, 0, .45);
		box-shadow: inset 0 55px 75px -10px rgba(0, 0, 0, .45);
		margin-right: -2px;
		z-index: 0;
		position: relative;
	}
	.program-hover {
		height: 16.9em;
		border-bottom: 2px solid #5b5a5f;
		border-top: 2px solid #5b5a5f;
		position: absolute;
		top: 16.9em;
		left: 10px;
		width: ~'calc(100% - 20px)';
		background: rgba(255, 255, 255, 0.85);
		transition: top 0.4s ease;
		cursor: default;
		z-index: 2;
		color: #5b5a5f;
		.subtitle {
			position: absolute;
			top: 2.4em;
			width: 100%;
			text-align: center;
			font-size: @font-size-base + 5px;
			.name-hotel {
				display: block;
				width: 100%;
				padding-bottom: 10px;
				.star {
					color: #ffcd00;
					i {
						margin-right: -6px;
					}
				}
			}
			.name-destiny {
				display: block;
				width: 80%;
				margin: -5px auto 10px;
				border-bottom: 1px solid #5b5a5f;
				text-transform: capitalize;
			}
			.icon-includes {
				.icon-label {
					display: inline-block;
					font-size: @font-size-base;
					margin: 0 10px;
					i {
						vertical-align: text-bottom;
						font-size: @font-size-base + 8px;
					}
					.cch-amenities-all-inclusive {
						vertical-align: top;
						font-size: @font-size-base + 4px;
					}
				}
			}
		}
		.btn-since {
			position: relative;
			margin: 12em auto;
			text-align: center;
			border: 1px solid #5b5a5f;
			display: block;
			width: 11em;
			border-radius: 3em;
			padding: 3px;
			background: #5b5a5f;
			color: #fff;
			margin-bottom: 0;
			span {
				font-weight: 300;
			}
		}
	}
}

.div-btn-l-r {
	text-align: center;
	margin-top: 20px;
	a {
		color: #565656;
		display: inline-block;
		i {
			font-size: 21px;
			display: block;
			width: 35px;
			height: 35px;
			border: 1px solid #565656;
			border-radius: 25px;
			padding: 5px 0;
		}
	}
	.left {
		border-right: 1px solid #565656;
		padding-right: 20px;
		margin-right: 17px;
	}
}

.div-btn-more {
	text-align: center;
	margin: 20px 0;
	margin-bottom: 50px;
	.btn-more-pkg {
		border: 1px solid #cf112a;
		background: #cf112a;
		color: #fff;
		text-transform: uppercase;
		font-size: 9px;
		letter-spacing: 1px;
		border-radius: 15px;
		padding: 5px 15px;
	}
	.btn-more-pkg:hover {
		border: 1px solid #cf112a;
		background: #fff;
		color: #cf112a;
	}
}

.box-offer:hover {
	.box-includes,
	.box-offer-pkg,
	.box-name,
	.box-includes,
	.box-offer-hotel {
		opacity: 0;
		transition: opacity 0.2s ease;
	}
	.program-hover {
		top: 0;
		transition: top 0.4s ease;
	}
}

.btn-since:hover {
	background: #fff;
	color: #5b5a5f;
}

.fadein {
	.box-offer {
		animation-name: fade-in;
		animation-duration: 0.5s;
	}
}

@media (max-width: 479px) {
	/* 767px - 480px */
	.box-offer-container {
		padding-left: 1px !important;
		padding-right: 1px !important;
	}
	.box-offer {
		padding: 0 !important;
		.box-image {
			height: 16.9em;
			.box-name {
				width: 48%;
				left: 0.45em;
			}
		}
		.box-offer-hotel {
			height: 14.7em;
			right: 0;
			width: 9.3em;
			.box-offer-detail {
				.box-offer-info-price {
					.box-offer-price {
						.box-offer-clp {
							display: block;
							width: 100%;
						}
					}
				}
			}
		}
		.box-includes {
			width: ~'calc(100% - 2px)';
			.box-includes-hotel {
				padding-left: 0;
				margin-right: 2px;
				padding-right: 2px;
			}
			.box-includes-reference {
				padding-left: 2px;
			}
		}
		.details-content {
			height: 11.5em;
		}
		.program-hover {
			height: 16.9em;
		}
		.box-offer-detail {
			top: -12em;
			height: 11.8em;
		}
		.program-hover {
			width: 100%;
			left: 0;
		}
	}
}

@media (max-width: @screen-xs-max) and (min-width: @screen-xs-min) {
	/* 767px - 480px */
	.box-offer-container {}
	.box-offer {
		.box-image {
			height: 16.9em;
		}
		.box-offer-hotel {
			height: 14.7em;
			.box-offer-detail {
				.box-offer-info-price {
					.box-offer-price {
						.box-offer-clp {
							display: block;
							width: 100%;
						}
					}
				}
			}
		}
		.box-includes {
			width: ~'calc(100% - 20px)';
		}
		.details-content {
			height: 11.5em;
		}
		.program-hover {
			height: 16.9em;
		}
		.box-offer-detail {
			top: -12em;
			height: 11.8em;
		}
	}
}

@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
	/* 768px - 991px */
	.box-offer-container {
		padding: 20px;
		background: #fff;
	}
	.box-offer {
		.box-offer-hotel {
			width: 40%;
			z-index: 1;
			.box-offer-detail {
				.box-offer-info-price {
					.box-offer-price {
						.box-offer-clp {
							display: block;
							width: 100%;
						}
					}
				}
			}
		}
		.box-includes {
			width: 56%;
			z-index: 0;
			.box-includes-reference {
				width: 50%;
			}
			.box-includes-hotel {
				//vertical-align: super;
				height: 100%;
				overflow: hidden;
				div {
					i {
						margin-right: -1px;
						font-size: @font-size-base + 10px;
					}
					.cch-amenities-all-inclusive {
						font-size: @font-size-base + 7px;
					}
				}
			}
		}
	}
}

@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
	/* 992px - 1199px */
	.box-offer-container {
		padding: 20px;
		background: #fff;
	}
	.box-offer {
		.box-offer-hotel {
			width: 12em;
		}
		.box-includes {
			width: 23.5em;
			.box-includes-reference {
				width: 150px;
			}
		}
	}
}

@media (min-width: @screen-lg-min) {}
