@media (min-width: 320px) and (max-width: 479px) {
	.container-hotel-details-filters {
		.search-info {
			.button-arrow-down {
				top: 37px;
			}
			.button-arrow-down-border {
				top: 37px;
				border-top-color: #776868 !important;
			}
		}
	}
	.search-box {
		.option-container-hotel {
			padding: 0px;
		}
		.option-container-container {
			padding: 0px;
		}
	}
	.hotel-details-map {
		.detail-map {
			height: 260px;
			.layer-map-black {
				height: 260px;
			}
		}
	}
	.hotel-detail-back-button {
		white-space: initial;
		height: auto !important;
		width: 100% !important;
	}
	.rooms-hotel-details {
		.rooms-details-title-row {
			display: none;
		}
		.div-logo-hotel-details {
			margin-top: 25px;
			text-align: center;
			width: 50%;
			float: left;
		}
		.content-room-result {
			width: 50%;
			float: left;
		}
		.amenity-result-container {
			width: 50%;
			float: left;
			clear: both;
			padding-top: 10px;
		}
		.cancellation-policy-info {
			width: 50%;
			float: left;
			.refundable-div-info {
				padding-top: 6px;
			}
			.tooltip {
				.tooltip-inner {
					width: 160px !important;
					padding: 5px 5px !important;
					background: rgba(0, 0, 0, 0.85) !important;
				}
			}
		}
		.room-price {
			width: 100%;
			float: left;
			.sabre-commission {
				width: 100%;
				float: left;
				padding-top: 5px;
				font-size: 13px;
			}
		}
		.room-reservation-buttons {
			width: 100%;
			float: left;
		}
		.show-more-info-xs {
			width: 100%;
			float: left;
		}
		.room-info-collapse {
			width: 95%;
		}
	}
}

@media (min-width: @screen-xs-min) and (max-width: @screen-xs-max) {
	.container-hotel-details-filters {
		.search-info {
			.button-arrow-down {
				top: 37px;
			}
			.button-arrow-down-border {
				top: 37px;
				border-top-color: #776868 !important;
			}
		}
	}
	.search-box {
		.option-container-hotel {
			padding: 0px;
		}
		.option-container-container {
			padding: 0px;
		}
	}
	.rooms-hotel-details {
		.rooms-details-title-row {
			display: none;
		}
		.div-logo-hotel-details {
			margin-top: 25px;
			text-align: center;
			width: 50%;
			float: left;
		}
		.content-room-result {
			width: 50%;
			float: left;
		}
		.amenity-result-container {
			clear: both;
			width: 50%;
			float: left;
			padding-top: 10px;
		}
		.cancellation-policy-info {
			width: 50%;
			float: left;
			.refundable-div-info {
				padding-top: 6px;
			}
			.tooltip {
				.tooltip-inner {
					width: 160px !important;
					padding: 5px 5px !important;
					background: rgba(0, 0, 0, 0.85) !important;
				}
			}
		}
		.room-price {
			width: 100%;
			float: left;
			.sabre-commission {
				width: 100%;
				float: left;
				padding-top: 5px;
				font-size: 13px;
			}
		}
		.room-reservation-buttons {
			width: 100%;
			float: left;
		}
		.show-more-info-xs {
			width: 100%;
			float: left;
		}
		.room-info-collapse {
			width: 95%;
		}
	}
}

@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
	.container-hotel-details-filters {
		.search-info {
			.button-arrow-down {
				top: 37px;
			}
			.button-arrow-down-border {
				top: 37px;
				border-top-color: #776868 !important;
			}
		}
	}
	.search-box {
		.option-container-hotel {
			padding: 0px;
		}
		.option-container-container {
			padding: 0px;
		}
	}
	.rooms-hotel-details {
		.rooms-details-title-row {
			.rooms-title-room-provider {
				width: 14%;
				display: block;
				float: left;
				text-align: center;
			}
			.rooms-title-room-name {
				padding-top: 5px;
				padding-left: 5px;
				width: 16%;
				display: block;
				float: left;
			}
			.rooms-title-room-amenities {
				padding-top: 5px;
				width: 16%;
				display: block;
				padding-left: 5px;
				float: left;
			}
			.rooms-title-room-cancellation {
				padding-top: 5px;
				width: 20%;
				display: block;
				float: left;
			}
			.rooms-title-room-rate {
				padding-top: 5px;
				width: 34%;
				display: block;
				float: left;
				.room-rate-title {
					width: 40%;
					float: left;
				}
				.sabre-warning-text {
					width: 60%;
					float: left;
				}
			}
		}
		.div-logo-hotel-details {
			margin-top: 25px;
			text-align: center;
			width: 14%;
			float: left;
			.img-logo-hotel-details {
				float: left;
			}
		}
		.content-room-result {
			width: 16%;
			float: left;
			text-align: left;
		}
		.amenity-result-container {
			width: 16%;
			float: left;
			padding-top: 10px;
		}
		.cancellation-policy-info {
			width: 20%;
			float: left;
			text-align: left;
			.refundable-div-info {
				padding-top: 6px;
			}
			.tooltip {
				.tooltip-inner {
					width: 160px !important;
					padding: 5px 5px !important;
					background: rgba(0, 0, 0, 0.85) !important;
				}
			}
		}
		.room-price {
			width: 34%;
			float: left;
			.room-price-clp {
				padding-top: 3px;
			}
			.sabre-commission {
				width: 100%;
				float: left;
				padding-top: 5px;
				font-size: 13px;
			}
		}
		.room-info-collapse {
			width: 80%;
			text-align: left;
		}
		.room-reservation-buttons {
			float: left;
			width: 34%;
			.reservate-room {
				margin-top: 0px;
			}
		}
	}
}

@media (min-width: @screen-md-min) {
	.container-hotel-details-filters {
		/**/
		.search-info {
			.button-arrow-down {
				top: 37px;
			}
			.button-arrow-down-border {
				top: 37px;
				border-top-color: #776868 !important;
			}
		}
	}
	.search-box {
		.option-container-hotel {
			padding: 0px;
		}
		.option-container-container {
			padding: 0px;
		}
	}
	.rooms-hotel-details {
		.rooms-details-title-row {
			.rooms-title-room-provider {
				width: 9%;
				display: block;
				float: left;
				padding-left: 8px;
			}
			.rooms-title-room-name {
				padding-top: 5px;
				padding-left: 25px;
				width: 25%;
				display: block;
				float: left;
			}
			.rooms-title-room-amenities {
				padding-top: 5px;
				width: 16%;
				display: block;
				padding-left: 5px;
				float: left;
			}
			.rooms-title-room-cancellation {
				padding-top: 5px;
				width: 20%;
				display: block;
				float: left;
			}
			.rooms-title-room-rate {
				padding-top: 5px;
				width: 30%;
				display: block;
				float: left;
				.room-rate-title {
					width: 40%;
					float: left;
					padding-left: 10px;
					&.average-msg {
						width: 55%;
					}
				}
				.sabre-warning-text {
					width: 60%;
					float: left;
				}
			}
		}
		.div-logo-hotel-details {
			margin-top: 25px;
			text-align: center;
			width: 9%;
			float: left;
			padding-left: 3px;
			.img-logo-hotel-details {
				float: left;
			}
		}
		.content-room-result {
			width: 25%;
			float: left;
			text-align: left;
			padding-left: 25px;
			.info-link-room {
				padding-top: 15px;
			}
		}
		.amenity-result-container {
			width: 16%;
			float: left;
			padding-top: 20px;
		}
		.cancellation-policy-info {
			width: 20%;
			float: left;
			text-align: left;
			.refundable-div-info {
				padding-top: 15px;
			}
			.sabre-rate-type {
				padding-top: 5px;
			}
			.tooltip {
				.tooltip-inner {
					width: 440px !important;
					padding: 5px 5px !important;
					background: rgba(0, 0, 0, 0.85) !important;
				}
			}
		}
		.room-price {
			width: 10%;
			float: left;
			text-align: left;
			padding-left: 10px;
			.room-price-clp {
				clear: left;
				padding-top: 3px;
			}
			.sabre-commission {
				width: 100%;
				float: left;
				padding-top: 5px;
				font-size: 13px;
			}
		}
		.room-info-collapse {
			width: 80%;
			text-align: left;
		}
		.room-reservation-buttons {
			float: right;
			.reservate-room {
				padding-right: 3px;
				margin-top: 20px;
			}
		}
	}
	.additional-text {
		.paymentLogo {
			max-width: 650px;
			margin: auto;
		}
	}
}

.recommended-list {
	.detail-recommended-title {
		font-size: 25px;
	}
	.hotel-category-container {
		margin-left: 0px !important;
	}
	.hotel-category-description {
		margin-top: 5px;
	}
}

.hotel-details-category {
	background-image: url(../img/background-label.png);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	color: #fff;
	font-weight: 800;
	font-size: 14px;
	width: 225px;
	padding: 7px 10px;
	position: absolute;
	right: 5px;
	text-align: center;
	text-transform: uppercase;
	z-index: 30;
	margin-top: 5px;
	.tooltip {
		.tooltip-arrow {
			border-top-color: rgba(0, 0, 0, 0.85) !important;
		}
		.tooltip-inner {
			width: 370px !important;
			max-width: 500px !important;
			padding: 5px 5px !important;
			background: rgba(0, 0, 0, 0.85) !important;
			text-align: left;
			.category-title {
				font-weight: 800;
			}
		}
		ul {
			list-style-type: none;
			text-align: left;
			padding-left: 5px;
		}
	}
	.category-text-bold {
		font-weight: 900;
		font-weight: 600;
	}
	.category-text-regular {
		font-weight: normal;
		font-weight: 100;
	}
}

/* rooms directive */

.sabre-warning-text {
	font-size: 13px;
	text-align: center;
	color: red;
}

.rooms-hotel-details {
	padding: 0px !important;
}

.rooms-details-title-row {
	min-height: 40px;
	padding-top: 14px;
	padding-bottom: 10px;
	background-color: #F5F5F5;
	font-weight: normal;
	font-weight: 800;
	font-size: 13px;
	margin-top: 25px;
	border-top-width: thin;
	border-top-style: solid;
	border-top-color: #B4B4B6;
}

.rooms-list-title-row {
	min-height: 40px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #F5F5F5;
	font-weight: normal;
	font-weight: 800;
	font-size: 14px;
	color: #000;
}

/* rooms directive */

/* photo gallery */

.details-carousel-container .glyphicon.glyphicon-chevron-left,
.details-carousel-container .glyphicon.glyphicon-chevron-right {
	border-width: thin;
	border-style: solid;
	border-radius: 18px;
	width: 34px;
	height: 34px;
	padding: 5px;
	font-size: 22px;
	color: white;
}

.details-carousel-container .glyphicon {
	font-family: cocha-icons !important;
}

.details-carousel-container .glyphicon-chevron-right:before {
	content: "\e919";
}

.details-carousel-container .glyphicon-chevron-left:before {
	content: "\e918";
}

.carousel-img {
	margin: auto;
}

.details-carousel-container .carousel-inner {
	height: 434px;
}

.details-carousel-container .carousel-inner>.active {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.details-carousel-container .carousel-inner>.next,
.details-carousel-container .carousel-inner>.prev {
	top: 50%;
	transform: translateY(-50%);
}

.hotel-gallery-info {
	padding-bottom: 30px;
}

.details-carousel-container {
	background-color: #666;
}

.hotel-gallery-photos .carousel-indicators {
	display: none;
}

.light-text {
	color: #D4D3D6 !important;
}

.gallery-btn-div {
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.btn-details-gallery {
	border-radius: 15px !important;
}

/* photo gallery */

.no-background {
	background: none !important;
}

.sabre-rates-text {}

/* rooms */

.pagination-button {
	.btn-transparent;
	/*width: 300px;*/
	font-size: 13px !important;
	color: #666;
	position: relative;
	margin-top: 6px;
	padding: 4px 15px;
	display: inline-block;
	margin-right: 3px;
	text-align: center;
	span:after {
		margin-left: 6px;
		display: inline-block;
		transition: ease 0.4s;
	}
	i {
		font-size: 14px !important;
		vertical-align: text-top;
	}
	&.rotate {
		span:after {
			transform: rotate(-180deg);
		}
	}
	&:hover {
		span:after {
			-webkit-filter: invert(70%);
			filter: invert(70%);
		}
	}
}

.img-logo-hotel-details {
	/*max-height: 45px;*/
	max-height: 22px;
	max-width: 80%;
}

.text-logo-hotel-details {
	font-size: 12px;
	vertical-align: text-top;
}

.room-rate-div {
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	margin-top: 59px;
}

.room-rate-logo {
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	vertical-align: sub;
	/*margin-top: 20px;*/
}

/* rooms */

/* aditional information */

.details-list-services {
	list-style-type: circle;
}

.hotel-details-additional-info-title {
	margin-top: 40px;
}

.hotel-details-additional-info-title {
	text-transform: uppercase;
	text-align: center;
	font-size: 25px;
	font-weight: 900;
	font-weight: 800;
}

.additional-text {
	padding: 0;
	margin-bottom: 70px;
	margin-top: 35px;
	.nav-tabs {
		padding-left: 0;
		text-align: center;
		list-style: none;
		li {
			display: inline-block;
			float: none;
			a {
				padding: 7px 20px;
				font-size: 15px;
				background: #fff;
				border: 1px solid #787878;
				text-decoration: none;
				color: #787878;
				display: block;
				-webkit-transition-duration: 2s;
				transition-duration: 2s;
				text-align: center;
				margin-right: -4px;
				border-radius: 0px 0px 0 0;
				i {
					display: none;
				}
			}
			a:hover {
				background: #666;
				color: #fff;
			}
		}
		li.active {
			a {
				background: #666;
				color: #fff;
			}
		}
		li:first-child {
			a {
				border-top-left-radius: 30px;
				border-bottom-left-radius: 30px
			}
		}
		li:last-child {
			a {
				border-top-right-radius: 30px;
				border-bottom-right-radius: 30px
			}
		}
	}
	.tab-content {
		.tab-pane {
			background: #fff;
			width: 100%;
			padding: 40px 30px 50px;
			margin-top: -10px;
			font-size: 14px;
			line-height: 21px;
			min-height: 365px;
			padding-bottom: 60px;
			.additional-tab-title {
				font-size: 20px;
				margin-bottom: 25px;
				display: block;
			}
			.additional-see-more {
				background: #fff;
				position: absolute;
				left: 0;
				right: 0;
				padding: 5px;
				width: 173px;
				margin: auto;
				text-align: center;
				font-size: 11px;
				font-weight: 900;
				color: #303030;
				cursor: pointer;
				text-transform: uppercase;
				border-radius: 17px;
				border: 1px solid #686868;
				bottom: 10px;
			}
			.additional-see-more:hover {
				background: #303030;
				color: #fff;
				-webkit-transition-duration: 2s;
				/* Safari */
				transition-duration: 2s;
			}
		}
	}
}

/* aditional information */

/* filters */

.container-hotel-details-filters {
	margin-top: 20px;
	margin-bottom: 20px;
}

.search-filters-box-details {
	width: auto;
	border-top: 1px solid #fff;
}

.no-padding {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

/* filters */

.hotel-option {
	padding: 11px 10px;
	border-top: 1px solid @official-gray-1;
	height: 40px;
	background: white;
	color: @color-darkgray;
	cursor: pointer;
	text-align: left;
	width: 100%;
	font-weight: bold;
	.hotel-checkbox-search-info {
		display: inline-block;
		vertical-align: middle;
		width: 15px;
		height: 15px;
		background: url('../img/airline-checkbox.png') left top no-repeat;
		cursor: pointer;
	}
	.hotel-checkbox {
		display: none;
	}
	.hotel-checkbox+label {
		display: inline-block;
		width: 15px;
		height: 15px;
		vertical-align: middle;
		background: url(../img/airline-checkbox.png) left top no-repeat;
		cursor: pointer;
	}
	.hotel-checkbox:checked+label {
		background: url(../img/airline-checkbox.png) left top no-repeat;
	}
}

.hotel-option-checked {
	background: @color-darkgray;
	color: white;
	border-top: 1px solid @official-gray-1;
	height: 40px;
	cursor: pointer;
	text-align: left;
	width: 100%;
	padding: 11px 10px;
	font-weight: bold;
	.hotel-checkbox-search-info {
		display: inline-block;
		vertical-align: middle;
		width: 15px;
		height: 15px;
		background: url('../img/airline-checkbox.png') -15px top no-repeat;
		cursor: pointer;
	}
	.hotel-checkbox {
		display: none;
	}
	.hotel-checkbox+label {
		display: inline-block;
		width: 15px;
		height: 15px;
		vertical-align: middle;
		background: url(../img/airline-checkbox.png) -15px top no-repeat;
		cursor: pointer;
	}
	.hotel-checkbox:checked+label {
		background: url(../img/airline-checkbox.png) -15px top no-repeat;
	}
}

.hotel-details-separator {
	height: 0;
	border-bottom-width: 1px;
	border-color: #666666;
	border-bottom-style: solid;
	margin-top: 20px;
	margin-bottom: 20px;
}

.hotel-details-hr {
	height: 0;
	border-bottom-width: 1px;
	border-color: #666666;
	border-bottom-style: solid;
	margin-bottom: 15px;
}

.hotel-details-background {
	background: #F5F5F5;
}

.hotel-details-address {
	font-weight: 800;
}

.hotel-details-price-from {
	font-size: 18px;
	font-weight: 800;
	font-weight: 100;
	font-style: normal;
	margin-bottom: -7px;
}

.hotel-details-price {
	font-size: 41px;
	font-weight: 800;
	font-weight: 900;
}

.hotel-details-price-clp {
	font-size: 18px;
	font-weight: 100;
	font-style: normal;
	font-weight: 800;
}

.hotel-details-text-price {
	margin-top: -7px;
	font-size: 16px;
	font-weight: 900;
}

.row {
	margin-left: 0px !important;
	margin-right: 0px !important;
}

.name-hotel-detail-title {
	margin-top: 70px;
	font-size: 30px;
	line-height: 10px;
	line-height: 31px;
	margin-bottom: 0px;
}

.hotel-details-img-center-cropped {
	width: 100%;
	min-height: 455px;
	background-position: center center;
	background-repeat: no-repeat;
	margin-top: 5px;
	margin-bottom: 5px;
	background-size: cover;
}

.hotel-details-intro-div {
	margin-top: 20px;
	height: 55px;
	font-weight: 800;
}

.hotel-details-content-background {
	background: white !important;
}

.hotel-detail-back-button {
	font-weight: 900;
	background: 0 0;
	outline: 0;
	transition: all ease .4s;
	height: 30px;
	font-size: 13px !important;
	color: #666;
	position: relative;
	margin-top: 6px;
	padding: 3px 0px;
	display: inline-block;
	margin-right: 3px;
	text-transform: none;
	border: none;
	i {
		border: none !important;
		font-size: 10px !important;
		display: inline !important;
	}
	span:after {
		margin-left: 6px;
		display: inline-block;
		transition: ease 0.4s;
	}
	&.rotate {
		span:after {
			transform: rotate(-180deg);
		}
	}
	&:hover {
		span:after {
			-webkit-filter: invert(70%);
			filter: invert(70%);
		}
	}
}

.hotel-details-content-separator {
	height: 0;
	border-bottom-width: 2px;
	border-color: #F2F2F1;
	border-bottom-style: solid;
	margin-top: 10px;
	margin-bottom: 10px;
}

.hotel-details-section-separator {
	height: 0;
	border-bottom-width: 2px;
	border-color: #F2F2F1;
	border-bottom-style: solid;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 70%;
}

.about-this-hotel {
	margin-top: 35px;
}

.hotel-details-about-text {
	text-transform: uppercase;
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
	font-size: 20px;
	font-weight: 900;
	font-weight: 800;
}

.details-section-title {
	font-size: 20px;
	font-weight: 800;
}

.details-section {
	margin-top: 30px;
}

.details-highlighted-text {
	font-size: 14px;
	font-weight: 800;
}

.check-in-info-container {
	.check-in-time {
		padding-right: 50px;
		padding-top: 10px;
	}
	.check-in-separator {
		border-right-width: 1px;
		border-right-style: solid;
		border-right-color: #666666;
		float: left;
		height: 40px;
	}
	.check-out-time {
		padding-left: 45px;
		padding-top: 10px;
	}
}

.details-light-text {
	/*color: #C6C5C9;*/
	font-weight: 100;
	font-style: normal;
	font-size: 20px;
}

.details-strong-text {
	font-weight: 900;
	font-style: normal;
	font-size: 24px;
}

.details-section-content {
	margin-top: 25px;
}

.hotel-details-map {
	margin-top: 40px;
	margin-bottom: 20px;
}

.hotel-details-main-info {
	min-height: 460px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #666666;
	margin-right: 15px;
	margin-left: 52px;
}

.category-list-container {
	margin-top: 40px;
}

.hotel-rating-trip {
	color: #6EA657;
	font-size: 17px;
	.trip-ball-container {
		margin-left: -5px;
	}
}

.detail-upper-margin {
	margin-top: 40px;
}

.details-main-price-info {
	position: absolute;
	bottom: 15px;
	width: 100%;
}

.detail-rating-block {
	display: inline-block;
}

.detail-rating-trip {
	margin-left: 10px;
	margin-top: 3px;
}

.detail-rating-stars {
	margin-right: 10px;
}

.detail-rating-separator {
	border-right-width: 2px;
	border-right-style: solid;
	border-right-color: #DADADB;
	height: 27px;
	display: inline-block;
	position: absolute;
}

.room-info-collapse {
	position: absolute;
	z-index: 100;
	background: white;
	border-style: solid;
	border-width: thin;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	margin-top: 2px;
	border-color: lightgray;
	padding: 7px;
}

.hotel-details-text-marker {
	padding-top: 4px;
	font-size: 15px;
	color: white;
	font-weight: 900;
}

.hotel-details-marker {
	background-image: url("../img/marker1.png");
	width: 27px;
	height: 36px;
	background-repeat: no-repeat;
	text-align: center;
}

.interest-points-list {
	font-size: 15px;
	padding-left: 20px;
	font-weight: 900;
}

.interest-point-distance {
	font-weight: normal;
}

.list-available-rooms {
	margin-top: 40px;
}

.hotel-details-available-rooms-text {
	text-transform: uppercase;
	text-align: center;
	font-size: 25px;
	font-weight: 900;
	font-weight: 800;
}

.charge-loader {
	height: 50px;
}
