.loader-background {
	background-image: url('../img/mainimg.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #CEEDFF;
}
