.background {
	background-image: url('../img/mainimg.jpg');
	background-position: 50% 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #CEEDFF;
}
