.modal-container {
	background: @color-lightgray;
	/*padding: 0 10px 10px;*/
	padding-top: 5px;
	padding-bottom: 5px;
	/*	border-top: 2px solid #cf112a;
	border-bottom: 2px solid #cf112a;*/
	border-radius: 3px;
	margin-left: auto;
	margin-right: auto;
	.modal-see-voucher {
		.display-voucher {
			height: 500px;
			width: 100%;
			border-width: 0px;
		}
	}
	.modal-cancellation-result {
		margin-top: 30px;
		margin-bottom: 30px;
		margin-left: -5px !important;
		margin-right: -5px !important;
		padding: 20px;
		background-color: #D9D9D9;
		.modal-cancellation-result-title {
			margin-top: 30px;
			font-weight: 900;
			font-style: normal;
		}
		.button-dismiss-result-modal {
			color: white;
			background-color: #FF0000;
		}
	}
	.modal-cancellation-reasons {
		margin-left: -5px !important;
		margin-right: -5px !important;
		.modal-cancellation-reasons-title {
			padding: 10px;
			margin-top: 30px;
			background-color: #D9D9D9;
			span {
				font-weight: 900;
				font-style: normal;
			}
		}
		.modal-cancellation-reasons-text {
			padding: 10px;
			background-color: #D9D9D9;
			.left {
				display: inline;
			}
			.right {
				display: inline;
			}
		}
		.modal-cancellation-reasons-mail {
			.mail-form-container {
				padding: 10px;
				input {
					width: 70%;
				}
			}
			.mail-form-button {
				padding: 10px;
				.button-cancel-popup {
					color: white;
					background-color: #FF0000;
					i {
						font-size: 18px;
						vertical-align: sub;
					}
					div {
						display: inline;
					}
				}
				.loader-cancellation {
					img {
						height: 35px;
						margin-left: 20px;
					}
				}
			}
		}
	}
	.modal-cancellation-confirm {
		margin-left: -5px !important;
		margin-right: -5px !important;
		.modal-cancellation-confirm-title {
			padding: 10px;
			margin-top: 30px;
			background-color: #D9D9D9;
			span {
				font-weight: 900;
				font-style: normal;
			}
		}
		.modal-cancellation-confirm-text {
			padding: 10px;
			.cancel-policy-modal-title {
				font-weight: 900;
				font-style: normal;
				text-decoration: underline;
			}
			.modal-button-container {
				padding-top: 2.5%;
				.button-cancel-popup {
					color: white;
					background-color: #FF0000;
					i {
						font-size: 18px;
						vertical-align: sub;
					}
					div {
						display: inline;
					}
				}
			}
		}
	}
	.modal-rate-detail {
		.modal-rate-detail-text {
			margin-top: 30px;
			background-color: #D9D9D9;
			padding: 5px;
			padding-top: 10px;
			margin-left: -5px !important;
			margin-right: -5px !important;
			span {
				font-weight: 900;
				font-style: normal;
			}
			.modal-rate-detail-title {
				margin-top: 10px;
				margin-bottom: 10px;
			}
			.modal-rate-detail-taxes {
				background-color: #D9D9D9;
				padding-top: 20px;
				span {
					font-weight: 900;
					font-style: normal;
				}
			}
		}
		.modal-rate-detail-total {
			margin-top: 5px;
			padding: 5px;
			padding-top: 10px;
			.summary-price-foreign {
				font-size: 18px;
			}
			.summary-price-local {
				display: inline;
			}
			span {
				font-weight: 900;
				font-style: normal;
			}
		}
	}
	.modal-send-voucher {
		margin-top: 30px;
		background-color: #D9D9D9;
		margin-left: -5px !important;
		margin-right: -5px !important;
		padding: 8px;
		.modal-send-voucher-title {
			font-weight: 900;
			font-style: normal;
		}
		.modal-send-voucher-text {
			padding-top: 10px;
		}
		.voucher-error {
			color: #C00000;
			font-weight: 900;
			font-style: normal;
			margin-top: 10px;
			font-size: 15px;
		}
		.modal-send-voucher-input {
			padding-top: 10px;
			input {
				width: 50%;
			}
		}
	}
	.modal-send-voucher-btn-container {
		margin-top: 5px;
		margin-bottom: 5px;
		.btn-modal-send-voucher {
			color: #ffffff;
			background-color: #0070C0;
			&:hover {
				color: #ffffff;
			}
		}
	}
	.modal-title {
		font-size: @font-size-base + 7;
		font-weight: bold;
		padding: 10px 0;
	}
	.close-modal {
		padding: 17px 0 13px;
		.cch-close {
			font-size: @font-size-base + 1;
		}
	}
	.subtitles {
		font-weight: bold;
		font-size: @font-size-base + 1;
		color: #5B5B5F;
		padding: 5px;
	}
	.passenger-block {
		background: #fff;
		border-bottom: 1px solid #f7f7f9;
		padding: 8px 5px;
		color: #97969C;
		font-weight: 900;
	}
	.base-price-block {
		background: #fff;
		color: #5B5B5F;
		font-weight: bold;
		font-size: @font-size-base + 2;
		padding: 8px 5px 30px 5px;
	}
	.taxes-fee-block {
		background: #fff;
		color: #97969C;
		font-weight: 900;
		font-size: @font-size-base;
		padding: 8px 5px 30px 5px;
	}
	.total-block {
		font-size: @font-size-base + 6;
		font-weight: 900;
		padding: 15px 5px;
	}
	.terms-content {
		background: white;
		padding: 15px 20px;
		color: #97969C;
		text-align: justify;
		ul {
			padding: 0 5px;
		}
		strong {
			font-weight: bold;
		}
		.subtitle {
			color: @color-red;
			font-weight: bold;
		}
		.terms-content-identation {
			padding-left: 30px;
		}
	}
	.detail-connection-box-trip-advisor {
		background: white;
		padding-left: 5px;
		margin-bottom: 15px;
	}
	.detail-connection-box-region-map {
		background: white;
		padding-bottom: 15px;
	}
	.detail-connection-box {
		background: white;
		padding: 10px;
		font-weight: 900;
		.subtitle {
			font-weight: 900;
			font-size: @font-size-base + 3;
		}
		.brackets {
			font-weight: normal;
			font-size: @font-size-base;
			margin-bottom: 15px;
		}
		.modal-input {
			border: none;
			width: 100%;
			border-bottom: 1px solid #ccc;
			height: 35px;
			color: black;
			font-size: @font-size-base + 2;
			font-weight: normal;
			margin-bottom: 40px;
			outline: none;
			&.active {
				outline: none;
			}
			&:focus {
				border-bottom: 1px solid #ccc;
			}
			&.error {
				border-bottom: 1px solid red;
			}
		}
		.modal-input::-webkit-input-placeholder {
			color: @official-gray-2;
		}
		.disclaimer {
			font-size: @font-size-base + 1;
			text-align: center;
			font-weight: normal;
			.request-call-btn {
				margin: 20px auto 8px;
				.btn-red();
				height: 28px;
				font-size: @font-size-base - 1;
			}
			.strong {
				font-weight: bold;
			}
		}
		.terms {
			margin-top: -33px;
			display: inline-block;
			.checkbox-container {
				float: left;
				input[type="checkbox"] {
					display: none;
				}
				input[type="checkbox"]+label {
					display: inline-block;
					vertical-align: middle;
					width: 11px;
					height: 11px;
					margin: -2px 3px 0 0;
					background: url(../img/uncheck.png) left top no-repeat;
					background-size: 11px 11px;
					cursor: pointer;
				}
				input[type="checkbox"]:checked+label {
					background: url(../img/check.png) left top no-repeat;
					background-size: 11px 11px;
				}
			}
			.terms-text {
				font-family: 'proxima nova regular italic';
				font-size: @font-size-base - 1;
			}
			.terms-click {
				font-family: 'proxima nova regular italic';
				font-size: @font-size-base - 1;
				text-decoration: underline;
				&:hover {
					color: black;
				}
			}
		}
	}
	.detail-stop-box {
		padding: 6px 15px;
		background: white;
		border-top: 2px solid #CBCBCD;
		border-bottom: 2px solid #CBCBCD;
		.duration {
			background: url('../img/vuelos/icon_scale.png') no-repeat;
			background-size: 18px 18px;
			-webkit-background-size: 18px 18px;
			-moz-background-size: 18px 18px;
			-o-background-size: 18px 18px;
			padding-left: 22px;
			margin-top: 1px;
			margin-left: 6px;
		}
		.stop {
			padding-left: 19px;
			font-size: @font-size-base + 1;
		}
		.stop-with-scales {
			font-size: @font-size-base + 1;
			font-weight: bold;
			color: black;
		}
	}
	.detail-itinerary-container {
		float: left;
		width: 5%;
		height: 230px;
		position: relative;
		.detail-origin-dot {
			background-color: #5C5B60;
			border: 1px solid #5C5B60;
			border-radius: 100%;
			height: 12px;
			width: 12px;
			position: absolute;
			top: 13px;
		}
		.detail-destination-dot {
			background-color: #5C5B60;
			border: 1px solid #5C5B60;
			border-radius: 100%;
			height: 12px;
			width: 12px;
			position: absolute;
			top: 192px;
		}
		.detail-itinerary-dashed {
			border-left: 1px dashed #B5B4BA;
			height: 175px;
			margin-left: 5px;
			position: absolute;
			top: 25px;
		}
		.detail-stop-dot-origin {
			display: inline-block;
			background-color: #97969C;
			border: 1px solid #97969C;
			border-radius: 100%;
			height: 9px;
			width: 9px;
			margin: 1px;
			position: absolute;
			top: 14px;
		}
		.detail-stop-dot-destination {
			display: inline-block;
			background-color: #97969C;
			border: 1px solid #97969C;
			border-radius: 100%;
			height: 9px;
			width: 9px;
			margin: 1px;
			position: absolute;
			top: 194px;
		}
	}
	.detail-content-container {
		float: left;
		padding: 0 10px;
		width: 95%;
		.card-place {
			font-weight: normal;
			position: relative;
			height: 255px;
			.margin-minus {
				margin-top: -12px;
				margin-bottom: 7px;
			}
			.code {
				color: #5C5B60;
				font-size: @font-size-base + 15;
				margin-left: -3px;
			}
			.top {
				position: absolute;
				top: 0;
			}
			.bottom {
				position: absolute;
				top: 180px;
			}
			.city {
				text-transform: capitalize;
				color: #97969C;
				font-size: @font-size-base;
			}
			.description {
				color: #97969C;
				font-size: @font-size-base;
			}
			.description2 {
				margin-top: 3px;
				color: #5C5B60;
				font-size: @font-size-base;
			}
		}
	}
	.detail-datetime-container {
		width: 100%;
		padding: 0 10px;
		float: left;
		.card-place {
			font-weight: normal;
			position: relative;
			height: 255px;
			.description3 {
				color: #5C5B60;
				font-size: @font-size-base;
			}
			.top {
				position: absolute;
				top: 5px;
			}
			.bottom {
				position: absolute;
				top: 185px;
			}
			.duration {
				background: url('../img/vuelos/icon_scale.png') no-repeat;
				background-size: 18px 18px;
				padding-left: 22px;
				margin-top: 1px;
			}
			.airline-image-container {
				margin-top: 50px;
				.airline-image {
					width: 60%;
				}
			}
		}
	}
	.btn-action {
		background: @color-red;
		width: 100%;
		text-transform: uppercase;
		color: white;
		outline: none;
		margin-top: 10px;
		border-radius: 3px;
		transition: ease 0.4s;
	}
	.btn-action:hover {
		background: #9E0D20;
		transition: ease 0.4s;
	}
	.btn-call {
		background: #97969C;
		text-transform: uppercase;
		color: white;
		margin-top: 10px;
		border-radius: 3px;
		transition: ease 0.4s;
		outline: none;
		width: 100%;
	}
	.btn-call:hover {
		background: @color-darkgray;
		transition: ease 0.4s;
	}
	&.quote-success {
		background: #f4f4f4;
		.container-message {
			background: #fff;
			text-align: center;
			padding: 15px;
			font-size: @font-size-base + 2;
			.price {
				font-size: @font-size-base + 7;
				font-weight: 500;
				margin-top: 5px;
				position: relative;
				display: block;
				.clp {
					font-size: @font-size-base + 4;
					font-weight: 400;
				}
			}
		}
		.container-message-change-rate {
			background: #fff;
			padding: 15px;
			font-size: @font-size-base + 2;
			.price {
				font-size: @font-size-base + 7;
				font-weight: 500;
				margin-top: 5px;
				position: relative;
				display: block;
				.clp {
					font-size: @font-size-base + 4;
					font-weight: 400;
				}
			}
			.title {
				margin-bottom: 10px;
				.check-container {
					background: #29ACB9;
					border-color: #29ACB9;
					border: 1px solid #ccc;
					padding: 3px 0;
					height: 18px;
					width: 18px;
					text-align: center;
					display: inline-block;
					position: relative;
					top: -1px;
					left: -8px;
					border-radius: 13px;
					font-size: 10px;
					i {
						color: #fff;
					}
				}
				.subtitle {
					padding-top: 10px;
					padding-bottom: 10px;
					strong {
						font-weight: 700;
						font-size: @font-size-base + 6;
					}
				}
			}
			.foot {
				margin-top: 5px;
			}
			.product-table {
				border: 1px solid #666;
				.product-row {
					.product-cell {
						padding-top: 10px;
						padding-bottom: 10px;
						&.title {
							font-weight: 800;
							&.total {
								font-size: 24px;
								font-weight: 800;
							}
						}
						&.bottomline {
							border-top: 1px solid #666;
						}
						.total {
							font-size: 26px;
							font-weight: 800;
						}
						.subtotal {
							font-size: 22px;
							font-weight: 800;
						}
					}
				}
			}
		}
		.buttons-container {
			// text-align: right;
			margin-top: 10px;
			.btn-action {
				display: inline-block;
				margin: 5px 2px;
				&.gray {
					background: none;
					border: 1px solid #595B5F;
					color: #595B5F;
					&:hover {
						border: 1px solid #595B5F;
						background: #595B5F;
						color: #fff;
					}
				}
			}
		}
	}
}

.modal-sm {
	width: 450px !important;
}

.modal-content {
	border: none !important;
}

/* map modal */

.loader-map-modal {
	margin-left: -5px;
	position: absolute;
	z-index: 50000;
	margin-top: 4px;
}

.error-cause-modal {
	font-weight: 800;
}

.hotel-map-modal-background {
	background-color: white;
}

.hotel-map-name {
	font-weight: 800;
	font-size: large;
	margin-top: 10px;
	margin-bottom: 10px;
}

.hotel-map-info {
	margin-top: 10px;
	margin-bottom: 10px;
}

.hotel-map-points-title {
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: 800;
}

.location-icon {
	font-size: 20px;
	color: #97969C;
	vertical-align: sub;
}

.icon-close-modal {
	position: absolute;
	right: -10px;
	top: -10px;
	background: black;
	width: 30px;
	height: 30px;
	color: lightgray;
	border-radius: 15px;
	border-color: darkgray;
	border-width: 2px;
	border-style: solid;
	padding: 6px;
	z-index: 2000;
}

.loader-message {
	width: 100%;
	text-align: center;
	padding: 0 15px;
	&.black {
		color: black;
	}
	&.white {
		color: white;
	}
	span {
		font-weight: 400;
		font-size: @font-size-base + 6;
		line-height: 25px;
	}
}

.loader-animation {
	position: relative;
	height: 205px;
	top: -10px;
	&.black {
		color: #454444;
		.line {
			filter: invert(80%);
		}
		.plane-container {
			.plane {
				filter: invert(80%);
			}
		}
	}
	&.white {
		color: white;
	}
	&.no-plane {
		height: 130px;
		.main-icon {
			top: 0;
		}
		.line {
			display: none;
		}
		.plane-container {
			display: none;
		}
	}
	.main-icon {
		position: absolute;
		left: 50%;
		top: 47px;
		margin-left: -53px;
		font-size: @font-size-base + 94;
	}
	.line {
		position: absolute;
		left: 50%;
		margin-left: -105px;
		height: 210px;
		width: 210px;
		border-radius: 50%;
		background-size: cover !important;
		background: url('../img/line.png') no-repeat;
	}
	.plane-container {
		position: absolute;
		left: 50%;
		margin-left: -105px;
		height: 210px;
		width: 210px;
		animation: load8 3s linear infinite;
		padding: 6px;
		.plane {
			height: 30px;
			width: 30px;
			margin: 0 auto;
			background-size: cover !important;
			background: url('../img/plane.png') no-repeat;
		}
	}
}

.loader-container {
	height: 100%;
	padding: 70px 0 40px;
	display: table;
	margin: 0 auto;
	.center-loader {
		display: table-cell;
		text-align: center;
		vertical-align: middle;
	}
}
