@media (min-width: @screen-sm-min) {
	.modal-detail {
		display: table;
		width: 100%;
		min-height: 300px;
		border-radius: 0;
		padding: 5px 10px 10px;
		background: #eee;
		.modal-title {
			display: block;
			width: 100%;
			position: relative;
			text-transform: uppercase;
			font-weight: bold;
			padding: 15px 0 20px 16px;
			font-size: @font-size-base + 7;
			i {
				position: absolute;
				right: 0;
			}
		}
		.modal-container {
			display: table;
			width: 100%;
			min-height: 205px;
			background: #fff;
			padding: 20px 3px 45px;
			font-size: @font-size-base + 3;
			.modal-container-message {
				padding: 0 15px;
			}
			.modal-include-detail {
				color: #888888;
				display: block;
				width: 100%;
				margin-bottom: 9px;
				margin-top: 9px;
				height: 60px;
				position: relative;
				.includes-icon {
					display: inline-block;
					i {
						border: 2px solid #888888;
						padding: 9px;
						border-radius: 45px;
						margin-right: 25px;
						margin-left: 15px;
						font-size: @font-size-base + 17px;
						margin-top: 5px;
						display: block;
					}
				}
				.includes-label {
					display: inline-block;
					height: 60px;
					position: absolute;
					max-width: 440px;
					.table {
						display: table;
						height: 60px;
						span {
							display: table-cell;
							vertical-align: middle;
						}
					}
				}
			}
		}
	}
}

@media (max-width: @screen-xs-max) {
	.modal-mobile-include {
		.terms-content {
			.modal-payment-option {
				margin: 10px 0;
				border-bottom: 1px solid #D9D9D9;
				padding-bottom: 10px;
				&:last-child {
					border-bottom: none;
				}
			}
		}
		.modal-dialog {
			width: 100%;
			margin: 0;
			min-height: 100%;
			background: #fff;
			background-position: center;
			.modal-content {
				border-radius: 0;
				background: none;
				box-shadow: none;
				border: none;
				.additional-text-modal {
					padding: 20px;
					ul {
						padding: 0;
						list-style: none;
						hr {
							display: none;
						}
					}
				}
			}
		}
		.modal-container {
			display: table;
			width: 100%;
			min-height: 205px;
			background: #fff;
			padding: 20px 3px 45px;
			font-size: @font-size-base + 3;
			.modal-include-detail {
				color: #888888;
				display: block;
				width: 100%;
				margin-bottom: 9px;
				margin-top: 9px;
				height: 60px;
				position: relative;
				.includes-icon {
					display: inline-block;
					i {
						border: 2px solid #888888;
						padding: 5px;
						border-radius: 45px;
						margin-right: 8px;
						margin-left: 10px;
						font-size: @font-size-base + 13;
						display: block;
						margin-top: 7px
					}
				}
				.includes-label {
					display: inline-block;
					min-height: 60px;
					position: absolute;
					max-width: 440px;
					width: 80%;
					.table {
						display: table;
						min-height: 60px;
						span {
							display: table-cell;
							vertical-align: middle;
							font-size: @font-size-base + 1;
						}
					}
				}
			}
		}
		.modal-title {
			font-size: @font-size-base + 5;
			padding-top: 21px;
			color: #fff;
			padding-bottom: 22px;
			position: relative;
			z-index: 5;
			text-transform: uppercase;
			background: #4c4c4c;
			text-align: center;
			font-weight: 900;
			i.cch-arrow-left {
				font-size: 26px;
				position: absolute;
				left: 15px;
			}
		}
	}
}

@media (max-width: 479px) {
	/* 767px - 480px */
}

@media (max-width: @screen-xs-max) and (min-width: @screen-xs-min) {
	/* 767px - 480px */
}

@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
	/* 768px - 991px */
	.modal-detail {
		.modal-container {
			.modal-include-detail {
				span {
					i {}
				}
				.includes-label {
					max-width: 82%;
				}
			}
		}
	}
}

@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
	/* 992px - 1199px */
	.modal-detail {
		.modal-container {
			.modal-include-detail {
				span {
					i {}
				}
				.includes-label {
					max-width: 440px;
				}
			}
		}
	}
}

@media (min-width: @screen-lg-min) {
	/* 1200px */
}

/****** Modal-step ****/

.modal-step {
	.modal-dialog {
		width: 100%;
		margin: 0;
		min-height: 100%;
		background: url(//cms-adm.cocha.com/images/package-portal/background-checkout.jpg);
		background-position: center;
		height: 100%;
		background-size: cover;
	}
	.modal-title,
	.modal-title-trans {
		font-size: 15px;
		padding-top: 20px;
		color: #fff;
		padding-bottom: 19px;
		position: relative;
		z-index: 5;
		.cch-arrow-left {
			font-size: 26px;
			float: left;
			margin-left: 10px;
			margin-top: -1px;
			margin-right: 10px;
		}
		.cch-phone {
			float: right;
			border: 2px solid #fff;
			padding: 4px;
			font-size: 17px;
			border-radius: 20px;
			margin-right: 10px;
			margin-top: -1px;
		}
	}
	.modal-title {
		background: #4c4c4c;
		font-weight: 900;
	}
	.modal-title-trans {
		background: rgba(0, 0, 0, 0.6);
	}
	/**** calendar ***/
	.modal-content {
		// background: rgba(255, 255, 255, .6);
		background: none;
		min-height: 533px;
		height: 100%;
		border: none !important;
		border-radius: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
		#general-select {
			padding: 15px;
			padding-top: 25px;
			#rooms,
			#pax {
				display: table;
				width: 100%;
				margin-bottom: 30px;
				a {
					display: block;
					width: 100%;
					color: #a5a5a5;
					text-decoration: none;
					-webkit-transition-duration: 2s;
					.number {
						display: inline-block;
						border: 1px solid #a5a5a5;
						padding: 6px;
						height: 35px;
						width: 35px;
						text-align: center;
						border-radius: 5px;
						position: relative;
						margin-right: 16px;
						span {
							position: absolute;
							left: 34px;
							top: 0px;
							border-top: 17px solid transparent;
							border-left: 8px solid transparent;
							border-bottom: 17px solid transparent;
						}
					}
					.text {
						font-size: @font-size-base + 4px;
						display: inline-block;
						width: 80%;
						vertical-align: top;
						span {
							display: block;
							width: 100%;
							font-size: @font-size-base - 1px;
						}
					}
				}
			}
			#rooms.active,
			#pax.active {
				a {
					color: #606060;
					-webkit-transition-duration: 2s;
					.number {
						display: inline-block;
						border: 1px solid #a5a5a5;
						background: #a5a5a5;
						padding: 6px;
						height: 35px;
						width: 35px;
						text-align: center;
						border-top-left-radius: 5px;
						border-bottom-left-radius: 5px;
						border-top-right-radius: 0;
						border-bottom-right-radius: 0;
						position: relative;
						margin-right: 16px;
						span {
							position: absolute;
							left: 34px;
							top: 0px;
							border-top: 17px solid transparent;
							border-left: 8px solid #a5a5a5;
							border-bottom: 17px solid transparent;
						}
					}
				}
			}
			#rooms {
				div {
					.option-hab {
						color: #a5a5a5;
						display: inline-block;
						margin-top: 5px;
						font-weight: normal;
						input[type=radio] {
							display: none;
						}
						input[type=radio]+label {
							cursor: pointer;
							.check-box {
								border: 1px solid #a5a5a5;
								border-radius: 18px;
								display: inline-block;
								width: 15px;
								height: 15px;
								margin-right: 5px;
								margin-left: 10px;
								vertical-align: top;
								i {
									color: transparent;
									font-size: 8px;
									display: block;
									padding: 3px 0;
									text-align: center;
								}
							}
							.name {
								font-weight: 900;
							}
						}
						input[type=radio]:checked+label {
							.check-box {
								border: 1px solid #a5a5a5;
								border-radius: 18px;
								display: inline-block;
								width: 15px;
								height: 15px;
								margin-right: 5px;
								margin-left: 10px;
								i {
									color: #a5a5a5;
									font-size: 8px;
									display: block;
									padding: 3px 0;
									text-align: center;
								}
							}
						}
						&:first-child {
							margin-left: 40px;
						}
					}
				}
			}
			#rooms.active {
				div {
					.option-hab {
						color: #606060;
						input[type=radio]+label {
							.check-box {
								border: 1px solid #606060;
							}
						}
						input[type=radio]:checked+label {
							.check-box {
								border: 1px solid #606060;
								i {
									color: #606060;
								}
							}
						}
					}
				}
				.rooms-select {
					color: #606060;
					.room {
						color: #606060;
						.select {
							color: #606060;
							border-bottom-color: #606060;
							i {
								color: #606060;
							}
						}
					}
				}
			}
			#pax {
				.pax-rooms {
					width: 100%;
					margin: 20px 0;
					color: #a5a5a5;
					.room {
						position: relative;
						margin: 15px 0;
						.select {
							height: 25px;
							border-bottom: 1px solid #a5a5a5;
							width: 81%;
							outline: 0;
							cursor: pointer;
							padding: 6px 0;
							margin-bottom: 10px;
							display: inline-block;
							position: relative;
							top: -5px;
							font-size: 13px;
							left: 4px;
							span {
								i {
									position: absolute;
									right: 2px;
									font-size: 12px;
									top: 10px;
								}
							}
						}
						.pax-room-option-container {
							position: absolute;
							top: 19px;
							z-index: 99;
							width: -webkit-calc(100% - 20px);
							width: -moz-calc(100% - 20px);
							width: calc(100% - 20px);
							border-bottom: 2px solid #666;
							border-bottom-right-radius: 3px;
							border-bottom-left-radius: 3px;
							left: 50px;
							.pax-room-option {
								border-top: 1px solid #CCC;
								height: 40px;
								background: #fff;
								color: #666;
								cursor: pointer;
								text-align: left;
								width: 100%;
								padding: 11px 10px;
								font-weight: 700;
								&:hover {
									background: #666;
									color: #fff;
								}
							}
						}
					}
				}
			}
			#pax.active {
				.pax-rooms {
					color: #606060;
				}
			}
			#review-date {
				padding: 0 40px;
				margin-top: 175px;
				height: 80px;
				text-align: center;
			}
		}
		.change-date {
			display: block;
			width: 100%;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			text-align: center;
			a {
				position: relative;
				text-align: center;
				margin: auto;
				border: 1px solid #fff;
				display: block;
				width: 19em;
				border-radius: 3em;
				padding: 8px;
				background: #fff;
				color: #5b5a5f;
				margin-bottom: 0;
				margin-top: 10px;
				text-decoration: none;
				&:hover {
					border: 1px solid #5b5a5f;
					background: #5b5a5f;
					color: #fff;
				}
				i {
					margin-right: 5%;
					vertical-align: text-bottom;
				}
			}
		}
		.pax-age-rooms {
			color: #343432;
			padding: 15px;
			.title-pax {
				font-size: 16px;
				font-weight: 900;
				padding: 40px 7px;
			}
			.room {
				position: relative;
				margin-bottom: 45px;
				padding: 0 7px;
				.name-room {
					padding: 5px 0;
				}
				.age {
					height: 30px;
					border-bottom: 1px solid #343432;
					width: 25%;
					outline: 0;
					cursor: pointer;
					padding: 6px 0;
					margin-bottom: 0;
					display: inline-block;
					position: relative;
					font-size: 13px;
					margin-right: 7%;
					span {
						i {
							position: absolute;
							right: 2px;
							font-size: 12px;
							top: 10px;
						}
					}
				}
				.data-selector-age-child {
					width: 100%;
				}
				.container-child-age-options {
					width: 25%;
					margin-right: 7%;
					display: inline-block;
				}
				.pax-age-align {
					position: absolute;
					z-index: 99;
					width: 25%;
					top: 60px;
					.pax-age-option-container {
						position: relative;
						border-bottom: 2px solid #cf112a;
						border-bottom-right-radius: 3px;
						border-bottom-left-radius: 3px;
						max-height: 200px;
						overflow: hidden;
						overflow-y: scroll;
						.pax-age-option {
							border-top: 1px solid #CCC;
							height: 40px;
							background: #fff;
							color: #666;
							cursor: pointer;
							text-align: left;
							width: 100%;
							padding: 11px 10px;
							font-weight: 700;
							&:hover {
								color: #fff;
								background: #666;
							}
						}
					}
				}
			}
		}
		#select-date {
			display: none;
		}
		#select-date.active,
		.footer-modals-detail {
			display: table;
			width: 100%;
			position: fixed;
			bottom: 0;
			background: #fff;
			padding: 27px 15px;
			border-top: 1px solid #ccc;
			.see-available-date {
				font-size: 16px;
				border-radius: 20px;
				padding: 5px 15px;
				width: 100%;
				height: 40px;
				border: 1px solid #cf112a;
				background: #cf112a;
				color: #fff;
				text-transform: uppercase;
				letter-spacing: 1px;
				text-align: center;
				transition: all ease .4s;
				&:hover {
					background: #fff;
					color: #cf112a;
				}
			}
		}
		.deal-calendar {
			.week-days {
				padding-right: 0 !important;
				padding-top: 13px !important;
				background: rgba(237, 237, 237, 1);
				background: -moz-linear-gradient(left, rgba(237, 237, 237, 1) 0%, rgba(164, 164, 164, 1) 100%);
				background: -webkit-gradient(left top, right top, color-stop(0%, rgba(237, 237, 237, 1)), color-stop(100%, rgba(164, 164, 164, 1)));
				background: -webkit-linear-gradient(left, rgba(237, 237, 237, 1) 0%, rgba(164, 164, 164, 1) 100%);
				background: -o-linear-gradient(left, rgba(237, 237, 237, 1) 0%, rgba(164, 164, 164, 1) 100%);
				background: -ms-linear-gradient(left, rgba(237, 237, 237, 1) 0%, rgba(164, 164, 164, 1) 100%);
				background: linear-gradient(to right, rgba(237, 237, 237, 1) 0%, rgba(164, 164, 164, 1) 100%); // filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#a4a4a4', GradientType=1);
				-webkit-box-shadow: 0 4px 2px 0px rgba(0, 0, 0, 0.75);
				-moz-box-shadow: 0 4px 2px 0px rgba(0, 0, 0, 0.75);
				box-shadow: 0 4px 2px 0px rgba(0, 0, 0, 0.75);
				.week {
					padding-right: 0 !important;
					padding-left: 0 !important;
					span {
						width: 14.2857%;
						text-align: center;
						float: left;
						margin-left: 0 !important;
						margin-right: 0 !important;
					}
				}
			}
			.calendar-container {
				padding-right: 0 !important;
				min-height: 415px;
				display: table;
				width: 100%;
				.months {
					padding: 0 !important; // background: rgba(0, 0, 0, .6);
					min-height: 365px;
					.month-container {
						padding: 0;
						display: table;
						position: relative;
						height: auto;
						.month-name {
							padding: 10px;
							height: inherit;
						}
						.month-days-container {
							height: inherit;
							background: rgba(255, 255, 255, .15);
							padding: 0;
							.default-day {
								font-weight: bold;
								border-right: none;
								height: 43px;
								.d-day {
									font-weight: 700;
									position: absolute;
									top: 0;
									left: 0;
									right: 0;
									font-size: 14px;
								}
								.t-day {
									position: absolute;
									bottom: 9px;
									left: 0;
									right: 0;
									font-size: 9px;
								}
								.p-day {
									position: absolute;
									bottom: 0px;
									left: 0;
									right: 0;
									font-size: 9px;
								}
							}
							.default-day.disabled {
								color: #fff;
								background: rgba(255, 255, 255, 0.25);
								border-bottom: 1px solid rgba(255, 255, 255, 0.15);
								border-right: none;
								.d-day {
									font-weight: 900;
									font-size: 13px;
								}
								.t-day,
								.p-day {
									display: none !important;
								}
							}
							.default-day.departure,
							.default-day.returning,
							.default-day.range {
								color: #fff;
								background: #32cccc !important;
								border-bottom: 1px solid rgba(255, 255, 255, 0.3);
								.d-day {
									font-weight: 700;
									position: absolute;
									top: 0;
									left: 0;
									right: 0;
									font-size: 14px;
								}
								.t-day {
									position: absolute;
									bottom: 9px;
									left: 0;
									right: 0;
									font-size: 9px;
								}
								.p-day {
									position: absolute;
									bottom: 0px;
									left: 0;
									right: 0;
									font-size: 9px;
								}
								&::before,
								&::after {
									display: none;
								}
							}
							.default-day.departure,
							.default-day.returning {
								background: rgba(32, 153, 149, 0.7) !important;
								border-right: none;
								.d-day {
									text-align: center;
								}
								.t-day,
								.p-day {
									top: inherit !important;
									text-align: center;
								}
							}
							.default-day.range,
							.default-day.returning {
								border-right: none;
								background: rgba(0, 153, 154, 0.3) !important;
							}
						}
					}
					&::-webkit-scrollbar {
						display: none;
					}
				}
			}
		}
		/** summary **/
		.box-summary-mobile {
			color: #fff;
			background: @trans-black2;
			min-height: 310px;
			margin: 10px;
			display: table;
			width: -webkit-calc(100% - 5px);
			width: -moz-calc(100% - 5px);
			width: calc(100% - 5px);
			padding: 0 10px;
			.summary-title-mobile {
				font-size: @font-size-base + 4;
				font-weight: 900;
				padding: 10px 0;
				text-align: center;
				display: table;
				width: 100%;
			}
			.summary-detail-mobile {
				font-size: @font-size-base + 2;
				text-align: center;
				margin-top: 10px;
			}
			.summary-date-mobile {
				font-size: @font-size-base + 2;
				text-align: center;
				margin-bottom: 10px;
			}
			.summary-price-mobile {
				margin-top: 10px;
				font-size: @font-size-base + 7;
				font-weight: bold;
				text-align: center;
				.clp {
					font-size: @font-size-base - 1;
					font-weight: normal;
				}
			}
			.summary-quote-mobile {
				margin-top: 10px;
				border-top: 1px solid @trans-white;
				padding: 15px 0;
				text-align: center;
				.card-quote {
					i {
						font-size: 46px;
						padding-right: 5px;
						display: inline-block;
						position: relative;
						top: 5px;
					}
					span {
						display: inline-block;
						width: 180px;
						text-align: left;
						border-left: 1px solid #fff;
						padding-left: 10px;
						height: 36px;
					}
				}
			}
			.summary-detailSummary-mobile {
				margin-top: 10px;
				border-top: 1px solid @trans-white;
				padding: 15px 0;
				text-align: left;
				font-size: @font-size-base + 5;
				position: relative;
				i {
					position: absolute;
					right: 5px;
					font-size: @font-size-base + 7;
				}
			}
		}
		.summary-background-box {
			color: #606060;
			padding: 15px 0;
			.summary-title-box {
				text-align: center;
				font-size: @font-size-base + 3;
				padding-bottom: 10px;
			}
			.icons {
				border-top: 1px solid #606060;
				padding-top: 15px;
				.detail-icon {
					display: block;
					width: 100%;
					margin-bottom: 20px;
					i {
						border: 1px solid #606060;
						font-size: @font-size-base + 14;
						padding: 6px;
						border-radius: 30px;
						vertical-align: middle;
						margin-right: 5px;
					}
				}
			}
			.summary-price {
				background: #606060;
				color: #fff;
				padding: 10px;
				border-radius: 5px;
				margin-bottom: 30px;
				.left {
					position: relative;
					left: 0;
				}
				.right {
					position: absolute;
					right: 0;
				}
				.sumary-detail-price {
					display: block;
					width: 100%;
					border-bottom: 1px solid #fff;
					padding-bottom: 5px;
					position: relative;
				}
				.summary-total-price {
					display: block;
					width: 100%;
					padding-top: 5px;
					position: relative;
					.total {
						display: block;
						width: 100%;
						font-size: @font-size-base + 8;
					}
					.convert {
						display: block;
						width: 100%;
						text-align: right;
					}
				}
			}
			.summary-quote {
				border: 1px solid #606060;
				border-radius: 6px;
				width: 225px;
				padding: 7px;
				margin: 15px auto;
				.card-quote {
					// margin: auto;
					// margin-top: 20px;
					i {
						font-size: 45px;
						display: inline-block;
						vertical-align: top;
						margin-top: -6px;
					}
					span {
						display: inline-block;
						border-left: 1px solid #606060;
						height: 35px;
						font-size: 12px;
						padding-left: 7px;
						margin-left: 5px;
						a {
							color: #cf112a;
						}
					}
				}
			}
			.age-complete {
				display: block;
				height: 125px;
				z-index: 4;
				width: 100%;
				bottom: 0px;
				background: #fff;
				padding: 15px;
				font-size: 12px;
				font-weight: inherit;
				position: relative;
				.change {
					padding: 5px;
					a {
						position: relative;
						text-align: center;
						margin: 10px auto 0;
						border: 1px solid #5b5a5f;
						display: block;
						border-radius: 3em;
						padding: 8px 0;
						background: #fff;
						color: #5b5a5f;
						text-decoration: none;
						font-size: 15px;
					}
				}
				.selection-package {
					font-size: 15px;
					border-radius: 20px;
					padding: 9px 5px;
					width: 100%;
					height: 40px;
					border: 1px solid #cf112a;
					background: #cf112a;
					color: #fff;
					text-transform: uppercase;
					letter-spacing: 1px;
					text-align: center;
					-webkit-transition: all ease .4s;
					-moz-transition: all ease .4s;
					-o-transition: all ease .4s;
					transition: all ease .4s;
					position: relative;
					margin-top: 5px;
					float: left;
					&:hover {
						background: #fff;
						color: #cf112a;
					}
				}
				.separate-div {
					margin-top: -15px;
				}
			}
		}
	}
}

.loading-cap {
	font-size: 50px;
	color: #fff;
	z-index: 0;
	position: absolute;
	top: 67px;
	left: 0;
	right: 0;
	background: #000;
	height: 710px;
	z-index: 6;
}

.detail-calendar-information-mobile {
	display: block;
	height: 90px;
	position: fixed;
	z-index: 4;
	width: 100%;
	bottom: 0px;
	background: #fff;
	padding: 15px;
	font-size: 12px;
	font-weight: inherit;
	-webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.75);
	span {
		display: inline-block;
		margin-right: 1%;
		width: 135px;
		margin-top: 5px;
		.square {
			vertical-align: text-top;
			display: inline-block;
			width: 15px;
			height: 15px;
			margin-right: 5px;
			background: #fff;
			border: 1px solid #CECECE;
			margin-top: 0;
		}
	}
	.select-info {
		.square {
			background: #32cccc;
			border: 1px solid #32cccc;
		}
	}
	.not-available {
		.square {
			background: #B7AB93;
			border: 1px solid #B7AB93;
		}
	}
	.italic-left {
		width: 100%;
		float: left;
		margin-top: 10px;
	}
}

.modal-global {
	.modal-dialog {
		width: 100%;
		margin: 0;
		min-height: 100%;
		background: #fff;
		background-position: center;
		.modal-content {
			border-radius: 0;
			background: none;
			box-shadow: none;
			border: none;
			display: table;
			width: 100%;
			.additional-text-modal {
				padding: 20px;
				ul {
					padding: 0;
					list-style: none;
					hr {
						display: none;
					}
				}
			}
		}
	}
	.modal-title {
		font-size: 17px;
		padding-top: 21px;
		color: #fff;
		padding-bottom: 22px;
		position: relative;
		z-index: 5;
		.cch-arrow-left {
			font-size: 26px;
			float: left;
			margin-left: 10px;
			margin-top: -1px;
			margin-right: 10px;
		}
	}
	.modal-title {
		background: #4c4c4c;
	}
}

.modal-loader {
	position: fixed;
	top: 0 !important;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.8);
	z-index: 9000;
	.loader-animation {
		position: relative;
		height: 205px;
		top: -10px;
		.earth {
			position: absolute;
			left: 50%;
			top: 40px;
			margin-left: -65px;
			height: 130px;
			width: 130px;
			border-radius: 50%;
			background-image: url('../img/tierra.png');
			background-size: cover;
			background-repeat: no-repeat;
		}
		.line {
			position: absolute;
			left: 50%;
			margin-left: -105px;
			height: 210px;
			width: 210px;
			border-radius: 50%;
			background-image: url('../img/line.png');
			background-size: cover;
			background-repeat: no-repeat;
		}
		.plane-container {
			position: absolute;
			left: 50%;
			margin-left: -105px;
			height: 210px;
			width: 210px;
			animation: load8 3s linear infinite;
			padding: 6px;
			.plane {
				height: 30px;
				width: 30px;
				margin: 0 auto;
				background-image: url('../img/satelite.png');
				background-size: cover;
				background-repeat: no-repeat;
			}
		}
	}
	.loader-message {
		width: 100%;
		text-align: center;
		span {
			font-weight: 500;
			color: #fff;
			font-size: @font-size-base + 6;
			line-height: 25px;
		}
	}
}

.loader-height {
	height: 100%;
	position: fixed;
	top: 90px;
	width: 100%;
	display: table;
	.center-loader {
		display: table-cell;
		text-align: center;
		vertical-align: middle;
	}
}

.rooms-select {
	width: 100%;
	margin: 20px 0;
	color: #a5a5a5;
	.room {
		position: relative;
		margin: 15px 0;
		.select {
			height: 25px;
			border-bottom: 1px solid #a5a5a5;
			width: -webkit-calc(100% - 5px);
			width: -moz-calc(100% - 5px);
			width: calc(100% - 5px);
			outline: 0;
			cursor: pointer;
			padding: 6px 0;
			margin-bottom: 10px;
			display: inline-block;
			position: relative;
			top: -5px;
			font-size: 13px;
			left: 4px;
			span {
				i {
					position: absolute;
					right: 2px;
					font-size: 12px;
					top: 10px;
				}
			}
		}
		.room-option-container {
			position: absolute;
			top: 19px;
			z-index: 99;
			width: -webkit-calc(100% - 5px);
			width: -moz-calc(100% - 5px);
			width: calc(100% - 5px);
			border-bottom: 2px solid #666;
			border-bottom-right-radius: 3px;
			border-bottom-left-radius: 3px;
			left: 3px;
			.room-option {
				border-top: 1px solid #CCC;
				height: 40px;
				background: #fff;
				color: #666;
				cursor: pointer;
				text-align: left;
				width: 100%;
				padding: 11px 10px;
				font-weight: 700;
				&:hover {
					background: #666;
					color: #fff;
				}
			}
		}
	}
}

.trans-white {
	background: rgba(255, 255, 255, .45);
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	z-index: -1;
}

.modal-summary-mobile {
	.modal-title {
		display: block;
		width: 100%;
		position: relative;
		text-transform: uppercase;
		font-weight: bold;
		padding: 15px 0 20px 16px;
		font-size: @font-size-base + 7;
		i {
			position: absolute;
			right: 15px;
		}
	}
	.modal-content {
		display: table;
	}
	.detail-hotel-summary-mobile {
		color: #888;
		.hotel {
			float: left;
			font-size: @font-size-base + 2;
			margin-top: 10px;
		}
		.stars {
			color: #FFC90B;
		}
		.destination {
			padding: 0;
			margin-bottom: 30px;
			margin-top: 2px;
			i {
				font-size: @font-size-base + 5;
				margin-left: -2px;
			}
		}
		.hotel-name {
			font-weight: 900;
			margin: 5px 0;
			padding: 0;
		}
		.information-categories,
		.information-amenities,
		.information-description {
			margin-bottom: 10px;
			color: #888;
			.name-content {
				display: inline-block;
				width: 90px;
				margin-right: 5px;
				vertical-align: top;
				font-weight: 900;
			}
			.content {
				display: inline-block;
				width: 80%;
			}
		}
		.information-description {
			margin-top: 10px;
		}
	}
	.separate {
		border-bottom: 1px solid #ccc;
		margin-top: 5px;
		margin-bottom: 5px;
	}
	.title-section-mobile {
		font-size: 18px;
		font-weight: 900;
		margin-bottom: 5px;
		padding: 15px;
		background: #292317;
		color: #fff;
	}
	.modal-include-detail {
		color: #888888;
		width: 100%;
		margin-bottom: 9px;
		margin-top: 9px;
		min-height: 60px;
		position: relative;
		display: table;
		.includes-icon {
			display: inline-block;
			i {
				border: 2px solid #888888;
				padding: 9px;
				border-radius: 45px;
				margin-right: 25px;
				margin-left: 15px;
				font-size: @font-size-base + 17px;
				margin-top: 5px;
				display: block;
			}
		}
		.includes-label {
			display: inline-block;
			height: 60px;
			position: absolute;
			max-width: 440px;
			.table {
				display: table;
				height: 60px;
				span {
					display: table-cell;
					vertical-align: middle;
				}
			}
		}
	}
	.summary-price-mobile {
		display: table;
		color: #888;
		padding: 30px 15px;
		.detail-price {
			border-bottom: 1px solid #ccc;
			display: table;
			padding-bottom: 10px;
			padding-left: 0;
			padding-right: 0;
			.item-detail {
				font-size: @font-size-base + 3;
				.left-aling {
					padding: 0;
					font-weight: 400;
				}
				.rigth-aling {
					font-weight: bold;
				}
			}
		}
		.total-price {
			font-weight: 500;
			margin-top: 55px;
			.final-price {
				font-size: @font-size-base + 12px;
				span {
					padding: 0;
				}
				.rigth-aling {
					font-weight: bold;
				}
			}
			.second-final-price {
				font-size: @font-size-base;
				text-align: right;
				display: block;
				width: 100%;
			}
		}
	}
}

.modal-map {
	.modal-dialog {
		width: 100%;
		height: 100%;
		margin: 0;
		border-radius: 0;
		border: none;
	}
	.modal-content {
		border-radius: 0;
		border: none;
		width: 100%;
		height: 100%;
		background: rgba(255, 255, 255, 0.5);
	}
	#mapModal {
		margin: 0;
		padding: 0;
		height: 100% !important;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}
	.close-map {
		display: block;
		position: absolute;
		z-index: 1500;
		right: 30px;
		top: 10px;
		background: #fff;
		position: absolute;
		padding: 8px 20px 7px;
		width: 160px;
		text-align: center;
		font-size: @font-size-base;
		font-weight: 900;
		color: #666;
		border: 1px solid #ccc;
		cursor: pointer;
		text-transform: uppercase;
		border-radius: 17px;
		text-decoration: none;
		-webkit-transition-duration: 1s;
		transition-duration: 1s;
		&:hover {
			background: #666;
			color: #fff;
			-webkit-transition-duration: 1s;
			/* Safari */
			transition-duration: 1s;
		}
	}
}

.tripadvisor-review {
	.modal-content {
		background: transparent;
		border: none;
		border-radius: 0;
		box-shadow: none;
	}
	i {
		color: #fff;
		display: block;
		border: 2px solid #fff;
		border-radius: 19px;
		position: absolute;
		right: -16px;
		padding: 7px;
		background: #000;
		top: -17px;
		font-weight: bolder;
		-webkit-box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.75);
		-moz-box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.75);
		box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.75);
		cursor: hand;
		cursor: pointer;
		&:hover {
			color: #000;
			border: 2px solid #000;
			background: #fff;
		}
	}
	iframe {
		width: 100%;
		height: 530px;
		background: #fff;
		border: none;
		padding: 5px;
		border-radius: 5px;
	}
}

.modal-detail {
	.terms-content {
		background: white;
		padding: 15px 20px;
		color: #333;
		text-align: justify;
		font-size: @font-size-base + 1;
		.underline {
			text-decoration: underline;
		}
		ul {
			padding: 0 5px;
		}
		strong {
			font-weight: bold;
		}
		.subtitle {
			color: @color-red;
			font-weight: bold;
		}
		.terms-content-identation {
			padding-left: 30px;
		}
		img {
			width: 100%;
			margin: 6px 0;
		}
		.payment-option-text {
			color: #97969B;
			font-weight: 900;
		}
		.modal-payment-option {
			img {
				height: 35px;
				width: auto;
				margin-bottom: 15px;
				line-height: 1.1;
			}
			.black-italic {
				font-size: @font-size-base - 1;
				font-weight: bold;
				color: #000;
				font-style: italic;
				display: inline-block;
				margin-bottom: 8px;
			}
			.common {
				font-weight: 900;
				font-size: @font-size-base - 2;
				color: #97969B;
			}
		}
	}
}
