.my-bkg-row-color-1 {
	background-color: #e9e9e9;
}

.my-bkg-row-color-2 {
	background-color: #FFFFFF;
}

.my-bkg-buttons {
	padding-bottom: 10px;
	padding-top: 10px;
	background-color: #ffffff;
	color: #ffffff;
	font-size: 14px;
	.my-bkg-btn-watch-voucher {
		background-color: #00B050;
		&:hover {
			color: #ffffff;
		}
	}
	.my-bkg-btn-send-voucher {
		background-color: #00B050;
		&:hover {
			color: #ffffff;
		}
	}
	.my-bkg-btn-download-voucher {
		background-color: #00B050;
		&:hover {
			color: #ffffff;
		}
	}
	.my-bkg-btn-search-booking {
		background-color: #0070C0;
		&:hover {
			color: #ffffff;
		}
	}
	.my-bkg-btn-back-home {
		background-color: #0070C0;
		&:hover {
			color: #ffffff;
		}
	}
}

.my-bkg-detail-loader {
	padding-top: 65px;
	background-color: #ffffff;
	.preloader .preloader-caption .phrase {
		color: #9c9797;
	}
}

.my-bkg-detail-content {
	padding-top: 65px;
	background-color: #ffffff;
	.body-text {
		.my-bkg-text-status {
			color: #3AB050;
			font-size: 25px;
			margin-left: 10px;
		}
		.my-bkg-text-error-status {
			color: #FF0000;
			font-size: 25px;
			margin-left: 10px;
		}
		.my-bkg-text-status-info {
			font-size: 13px;
			margin-left: 10px;
		}
		.voucher {
			display: table;
			border-collapse: collapse;
			border: 0px #f2f2f2 solid;
			width: 100%;
			background-color: white;
			.left-column {
				display: table-cell;
				border-collapse: collapse;
				border: 0px #f2f2f2 solid;
				width: 50%;
				float: left;
				vertical-align: top;
				.block-hotel-info {
					padding: 10px;
					display: block;
					border-collapse: collapse;
					border-bottom: 1px #f2f2f2 solid;
					border-top: 1px #f2f2f2 solid;
					border-left: 1px #f2f2f2 solid;
					border-right: 1px #f2f2f2 solid;
					.block-hotel-title {
						margin-bottom: 5px;
					}
					.block-hotel-name {
						font-size: 14px;
						font-weight: 900;
						font-style: normal;
						.hotel-stars {
							margin-right: 5px;
							vertical-align: middle;
						}
					}
					.block location {
						font-size: 14px;
						margin-bottom: 5px;
					}
					.block-info {
						width: 100%;
						.block-hotel-image {
							width: 50%;
							float: left;
							text-align: center;
							.block-img-hotel {
								vertical-align: top;
								padding-top: 20px;
								max-height: 160px;
							}
						}
						.block-address {
							width: 50%;
							float: left;
							vertical-align: top;
							padding-top: 20px;
							.address-data {
								font-weight: 900;
							}
							.map-link-container {
								padding-top: 10px;
								a {
									color: #C8000B;
									text-decoration: none;
								}
								i {
									color: #C8000B;
								}
							}
							.information-link-container {
								padding-top: 5px;
								a {
									text-decoration: none;
									color: #0070C0;
								}
							}
						}
					}
					.hotel-information-collapsable-div {
						.hotel-information-title {
							font-weight: 900;
							font-style: normal;
							font-size: 18px;
							margin-top: 5px;
							margin-bottom: 5px;
						}
					}
					.block-amenities {
						float: left;
						width: 100%;
						.amenities-title {
							font-weight: 900;
							padding-top: 10px;
							font-size: 12px;
						}
						.amenities {
							padding-top: 7px;
							.my-bkg-back-icon-amenities {
								background: transparent;
								display: inline;
								margin: 0 auto;
								width: 20px;
								i {
									border: 2px solid #666;
									border-radius: 20px;
									padding: 5px;
									width: 30px;
									height: 30px;
									font-size: 20px;
									margin: 0 auto auto;
									border-width: thin;
								}
								span {
									font-size: 13px;
								}
							}
						}
					}
					.block-map-details {
						.map-link-container {
							color: #C8000B;
						}
						i {
							color: #C8000B;
						}
					}
				}
				.block-passengers {
					width: 100%;
					float: left;
					padding: 10px;
					display: block;
					border-collapse: collapse;
					border-bottom: 1px #f2f2f2 solid;
					border-left: 1px #f2f2f2 solid;
					border-right: 1px #f2f2f2 solid;
					border-right: 1px #f2f2f2 solid;
					.block-passengers-title {
						font-weight: 900;
						font-style: normal;
						font-size: 14px;
					}
					.block-room {
						padding: 5px;
						font-size: 12px;
						padding-right: 10px;
						width: 100%;
						float: left;
						.block-room-title {
							width: 40%;
							float: left;
							.my-bkg-room-detail-title {
								font-weight: 900;
								font-style: normal;
								vertical-align: top;
								text-align: right;
							}
							.my-bkg-room-detail-container {
								padding-top: 22%;
								.my-bkg-room-detail-link {
									text-align: left;
									text-decoration: none;
									color: #0070C0;
								}
							}
							.my-bkg-room-description {
								position: absolute;
								width: 300px;
								background-color: #FFFFFF;
								border: 1px solid #9D9D9D;
								padding: 5px;
								z-index: 5;
							}
						}
						.block-room-passenger-data {
							width: 60%;
							float: left;
							text-align: right;
							.room-passenger-value {
								margin-bottom: 5px;
								font-weight: 900;
								font-style: normal;
							}
						}
					}
				}
			}
			.right-column {
				display: table-cell;
				border-collapse: collapse;
				border: 0px #f2f2f2 solid;
				width: 50%;
				float: left;
				.block-booking-identifier {
					padding: 8px;
					display: block;
					border-top: 1px #f2f2f2 solid;
					border-right: 1px #f2f2f2 solid;
					font-size: 12px;
					.booking-identifier-title {
						margin-bottom: 5px;
						font-weight: 900;
						font-style: normal;
					}
					.identifier-data {
						margin-bottom: 5px;
						text-align: right;
						margin-right: 10px;
					}
					.identifier-value {
						font-weight: 900;
						font-style: normal;
					}
					.my-bkg-status-block {
						padding: 5px;
						font-weight: 900;
						font-style: normal;
					}
					.my-bkg-status-processing {
						color: black;
						font-size: 25px;
					}
					.my-bkg-status-active {
						color: #3AB050;
						font-size: 25px;
					}
					.my-bkg-status-consumed {
						color: #3A70C0;
						font-size: 25px;
					}
					.my-bkg-status-canceled {
						color: #FF0000;
						font-size: 25px;
					}
				}
				.block-booking-data {
					padding: 10px;
					display: block;
					border-top: 1px #f2f2f2 solid;
					border-right: 1px #f2f2f2 solid;
					border-left: 1px #f2f2f2 solid;
					.booking-title {
						margin-bottom: 5px;
						font-weight: 900;
						font-style: normal;
					}
					.booking-data {
						margin-top: 10px;
						font-size: 12px;
						.booking-sub-title {
							float: left;
							width: 50%;
						}
						.booking-value {
							float: left;
							width: 50%;
							font-weight: 900;
							font-style: normal;
						}
						.booking-summary {
							text-align: center;
							.summary-block {
								display: inline-block;
								background-color: #d9d9d9;
								border-radius: 5px;
								padding: 10px;
								text-align: center;
								margin-top: 10px;
								margin-bottom: 5px;
								-webkit-print-color-adjust: exact !important;
							}
						}
					}
				}
				.block-payment-data {
					padding: 10px;
					display: block;
					border-top: 1px #f2f2f2 solid;
					border-right: 1px #f2f2f2 solid;
					border-left: 1px #f2f2f2 solid;
					.payment-data-value {
						font-weight: 900;
						font-style: normal;
						margin-bottom: 5px;
					}
				}
				.block-summary-data {
					padding: 10px;
					display: block;
					border-top: 1px #f2f2f2 solid;
					border-right: 1px #f2f2f2 solid;
					border-bottom: 1px #f2f2f2 solid;
					border-left: 1px #f2f2f2 solid;
					.my-bkg-block-price {
						.my-bkg-detail-rate {
							width: 50%;
							float: left;
						}
						.my-bkg-detail-price {
							width: 50%;
							float: left;
							.my-bkg-button-detail-price {
								background-color: black;
								color: white;
								margin-right: 20%;
							}
						}
					}
					.summary-price {
						.summary-price-foreign {
							font-size: 18px;
							font-weight: 900;
							font-style: normal;
						}
						.summary-price-local {
							font-size: 13px;
						}
					}
					.summary-cancellation {
						margin-top: 10px;
						.cancellation-title {
							font-weight: 900;
							font-style: normal;
						}
						.my-bkg-cancellation-container {
							padding: 5px;
							padding-right: 12%;
							.my-bkg-button-cancel {
								color: white;
								background-color: #FF0000;
								i {
									font-size: 18px;
									vertical-align: sub;
								}
								div {
									display: inline;
								}
							}
						}
					}
				}
			}
		}
	}
}

.my-bkg-search-results {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 17px;
	margin-right: 17px;
	margin-top: 80px;
	margin-bottom: 100px;
	background-color: white;
	border-radius: 8px;
	border-color: #cccccc;
	border-style: solid;
	border-width: 1px;
	width: 98%;
	float: left;
	.my-bkg-side-container {
		.my-bkg-search-box-title {
			font-weight: bold;
			font-size: 18px;
		}
		.my-bkg-filters-title {
			font-weight: bold;
			font-size: 15px;
			margin-top: 10px;
		}
		.my-bkg-filter-container {
			background-color: #cccccc;
			padding: 10px;
			border-radius: 5px;
			i.glyphicon.glyphicon-chevron-right:before {
				content: "\e919" !important;
				font-family: cocha-icons !important;
			}
			i.glyphicon.glyphicon-chevron-left:before {
				content: "\e918" !important;
				font-family: cocha-icons !important;
			}
			.field-label {
				font-weight: 900;
				padding-left: 10px;
			}
			.field-container {
				padding-top: 2px;
				padding-bottom: 2px;
				.field-input {
					width: 100% !important;
					padding-top: 4px;
					padding-bottom: 4px;
				}
				.double-calendar-left {
					left: 100% !important;
					top: 200px !important;
					.cocha-calendar {
						width: 300px !important;
					}
					.cocha-calendar .week-days .day-name {
						font-size: 11px !important;
					}
				}
				.select2 {
					.black-select();
					padding: 6px 2px;
					margin-bottom: 10px;
					height: 31px;
					background-color: white;
					border-color: #9d9d9d;
					border-width: 1px;
					border-style: solid;
					padding-left: 5px;
				}
				.cabin-option-container {
					.options-container();
					margin-top: -11px;
					width: ~'calc(100% + 5px)';
					.cabin-option {
						.option();
						padding: 11px 10px;
						height: 100% !important;
					}
				}
			}
		}
	}
	.my-bkg-results-list {
		.my-bkg-pagination-container {
			margin-top: 5px;
			margin-bottom: 5px;
			.my-bkg-pagination-data {
				margin-top: 5px;
				margin-bottom: 5px;
			}
		}
		.my-bkg-row-results {
			line-height: 22px;
		}
		.my-bkg-title-results {
			margin-top: 30px;
			margin-bottom: 30px;
			font-weight: bold;
			font-size: 18px;
			.my-bkg-loader-search-results {
				img {
					height: 25px;
				}
			}
		}
		.my-bkg-header-results {
			font-weight: 900;
		}
		.my-bkg-column {
			float: left;
			font-size: 12px;
			word-wrap: break-word;
			padding-left: 2px;
		}
		.my-bkg-business-column {
			width: 7%;
		}
		.my-bkg-email-column {
			width: 17%;
		}
		.my-bkg-name-column {
			width: 10%;
		}
		.my-bkg-spnr-column {
			width: 9%;
		}
		.my-bkg-reservation-column {
			width: 8%;
		}
		.my-bkg-book-column {
			width: 7%;
		}
		.my-bkg-check-in-column {
			width: 7%;
		}
		.my-bkg-hotel-column {
			width: 15%;
		}
		.my-bkg-status-column {
			width: 10%;
		}
		.my-bkg-supplier-column {
			width: 5%;
			.my-bkg-results-logo-supplier {
				max-width: 90%;
				padding-top: 25%;
				max-height: 30px;
			}
		}
		.my-bkg-button-column {
			width: 4%;
			padding-top: 3px;
			padding-bottom: 3px;
			.my-bkg-button-details {
				font-size: 10px !important;
				height: 20px !important;
				padding: 3px 7px;
				color: #545454 !important;
				outline: 0;
				margin-left: 5px;
			}
		}
	}
	.my-bkg-msg-search-no-results {
		padding-top: 20%;
		div {
			font-weight: 800;
			font-size: 18px;
		}
	}
}

.my-bkg-search-no-results {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	width: 60%;
	margin: auto;
	margin-top: 80px;
	margin-bottom: 100px;
	background-color: white;
	border-radius: 8px;
	border-color: #cccccc;
	border-style: solid;
	border-width: 1px;
	.my-bkg-search-box-title {
		font-weight: bold;
		font-size: 18px;
	}
	.my-bkg-no-results-title {
		font-weight: bold;
		font-size: 18px;
	}
	.my-bkg-no-results-msg {
		font-size: 14px;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.my-bkg-go-to-search-button {
		width: 100%;
		outline: 0;
	}
	.my-bkg-back-button {
		width: 100%;
		outline: 0;
	}
}

.my-bkg-search-box {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	width: 60%;
	margin: auto;
	margin-top: 80px;
	margin-bottom: 100px;
	background-color: white;
	border-radius: 8px;
	border-color: #cccccc;
	border-style: solid;
	border-width: 1px;
	i.glyphicon.glyphicon-chevron-right:before {
		content: "\e919" !important;
		font-family: cocha-icons !important;
	}
	i.glyphicon.glyphicon-chevron-left:before {
		content: "\e918" !important;
		font-family: cocha-icons !important;
	}
	.my-bkg-search-box-title {
		font-weight: bold;
		font-size: 18px;
	}
	.my-bkg-search-box-fields {
		background-color: #D9D9D9;
		padding-top: 20px;
		padding-bottom: 20px;
		padding-left: 20px;
		padding-right: 20px;
		margin-top: 20px;
		.field-label {
			font-weight: 900;
			padding-left: 10px;
		}
		.field-container {
			padding-top: 2px;
			padding-bottom: 2px;
			.field-input {
				width: 100% !important;
				padding-top: 4px;
				padding-bottom: 4px;
			}
			.double-calendar-left {
				left: 0px !important;
			}
			.select2 {
				.black-select();
				padding: 6px 2px;
				margin-bottom: 10px;
				height: 31px;
				background-color: white;
				border-color: #9d9d9d;
				border-width: 1px;
				border-style: solid;
				padding-left: 5px;
			}
			.cabin-option-container {
				.options-container();
				top: 29px;
				width: ~'calc(100% + 5px)';
				.cabin-option {
					.option();
					padding: 11px 10px;
					height: 100% !important;
				}
			}
		}
	}
	.my-bkg-search-box-search-button {
		padding-top: 20px;
		padding-bottom: 20px;
		.my-bkg-loader-search {
			height: 30px;
		}
		.btn-search-bkg {}
	}
}

.my-bkg-help-info {
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%;
	clear: both;
	span {
		font-weight: 900;
	}
}
