.preloader {
	display: block;
	height: 100%;
	width: 100%;
	padding: 15px;
	opacity: 1;
	margin-top: 100px;
	.preloader-animation {
		display: block;
		position: relative;
		width: 100%;
		max-width: 300px;
		margin: 0 auto;
		min-height: 100px;
		margin-bottom: 15px;
	}
	.preloader-caption {
		display: block;
		height: 30%;
		margin-bottom: 100px;
		.text {
			margin-top: 100%;
			text-align: center;
		}
		.phrase {
			color: #FFF;
			font-size: 20px;
			line-height: 25px;
			text-align: center;
		}
		.message {
			font-weight: normal;
			color: #FFF;
			font-size: 18px;
			height: 30px;
			line-height: 30px;
			padding-top: 10px;
		}
		.author {
			font-weight: normal;
			color: #FFF;
			font-size: 15px;
			height: 30px;
			line-height: 30px;
			padding-top: 10px;
		}
	}
	.preloader-earth {
		position: absolute;
		left: 65%;
		top: 85%;
		margin-top: -130px;
		margin-left: -110px;
		height: 130px;
		width: 130px;
		border-radius: 50%;
		background-image: url('../img/hotels/tierra.png');
		background-size: cover;
		background-position: top left;
		background-repeat: no-repeat;
		border: solid 5px #FFF;
		animation: earth 3s linear infinite;
	}
	.preloader-satellite {
		position: absolute;
		left: 65%;
		top: 85%;
		margin-top: -170px;
		margin-left: -150px;
		height: 210px;
		width: 210px;
		background-image: url('../img/hotels/satelite.png');
		background-size: contain;
		background-repeat: no-repeat;
		animation: sat 3s linear infinite;
	}
	.loader {
		position: absolute;
		top: 50%;
		left: 50%;
		margin: 0;
		margin-top: -1*@loader-height/2;
		margin-left: -1*@loader-height/2;
	}
}

.preloader-hotel-detail {
	margin-top: 50px !important;
	.preloader-caption-hotel-detail {
		display: block;
		height: 30%;
		margin-bottom: 0px !important;
	}
}

@media(max-width: 991px) {
	.spacer-120 {
		height: 120px;
		width: 100%;
	}
}

.result-caption-dark-text {
	color: #A5A5A5 !important;
}
