.fix-header {
	position: fixed;
	top: 0;
}

.reservation-text {
	color: #555 !important;
}

.header {
	background: @color-lightgray;
	border-bottom: 2px solid black;
	height: auto;
	padding: 25px 5px;
	width: 100%;
	.header-left {
		float: left;
		.header-logo {
			height: 46px;
			width: auto;
		}
	}
	.header-right {
		float: right !important;
		.header-help {
			padding: 17px 0;
			.title {
				font-weight: 900;
				font-size: @font-size-base - 1;
				text-transform: uppercase;
				color: #5C5B60;
				margin-bottom: 10px;
			}
			.phone-img {
				background: url('../img/icon-small-phone.png');
				background-size: 18px 18px;
				height: 18px;
				width: 18px;
			}
			.phone {
				font-weight: 900;
				font-size: @font-size-base + 1;
				color: #97969C;
				height: 15px;
				margin-top: 0px;
			}
			.separator {
				border-left: 1px solid #97969C;
				margin-top: 4px;
				height: 12px;
			}
			.mobile-img {
				background: url('../img/icon-small-mobile.png');
				background-size: 18px 18px;
				height: 18px;
				width: 18px;
				float: right;
			}
			.mobile {
				text-align: center;
				font-weight: 900;
				font-size: @font-size-base + 1;
				color: #97969C;
				float: right;
				margin-top: -1px;
			}
		}
	}
}

.loader-height {
	height: 100%;
	position: fixed;
	top: 98px;
	width: 100%;
	display: table;
	.center-loader {
		display: table-cell;
		text-align: center;
		vertical-align: middle;
	}
}

.main-title {
	margin-bottom: 15px;
	span {
		text-transform: uppercase;
		font-weight: bold;
		font-size: @font-size-base + 7;
		color: white;
	}
}

.booking-content {
	margin-top: 45px;
}

.thank-you {
	text-align: justify;
	margin-bottom: 20px;
	color: white;
	font-weight: 900;
	font-size: @font-size-base + 1;
	a {
		color: white;
	}
	a.text-underline {
		text-decoration: underline !important;
	}
}

.alert-green {
	font-weight: 900;
	border: 1px solid #28715D;
	color: #28715D;
	background: rgba(255, 255, 255, 0.95);
	padding: 15px;
	a {
		color: #28715D;
	}
	a.text-underline {
		text-decoration: underline !important;
	}
}

.go-home {
	.btn-red;
	/*padding: 10px;*/
	margin-bottom: 40px;
	border-radius: 20px !important;
}

.flight-policy-title {
	border-top: 1px solid white;
	padding-top: 15px;
	color: white;
	font-weight: 900;
	font-size: @font-size-base + 6;
	margin-bottom: 10px;
}

.error-container {
	border: 1px solid #A5A5A5;
	background: rgba(240, 248, 255, 0.97);
	padding: 35px 30px 35px;
	margin-top: 35px;
	margin-bottom: 35px;
	padding: 10px !important;
	font-weight: bolder !important;
	.exclamation-container {
		border: 2px solid #A5A5A5;
		border-radius: 50%;
		width: 35px;
		height: 35px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		.exclamation {
			font-size: @font-size-base + 12;
			color: #A5A5A5;
		}
	}
	.text-container {
		margin: 20px 0 40px;
		color: #A5A5A5;
		font-weight: normal;
		.error-title {
			font-size: @font-size-base + 6;
		}
		.error-message {
			font-size: @font-size-base + 1;
		}
	}
	.btn-cancel {
		border-radius: 0px;
		background: #97969C;
		width: 100%;
		text-transform: uppercase;
		color: white;
		outline: none;
	}
	.btn-action {
		border-radius: 0px;
		background: @color-red;
		width: 100%;
		text-transform: uppercase;
		color: white;
		outline: none;
	}
}

.reservation-background {
	background-color: #F6F6F6;
}

.reservation-panel {
	width: 100%;
	border-radius: 2px;
	margin-bottom: 23px;
	.passenger-title {
		width: 100%;
		background: rgba(0, 0, 0, 0.6);
		padding: 3px 10px;
		font-weight: 900;
		font-size: @font-size-base + 6;
		color: white;
		span.light {
			font-weight: 100;
			font-style: normal;
			font-size: @font-size-base;
		}
	}
	.passenger-content,
	.payment-container {
		display: table;
		width: 100%;
		background: rgba(255, 255, 255, 0.95);
		padding: 5px 0;
		.reservation-room-number-title {
			padding: 15px;
			font-size: 18px;
		}
		.content-title-container {
			padding: 6px 15px;
			font-size: @font-size-base;
			font-weight: normal;
			font-weight: 800;
			span.regular {
				font-weight: normal;
			}
		}
		.field-name-container {
			padding: 6px 20px;
			.field-name {
				font-weight: bold;
				font-size: @font-size-base;
			}
		}
		.content-input-container {
			width: 100%;
			input[type="checkbox"] {
				margin-right: 5px;
				margin-top: 3px !important;
			}
			.content-input,
			.content-input:hover,
			.content-input:disabled {
				width: 100%;
				padding: 5px 10px;
				height: 32px;
				outline: none;
				border: none;
				background: transparent;
				z-index: 9;
			}
			.content-input-confirmation,
			.content-input-confirmation:hover,
			.content-input-confirmation:disabled {
				width: 100%;
				padding: 5px 10px;
				height: 32px;
				outline: none;
				border: none;
				background: transparent;
				text-transform: capitalize;
			}
			.content-input-underline {
				z-index: 9;
				margin-bottom: 15px;
				border-bottom: 1px solid #A9A9A9;
			}
			.content-input-underline-error {
				position: absolute;
				top: 32px;
				left: 5px;
				z-index: 11;
				margin-bottom: 15px;
				border-bottom: 1px solid red;
				animation: searchBoxErrorUnderline 0.7s forwards;
			}
			.content-input-underline-error2 {
				position: absolute;
				top: 32px;
				left: 0px;
				z-index: 11;
				margin-bottom: 15px;
				border-bottom: 1px solid red;
				animation: searchBoxErrorUnderline2 0.7s forwards;
			}
			.content-input-underline-focus {
				position: absolute;
				top: 32px;
				left: 5px;
				z-index: 12;
				margin-bottom: 15px;
				border-bottom: 1px solid #666;
				animation: searchBoxErrorUnderline 0.7s forwards;
			}
			.content-input-underline-focus2 {
				position: absolute;
				top: 32px;
				left: 0px;
				z-index: 12;
				margin-bottom: 15px;
				border-bottom: 1px solid #666;
				animation: searchBoxErrorUnderline2 0.7s forwards;
			}
			.input-email,
			.input-email:hover {
				width: 100%;
				padding: 5px 10px;
				height: 32px;
				outline: none;
				text-transform: none;
				border: none;
				z-index: 9;
				background: transparent;
			}
			.content-input::-webkit-input-placeholder,
			.input-email::-webkit-input-placeholder {
				color: #97969C;
			}
			.content-input:focus::-webkit-input-placeholder,
			.input-email:focus::-webkit-input-placeholder {
				color: transparent;
			}
			.content-input:focus:-moz-placeholder,
			.input-email:focus:-moz-placeholder {
				color: transparent;
			}
			.content-input:focus::-moz-placeholder,
			.input-email:focus::-moz-placeholder {
				color: transparent;
			}
			.content-input:focus:-ms-input-placeholder,
			.input-email:focus:-ms-input-placeholder {
				color: transparent;
			}
			.select-type {
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
				background: url('../img/arrow_down_black_reservation.png') no-repeat rgba(255, 255, 255, 0);
				background-position: right;
				background-size: 18px 6px;
				width: 100%;
				padding: 5px 10px;
				height: 32px;
				outline: none;
				color: #97969C;
				cursor: pointer;
				text-align: left;
				text-transform: capitalize;
				border: none;
				box-shadow: none;
				z-index: 9;
			}
			.warning-input {
				position: absolute;
				color: red;
				right: 8px;
				top: 8px;
				font-size: 17px;
				z-index: 999;
				animation: searchBoxErrorSign 1s forwards;
			}
			.option-container-padding {
				padding-right: 10px;
			}
			.option-container {
				position: absolute;
				top: 31px;
				z-index: 99;
				width: 100%;
				min-width: 10px;
				border-bottom: 2px solid @color-red;
				border-bottom-right-radius: 3px;
				border-bottom-left-radius: 3px;
				border-left: 1px solid #A9A9A9;
				border-right: 1px solid #A9A9A9;
				padding: 0 !important;
				margin: 0 !important;
				max-height: 246px;
				overflow: auto;
				background: white;
			}
			.option-container::-webkit-scrollbar {
				width: 8px;
			}
			.option-container::-webkit-scrollbar-track {
				-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
			}
			.option-container::-webkit-scrollbar-thumb {
				-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
			}
			.option-container-no-overflow {
				overflow: hidden !important;
			}
			.option {
				border-top: 1px solid #A9A9A9;
				height: 40px;
				background: white;
				color: @color-darkgray;
				font-size: @font-size-base;
				cursor: pointer;
				text-align: left;
				width: 100%;
				padding: 11px 10px;
				font-weight: bold;
			}
			.option-country {
				border-top: 1px solid #A9A9A9;
				height: 40px;
				background: white;
				color: @color-darkgray;
				font-size: @font-size-base;
				cursor: pointer;
				text-align: left;
				width: 100%;
				padding: 0px 10px;
				font-weight: bold;
				display: table;
			}
			.option-text {
				display: table-cell;
				vertical-align: middle;
			}
			.option:hover,
			.option:focus,
			.option-country:hover,
			.option-country:focus {
				background: #5C5B60;
				color: white;
			}
			.btn-add-number,
			.btn-add-number:focus {
				background: #5B5A5F;
				border: none;
				border-radius: 100%;
				width: 18px;
				height: 18px;
				color: white;
				margin-top: 7px;
				font-size: @font-size-base;
				outline: none;
			}
		}
		.payment2 {
			padding: 5px;
			width: 50%;
			float: left;
			&.two {
				width: 50%;
			}
			&.border-line {
				border-right: 1px solid #ccc;
			}
			.choice {
				text-align: center;
				width: 100%;
				height: 86px;
				div {
					height: 40px;
					width: 40px;
					margin: 0 auto;
					border-radius: 50%;
					border: 1px solid #666;
					padding: 5px;
					margin-bottom: 6px;
					text-align: left;
					i {
						font-size: @font-size-base + 15;
					}
					.cch-order {
						transform: rotate(90deg);
						display: inline-block;
						font-size: @font-size-base + 15;
					}
				}
				span {
					font-size: @font-size-base + 1;
					font-weight: 900;
				}
			}
			.payment-options {
				width: 100%;
				margin-top: 20px;
				min-height: 52px;
				vertical-align: middle;
				.payment-opt {
					width: 100%;
					display: inline-block;
					color: #666;
					min-height: 52px;
					margin-top: 20px;
					.left {
						width: 28%;
						padding-right: 10px;
						float: left;
						input[type=radio] {
							display: none;
						}
						input[type=radio]+label {
							height: 13px;
							width: 13px;
						}
						input[type=radio]:checked+label {
							height: 13px;
							width: 13px;
						}
						label {
							vertical-align: middle;
							display: inline-block;
							float: right;
							margin-top: 13px;
							i {
								font-size: @font-size-base + 2;
							}
						}
						.other-label {
							vertical-align: top;
							display: inline-block;
							margin-right: 10px;
							margin-left: -10px;
							margin-top: 3px;
							i {
								font-size: @font-size-base + 2;
							}
						}
					}
					.right {
						width: 72%;
						padding-left: 5px;
						float: left;
						img {
							vertical-align: middle;
							display: inline-block;
							height: 42px;
						}
						.others-text {
							display: inline-block;
							width: 98%;
							text-align: left;
							margin-left: -11px
						}
					}
				}
			}
		}
	}
	.payment-container {
		padding: 20px 0;
	}
}

.accept {
	margin-bottom: 40px;
	background: rgba(255, 255, 255, 0.95);
	padding: 5px 15px;
	.warning {
		width: 100%;
		color: #FEAE4C;
		padding: 0px;
		display: inline-block;
		vertical-align: middle;
		padding-bottom: 10px;
		padding-top: 10px;
		.icon {
			display: inline-block;
			vertical-align: middle;
			border: 2px solid #FEAE4C;
			height: 27px;
			width: 27px;
			border-radius: 50%;
			padding: 3px;
			margin-right: 5px;
			i {
				font-size: @font-size-base + 4;
			}
		}
		span {
			font-weight: 500;
			font-size: @font-size-base + 1;
			display: inline-block;
			vertical-align: middle;
		}
	}
	.terms {
		margin: 10px 0;
		input[type="checkbox"] {
			margin-right: 5px;
			margin-top: 3px !important;
		}
		.terms-text {
			font-weight: normal;
			color: @color-darkgray;
			font-size: 14px;
		}
		.terms-click {
			font-weight: bold;
			color: @color-darkgray;
			font-size: 14px;
			&:hover {
				text-decoration: underline;
				color: black;
			}
		}
	}
	.btn-book {
		.btn-red;
		padding: 5px;
		margin: 12px 0;
		border-radius: 20px !important;
		width: 100px;
		float: right;
	}
	.btn-book-credit-line {
		.btn-red;
		padding: 5px;
		margin: 12px 0;
		border-radius: 20px !important;
		width: 200px;
		float: right;
	}
	.reservation-email-text {
		font-weight: bold;
	}
}

.pnr-container {
	height: 70px;
}

.pnr-text {
	background: rgba(0, 0, 0, 0.6);
	height: 100%;
	font-weight: 900;
	color: white;
	font-size: @font-size-base + 4;
	text-transform: uppercase;
	line-height: 1.3;
	padding: 14px 19px !important;
	margin-bottom: 50px;
}

.pnr-code-container {
	height: 50px;
	background: transparent;
	position: absolute;
	top: 10px;
	right: 15px;
	.wrap {
		position: relative;
		overflow: hidden;
		height: 50px;
		.pnr-code {
			position: absolute;
			right: 0;
			top: 0;
			width: ~'calc(100% - 6px)';
			background: white;
			height: 50px;
			color: rgba(0, 0, 0, 0.8);
			font-weight: bold;
			font-size: @font-size-base + 14;
			text-transform: uppercase;
			padding-top: 7px;
			text-align: center;
		}
		.arrow-code:before,
		.arrow-code:after {
			content: '';
			position: absolute;
			left: 0;
			height: 50%;
			background: white;
			width: 6px;
		}
		.arrow-code:before {
			bottom: 0;
			transform-origin: 100% 0;
			transform: skewY(-45deg);
		}
		.arrow-code:after {
			top: 0;
			transform-origin: 100% 100%;
			transform: skewY(45deg);
		}
	}
}

.pnr-code:before,
.pnr-code:after {
	content: '';
	position: absolute;
	bottom: 100%;
	width: 50%;
	padding-bottom: inherit;
	background-color: inherit;
}

.pnr-code:before {
	right: 50%;
	transform-origin: 100% 100%;
	transform: skewX(45deg);
}

.pnr-code:after {
	left: 50%;
	transform-origin: 0 100%;
	transform: skewX(-45deg);
}

.flight-summary-panel {
	display: table;
	width: 100%;
	border-radius: 2px;
	/*border: 1px solid #CCCCCC;*/
	margin-bottom: 20px;
	padding: 0 !important;
	.confirmation-header {
		background: #EDEEF0;
		border-bottom: 1px solid #CCCCCC;
		padding: 10px;
		font-size: @font-size-base + 2;
		.left {
			text-align: left;
			float: left;
		}
		.right {
			text-align: right;
			float: right;
		}
		.title {
			color: #5C5B60;
			font-weight: bold;
			font-size: @font-size-base + 3;
		}
		.duration-title {
			color: #97969C;
			font-weight: 900;
		}
		.duration {
			color: #5C5B60;
			font-weight: 900;
		}
		.hour {
			color: #5C5B60;
			font-weight: 900;
		}
	}
	.last {
		border-bottom: none !important;
	}
	.confirmation-body {
		border-bottom: 1px solid #CCCCCC;
		font-size: @font-size-base + 2;
		.confirmation-connection {
			border-bottom: 1px dashed #CCCCCC;
			padding: 10px;
			background: rgba(255, 255, 255, 0.95);
		}
		.left {
			text-align: left;
			float: left;
		}
		.right {
			text-align: right;
			float: right;
		}
		.operator {
			text-transform: uppercase;
			font-weight: 900;
			color: #5C5B60;
		}
		.cabin {
			text-transform: uppercase;
			font-weight: 900;
			color: #97969C;
		}
		.connection-detail {
			font-size: @font-size-base + 1;
			margin: 10px 0 0 0;
			.time {
				font-weight: 900;
				color: #5C5B60;
			}
			.place {
				font-weight: 900;
				color: #97969C;
			}
		}
	}
	.summary-container {
		display: table-cell;
		background: rgba(255, 255, 255, 0.95);
		.summary-title {
			font-weight: bold;
			font-size: @font-size-base + 3;
			text-align: center;
			padding-top: 5px;
		}
		.summary-show-detail-label {
			color: black;
			font-weight: normal;
			font-style: italic;
			font-size: @font-size-base - 1;
			margin-top: 15px;
			margin-bottom: 15px;
			text-align: right;
		}
		.summary-date {
			padding: 4px 5px;
			font-weight: bold;
			font-size: @font-size-base;
		}
		.card-itinerary-left {
			position: relative;
			height: 60px;
			padding: 10px;
			margin-top: 3px;
			margin-bottom: 50px;
		}
		.card-itinerary-right {
			text-align: right;
		}
		.airline-image {
			max-width: 100%;
			height: auto;
		}
		.duration {
			margin-top: 10px;
		}
		.cabin-type {
			color: #97969C;
			margin-top: 10px;
		}
		.card-itinerary-dashed {
			position: absolute;
			left: 20px;
			right: 0;
			top: 79%;
			border-top: 1px dashed #B5B4BA;
		}
		.card-itinerary-dot-origin-destination {
			display: inline-block;
			background-color: #5C5B60;
			border: 1px solid #5C5B60;
			border-radius: 100%;
			height: 12px;
			width: 12px;
			margin-top: 3px;
		}
		.card-itinerary-dot-stops {
			display: inline-block;
			background-color: #97969C;
			border: 1px solid #97969C;
			border-radius: 100%;
			height: 9px;
			width: 9px;
		}
		.card-itinerary-orig,
		.card-itinerary-dest,
		.card-itinerary-stop {
			position: absolute;
			display: inline-block;
			min-width: 55px;
		}
		.card-itinerary-orig {
			text-align: left;
			left: 5px;
		}
		.card-itinerary-dest {
			text-align: right;
			right: 0;
			min-width: 100px;
		}
		.card-itinerary-stop {
			text-align: center;
			margin-left: 55px/2 * -1;
			&.first {
				left: 35%;
			}
			&.last {
				left: 64%;
			}
			&.first.last {
				left: 50%;
			}
		}
		.card-place {
			margin-bottom: 10px;
			.code {
				font-weight: 900;
				font-size: @font-size-base;
				color: #97969C;
			}
		}
		.card-hour {
			color: #5B5B5F;
			font-size: @font-size-base;
		}
		small {
			color: #97969c;
			font-size: 13px;
			display: block;
			line-height: 17px;
			margin-top: 3px;
		}
		.summary-passengers {
			padding: 12px 5px;
			font-weight: 900;
			font-size: @font-size-base;
			text-align: right;
		}
		.summary-price {
			padding: 12px 5px 0;
			font-weight: bold;
			font-size: @font-size-base + 3;
			text-align: right;
		}
		.summary-taxe,
		.summary-fee {
			padding: 0 5px;
			font-weight: 900;
			font-size: @font-size-base + 3;
			text-align: right;
			color: #A9A9A9;
		}
	}
}

.fix-footer {
	position: fixed;
	bottom: 0;
}

.footer-background {
	background: @color-lightgray;
	height: auto;
	width: 100%;
	padding: 18px 5px;
	.footer-left {
		float: left;
		.footer-logo {
			height: 35px;
			width: auto;
		}
	}
	.footer-right {
		float: right !important;
		.footer-help {
			.title {
				font-weight: 900;
				font-size: @font-size-base - 1;
				text-transform: uppercase;
				color: #5C5B60;
				margin-bottom: 10px;
			}
			.phone-img {
				background: url('../img/icon-small-phone.png');
				background-size: 18px 18px;
				height: 18px;
				width: 18px;
			}
			.phone {
				font-weight: 900;
				font-size: @font-size-base + 1;
				color: #97969C;
				height: 15px;
				margin-top: 0px;
			}
			.separator {
				border-left: 1px solid #97969C;
				margin-top: 4px;
				height: 12px;
			}
			.mobile-img {
				background: url('../img/icon-small-mobile.png');
				background-size: 18px 18px;
				height: 18px;
				width: 18px;
				float: right;
			}
			.mobile {
				text-align: center;
				font-weight: 900;
				font-size: @font-size-base + 1;
				color: #97969C;
				float: right;
				margin-top: -1px;
			}
		}
	}
}

.modal-md {
	width: 680px;
}

@media(max-width: 1200px) {
	.subscribe .title {
		font-weight: 900;
		font-size: @font-size-base + 3;
		text-transform: uppercase;
		color: #5C5B60;
		margin-bottom: 10px;
	}
	.subscribe .subtitle {
		font-weight: 900;
		font-size: @font-size-base - 1;
		color: #97969C;
		margin: 7px 0 13px;
	}
}

.checkbox-text-container {
	float: left;
	padding-top: 2px;
}

.checkbox-text-container2 {
	float: left;
	padding-top: 1px;
	margin-left: 6px;
	line-height: 1.3;
}

.checkbox-container {
	padding-bottom: 10px;
	float: left;
	input[type="checkbox"] {
		display: none;
	}
	input[type="checkbox"]+label {
		display: inline-block;
		vertical-align: middle;
		width: 13px;
		height: 13px;
		margin: 2px 3px 0 0;
		background: url(../img/uncheck.png) left top no-repeat;
		background-size: 13px 13px;
		cursor: pointer;
	}
	input[type="checkbox"]:checked+label {
		background: url(../img/check.png) left top no-repeat;
		background-size: 13px 13px;
	}
}

/* bedtype radio */

.result-radio-checked:before {
	font-family: 'cocha-icons';
	content: '\e939';
	font-size: @font-size-base + 1;
	cursor: pointer;
	color: #666;
}

.result-radio:before {
	font-family: 'cocha-icons';
	content: '\e93a';
	font-size: @font-size-base + 1;
	cursor: pointer;
}

.title-reservation-rooms {
	font-weight: bold;
}

.reservation-summary-title {
	font-weight: bold;
}

.reservation-summary-total-price-usd {
	font-size: @font-size-base + 10;
	font-weight: bold;
}

.reservation-summary-total-price-clp {
	font-size: @font-size-base -4;
}

.summary-hotel-image {
	margin: 5px;
}

.content-input-height {
	height: 45px;
}

.grey-text {
	color: #666 !important;
}

.payments-container {
	float: right;
	margin-top: 0px !important;
	width: 100px;
}

.reservation-room-item {
	font-weight: 800;
}

.input-field-loader {
	position: absolute;
	top: 4px;
	right: 35px;
}

.reservation-passengers-summary {
	font-size: @font-size-base+1;
	text-align: center;
	padding-bottom: 10px;
}

.reservation-night-summary {
	font-weight: 800;
	font-size: @font-size-base+1;
	text-align: center;
}

.dashed-bottom-border {
	border-bottom-width: 1px;
	border-bottom-style: dashed;
}

.reservation-room-totals {
	margin-top: 10px;
}

.reservation-surcharge-totals {}

.reservation-room-night-collapse {
	font-style: italic;
	color: #666 !important;
	&:hover {
		color: #666 !important;
	}
	&:visited {
		color: #666 !important;
	}
	&:active {
		color: #666 !important;
	}
}

.btn-reservation-room {
	.btn-red;
	position: relative;
	margin-top: 12px;
	font-size: @font-size-base - 1;
	border-radius: 20px;
	background: #cf112a;
	text-transform: uppercase;
	border: 1px solid #cf112a;
	color: #fff;
	transition: all ease .4s;
	position: relative;
	font-size: 13px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 30px;
	padding-right: 30px;
	text-align: center;
	text-decoration: none !important;
	span:after {
		content: url('../img/arrow_down_button.png');
		margin-left: 6px;
		display: inline-block;
		transition: ease 0.4s;
	}
	&:hover {
		color: white;
	}
	&:active {
		color: white;
	}
	&:visited {
		color: white;
	}
	&.rotate {
		span:after {
			transform: rotate(-180deg);
		}
	}
}

.btn-reservation-room-transparent {
	.btn-transparent;
	font-size: 10px !important;
	color: #666;
	position: relative;
	margin-top: 12px;
	padding: 4px 15px;
	display: inline-block;
	outline: 0 !important;
	span:after {
		margin-left: 6px;
		display: inline-block;
		transition: ease 0.4s;
	}
	&.rotate {
		span:after {
			transform: rotate(-180deg);
		}
	}
	&:hover {
		span:after {
			-webkit-filter: invert(70%);
			filter: invert(70%);
		}
	}
}

.msg-booking-pt3 {
	margin-top: 10px;
	float: right;
}

.msg-booking-pt2 {
	margin-top: 10px;
}

.text-error-payment {
	font-size: 20px !important;
	margin-bottom: 10px;
}

.payments-select {
	top: 28px !important;
	width: 100% !important;
}

.payments-position {
	position: absolute !important;
	right: 0px;
}

.months-expiration-container {
	height: 150px;
	overflow-x: hidden;
}

.months-expiration-container::-webkit-scrollbar {
	width: 8px;
	background-color: lightgray;
}

.months-expiration-container::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .5);
}

.months-expiration-container::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

.years-expiration-container {
	height: 150px;
	overflow-x: hidden;
}

.years-expiration-container::-webkit-scrollbar {
	width: 8px;
	background-color: lightgray;
}

.years-expiration-container::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .5);
}

.years-expiration-container::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

.reservation-policy-title {
	font-weight: normal;
	padding-bottom: 10px;
	font-size: 14px;
	font-weight: 800;
}

.payment-select {
	height: 24px !important;
	padding: 0px !important;
	margin-bottom: 0px !important;
	background: url(../img/arrow_down_black.png) 95% no-repeat rgba(0, 0, 0, 0) !important;
	background-size: 10px 6px !important;
	margin-top: 4px;
	font-size: 13px;
}

.payments-options {
	right: 5px !important;
	width: 100px !important;
	position: absolute !important;
	z-index: 1000 !important;
	height: 150px;
	overflow-x: hidden;
}

.payments-options::-webkit-scrollbar {
	width: 8px;
	background-color: lightgray;
}

.payments-options::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .5);
}

.payments-options::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

.payments-expiration {
	width: 50% !important;
}

.payment-credit-card-info-title {
	padding-left: 10px;
}

.payment-credit-card-input {
	margin-top: 10px;
}

.msg-credit-card {
	font-weight: 100;
	font-style: normal;
	font-weight: 100;
	position: absolute;
	right: 7px;
	vertical-align: bottom;
	margin-top: 10px;
}

.placeholder-grey-text {
	color: #b1b2b6;
	font-weight: 200;
	font-weight: normal;
	.payment-b2b-icon {
		border-color: #b1b2b6 !important;
	}
}

.card-type-text {
	vertical-align: -webkit-baseline-middle;
}

.margin-label-input {
	padding-left: 10px;
}

.reservation-label-input {
	color: #b1b2b6;
}

.summary-address {
	text-align: center;
	font-size: @font-size-base + 1;
	font-weight: normal;
	color: #b1b2b6;
}

.reservation-location-icon {
	margin-right: -2px;
	font-size: 15px;
}

.reservation-amenities-list {
	padding: 5px;
	text-align: center;
	border-width: 3px;
	border-style: solid;
	margin: 4px;
	border-color: #FDB257;
	font-weight: 800;
	font-weight: normal;
}

.reservation-room-list {
	padding-top: 10px;
	padding-bottom: 10px;
}

.icon-room-night-arrow {
	font-size: 9px;
}

.reservation-room-fees {
	padding: 10px !important;
}

.summary-total-container {
	background: #FFF;
	display: table-cell;
	.summary-total-title {
		padding: 5px 5px;
		font-weight: normal;
		font-size: @font-size-base + 12;
		text-align: left;
		.local-currency-msg {
			font-size: @font-size-base + 3;
		}
	}
	.summary-total-price-usd {
		padding-top: 5px;
		text-align: right;
		font-weight: bold;
		font-size: @font-size-base + 14;
	}
	.summary-total-price-clp {
		margin-top: -6px;
		text-align: right;
		font-weight: 900;
		font-size: @font-size-base;
	}
}

.reservation-nonrefundable-text {
	color: #CF112A;
	font-weight: 800;
	font-style: italic;
	font-size: @font-size-base +2;
}

.reservation-refundable-text {
	color: #609E4A;
	font-weight: 800;
	font-style: italic;
	font-size: @font-size-base +2;
}

.reservation-refundable-info {
	padding-top: 5px;
}

.reservation-total-items {
	padding-left: 5px;
}

.reservation-line-separator {
	border-bottom-color: #D7D8D8;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	width: 96%;
	margin: auto;
	padding-top: 5px;
	padding-bottom: 5px;
	clear: both;
}

.expiration-date-title {
	padding-left: 10px !important;
}

.reservation-policy-content {
	font-weight: normal;
	color: #666;
	font-size: @font-size-base +1;
}

.select-payment-b2b {
	height: 95px;
	margin-top: 5px;
	margin-bottom: 5px;
	.separator-border {
		border-right-width: 1px;
		border-right-style: solid;
	}
	.option-payment-b2b {
		padding-top: 10px;
		.payment-b2b-icon {
			height: 45px;
			width: 45px;
			margin: 0 auto 6px;
			border-radius: 50%;
			border: 2px solid #666;
			padding: 5px;
			text-align: left;
			padding-bottom: 10px;
			i {
				font-size: 30px;
			}
		}
		.payment-b2b-type-title {
			font-size: @font-size-base +2;
			font-weight: 700;
			font-style: normal;
			padding-bottom: 10px;
			.payment-b2b-type-option {
				.payment-b2b-type-name {
					span {
						i {
							padding-right: 5px;
						}
					}
				}
			}
		}
	}
}

.credit-line-payment {
	width: 99%;
	margin-left: 0.5%;
	margin-right: 0.5%;
	background-color: #F6F6F6;
	.triangle {
		position: absolute;
		margin-left: 74%;
		top: -9px;
		width: 17px;
		height: 17px;
		left: 0;
		right: 0;
		transform: rotate(45deg);
		background: #F6F6F6;
		z-index: 1001;
	}
	.credit-line-terms-text {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.credit-line-currency-container {
		padding-top: 10px;
		padding-bottom: 10px;
		.credit-line-currency-text {
			padding-bottom: 5px;
			font-size: @font-size-base +2;
			font-weight: 700;
			font-style: normal;
		}
	}
}

.card-payment {
	width: 99%;
	margin-left: 0.5%;
	margin-right: 0.5%;
	background-color: #F6F6F6;
	.triangle {
		position: absolute;
		margin-left: 24%;
		top: -9px;
		width: 17px;
		height: 17px;
		left: 0;
		right: 0;
		transform: rotate(45deg);
		background: #F6F6F6;
		z-index: 1001;
	}
}

.nemo-label {
	padding-top: 10px;
}
