.results {
	margin: 40px 0 20px 0;
	display: flex;
	padding: 0 0 0 10px;
	span {
		color: white;
		font-size: @font-size-base + 5;
		font-weight: bold; //text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.8);
		letter-spacing: 0.8px;
	}
	h1 {
		color: white;
		font-size: @font-size-base + 5;
		font-weight: bold; //text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.8);
		letter-spacing: 0.8px;
		margin: 3px 0 0 0 !important;
	}
	.info-icon {
		margin-left: 10px;
		margin-top: 3px;
		height: 20px;
		width: 20px;
	}
	.tooltip {
		.tooltip-arrow {
			border-top-color: rgba(0, 0, 0, 0.85) !important;
		}
		.tooltip-inner {
			max-width: 340px !important;
			border-radius: 21px !important;
			padding: 7px 20px !important;
			background: rgba(0, 0, 0, 0.85) !important;
		}
	}
}

.highlighted {
	font-weight: bold !important;
	color: #000 !important;
}

.sort-by {
	color: white;
	font-size: @font-size-base + 2;
	/*margin: 40px 0 20px 0;*/
	/*resp*/
	/*float: right;*/
	/*text-align: right;*/
	/*resp*/
	padding-right: 8px;
	.sort-background {
		background: rgba(0, 0, 0, 0.6);
		/*height: 35px;
		
		width: 380px;*/
		/*resp*/
		/*float: right;*/
		padding: 3px 0;
		.sort-by-text {
			margin-top: 4px;
			width: 100px;
		}
		.select-box-container {
			position: relative;
			width: 280px;
			.select-box {
				.white-select();
				font-size: @font-size-base + 1;
				padding: 3px 10px;
				text-align: left;
				height: 25px;
				font-weight: bold;
			}
			.option-container {
				position: absolute;
				z-index: 99;
				width: 96.5%;
				border-bottom: 2px solid @color-red;
				border-bottom-right-radius: 3px;
				border-bottom-left-radius: 3px;
			}
			.option {
				border-top: 1px solid #cccccc;
				height: 40px;
				background: white;
				color: @color-darkgray;
				font-size: @font-size-base;
				cursor: pointer;
				text-align: left;
				width: 100%;
				padding: 11px 10px;
				font-weight: bold;
			}
			.option:hover {
				background: #5C5B60;
				color: white;
			}
		}
	}
}

.card {
	padding: 0px 5px 0px;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .25);
	border-radius: 3px;
	border: 1px solid #A7AFC4;
	margin-bottom: 10px;
	font-weight: normal;
	line-height: 20px;
	transform: translateZ(0);
}

.card-header {
	height: 57px;
	background: @trans-black;
	padding: 0px 5px;
}

.card-body {
	background: white;
	height: auto;
}

.card-title-container {
	padding: 7px 10px 7px;
	background: @color-lightgray;
}

.card-title-flight {
	padding-left: 30px;
	font-weight: 900;
	font-size: @font-size-base + 1;
	&:before {
		font-family: 'cocha-icons';
		font-size: @font-size-base + 11;
		content: '\e930';
		color: @color-red;
		position: absolute;
		top: 8px;
		left: 8px;
	}
}

.card-title-return {
	padding-left: 30px;
	font-weight: 900;
	font-size: @font-size-base + 1;
	&:before {
		font-family: 'cocha-icons';
		font-size: @font-size-base + 11;
		content: '\e930';
		color: @color-red;
		transform: scale(-1, 1);
		position: absolute;
		top: 8px;
		left: 8px;
	}
}

.flight-info-container {
	/*padding: 5px 10px 8px;*/
	position: relative;
	background-color: white;
	/*
	background-size: 200% 100%;
	background-image: linear-gradient(to right, white 50%, #E5E5E5 50%);
	transition: background-position 0.5s;
	*/
	border-left-style: solid;
	border-left-width: thin;
	border-left-color: #E6E6E7;
	border-right-style: solid;
	border-right-width: thin;
	border-right-color: #E6E6E7;
	.card-radio-container {
		padding-top: 51px;
		.result-radio:before {
			font-family: 'cocha-icons';
			content: '\e91e';
			font-size: @font-size-base + 1;
			cursor: pointer;
		}
	}
}

.flight-info-container:before {
	content: " ";
	position: absolute;
	top: 1px;
	left: 1px;
	right: 1px;
	bottom: 0px;
	border-bottom: 1px dashed #E6E6E7;
}

.flight-info-container.last:before {
	content: " ";
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	border-bottom: 1px solid #E6E6E7;
}

.flight-info-container:hover {
	/*padding: 5px 10px 8px;*/
	background-size: 200% 100%;
	background-image: linear-gradient(to right, @color-lightgray 50%, @color-lightgray 50%);
	background: @color-lightgray;
	transition: background-position 0.5s;
}

.flight-info-container.checked {
	/*background: #F7F7F9 !important;*/
	background-position: -100% 0;
	background-size: 200% 100%;
	background-image: linear-gradient(to right, white 50%, #eeeeee 50%);
	transition: background-position 0.5s;
	padding: 5px 10px 8px;
	position: relative;
	.card-radio-container {
		padding-top: 51px;
		.result-radio:before {
			font-family: 'cocha-icons';
			content: '\e947';
			font-size: @font-size-base + 1;
			cursor: pointer;
			color: @color-red;
		}
	}
}

.flight-info-container.checked:before {
	content: " ";
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	border-bottom: 1px solid @color-red !important;
}

.card-text {
	color: #5B5B5F;
	font-size: @font-size-base + 2;
}

.card-hour {
	color: #5B5B5F;
	font-size: @font-size-base;
}

.card-em {
	padding: 5px 0px 5px 10px;
	line-height: 1;
	.dolar {
		font-weight: 900;
		color: white;
		font-size: @font-size-base + 14;
	}
	.clp {
		font-weight: 100;
		font-style: normal;
		color: white;
		font-size: @font-size-base + 1;
	}
	.taxes {
		font-weight: 100;
		font-style: normal;
		color: white;
		font-size: @font-size-base - 3;
	}
}

.card-itinerary {
	position: relative;
	height: 60px;
	padding: 10px;
	margin-top: 3px;
}

.card-itinerary-dashed {
	position: absolute;
	left: 0;
	right: 0;
	top: 98%;
	height: 2px;
	border-top: 1px dashed #B5B4BA;
	margin-top: -1.5px;
}

.card-itinerary-dot-origin-destination {
	display: inline-block;
	background-color: #5C5B60;
	border: 1px solid #5C5B60;
	border-radius: 100%;
	height: 12px;
	width: 12px;
	margin-top: 3px;
}

.card-itinerary-dot-stops {
	display: inline-block;
	background-color: #97969C;
	border: 1px solid #97969C;
	border-radius: 100%;
	height: 9px;
	width: 9px;
}

.card-itinerary-orig,
.card-itinerary-dest,
.card-itinerary-stop {
	position: absolute;
	display: inline-block;
	min-width: 55px;
}

.card-itinerary-orig {
	text-align: left;
	left: 0;
}

.card-itinerary-dest {
	text-align: right;
	right: 0;
	min-width: 100px;
}

.card-itinerary-stop {
	text-align: center;
	margin-left: 55px/2 * -1;
	&.first {
		left: 35%;
	}
	&.last {
		left: 64%;
	}
	&.first.last {
		left: 50%;
	}
}

.card-row-gray {
	padding-top: 3px;
	padding-bottom: 3px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 12px;
	color: #5b5b5f;
	background-color: #d8d9dd;
	.icon {
		margin-left: 5px;
		/*fix*/
	}
}

.card-fix-padding {
	padding-top: 28px;
}

small {
	color: #97969c;
	font-size: 13px;
	display: block;
	line-height: 17px;
	margin-top: 3px;
}

strong {
	font-weight: 900;
	color: #5B5B5F;
}

.card-place {
	font-weight: normal;
	.margin-minus {
		margin-top: -6px;
	}
	.code {
		color: #5C5B60;
		font-size: @font-size-base + 15;
	}
	.city {
		color: #97969C;
		font-size: @font-size-base;
		text-transform: capitalize;
	}
}

.airline-image-container {
	position: absolute;
	top: 5px;
	left: 0px;
	.airline-image {
		width: 80%;
	}
	.airline-no-image {
		font-size: @font-size-base + 5;
		font-weight: bold;
	}
}

.flight-time-container {
	position: absolute;
	top: 73px;
	left: 0px;
	background: url('../img/vuelos/icon_scale.png') no-repeat;
	background-size: 18px 18px;
	-webkit-background-size: 18px 18px;
	-moz-background-size: 18px 18px;
	-o-background-size: 18px 18px;
	padding-left: 22px;
	span {
		font-weight: normal;
		color: #5B5B5F;
		font-size: @font-size-base;
	}
}

.flight-details {
	margin-top: 20px;
	margin-bottom: 55px;
	text-align: right;
	.show-details {
		color: black;
		font-weight: normal;
		font-style: italic;
		font-size: @font-size-base - 1;
	}
	.glyphicon {
		color: black;
		font-size: @font-size-base - 2;
	}
	.show-returnings {
		color: @color-red;
		font-size: @font-size-base - 2;
	}
}

.card-footer {
	padding: 10px 14px 10px 10px;
	background: white;
	.total-container {
		padding: 3px 10px 3px 0px;
		display: inline-block;
		float: left;
		.footer-usd {
			font-weight: bold;
			font-size: @font-size-base + 5;
			color: #5C5B60;
		}
		.footer-clp {
			font-weight: 900;
			font-size: @font-size-base;
			color: #5C5B60;
		}
	}
	.button-separators {
		margin-top: 2px;
		padding: 0 10px;
		border-left: 1px solid #d9d9d9;
		float: left;
		.btn-view-others {
			.btn-red-invert;
			padding: 2px 15px;
			font-size: @font-size-base - 1;
			height: 25px;
		}
	}
	.button-no-separators {
		margin-top: 2px;
		padding: 0 0 0 10px;
		border-left: 1px solid #d9d9d9;
		float: left;
		.btn-flight-selection {
			.btn-red;
			padding: 3px 15px;
			font-size: @font-size-base - 2;
			height: 25px;
		}
	}
}

.card-border-bottom {
	border-bottom: 1px solid #A7AFC4;
}

.best-card {
	padding: 0px 5px 0px;
	border-radius: 3px;
	border-right: 1px solid #A7AFC4;
	border-left: 1px solid #A7AFC4;
	border-top: 1px solid #A7AFC4;
	margin-bottom: 0;
	font-weight: normal;
	line-height: 20px;
	transform: translateZ(0);
	.card-header {
		height: 57px;
		background: @trans-black;
		padding: 0px 5px;
		.card-em {
			padding: 5px 0px 5px 10px;
			line-height: 1.1;
			.dolar {
				font-weight: 900;
				color: white;
				font-size: @font-size-base + 14;
			}
			.clp {
				font-weight: 100;
				font-style: normal;
				color: white;
				font-size: @font-size-base + 1;
			}
			.taxes {
				font-weight: 100;
				font-style: normal;
				color: #ccc;
				font-size: @font-size-base + 1;
				white-space: nowrap;
			}
			.header-info {
				padding: 10px 0px 0px 0px;
				line-height: 1.2;
				.header-subtitle {
					color: white;
					font-size: @font-size-base + 2;
					font-weight: normal;
				}
			}
		}
		.header-btn-container {
			padding: 13px 8px 13px 0px;
			text-align: right;
			.btn-transparent-detail {
				.btn-transparent;
				padding: 4px 15px;
				font-size: 12px;
				line-height: 1.8;
			}
		}
	}
	.card-header:hover {
		background: rgba(0, 0, 0, .45);
		transition: all 0.2s ease-in-out;
	}
}

.box-shadow-bottom {
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .25);
}

@media (max-width: 991px) {
	.card-em {
		padding: 9px 8px !important;
		.header-info {
			padding: 5px 0 0 !important;
		}
	}
	.dolar {
		font-size: @font-size-base + 8 !important;
	}
	.clp {
		font-size: @font-size-base - 1 !important;
	}
	.taxes {
		font-size: @font-size-base - 1 !important;
	}
}
