.title-padded {
	padding-top: 6px;
	padding-left: 0px;
}

.option-separator {
	padding-left: 10px;
}

.payment-type-title {
	float: left;
	width: 29%;
}

.payment-type-select {
	float: left;
	width: 71%;
}

@media (max-width: 768px) {
	.custom-modal {
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: 1031;
		background: white;
		&.ng-enter {
			animation: displayAndOpacityIn 0.5s ease forwards;
		}
		&.ng-enter-active {
			animation: displayAndOpacityIn 0.5s ease forwards;
		}
		&.ng-leave {
			animation: displayAndOpacityOut 0.5s ease forwards;
		}
		&.ng-leave-active {
			animation: displayAndOpacityOut 0.5s ease forwards;
		}
	}
	.search-box {
		font-size: @font-size-base + 2;
		padding: 8px 0px 7px;
		.input-overflow {
			height: 45px;
			margin-top: 2px;
		}
		.cch-position-container {
			padding-top: 2px;
			text-align: center;
			.cch-position {
				position: absolute;
				left: 8px;
				font-size: @font-size-base + 12;
			}
		}
		.cch-calendar-flight-container {
			padding-top: 2px !important;
			text-align: center;
			.cch-calendar-flight {
				position: absolute;
				left: 11px;
				top: 3px;
				font-size: @font-size-base + 10;
			}
		}
		.input,
		.input:focus,
		.input-required,
		.input-required:focus {
			padding: 7px 7px 7px 30px;
			margin-bottom: 15px;
			&.input-xs-normal {
				padding: 7px 0;
			}
		}
		.div-input-xs,
		.div-input-xs:focus {
			padding: 7px 7px 7px 35px;
			text-align: center;
		}
	}
}

@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {}

@media (min-width: @screen-md-min) {}

.search-box-wrapper-home {
	min-height: 106px;
	max-height: 345px;
	margin-top: 200px;
	z-index: 12;
	.my-booking-shortcut {
		background-color: #333;
		color: white;
		padding: 10px;
		font-size: 15px;
		.my-booking-shortcut-text {
			padding-left: 40px;
			padding-top: 5px;
		}
		.my-booking-shortcut-btn {
			.darkgrey-btn();
			padding-left: 15px;
			padding-right: 15px;
			border: 1px solid #fff;
			background-color: #333;
			border-radius: 17px;
			height: 35px;
			&:hover {
				background: #cdcdcd;
				color: #434041;
				transition: all ease 0.4s;
			}
			&:active {
				outline: none;
			}
		}
	}
}

.search-box-wrapper-results {
	margin-top: 0px;
	.search-box {
		border-top: 1px solid white;
	}
}

.warning-off {
	position: absolute;
	right: 8px;
	top: 8px;
	width: 18px;
	height: 18px;
	opacity: 0;
}

.warning-off2 {
	position: absolute;
	right: 14px;
	top: 8px;
	width: 18px;
	height: 18px;
	opacity: 0;
}

.warning-on {
	opacity: 1;
	transition: opacity 1s ease;
}

.vertical-move {
	.vertical-centered();
}

.search-box {
	position: relative;
	background: @trans-black;
	width: 100%;
	padding: 8px 5px 7px;
	font-weight: normal;
	font-size: @font-size-base + 1;
	.relative {
		position: relative;
	}
	.input-label {
		padding-left: 1px;
		color: white;
	}
	.cch-position-container {
		padding-top: 2px;
		text-align: center;
		.cch-position {
			color: white;
			font-size: @font-size-base + 19;
			margin-left: -7px;
		}
	}
	.cch-calendar-flight-container {
		padding-top: 7px;
		text-align: center;
		i {
			color: white;
			font-size: @font-size-base + 13;
			margin-left: -7px;
		}
	}
	.hand {
		cursor: pointer;
	}
	.input,
	.input:focus {
		height: 30px;
		background-color: @transparent;
		color: white;
		border: none;
		width: 100%;
		padding: 7px 0;
		outline: none;
	}
	.input::-webkit-input-placeholder {
		color: #97969C !important;
	}
	.input:focus::-webkit-input-placeholder {
		color: transparent;
	}
	.input-required,
	.input-required:focus {
		height: 30px;
		background-color: @transparent;
		color: white;
		border: none;
		width: 100%;
		padding: 7px 0;
		outline: none;
	}
	.input-required:focus::-webkit-input-placeholder {
		color: transparent;
	}
	.input-required::-webkit-input-placeholder {
		color: #97969C !important;
	}
	.input-hidden {
		height: 0;
		padding: 0;
		border: none;
		outline: none;
	}
	.input-underline {
		position: absolute;
		top: 30px;
		left: 5px;
		width: ~'calc(100% - 10px)';
		border-bottom: 1px solid @official-gray-2;
		z-index: 10;
	}
	.input-underline2 {
		position: absolute;
		top: 30px;
		left: 10px;
		width: ~'calc(100% - 15px)';
		border-bottom: 1px solid @official-gray-2;
		z-index: 10;
	}
	.input-underline-error {
		position: absolute;
		top: 30px;
		left: 5px;
		width: ~'calc(100% - 10px)';
		border-bottom: 1px solid red;
		z-index: 11;
		animation: searchBoxErrorUnderline 0.7s forwards;
	}
	.input-underline-error2 {
		position: absolute;
		top: 30px;
		left: 10px;
		width: ~'calc(100% - 15px)';
		border-bottom: 1px solid red;
		z-index: 11;
		animation: searchBoxErrorUnderline3 0.7s forwards;
	}
	.search-results-container {
		width: ~'calc(100% - 10px)';
		max-height: 315px;
		background: white;
		position: absolute;
		top: 32px;
		z-index: 99;
		overflow: auto;
		border-bottom: 2px solid @color-red;
		border-bottom-right-radius: 3px;
		border-bottom-left-radius: 3px;
	}
	.result {
		width: 100%;
		border-top: 1px solid @color-lightgray;
		height: 40px;
		line-height: 40px;
		padding-left: 15px;
		padding-right: 15px;
	}
	.search-loading-container {
		width: ~'calc(100% - 10px)';
		height: 42px;
		background: white;
		position: absolute;
		top: 32px;
		z-index: 100;
		border-bottom: 2px solid @color-red;
		border-bottom-right-radius: 3px;
		border-bottom-left-radius: 3px;
	}
	.search-place-loading {
		position: absolute;
		top: 10px;
		left: 46%;
		font-size: 10px;
		border-top: 2px solid rgba(0, 0, 0, 0.3);
		border-right: 2px solid rgba(0, 0, 0, 0.3);
		border-bottom: 2px solid black;
		border-left: 2px solid black;
		animation: load8 1s infinite linear;
		border-radius: 50%;
		width: 20px;
		height: 20px;
		z-index: 99;
	}
	.result:hover,
	.result:focus,
	.result:active {
		background: @color-red;
		color: white;
	}
	.result-text {
		display: inline-table;
		vertical-align: middle;
		line-height: normal;
	}
	.select {
		.white-select();
		padding: 6px 0;
		margin-bottom: 10px;
	}
	.select2 {
		.white-select();
		padding: 6px 0;
		margin-bottom: 10px;
		height: 31px;
	}
	.cabin-option-container {
		.options-container();
		top: 29px;
		width: ~'calc(100% + 5px)';
	}
	.container-age {
		overflow-y: auto !important;
		height: 150px !important;
		width: 85% !important;
		overflow-x: hidden !important;
	}
	.container-age::-webkit-scrollbar {
		width: 8px;
		background-color: lightgray;
	}
	.container-age::-webkit-scrollbar-thumb {
		-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .5);
	}
	.container-age::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	}
	.cabin-option {
		.option();
		padding: 11px 10px;
		height: 40px;
	}
	.btn-travel-with-children {
		.btn-transparent();
		height: 31px;
		padding: 0px 12px;
		i {
			font-size: @font-size-base - 2;
		}
	}
	.btn-absolute {
		position: absolute;
		top: 5px;
		right: 6px;
	}
	.btn-remove-return {
		.btn-transparent();
		height: 24px;
		padding: 2px 12px;
		margin-top: -4px;
		text-transform: none !important;
		.cch-close {
			font-size: @font-size-base - 4;
		}
		&:hover {
			background: white;
			color: #666;
			transition: ease 0.4s;
		}
		&.ng-leave {
			animation: fadeOutReturnButton 0.5s ease;
			animation-fill-mode: forwards;
		}
		&.ng-enter {
			animation: fadeInReturnButton 0.5s ease;
			animation-fill-mode: forwards;
		}
	}
	.cabin-adult-container-small {
		transition: width 0.25s;
	}
	.btn.disabled,
	.btn[disabled],
	fieldset[disabled] .btn {
		cursor: not-allowed;
		opacity: 0.35;
		filter: alpha(opacity=65);
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	.calendar th button {
		opacity: 1 !important;
	}
	.overflow-x-hide {
		overflow-x: hidden;
	}
	.one-way-in {
		position: absolute;
		left: 0px;
		width: 100%;
		padding: 0 5px;
		animation: 0.5s roundTripButtonIn ease;
		animation-fill-mode: forwards;
	}
	.one-way-out {
		position: absolute;
		left: 290px;
		width: 100%;
		padding: 0 5px;
		animation: 0.5s roundTripButtonOut ease;
		animation-fill-mode: forwards;
	}
	.roundtrip-in {
		animation: 1s fadeIn ease;
		animation-fill-mode: forwards;
	}
	.roundtrip-out {
		animation: 0.5s fadeOut ease;
		animation-fill-mode: forwards;
	}
	.children-container-in {
		position: absolute;
		left: 0px;
		width: 100%;
		animation: 0.6s withChildrenSelectorIn ease;
		animation-fill-mode: forwards;
	}
	.children-container-out {
		position: absolute;
		left: 424px;
		width: 100%;
	}
	.input-styled {
		width: 100%;
		height: 30px;
		border: none;
		border-bottom: 1px solid @official-gray-2;
		background: @transparent;
		display: inline-flex;
		padding-top: 6px;
		outline: none;
	}
	.input-styled-required {
		width: 100%;
		height: 30px;
		border: none;
		border-bottom: 1px solid red;
		background: @transparent;
		display: inline-flex;
		padding-top: 7px;
		outline: none;
	}
	.label-container {
		color: white;
		height: 20px;
		padding-left: 0px;
		margin-bottom: 12px;
	}
	.text-age {
		text-align: right !important;
		padding: 10px 7px 0px;
		height: 30px;
		overflow: hidden;
		span {
			color: white;
			font-weight: normal;
		}
	}
	.text-age-big {
		overflow: hidden;
		height: 70px !important;
		padding: 10px 7px 0px;
		transition: height 0.3s 0.2s ease;
	}
	.transparent-input {
		background: @transparent;
		border: none;
		width: 100%;
		outline: none;
		height: 20px;
		color: white;
		text-align: center;
		padding: 0 5px;
		appearance: none;
	}
	.btn-passenger-container {
		padding-left: 0px;
	}
	.btn-passenger-container2 {
		display: table;
		margin: 0 auto;
	}
	.blank-container {
		width: 100%;
		height: 25px;
	}
	.btn-passenger {
		-webkit-user-select: none;
		-moz-user-select: none;
		-khtml-user-select: none;
		-ms-user-select: none;
		border-radius: 50%;
		background: white;
		color: black;
		height: 18px;
		width: 18px;
		border: none;
		outline: none;
		position: relative;
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		float: left;
		margin-right: 5px;
		.minus {
			color: @color-darkgray;
			line-height: 15px;
			font-size: @font-size-base + 6;
			font-weight: normal;
		}
		.plus {
			color: @color-darkgray;
			line-height: 20px;
			font-size: @font-size-base + 2;
			font-weight: normal;
		}
	}
	.overflow-y-hide {
		overflow-y: hidden;
		height: 23px;
		cursor: pointer;
	}
	.overflow-x-hide {
		overflow-x: hidden;
	}
	.show-buttons,
	.show-buttons2 {
		position: absolute;
		top: 0;
		transition: top 0.3s ease-in-out;
		width: 90%;
	}
	.passenger-container:hover .show-buttons {
		top: -30px;
	}
	.passenger-container:hover .show-buttons2 {
		top: -24px;
	}
	.btn-search {
		.btn-red();
		font-size: @font-size-base;
		&.off {
			display: none;
			.display-opacity-out();
		}
		&.on {
			.display-opacity-in();
		}
	}
	.more-padding-top {
		padding-top: 49px !important;
		transition: padding-top 0.3s 0.2s ease;
	}
	.search-box-advanced-trigger {
		color: white;
		padding: 10px 0 0px 0px;
		display: inline-block;
		text-decoration: none;
		cursor: pointer;
	}
	.search-box-advanced-trigger:after {
		content: "\e080";
		margin-left: 5px;
		display: inline-block;
		font-family: 'Glyphicons Halflings';
		vertical-align: middle;
		transition: all 0.35s ease;
		margin-top: -3px;
	}
	.search-box-advanced-trigger.rotate:after {
		content: "\e080";
		margin-left: 5px;
		display: inline-block;
		font-family: 'Glyphicons Halflings';
		transform: rotate(90deg);
		vertical-align: middle;
		transition: all 0.35s ease;
	}
	.search-box-advanced {
		/*border-top: 1px solid white;*/
		margin-top: 7px;
		&.container-fluid,
		&.container {
			margin-right: (@grid-gutter-width*-1)/2;
			margin-left: (@grid-gutter-width*-1)/2;
			&>.row {
				margin-right: 0;
				margin-left: 0;
			}
		}
		&.corporate-code-options {
			padding-top: 10px;
			padding-bottom: 10px;
			.corporate-code-title {
				padding-left: 45px;
				color: #fff;
			}
			.corporate-code-option {
				color: #fff;
				.result-radio-checked:before {
					font-family: 'cocha-icons';
					content: '\e939';
					font-size: @font-size-base + 1;
					cursor: pointer;
					color: #fff;
				}
				.result-radio:before {
					font-family: 'cocha-icons';
					content: '\e93a';
					font-size: @font-size-base + 1;
					cursor: pointer;
					color: #fff;
				}
			}
		}
		.corporate-code-nemo {
			.corporate-code-nemo-title {
				padding-left: 45px;
				color: #fff;
				padding-top: 10px;
			}
			.corporate-code-nemo-value {
				color: #fff;
			}
			.content-input-container {
				width: 100%;
				input[type="checkbox"] {
					margin-right: 5px;
					margin-top: 3px !important;
				}
				.content-input,
				.content-input:hover,
				.content-input:disabled {
					width: 100%;
					padding: 5px 10px;
					height: 32px;
					outline: none;
					border: none;
					background: transparent;
					z-index: 9;
				}
				.content-input-confirmation,
				.content-input-confirmation:hover,
				.content-input-confirmation:disabled {
					width: 100%;
					padding: 5px 10px;
					height: 32px;
					outline: none;
					border: none;
					background: transparent;
					text-transform: capitalize;
				}
				.content-input-underline {
					z-index: 9;
					margin-bottom: 15px;
					border-bottom: 1px solid #A9A9A9;
				}
				.content-input-underline-error {
					position: absolute;
					top: 32px;
					left: 5px;
					z-index: 11;
					margin-bottom: 15px;
					border-bottom: 1px solid red;
					animation: searchBoxErrorUnderline 0.7s forwards;
				}
				.content-input-underline-error2 {
					position: absolute;
					top: 32px;
					left: 0px;
					z-index: 11;
					margin-bottom: 15px;
					border-bottom: 1px solid red;
					animation: searchBoxErrorUnderline2 0.7s forwards;
				}
				.content-input-underline-focus {
					position: absolute;
					top: 32px;
					left: 5px;
					z-index: 12;
					margin-bottom: 15px;
					border-bottom: 1px solid #666;
					animation: searchBoxErrorUnderline 0.7s forwards;
				}
				.content-input-underline-focus2 {
					position: absolute;
					top: 32px;
					left: 0px;
					z-index: 12;
					margin-bottom: 15px;
					border-bottom: 1px solid #666;
					animation: searchBoxErrorUnderline2 0.7s forwards;
				}
				.input-email,
				.input-email:hover {
					width: 100%;
					padding: 5px 10px;
					height: 32px;
					outline: none;
					text-transform: none;
					border: none;
					z-index: 9;
					background: transparent;
				}
				.content-input::-webkit-input-placeholder,
				.input-email::-webkit-input-placeholder {
					color: #97969C;
				}
				.content-input:focus::-webkit-input-placeholder,
				.input-email:focus::-webkit-input-placeholder {
					color: transparent;
				}
				.content-input:focus:-moz-placeholder,
				.input-email:focus:-moz-placeholder {
					color: transparent;
				}
				.content-input:focus::-moz-placeholder,
				.input-email:focus::-moz-placeholder {
					color: transparent;
				}
				.content-input:focus:-ms-input-placeholder,
				.input-email:focus:-ms-input-placeholder {
					color: transparent;
				}
				.select-type {
					-webkit-appearance: none;
					-moz-appearance: none;
					appearance: none;
					background: url('../img/arrow_down_black_reservation.png') no-repeat rgba(255, 255, 255, 0);
					background-position: right;
					background-size: 18px 6px;
					width: 100%;
					padding: 5px 10px;
					height: 32px;
					outline: none;
					color: #97969C;
					cursor: pointer;
					text-align: left;
					text-transform: capitalize;
					border: none;
					box-shadow: none;
					z-index: 9;
				}
				.warning-input {
					position: absolute;
					color: red;
					right: 8px;
					top: 8px;
					font-size: 17px;
					z-index: 999;
					animation: searchBoxErrorSign 1s forwards;
				}
				.option-container-padding {
					padding-right: 10px;
				}
				.option-container {
					position: absolute;
					top: 31px;
					z-index: 99;
					width: 100%;
					min-width: 10px;
					border-bottom: 2px solid @color-red;
					border-bottom-right-radius: 3px;
					border-bottom-left-radius: 3px;
					border-left: 1px solid #A9A9A9;
					border-right: 1px solid #A9A9A9;
					padding: 0 !important;
					margin: 0 !important;
					max-height: 246px;
					overflow: auto;
					background: white;
				}
				.option-container::-webkit-scrollbar {
					width: 8px;
				}
				.option-container::-webkit-scrollbar-track {
					-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
				}
				.option-container::-webkit-scrollbar-thumb {
					-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
				}
				.option-container-no-overflow {
					overflow: hidden !important;
				}
				.option {
					border-top: 1px solid #A9A9A9;
					height: 40px;
					background: white;
					color: @color-darkgray;
					font-size: @font-size-base;
					cursor: pointer;
					text-align: left;
					width: 100%;
					padding: 11px 10px;
					font-weight: bold;
				}
				.option-country {
					border-top: 1px solid #A9A9A9;
					height: 40px;
					background: white;
					color: @color-darkgray;
					font-size: @font-size-base;
					cursor: pointer;
					text-align: left;
					width: 100%;
					padding: 0px 10px;
					font-weight: bold;
					display: table;
				}
				.option-text {
					display: table-cell;
					vertical-align: middle;
				}
				.option:hover,
				.option:focus,
				.option-country:hover,
				.option-country:focus {
					background: #5C5B60;
					color: white;
				}
				.btn-add-number,
				.btn-add-number:focus {
					background: #5B5A5F;
					border: none;
					border-radius: 100%;
					width: 18px;
					height: 18px;
					color: white;
					margin-top: 7px;
					font-size: @font-size-base;
					outline: none;
				}
			}
		}
		.option-container-container {
			position: absolute;
			/*top: 58px;*/
			z-index: 100;
			/*width: 115%;*/
			/*height: 200px;*/
			border-bottom: 2px solid @color-red;
			border-bottom-right-radius: 3px;
			border-bottom-left-radius: 3px;
			background: white;
		}
		.option-container {
			z-index: 100;
			width: 100%;
			max-height: 200px;
			overflow: auto;
			background: white;
		}
		.option-container::-webkit-scrollbar {
			width: 8px;
		}
		.option-container::-webkit-scrollbar-track {
			-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
		}
		.option-container::-webkit-scrollbar-thumb {
			-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
		}
		.airline-option {
			padding: 11px 10px;
			border-top: 1px solid @official-gray-1;
			height: 40px;
			background: white;
			color: @color-darkgray;
			cursor: pointer;
			text-align: left;
			width: 100%;
			font-weight: bold;
			.airline-checkbox {
				display: none;
			}
			.airline-checkbox+label {
				display: inline-block;
				width: 15px;
				height: 15px;
				vertical-align: middle;
				background: url(../img/airline-checkbox.png) left top no-repeat;
				cursor: pointer;
			}
			.airline-checkbox:checked+label {
				background: url(../img/airline-checkbox.png) -15px top no-repeat;
			}
		}
		.airline-option-checked {
			background: @color-darkgray;
			color: white;
			border-top: 1px solid @official-gray-1;
			height: 40px;
			cursor: pointer;
			text-align: left;
			width: 100%;
			padding: 11px 10px;
			font-weight: bold;
			.airline-checkbox {
				display: none;
			}
			.airline-checkbox+label {
				display: inline-block;
				width: 15px;
				height: 15px;
				vertical-align: middle;
				background: url(../img/airline-checkbox.png) left top no-repeat;
				cursor: pointer;
			}
			.airline-checkbox:checked+label {
				background: url(../img/airline-checkbox.png) -15px top no-repeat;
			}
		}
		.hours {
			color: white;
			margin: 4px 0;
		}
		.slider {
			margin-right: 15px;
		}
		.radio-transparent {
			width: 33%;
			background: @transparent;
			border: 1px solid @official-gray-2;
			outline: none;
			color: white;
			text-align: center;
		}
		.btn-radio {
			width: 100% !important;
		}
		.btn-group>.btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
			width: 34% !important;
		}
		.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
			border-bottom-left-radius: 15px;
			border-top-left-radius: 15px;
		}
		.btn-group>.btn:last-child:not(:first-child) {
			border-bottom-right-radius: 15px;
			border-top-right-radius: 15px;
		}
		.btn-primary.active {
			color: black;
			border: 1px solid white;
			background: white;
		}
		.btn-primary:active {
			width: 33%;
			background: @transparent;
			border: 1px solid @official-gray-2;
			outline: none;
			color: white;
			text-align: center;
		}
	}
}

.room-title {
	padding: 7px 5px 0 5px;
	text-align: left;
	color: white;
	font-weight: 900;
	font-size: @font-size-base + 1;
	height: 35px;
	padding-top: 7px;
}

.room-btn-container {
	padding: 10px 5px;
	.add-room-btn {
		.btn-transparent();
		margin-right: 15px;
		font-size: @font-size-base;
	}
	.btn-search-hotels-2-container {
		width: 175px;
		float: right;
	}
}

.room-enter.ng-enter {
	height: 0px;
	opacity: 0;
	transition: all 0.3s ease;
}

.room-enter.ng-enter-active {
	height: 49px;
	opacity: 1;
	transition: all 0.3s ease;
}

.room-enter.ng-leave {
	height: 49px;
	opacity: 1;
	transition: all 0.3s ease;
}

.room-enter.ng-leave-active {
	height: 0px;
	opacity: 0;
	transition: all 0.3s ease;
}

.children-ages {
	padding: 8px 5px 0 5px;
	text-align: left;
	color: white;
	font-weight: 900;
	font-size: @font-size-base + 1;
	height: 35px;
	width: 30%;
	float: left;
}

.children-ages-selects {
	width: 23%;
	padding: 0 1%;
	float: left;
	position: relative;
}

.select-age {
	.white-select();
	text-align: center;
	.cabin-option-container {
		width: 100%;
	}
}

@media (max-width: 1200px) {
	.option-container-container {
		/*width: 140% !important;*/
		/*resp*/
	}
}

@media (max-width: 991px) {
	.search-box-wrapper-home {
		height: 402px;
		margin-top: 303px;
	}
	.search-box-wrapper-results {
		min-height: 160px;
	}
	.input,
	.input:focus {
		padding: 7px !important;
	}
	.dropdown-menu {
		left: -28px !important;
	}
	.sm-margin-bottom {
		margin-bottom: 15px;
	}
	.auto-height {
		height: 80px;
		transition: height 0.3s ease;
	}
}

/* hotel search box */

.category-result {
	width: 100%;
	border-top: 1px solid @color-lightgray;
	height: 40px;
	line-height: 40px;
	padding-left: 15px;
	padding-right: 15px;
}

@media (max-height: 768px) {
	.search-box-wrapper-home {
		margin-bottom: 186px;
	}
}

@media (min-height:769px) and (max-height: 1080px) {
	.search-box-wrapper-home {
		margin-bottom: 197px;
	}
}

.minimized-searchbox-text {
	color: white;
	font-weight: bold;
	padding-top: 8px;
}

.children-age-option {
	padding: 6px 15px !important;
	height: 28px !important;
}

.input-not-selected {
	/*color: #666664;*/
	color: #97969C;
}

.input-selected {
	color: white;
}

.btn-search-group {
	background: rgba(255, 255, 255, 1);
	padding: 10px;
	height: 70px;
	.alert {
		background: rgba(250, 233, 232, 1);
		border: 1px solid rgba(224, 39, 29, 1);
		display: block;
		width: 100%;
		height: 50px;
		position: relative;
		span {
			display: inline-block;
			color: #666;
			&.btn-rigth {
				font-size: 20px;
				position: absolute;
				right: 10px;
				top: 13px;
			}
			&.btn-content {
				position: relative;
				top: -6px;
				margin-left: 6px;
				color: #fff;
			}
			&.text {
				font-size: 15px;
				position: relative;
				top: -6px;
				font-weight: 400;
				margin-right: 5px;
			}
		}
	}
}

@media (max-width: @screen-xs-max) {
	.btn-search-group {
		height: 150px;
		min-width: 100%;
		margin-left: -5px;
		margin-right: -5px;
		width: inherit;
		margin-bottom: 15px;
		text-align: center;
		.alert {
			height: 100%;
			padding: 30px 15px;
			span {
				&.btn-content {
					top: 2px;
				}
				&.btn-rigth {
					font-size: 17px;
					right: 8px;
					top: 8px;
					z-index: 1;
				}
			}
		}
	}
}
