@media (min-width: 320px) and (max-width: 479px) {
	.search-filters-box {
		margin-left: 3.1%;
		margin-right: 3.1%;
		width: 93.4%;
		.filters-container {
			margin-top: 15px;
			.slider-div {
				width: 95%;
			}
			.info-filters {
				top: 35px;
				width: 96%;
			}
		}
	}
	.search-info-fixed-background {
		top: 0px !important;
		height: 135px !important;
		.btn-map {
			font-family: 'cocha-icons' !important;
			font-size: 16px !important;
			top: 5px;
			margin-top: 0px !important;
		}
		.btn-general-transparent {
			margin-top: 0px !important;
		}
		.btn-general {
			margin-top: 0px !important;
		}
	}
	.search-info {
		.search-info-box {
			.btn-map {
				font-family: 'cocha-icons' !important;
				font-size: 16px !important;
			}
			.separator.arrow {
				display: none;
			}
			.btn-general-transparent {
				.button-arrow-down {
					top: 34px;
				}
				.button-arrow-down-border {
					top: 34px;
				}
			}
			.btn-general {
				.button-arrow-down {
					top: 34px;
				}
				.button-arrow-down-border {
					top: 34px;
				}
			}
			.input-container.arrow,
			.dates-container.arrow,
				{
				margin-top: 5px;
				width: 100%;
			}
			.input-container-places.arrow {
				margin-top: 10px;
			}
		}
	}
}

@media (min-width: @screen-xs-min) and (max-width: @screen-xs-max) {
	.search-filters-box {
		margin-left: 2.1%;
		margin-right: 2.1%;
		width: 95.6%;
		.filters-container {
			margin-top: 15px;
			.slider-div {
				width: 95%;
			}
			.info-filters {
				top: 35px;
				width: 96%;
			}
		}
	}
	.search-info-fixed-background {
		top: 0px !important;
		height: 135px !important;
		.btn-map {
			font-family: 'cocha-icons' !important;
			font-size: 16px !important;
			top: 5px;
			margin-top: 0px !important;
		}
		.btn-general-transparent {
			margin-top: 0px !important;
		}
		.btn-general {
			margin-top: 0px !important;
		}
	}
	.search-info {
		.search-info-box {
			.btn-map {
				font-family: 'cocha-icons' !important;
				font-size: 16px !important;
			}
			.separator.arrow {
				display: none;
			}
			.btn-general-transparent {
				.button-arrow-down {
					top: 34px;
				}
				.button-arrow-down-border {
					top: 34px;
				}
			}
			.btn-general {
				.button-arrow-down {
					top: 34px;
				}
				.button-arrow-down-border {
					top: 34px;
				}
			}
			.input-container.arrow,
			.dates-container.arrow,
				{
				margin-top: 5px;
				width: 100%;
			}
			.input-container-places.arrow {
				margin-top: 10px;
			}
		}
	}
}

@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
	.search-filters-box {
		margin-left: 1.2%;
		width: 97.6%;
		.filters-container {
			margin-top: 15px;
			.slider-div {
				width: 95%;
			}
			.info-filters {
				top: 35px;
				width: 96%;
			}
		}
	}
	.search-info-fixed-background {
		top: 0px !important;
		height: 90px !important;
		.search-info-button-group {
			width: 100%;
			.btn-map {
				font-family: 'cocha-icons' !important;
				font-size: 16px !important;
				top: 5px;
				margin-top: 0px !important;
			}
			.btn-general-transparent {
				margin-top: 0px !important;
			}
			.btn-general {
				margin-top: 0px !important;
			}
		}
	}
	.search-info {
		.search-info-box {
			.search-info-button-group {
				width: 100%;
				.btn-map {
					font-family: 'cocha-icons' !important;
					font-size: 16px !important;
				}
				.btn-general-transparent {
					.button-arrow-down {
						top: 34px;
					}
					.button-arrow-down-border {
						top: 34px;
					}
				}
				.btn-general {
					.button-arrow-down {
						top: 34px;
					}
					.button-arrow-down-border {
						top: 34px;
					}
				}
			}
		}
	}
}

@media (min-width: @screen-md-min) {
	.search-filters-box {
		margin-left: 0.9%;
		width: 98.3%;
		.filters-container {
			margin-top: 15px;
			.slider-div {
				width: 95%;
			}
			.info-filters {
				top: 35px;
				width: 96%;
			}
		}
	}
	.search-info {
		.search-info-box {
			.search-info-button-group {
				.btn-general-transparent {
					.button-arrow-down {
						top: 37px;
					}
					.button-arrow-down-border {
						top: 37px;
					}
				}
				.btn-general {
					.button-arrow-down {
						top: 37px;
					}
					.button-arrow-down-border {
						top: 37px;
					}
				}
			}
		}
	}
}

.search-info-wrapper {
	min-height: 50px;
	margin-top: 30px;
}

.search-info-fixed-background {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1039;
	background: rgba(0, 0, 0, .8);
	width: 100%;
}

.transparent-background {
	background: transparent !important
}

.search-info-fixed-background-show {
	display: block !important;
}

.search-info {
	width: 100%;
	color: white;
	font-weight: normal;
	.search-info-box {
		background: @trans-black;
		width: 100%;
		/*height: 50px;*/
		/*resp*/
		padding: 0 10px;
		.separator {
			float: left;
			margin: 14px 15px;
			border-right: 1px solid white;
			height: 22px;
		}
		.input-container {
			float: left;
			margin-top: 17px;
			.cch-calendar-flight-container {
				float: left;
				margin-top: -1px;
				.cch-calendar-flight {
					font-size: @font-size-base + 5;
					margin-left: -1px;
				}
			}
			.dates-container {
				float: left;
				padding-left: 12px;
			}
		}
		.input-container-places {
			float: left;
			margin-top: 15px;
			.cch-position-container {
				float: left;
				.cch-position {
					font-size: @font-size-base + 7;
					margin-left: -5px;
				}
			}
			.places-container {
				float: left;
				padding-left: 5px;
				margin-top: 2px;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
				max-width: 235px;
			}
		}
		.text-right {
			float: right;
		}
		.input,
		.input:focus {
			height: 45px;
			background-color: @transparent;
			color: white;
			border: none;
			padding: 7px 0;
			outline: none;
			text-align: left;
			.input-text {
				.vertical-centered();
				font-size: @font-size-base;
				font-weight: 900;
				padding-left: @grid-gutter-width;
				padding-right: @grid-gutter-width;
				overflow-x: hidden;
				&+.input-icon {}
			}
		}
		.btn-map {
			.btn-red;
			position: relative;
			margin-top: 12px;
			padding: 4px 15px;
			font-size: @font-size-base - 1;
			margin-left: 15px;
			&.rotate {
				span:after {
					transform: rotate(-180deg);
				}
			}
		}
		.btn-general {
			.btn-red;
			position: relative;
			margin-top: 12px;
			padding: 4px 15px;
			font-size: @font-size-base - 1;
			margin-left: 15px;
			span:after {
				content: url('../img/arrow_down_button.png');
				margin-left: 6px;
				display: inline-block;
				transition: ease 0.4s;
			}
			&.rotate {
				span:after {
					transform: rotate(-180deg);
				}
			}
		}
		.btn-general-transparent {
			.btn-transparent;
			position: relative;
			margin-top: 12px;
			padding: 4px 15px;
			font-size: @font-size-base - 1;
			display: inline-block;
			span:after {
				content: url('../img/arrow_down_button.png');
				margin-left: 6px;
				display: inline-block;
				transition: ease 0.4s;
			}
			&.rotate {
				span:after {
					transform: rotate(-180deg);
				}
			}
			&:focus {
				outline-style: none !important;
				outline: none !important;
			}
			&:active {
				outline-style: none !important;
				outline: none !important;
			}
			&:hover {
				span:after {
					-webkit-filter: invert(70%);
					filter: invert(70%);
				}
			}
		}
		.button-arrow-down {
			position: absolute;
			margin-left: auto;
			margin-right: auto;
			left: 0;
			right: 0;
			width: 0;
			height: 0;
			border-left: 9px solid transparent;
			border-right: 9px solid transparent;
			border-top: 9px solid white;
			z-index: 1000;
		}
		.button-arrow-down-border {
			position: absolute;
			margin-left: auto;
			margin-right: auto;
			left: 0;
			right: 0;
			width: 0;
			height: 0;
			border-left: 7px solid transparent;
			border-right: 7px solid transparent;
			border-top: 7px solid #000000;
			z-index: 1001;
		}
	}
	.search-filters-box {
		background: @trans-black;
		border-top: 1px solid white;
	}
	.gpu-render-hack();
	.filters-container {
		padding: 0 5px;
		position: relative;
		color: white;
	}
	.input-label {
		padding-left: 1px;
		font-weight: normal;
		font-size: @font-size-base;
		color: white;
	}
	.select {
		height: 30px;
		background: url('../img/arrow_down_white.png') no-repeat 95% @transparent;
		background-size: 9px 6px;
		color: white;
		border: none;
		border-bottom: 1px solid @official-gray-2;
		width: 100%;
		margin-bottom: 0px;
		outline: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		font-size: @font-size-base - 1;
	}
	.select-type {
		.white-select();
		margin-bottom: 10px;
		padding: 7px 0;
		font-size: @font-size-base - 1;
	}
	.option-container {
		position: absolute;
		top: 0px;
		/**/
		z-index: 99;
		width: 100%;
		border-bottom: 2px solid @color-red;
		border-bottom-right-radius: 3px;
		border-bottom-left-radius: 3px;
		height: auto;
		color: #666;
	}
	.airline-option {
		border-top: 1px solid @official-gray-1;
		height: 40px;
		background: white;
		color: @color-darkgray;
		font-size: @font-size-base - 1;
		cursor: pointer;
		text-align: left;
		width: 100%;
		padding: 0px 10px;
		font-weight: bold;
		.airline-name-container,
		.airline-price-container {
			height: 39px;
			width: 100%;
			display: table;
		}
		.airline-name,
		.airline-price {
			display: table-cell;
			vertical-align: middle;
		}
		.airline-checkbox {
			display: inline-block;
			vertical-align: middle;
			width: 15px;
			height: 15px;
			background: url('../img/airline-checkbox.png') left top no-repeat;
			cursor: pointer;
			margin-top: 12px;
		}
	}
	.airline-option-checked {
		background: @color-darkgray;
		color: white;
		border-top: 1px solid @official-gray-1;
		height: 40px;
		font-size: @font-size-base - 1;
		cursor: pointer;
		text-align: left;
		width: 100%;
		padding: 0px 10px;
		font-weight: bold;
		.airline-name-container,
		.airline-price-container {
			height: 39px;
			width: 100%;
			display: table;
		}
		.airline-name,
		.airline-price {
			display: table-cell;
			vertical-align: middle;
		}
		.airline-checkbox {
			display: inline-block;
			vertical-align: middle;
			width: 15px;
			height: 15px;
			background: url('../img/airline-checkbox.png') -15px top no-repeat;
			cursor: pointer;
			margin-top: 12px;
		}
	}
	.hours {
		color: white;
		margin: 3px 0;
		font-size: @font-size-base - 1;
	}
	.slider {
		margin-right: 15px;
	}
	.radio-transparent {
		width: 33%;
		background: @transparent;
		border: 1px solid @official-gray-2;
		outline: none;
		color: white;
		text-align: center;
		font-size: @font-size-base - 3;
		padding: 3px 5px !important;
		line-height: 1.2;
	}
	.btn-radio {
		width: 100% !important;
	}
	.btn-primary.active {
		color: @official-gray-2;
		border: 1px solid white;
		background: white;
	}
	.btn-primary:active {
		width: 33%;
		background: @transparent;
		border: 1px solid @official-gray-2;
		outline: none;
		color: white;
		text-align: center;
	}
	.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
		border-bottom-left-radius: 15px;
		border-top-left-radius: 15px;
	}
	.btn-group>.btn:last-child:not(:first-child) {
		border-bottom-right-radius: 15px;
		border-top-right-radius: 15px;
	}
}

@media(max-width: 991px) {
	.search-info-wrapper {
		min-height: 50px;
		/*margin-top: 150px;*/
		/*resp*/
	}
	.text-font-sm {
		font-size: @font-size-base -1;
	}
	.search-filters-box {
		background: @trans-black;
		border-top: 1px solid white;
		min-height: 170px;
		text-transform: translateZ(0);
	}
	.input-container-places {
		max-width: 165px !important;
	}
	.places-container {
		max-width: 150px !important;
	}
	.search-info-fixed-background {
		position: fixed;
		left: 0;
		top: 92px;
		z-index: 1039;
		background: rgba(0, 0, 0, .8);
		width: 100%;
	}
}

.search-filters {
	background: rgba(0, 0, 0, 0) !important;
}

.result-name-search {
	position: absolute;
	background-color: white;
	width: 97%;
	color: #A5A5A5;
	font-weight: bold;
	z-index: 200;
}

.line-result-name-search {
	padding: 5px;
	border: 0px;
	border-bottom-width: 1px;
	border-style: solid;
	border-color: #A5A5A5;
}

.hotel-search-input,
.hotel-search-input:hover,
.hotel-search-input:disabled {
	width: 100%;
	padding: 5px 10px;
	height: 32px;
	outline: none;
	border: none;
	background: transparent;
	z-index: 90;
}

.hotel-search-input-confirmation,
.hotel-search-input-confirmation:hover,
.hotel-search-input-confirmation:disabled {
	width: 100%;
	padding: 5px 10px;
	height: 32px;
	outline: none;
	border: none;
	background: transparent;
	text-transform: capitalize;
	z-index: 90;
	position: absolute;
}

.hotel-search-input-underline {
	z-index: 90;
	position: relative;
	border-bottom: 1px solid #A9A9A9;
	height: 2px;
}

.hotel-search-input-underline-error {
	position: absolute;
	top: 32px;
	left: 5px;
	z-index: 110;
	border-bottom: 1px solid red;
	animation: searchBoxErrorUnderline 0.7s forwards;
	height: 2px;
}

.hotel-search-input-underline-error2 {
	position: absolute;
	top: 32px;
	left: 0px;
	z-index: 110;
	border-bottom: 1px solid red;
	animation: searchBoxErrorUnderline2 0.7s forwards;
	height: 2px;
}

.hotel-search-input-underline-focus {
	position: absolute;
	top: 32px;
	left: 5px;
	z-index: 120;
	margin-top: 35px;
	border-bottom: 1px solid #666;
	animation: searchBoxErrorUnderline 0.7s forwards;
	height: 2px;
}

.hotel-search-input-underline-focus2 {
	position: absolute;
	top: 32px;
	left: 0px;
	z-index: 120;
	margin-top: 35px;
	border-bottom: 1px solid #666;
	animation: searchBoxErrorUnderline2 0.7s forwards;
	height: 2px;
}

.room-passengers-summary {
	float: left;
	padding-left: 12px;
}

.cch-adult-child-container {
	float: left;
	margin-top: -1px;
	font-size: 18px;
}

.search-info-name-search-container {
	height: 30px;
}

.search-info-name-search-loader {
	height: 17px;
	position: absolute;
}

.search-filters-box {
	background: rgba(0, 0, 0, .6);
	/*width: auto;*/
	/*margin-left: 10px;
	margin-right: 10px;
	margin-top: 80px;*/
	border-top: 1px solid #fff;
}

.filters-container {
	color: white;
}
