.white-select {
	height: 30px;
	background: url(../img/arrow_down_white.png) no-repeat 95% rgba(0, 0, 0, 0);
	background-size: 10px 6px;
	color: white;
	border: none;
	border-bottom: 1px solid #97969C;
	width: 100%;
	outline: none;
	cursor: pointer;
	padding: 6px 0px;
	appearance: none;
}

.black-select {
	height: 30px;
	background: url(../img/arrow_down_black_reservation.png) no-repeat 99% rgba(0, 0, 0, 0);
	background-size: 19px 6px;
	color: black;
	border: none;
	border-bottom: 1px solid black;
	width: 100%;
	outline: none;
	cursor: pointer;
	padding: 6px 0px;
	appearance: none;
}

.options-container {
	position: absolute;
	z-index: 99999;
	border-bottom: 2px solid @color-red;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	width: 100%;
}

.option {
	border-top: 1px solid @official-gray-1;
	background: white;
	color: @color-darkgray;
	cursor: pointer;
	text-align: left;
	width: 100%;
	font-weight: bold;
	height: 30px;
	padding: 6px 15px;
	&:hover,
	&.focus {
		border-top: 1px solid @color-darkgray;
		background: @color-darkgray;
		color: white;
	}
}
