    .detail-star {
    	display: block;
    	width: 100%;
    	color: #ffcd0e;
    	font-size: @font-size-base + 2px;
    	letter-spacing: -2px;
    	margin-top: 2px;
    	margin-bottom: 1px;
    }

    span>i.glyphicon.ng-scope.cch-star,
    i.glyphicon.ng-scope.cch-star-o,
    i.glyphicon.ng-scope.cch-star-half {
    	margin-right: -4px;
    }
