.btn-trip-review-transparent {
	.btn-transparent;
	font-size: 12px !important;
	position: relative;
	margin-top: 12px;
	padding: 4px 15px;
	display: inline-block;
	span:after {
		margin-left: 6px;
		display: inline-block;
		transition: ease 0.4s;
	}
	&.rotate {
		span:after {
			transform: rotate(-180deg);
		}
	}
	&:hover {
		span:after {
			-webkit-filter: invert(70%);
			filter: invert(70%);
		}
	}
}

.trip-button-review {
	vertical-align: super;
	margin-left: 10px;
}

.trip-advisor-ball {
	height: 16px;
	width: 16px;
}

.trip-ball-container {
	margin-left: -3px;
}

.trip-ball-container-details {
	font-size: 19px;
	margin-left: -7px;
	color: #55973D;
}

.trip-review-logo {
	width: 30px;
	height: 18px;
	margin-right: 4px;
	/* vertical-align: text-top; */
	margin-bottom: 8px;
}

.trip-review-logo-details {
	width: 50px;
	/*height: 18px;*/
	/*margin-right: 4px;*/
	/* vertical-align: text-top; */
	margin-bottom: 5px;
	margin-top: 2px;
}

.trip-button-review-details {
	color: #97969C;
	text-decoration: none;
	font-weight: normal;
	&:hover {
		text-decoration: none;
		color: #97969C;
	}
	&:visited {
		text-decoration: none;
		color: #97969C;
	}
}
