html {
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	font-family: 'DINNextLTPro' !important;
	font-weight: normal;
}

.fby-tab {
	visibility: hidden;
}

body {
	font-weight: normal !important;
	font-family: 'DINNextLTPro' !important;
	font-weight: normal;
}

.tooltip {
	z-index: 99999;
}

.overflow-hidden {
	overflow: hidden !important;
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}

.no-overflow-hidden {
	overflow: visible !important;
}

.display-none {
	display: none !important;
}

.vertical-container {
	padding-top: 60px;
	padding-bottom: 30px;
}

.spacer-13 {
	height: 13px;
	width: 100%;
}

.spacer-10 {
	height: 10px;
	width: 100%;
}

.spacer-14 {
	height: 14px;
	width: 100%;
}

.spacer-15 {
	height: 15px;
	width: 100%;
}

.spacer-30 {
	height: 29px;
	width: 100%;
}

.spacer-110 {
	height: 110px;
	width: 100%;
}

.no-padding {
	padding: 0 !important;
}

.no-padding-right {
	padding-right: 0;
}

.no-padding-left {
	padding-left: 0;
}

.padding-0-10 {
	padding: 0 10px !important;
}

.padding-0-5 {
	padding: 0 5px !important;
}

.padding-top-10 {
	padding-top: 10px;
}

.padding-top-9 {
	padding-top: 9px;
}

.padding-left-10 {
	padding-left: 10px;
}

.hand {
	cursor: pointer;
}

.default-pointer {
	cursor: default;
}

.arrow {
	cursor: default;
}

.capitalize-first:first-letter {
	text-transform: uppercase;
}

.col-10 {
	float: left;
	width: 10%;
	padding-left: 5px;
	padding-right: 5px;
}

.col-11 {
	float: left;
	width: 11%;
	padding-left: 5px;
	padding-right: 5px;
}

.col-20 {
	float: left;
	width: 20%;
	padding-left: 5px;
	padding-right: 5px;
}

.col-35 {
	float: left;
	width: 35%;
	padding-left: 5px;
	padding-right: 5px;
}

.col-39 {
	float: left;
	width: 39%;
	padding-left: 5px;
	padding-right: 5px;
}

.col-40 {
	float: left;
	width: 40%;
	padding-left: 5px;
	padding-right: 5px;
}

.col-14 {
	float: left;
	width: 14.2857%;
	padding-left: 5px;
	padding-right: 5px;
}

.col-33 {
	float: left;
	width: 33.333%;
	padding-left: 5px;
	padding-right: 5px;
}

.col-50 {
	float: left;
	width: 50% !important;
	padding-left: 5px;
	padding-right: 5px;
}

.col-offset-20 {
	margin-left: 20%;
}

.col-offset-60 {
	margin-left: 60%;
}

.col-80 {
	float: left;
	width: 80%;
	padding-left: 5px;
	padding-right: 5px;
}

.col-90 {
	float: left;
	width: 90%;
	padding-left: 5px;
	padding-right: 5px;
}

.col-100 {
	float: left;
	width: 100%;
	padding-left: 5px;
	padding-right: 5px;
}

.btn-group {
	width: 100% !important;
}

.bold-font {
	font-weight: bold;
}

.semibold-font {
	font-weight: 900;
}

.home-titles {
	line-height: 0.5;
	text-align: center;
	margin-bottom: 30px;
	width: 100%;
	overflow: hidden;
	h3 {
		display: inline-block;
		position: relative;
		font-weight: 900;
		text-transform: uppercase;
		font-weight: inherit;
		letter-spacing: 1px;
		font-size: @font-size-base + 10;
	}
	h3:before,
	h3:after {
		content: "";
		position: absolute;
		height: 0px;
		border-top: 1px solid rgba(102, 102, 102, 0.3);
		top: 10px;
		width: 600px;
	}
	h3:before {
		right: 100%;
		margin-right: 15px;
	}
	h3:after {
		left: 100%;
		margin-left: 15px;
	}
	.icon-container-none {
		border: none !important;
	}
	.icon-container {
		display: inline-block;
		width: 50px;
		height: 50px;
		margin: 0 auto;
		position: relative;
		font-weight: inherit;
		letter-spacing: 1px;
		font-size: @font-size-base + 17;
		border-radius: 50%;
		border: 1px solid #D1D1D1;
		padding: 9px 10px;
		text-align: center;
	}
	.icon-container:before,
	.icon-container:after {
		content: "";
		position: absolute;
		height: 0px;
		border-top: 1px solid rgba(102, 102, 102, 0.3);
		top: 24px;
		width: 600px;
	}
	.icon-container:before {
		right: 100%;
		margin-right: 15px;
	}
	.icon-container:after {
		left: 100%;
		margin-left: 15px;
	}
}

.view-offers-container-container {
	height: 55px;
	.view-offers-container {
		position: absolute;
		bottom: 0;
		width: 100%;
		z-index: 10;
		.view-offers {
			width: 230px;
			margin: 0 auto;
			text-align: center;
			background: @color-lightgray;
			padding: 11px 15px 2px 15px;
			height: 55px;
			.view-offers-text {
				font-weight: normal;
				font-size: @font-size-base + 3;
			}
			.chevron-container {
				position: relative;
				margin-top: 3px;
				.glyphicon-chevron-down {
					position: absolute;
					font-size: @font-size-base + 3;
					top: -2px;
					left: 95px;
					animation: 1s bouncingChevron ease infinite;
				}
			}
		}
	}
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
	display: none !important;
}

@media (max-width: 991px) {
	.container {
		width: 100% !important;
	}
	.hide-sm {
		display: none !important;
	}
	.show-sm {
		display: block !important;
	}
}

@media (max-width: 1200px) {
	.container {
		width: 975px;
	}
}

@media (max-width: 768px) {
	.home-titles {
		margin-bottom: 0px;
		h3 {
			display: inline-block;
			position: relative;
			font-weight: 900;
			text-transform: uppercase;
			font-weight: inherit;
			letter-spacing: 0px;
			font-size: @font-size-base + 7;
			margin-top: 10px;
		}
		h3:before,
		h3:after {
			content: "";
			position: absolute;
			height: 0px;
			border-top: none;
			top: 0;
			width: 0;
		}
		h3:before {
			right: 0;
			margin-right: 0;
		}
		h3:after {
			left: 0;
			margin-left: 0;
		}
	}
}

.icons-fa {
	font: normal normal normal 14px/1 FontAwesome !important;
}

.display-opacity-out {
	animation: displayAndOpacityOut2 0s ease forwards;
	animation: displayAndOpacityOut 0.3s ease forwards;
}

.display-opacity-in {
	animation: displayAndOpacityIn2 0.4s ease forwards;
	animation: displayAndOpacityIn 0.3s ease forwards;
}
