@trans-black15: rgba(0, 0, 0, 0.35);
@trans-black: rgba(0, 0, 0, .6);
@trans-black2: rgba(0, 0, 0, 0.3);
@trans-white: rgba(255, 255, 255, 0.9);
@trans-white1: rgba(255, 255, 255, 0.1);
@trans-white2: rgba(255, 255, 255, 0.6);
@trans-white3: rgba(255, 255, 255, 0.4);
@trans-green: rgba(49, 153, 146, 0.5);
@trans-green-solid: rgba(49, 153, 146, 1);
@trans-gray: rgba(134, 132, 120, 0.6);
@brand-primary: #CF122A;
@border-radius-base: 3px;
@font-size-base: 13px;
@grid-gutter-width: 10px;
@text-color: #666;
@calendar-font-size: 13px;
@calendar-button-range-bg: #97969c;
@color-darkgray: #666666;
@color-red: #cf112a;
@color-lightgray: #F7F7F9;
@loader-height: 50px;
@transparent: transparent;
@official-gray-1: #CCC;
@official-gray-2: #97969C;
@official-gray-3: #5B5B5F;
@official-gray-4: #444242;
@red-btn: #cf112a;
@loader-height: 50px;
@keyframes fade-in {
	from {
		opacity: 0.0;
		filter: alpha(opacity=0);
		/* For IE8 and earlier */
	}
	to {
		opacity: 1.0;
		filter: alpha(opacity=100);
		/* For IE8 and earlier */
	}
}

@keyframes fade-out {
	from {
		opacity: 1.0;
		filter: alpha(opacity=100);
		/* For IE8 and earlier */
	}
	to {
		opacity: 0.0;
		filter: alpha(opacity=0);
		/* For IE8 and earlier */
	}
}

@keyframes fade-out-none {
	from {
		opacity: 1.0;
		filter: alpha(opacity=100);
		/* For IE8 and earlier */
	}
	to {
		opacity: 0.0;
		filter: alpha(opacity=0);
		/* For IE8 and earlier */
	}
}

.fadeout {
	-webkit-animation-name: fade-out-none;
	-moz-animation-name: fade-out-none;
	-o-animation-name: fade-out-none;
	animation-name: fade-out-none;
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	-o-animation-duration: 1s;
	animation-duration: 1s;
}

.fadein {
	-webkit-animation-name: fade-in;
	-moz-animation-name: fade-in;
	-o-animation-name: fade-in;
	animation-name: fade-in;
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	-o-animation-duration: 1s;
	animation-duration: 1s;
}
