<div class="home" ng-cloak>
	<img img-src-fallback="../img/mainimg.jpg" ng-src="{{view.banner}}" id="main-background-id" class="background" style="top: {{view.backgroundY}}px;" alt="">
	<div class="container" ng-class="view.smallView ? 'background-black-mobile':''">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="col-md-12 col-sm-12 col-xs-12 search-box-wrapper-home" id="search-box-wrapper-home-id">
					<hotel-search-box vertical-align="false"></hotel-search-box>
					<div class="row my-booking-shortcut" ng-if="content.B2Buser !== null">
						<div class="col-xs-3 my-booking-shortcut-text ">Ver las reservas de mis clientes</div>
						<div class="col-xs-7"><button class="my-booking-shortcut-btn" ng-click="gotoMyBkg()">Ingresar </button></div>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 view-offers-container-container" ng-if="content.offers.count.length > 0 && false">
					<div class="view-offers-container">
						<div class="view-offers hand" smooth-scroll="hidden-title-container-id" ng-click="onOffersViewClicked()">
							<span class="view-offers-text">
                                Hoteles en oferta
                            </span>
							<div class="chevron-container">
								<span class="glyphicon glyphicon-chevron-down">
                                </span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--<div class="full-width">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h1 class="home-title">Disfruta los especiales cocha</h1>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <button class="specials-button">
                    Verano 2016
                </button>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <button class="specials-button">
                    Go Norteamérica
                </button>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4">
                <button class="specials-button">
                    Especial vuela con aeroméxico
                </button>
            </div>
            <div class="col-md-8 col-sm-12 col-xs-12 main-special">
                <img src="http://cms-desa.cocha.com/images/vuelos/main-home.png" class="main-special-img">
                <div class="col-md-9 col-sm-8 col-xs-8">
                    <span class="main-special-text">
                        entre el 15 de diciembre y 28 de febrero
                        <br>
                        No te lo pierdas
                    </span>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-4">
                    <button class="more-specials-button">
                        Ver más ofertas
                    </button>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6 special-box-offer" ng-repeat="item in [0,1]">
                <img src="http://i.imgur.com/EHp8IGy.png" class="special-box-offer-img">
                <div class="discount">
                    <div class="number">
                        20%
                    </div>
                    <div class="text">
                        dcto
                    </div>
                </div>
                <span class="box-offer-title">
                    Varadero
                </span>
                <div class="box-offer-price">
                    <span class="small-text">
                        desde
                    </span>
                    <br>
                    <span class="big-text">
                        US$ 350
                    </span>
                    <span class="medium-text">
                        ($123.000)
                    </span>
                    <span class="small-text">
                        Ida y vuelta
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>-->
<!--<div class="marketing-container">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<img class="bbva hidden-xs" src="http://cms-adm.cocha.com/images/home-portal/LANDING-BBVA-DESKTOP.jpg">
				<img class="bbva visible-xs" src="http://cms-adm.cocha.com/images/home-portal/LANDING-BBVA-MOBILE.jpg">
				<a href="https://cms.cocha.com/html/bases/bases_legales_promocion_bbva_mayo.pdf" target="_blank" class="bbva-legal">ver bases legales</a>
			</div>
		</div>
	</div>
</div>-->