<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 background map-loader" ng-show="view.loading===true ">
	<div class="preloader">
		<div class="preloader-animation">
			<div class="preloader-earth">
			</div>
		</div>
		<div class="preloader-caption">
			<p class="cleared-row phrase">Un momento por favor</p>
		</div>
	</div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<div class='hotel-map'>
		<div id="div-hotel-map" ng-class="{{ view.option }}">
		</div>
	</div>
	<div class='closest-hotels'>
		<p class="closest-hotel" ng-repeat="closest in view.closestHotels ">
			<div class='hotel-map-name'></div>
			<div class='hotel-map-rating'></div>
			<div class='hotel-map-address'></div>

			<div>Puntos de Interés</div>
			<b>{{ ($index+1) }}. {{ closest.regionNameLong }}</b> (a {{ closest.distance }} km)
		</p>
	</div>
</div>