<div class="header" ng-cloak ng-if="B2BUser === null">
	<div class="container">
		<div class="row">
			<div class="col-lg-9 col-md-8 col-sm-8 no-padding header-left">
				<img src="img/shared/logo-medium-cocha.png" class="header-logo" alt="logo cocha">
			</div>
			<div class="col-lg-3 col-md-4 col-sm-4 no-padding header-right">
				<div class="header-help">
					<div class="col-lg-1 col-md-1 col-sm-1 no-padding phone-img">
					</div>
					<div class="col-lg-7 col-md-6 col-sm-6 phone">
						(56 2) 2464 1300
					</div>
					<div class="col-lg-1 col-md-1 col-sm-1 separator">
					</div>
					<div class="col-lg-3 col-md-4 col-sm-4 no-padding">
						<div class="mobile">
							<span>&nbsp;*1300</span>
						</div>
						<div class="mobile-img">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- --------------------- TRV ------------------------>
<div class="loader-background" ng-cloak ng-if="content.supplier === 'TRV'">
	<div class="my-bkg-detail-content">
		<div>
			<div class="body-text">
				<div class='row'>
					<div class="my-bkg-text-status">¡Gracias!, tu reserva ha sido confirmada.</div>
					<div class="my-bkg-text-status-info">
						La reserva ha sido confirmada.<br> A continuación encontrarás los detalles de la reserva.
					</div>
					<br>
				</div>
				<div class="voucher">
					<div class="left-column">
						<div class="block-hotel-info">
							<div class='block-hotel-title'>Información de tu reserva en el </div>
							<div class='block-hotel-name'>
								{{ content.roomInfo.request.hotelName }}
								<!-- {{ content.result.hotelDetailDTO.hotelDetails.starRating }}-->
								<!--img src="http://hotel.cocha.com/img/mails/3stars.png" class="hotel-stars"-->
								<span class="hotel-rating-star">
							  <span class="box-offer-star hotel-rating-stars">
    	             			<uib-rating ng-model="content.roomInfo.request.starRating" max="5" read-only="true" data-read-only="true" state-on="'cch-star'" state-off="'cch-star-o'" on-leave="overStar = null"></uib-rating>
               				  </span>
								</span>

							</div>
							<div class="block-location">{{ content.roomInfo.request.regionData.regionNameLong }}</div>

							<div class="block-info ">
								<div class="block-hotel-image">
									<img src="{{ content.roomInfo.request.hotelImage }}" class="block-img-hotel">
								</div>
								<div class="block-address">
									<div>Dirección</div>
									<div class="address-data">{{ content.roomInfo.request.address }}, {{ content.roomInfo.request.regionData.countryCode }}</div>
									<br>
									<div>Teléfono</div>
									<div class="address-data">
										{{ content.hotelPhone }}
									</div>


								</div>
							</div>


							<div class="block-amenities" ng-if="content.roomInfo.amenities.length > 0">
								<div class="amenities-title">
									Servicios Principales:
								</div>
								<div class="amenities text-left">
									<span class="my-bkg-back-icon-amenities" ng-repeat="amenity in content.roomInfo.amenities">
								   <i ng-if="amenity.included === true" class="amenity-icon {{ getIconAmenity(amenity) }}"></i>
								   <span>{{ getTextAmenity(amenity) | cCapitalizeFilter }}</span>
									</span>
								</div>
							</div>

						</div>
						<div class="block-passengers">
							<div class="block-passengers-title">Habitaciones</div>

							<div class="block-room" ng-repeat="room in content.passengers">
								<div class="block-room-title">
									<div class="my-bkg-room-detail-title">
										Habitación {{ $index + 1 }}:
									</div>
								</div>
								<div class="block-room-passenger-data text-right">
									<div>Titular de la habitación: <span class="room-passenger-value">{{ room.names }} {{ room.surnames }} </span></div>
									<div>Rut/Pasaporte: <span class="room-passenger-value"> 

								  {{ ((room.identifier.identifierClass === 'RUT') ? room.identifier.number+'-'+room.identifier.validationNumber : room.identifier.number) }}

								</span></div>
									<div>Huéspedes: <span class="room-passenger-value">

									{{ content.rooms[$index].adults }} Adulto{{ (( content.rooms[$index].adults > 1 ) ? 's' : '' ) }}

									{{ ( (content.rooms[$index].children > 0) ? content.rooms[$index].children +' Niño'+ ( (content.rooms[$index].children > 1) ? 's' : '') : '' ) }}

<span ng-repeat="children in content.rooms[$index].ages "> {{ ($first ? '(' : '') }} {{ children }} Año{{  ( (children > 1) ? 's' : '' )  }}  {{$last ? ')' : ', '}}</span>

										</span>
									</div>
								</div>
							</div>

						</div>

						<div class="block-passengers" ng-if="content.considerations.length > 1">
							<div class="block-passengers-title">Consideraciones de la reserva</div>
							<div class="block-room">
								{{ content.considerations }}
							</div>
						</div>


					</div>
					<div class="right-column">
						<div class="block-booking-identifier">
							<div class="booking-identifier-title">Identificador de la reserva</div>
							<div class="identifier-data">Número de reserva: <span class="identifier-value">	{{ content.confirmationNumber }} </span></div>
							<div class="identifier-data">Código Interno: <span class="identifier-value">{{ content.pnr }}</span></div>

							<div class="identifier-data" ng-if="content.rateName.length > 1">Código de tarifa: <span class="identifier-value">{{ content.rateName }}</span></div>
						</div>
						<div class="block-booking-data">

							<div class="booking-title">Itinerario</div>
							<div class="booking-data">
								<div class="booking-sub-title">
									Fecha de entrada
								</div>
								<div class="booking-sub-title">
									<span ng-if="(content.roomInfo.request.checkIn !== '' && content.roomInfo.request.checkIn !== null)">Hora de Check-in</span>&nbsp;
								</div>

								<div class="booking-value">
									{{ content.arrival | dateFormatFilter : 'hotel-date-itinerary' }}
								</div>
								<div class="booking-value">
									<span ng-if="(content.roomInfo.request.checkIn !== '' && content.roomInfo.request.checkIn !== null)">{{ (content.roomInfo.request.checkIn !== '' && content.roomInfo.request.checkIn !== null && content.roomInfo.request.checkIn !== 'noon') ? 'Desde las '+ content.roomInfo.request.checkIn : ( (content.roomInfo.request.checkIn === 'noon') ? 'Mediodia' : 'Información no disponible' ) }}</span>&nbsp;
								</div>

								<div class="booking-sub-title">
									Fecha de salida
								</div>
								<div class="booking-sub-title">
									<span ng-if="(content.roomInfo.request.checkOut !== '' && content.roomInfo.request.checkOut !== null)">
								Hora de Check-Out
								</span>&nbsp;
								</div>

								<div class="booking-value">
									{{ content.departure | dateFormatFilter : 'hotel-date-itinerary' }}
								</div>
								<div class="booking-value">
									<span ng-if="(content.roomInfo.request.checkOut !== '' && content.roomInfo.request.checkOut !== null)">
								{{ (content.roomInfo.request.checkOut !== '' && content.roomInfo.request.checkOut !== null && content.roomInfo.request.checkOut !== 'noon') ? 'Desde las '+ content.roomInfo.request.checkOut : ( (content.roomInfo.request.checkOut === 'noon') ? 'Mediodia' : 'Información no disponible' ) }}
								</span>&nbsp;
								</div>

								<div class="booking-summary">
									<span class="summary-block">
									{{ content.summary.nights }} Noche{{ (content.summary.nights > 1 ? 's' :'') }}  
									| {{ content.summary.nrRooms }} Habitacion{{ (content.summary.nrRooms > 1 ? 'es' :'') }}   
									| {{ content.summary.adults }} adulto{{ (content.summary.adults > 1 ? 's' :'') }} 
									<span ng-if=" content.summary.children > 0"> 
									| {{ content.summary.children }} niño{{ (content.summary.children > 1 ? 's' :'') }}
									</span>
									</span>
								</div>

							</div>

						</div>
						<div class="block-payment-data">
							<div class="payment-data-value">Datos de pago</div>
							<div class="text-right">Nombre Comprador: <span class="payment-data-value">
							{{ content.passengers[0].names }}
							{{ content.passengers[0].surnames }}
						</span></div>
							<div class="text-right">Rut/Pasaporte: <span class="payment-data-value">								  {{ ((content.passengers[0].identifier.identifierClass === 'RUT') ?  content.passengers[0].identifier.number+'-'+content.passengers[0].identifier.validationNumber : content.passengers[0].identifier.number) }}</span></div>
							<div class="text-right">Teléfono de contacto: <span class="payment-data-value">	
						  {{ content.contact.phone.country }}
						  {{ content.contact.phone.code }}
						  {{ content.contact.phone.number }}
						</span>
							</div>
							<div class="text-right">E-Mail: <span class="payment-data-value"> {{ content.contact.email }} </span></div>

						</div>
						<div class="block-summary-data">

							<div class='my-bkg-block-price row'>
								<div class='my-bkg-detail-rate'>
									<div>Tarifa total</div>
									<div class="summary-price">
										<span class="summary-price-foreign">US$ {{ content.prices.main | moneyFilter: 2:',':'.' }}</span>
										<span class="summary-price-local">(${{ content.prices.totalCLP | moneyFilter }})</span>
									</div>
								</div>
							</div>

							<div class="summary-cancellation">
								<div class="cancellation-title">Políticas de cancelación</div>
								<div ng-bind-html="getCancellationPolicy(content.roomInfo.cancellationPolicy)"></div>
							</div>

						</div>
					</div>
				</div>
			</div>
			<!-- -->
		</div>
		<div class='my-bkg-help-info text-center row'>
			<div>
				Soporte: <span>Mail</span> <a href="mailto:hotelesonline@cocha.com ">hotelesonline@cocha.com</a> | <span>Anexos</span> Paulina Vega: 1282 Pilar Ramirez: 1015 Nataly Mardones: 1338
			</div>
		</div>
	</div>

</div>
<!-- --------------------- TRV ------------------------>

<!-- --------------------- SABRE ------------------------>
<div class="loader-background" ng-cloak ng-if="content.supplier === 'SAB'">
	<div class="my-bkg-detail-content">
		<div>
			<div class="body-text">
				<div class='row'>
					<div class="my-bkg-text-status">¡Gracias!, tu reserva ha sido confirmada.</div>
					<div class="my-bkg-text-status-info">
						La reserva ha sido confirmada.<br> A continuación encontrarás los detalles de la reserva.
					</div>
					<br>
				</div>
				<div class="voucher">
					<div class="left-column">
						<div class="block-hotel-info">
							<div class='block-hotel-title'>Información de tu reserva en el </div>
							<div class='block-hotel-name'>
								{{ content.roomInfo.request.hotelName }}
								<!-- {{ content.result.hotelDetailDTO.hotelDetails.starRating }}-->
								<!--img src="http://hotel.cocha.com/img/mails/3stars.png" class="hotel-stars"-->
								<span class="hotel-rating-star">
								  <span class="box-offer-star hotel-rating-stars">
	    	             			<uib-rating ng-model="content.roomInfo.request.starRating" max="5" read-only="true" data-read-only="true" state-on="'cch-star'" state-off="'cch-star-o'" on-leave="overStar = null"></uib-rating>
	               				  </span>
								</span>

							</div>
							<div class="block-location">{{ content.roomInfo.request.regionData.regionNameLong }}</div>

							<div class="block-info ">
								<div class="block-hotel-image">
									<img src="{{ content.roomInfo.request.hotelImage }}" class="block-img-hotel">
								</div>
								<div class="block-address">
									<div>Dirección</div>
									<div class="address-data">{{ content.roomInfo.request.address }}, {{ content.roomInfo.request.regionData.countryCode }}</div>
									<br>
									<div>Teléfono</div>
									<div class="address-data">
										{{ content.hotelPhone }}
									</div>


								</div>
							</div>


							<div class="block-amenities" ng-if="content.roomInfo.amenities.length > 0">
								<div class="amenities-title">
									Servicios Principales:
								</div>
								<div class="amenities text-left">
									<span class="my-bkg-back-icon-amenities" ng-repeat="amenity in content.roomInfo.amenities">
								   <i ng-if="amenity.included === true" class="amenity-icon {{ getIconAmenity(amenity) }}"></i>
								   <span>{{ getTextAmenity(amenity) | cCapitalizeFilter }}</span>
									</span>
								</div>
							</div>

						</div>
						<div class="block-passengers">
							<div class="block-passengers-title">Habitaciones</div>

							<div class="block-room" ng-repeat="room in content.passengers">
								<div class="block-room-title">
									<div class="my-bkg-room-detail-title">
										Habitación {{ $index + 1 }}:
									</div>
								</div>
								<div class="block-room-passenger-data text-right">
									<div class="room-passenger-value">Habitación {{ content.summary.roomTitle }} </div>
									<div>Titular de la habitación: <span class="room-passenger-value">{{ room.names }} {{ room.surnames }} </span></div>
									<div>Rut/Pasaporte: <span class="room-passenger-value"> 

								  {{ ((room.identifier.identifierClass === 'RUT') ? room.identifier.number+'-'+room.identifier.validationNumber : room.identifier.number) }}

								</span></div>
									<div>Huéspedes: <span class="room-passenger-value">

									{{ content.rooms[$index].adults }} Adulto{{ (( content.rooms[$index].adults > 1 ) ? 's' : '' ) }}

									{{ ( (content.rooms[$index].children > 0) ? content.rooms[$index].children +' Niño'+ ( (content.rooms[$index].children > 1) ? 's' : '') : '' ) }}

<span ng-repeat="children in content.rooms[$index].ages "> {{ ($first ? '(' : '') }} {{ children }} Año{{  ( (children > 1) ? 's' : '' )  }}  {{$last ? ')' : ', '}}</span>

										</span>
									</div>
								</div>
							</div>

						</div>
					</div>
					<div class="right-column">
						<div class="block-booking-identifier">
							<div class="booking-identifier-title">Identificador de la reserva</div>
							<div class="identifier-data">Número de reserva: <span class="identifier-value">	{{ content.confirmationNumber }} </span></div>
							<div class="identifier-data">Código Interno: <span class="identifier-value">{{ content.pnr }}</span></div>
						</div>
						<div class="block-booking-data">

							<div class="booking-title">Itinerario</div>
							<div class="booking-data">
								<div class="booking-sub-title">
									Fecha de entrada
								</div>
								<div class="booking-sub-title">
									<span ng-if="(content.roomInfo.request.checkIn !== '' && content.roomInfo.request.checkIn !== null)">Hora de Check-in</span>&nbsp;
								</div>

								<div class="booking-value">
									{{ content.arrival | dateFormatFilter : 'hotel-date-itinerary' }}
								</div>
								<div class="booking-value">
									<span ng-if="(content.roomInfo.request.checkIn !== '' && content.roomInfo.request.checkIn !== null)">{{ (content.roomInfo.request.checkIn !== '' && content.roomInfo.request.checkIn !== null && content.roomInfo.request.checkIn !== 'noon') ? 'Desde las '+ content.roomInfo.request.checkIn : ( (content.roomInfo.request.checkIn === 'noon') ? 'Mediodia' : 'Información no disponible' ) }}</span>&nbsp;
								</div>

								<div class="booking-sub-title">
									Fecha de salida
								</div>
								<div class="booking-sub-title">
									<span ng-if="(content.roomInfo.request.checkOut !== '' && content.roomInfo.request.checkOut !== null)">
								Hora de Check-Out
								</span>&nbsp;
								</div>

								<div class="booking-value">
									{{ content.departure | dateFormatFilter : 'hotel-date-itinerary' }}
								</div>
								<div class="booking-value">
									<span ng-if="(content.roomInfo.request.checkOut !== '' && content.roomInfo.request.checkOut !== null)">
								{{ (content.roomInfo.request.checkOut !== '' && content.roomInfo.request.checkOut !== null && content.roomInfo.request.checkOut !== 'noon') ? 'Desde las '+ content.roomInfo.request.checkOut : ( (content.roomInfo.request.checkOut === 'noon') ? 'Mediodia' : 'Información no disponible' ) }}
								</span>&nbsp;
								</div>

								<div class="booking-summary">
									<span class="summary-block">
									{{ content.summary.nights }} Noche{{ (content.summary.nights > 1 ? 's' :'') }}  
									| {{ content.summary.nrRooms }} Habitacion{{ (content.summary.nrRooms > 1 ? 'es' :'') }}   
									| {{ content.summary.adults }} adulto{{ (content.summary.adults > 1 ? 's' :'') }} 
									<span ng-if=" content.summary.children > 0"> 
									| {{ content.summary.children }} niño{{ (content.summary.children > 1 ? 's' :'') }}
									</span>
									</span>
								</div>

							</div>

						</div>
						<div class="block-payment-data">
							<div class="payment-data-value">Datos de pago</div>
							<div class="text-right">Nombre Comprador: <span class="payment-data-value">
							{{ content.passengers[0].names }}
							{{ content.passengers[0].surnames }}

						</span></div>
							<div class="text-right">Rut/Pasaporte: <span class="payment-data-value">								  {{ ((content.passengers[0].identifier.identifierClass === 'RUT') ?  content.passengers[0].identifier.number+'-'+content.passengers[0].identifier.validationNumber : content.passengers[0].identifier.number) }}</span></div>
							<div class="text-right">Teléfono de contacto: <span class="payment-data-value">	
						  {{ content.contact.phone.country }}
						  {{ content.contact.phone.code }}
						  {{ content.contact.phone.number }}
						</span>
							</div>
							<div class="text-right">E-Mail: <span class="payment-data-value"> {{ content.contact.email }} </span></div>

						</div>
						<div class="block-summary-data">

							<div class='my-bkg-block-price row'>
								<div class='my-bkg-detail-rate'>
									<div>Pagarás en el hotel (en moneda local)</div>
									<div class="summary-price">
										<span class="summary-price-foreign">US$ {{ content.prices.main | moneyFilter: 2:',':'.' }}</span>
										<span class="summary-price-local"> (${{ content.prices.totalCLP | moneyFilter }})</span>
									</div>
								</div>
							</div>

							<div class='row'>
								Incluye impuestos (VAT)
							</div>
							<div class='row'>
								Otros cargos podrían ser cobrados en el hotel.
							</div>

							<div class="summary-cancellation">
								<div class="cancellation-title">Políticas de cancelación</div>
								<div>{{ getCancellationPolicy(content.roomInfo.cancellationPolicy) }}</div>
							</div>

							<div class="summary-cancellation">
								<div class="cancellation-title">Política de cargos a la tarjeta</div>
								<div ng-bind-html="( getChargePolicy(content.roomInfo) |cRawHtmlFilter )"></div>
							</div>

						</div>
					</div>
				</div>
			</div>
			<!-- -->
		</div>
		<div class='my-bkg-help-info text-center row'>
			<div>
				Soporte: <span>Mail</span> <a href="mailto:hotelesonline@cocha.com ">hotelesonline@cocha.com</a> | <span>Anexos</span> Paulina Vega: 1282 Pilar Ramirez: 1015 Nataly Mardones: 1338
			</div>
		</div>
	</div>

</div>
<!-- --------------------- SABRE ------------------------>

<!-- --------------------- EAN ------------------------>
<div class="loader-background" ng-cloak ng-if="content.supplier === 'EAN' || content.supplier === 'EANPKGR'">
	<div class="container">
		<div class="row booking-content">
			<div class="col-md-7 col-sm-12">
				<div class="main-title">
					<span>Confirmación de pago y reserva</span>
				</div>
				<div class="reservation-panel ">
					<span class='passenger-content message-confirmation '>

La reserva ha sido confirmada y el cargo se ha aplicado a tu tarjeta en <span ng-if="content.prices.currency === 'CLP'">pesos</span><span ng-if="content.prices.currency === 'USD'">dólares</span>. <br> Utiliza el código de reserva como referencia si te pones en contacto con el servicio de atención al cliente.<br> Teléfono de Atención al cliente : (56 2) 2 464 1300

					</span>
				</div>

				<div class="reservation-panel">
					<div class="passenger-title">
						<span>Información del Hotel</span>
					</div>
					<span class='passenger-content'>
					  <div class='col-md-2 col-lg-2 col-sm-2 col-xs-2' >
					    <img  class='confirmation-hotel-img' src="{{ content.availabilityData.hotelImages.hotelImage[0].url }}">
					  </div>
					  <div class='col-md-10 col-lg-10 col-sm-10 col-xs-10' >
                        <div  class='confirmation-hotel-name'>{{ content.availabilityData.hotelName }}</div>
                        <div>
                          <div>
                          {{ content.availabilityData.hotelCity }}, {{ content.availabilityData.hotelCountry }}
                          ({{ content.availabilityData.hotelAddress }})
                          </div>
                          <div ng-if="content.hotelPhone != ''">
                            (Teléfono : {{ content.hotelPhone }})
                          </div>                          
                          <div>
                          {{ content.availabilityData.hotelDetails.locationDescription }}
                          </div>
                        </div>
					  </div>
			        </span>
				</div>

				<div class="reservation-panel" ng-repeat="passenger in content.passengers">
					<div class="passenger-title">
						<span>Datos Pasajero</span>
					</div>
					<div class="passenger-content">
						<div class="spacer-10"></div>
						<div class="col-md-12 col-sm-12">
							<div class="content-input-container">
								<div class="col-md-6 col-sm-6 no-padding">
									<div class="col-md-5 col-sm-5 field-name-container">
										<span class="field-name">Nombres</span>
									</div>
									<div class="col-md-7 col-sm-7">
										<input class="content-input-confirmation" ng-model="passenger.names" disabled/>
									</div>
								</div>
								<div class="col-md-6 col-sm-6 no-padding">
									<div class="col-md-5 col-sm-5 field-name-container">
										<span class="field-name">Apellidos</span>
									</div>
									<div class="col-md-7 col-sm-7">
										<input class="content-input-confirmation" ng-model="passenger.surnames" disabled/>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-12 col-sm-12">
							<div class="content-input-container">
								<div class="col-md-6 col-sm-6 no-padding">
									<div class="col-md-5 col-sm-5 field-name-container">
										<span class="field-name">{{passenger.identifier.identifierClass | cTranslationFilter:'code':'es'}}</span>
									</div>
									<div class="col-md-7 col-sm-7">
										<div class="content-input-confirmation">
											{{ ((content.passengers[$index].identifier.identifierClass === 'RUT') ? content.passengers[$index].identifier.number+'-'+content.passengers[$index].identifier.validationNumber : content.passengers[$index].identifier.number) }}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="reservation-panel">
					<div class="passenger-title">
						<span>Datos de contacto</span>
					</div>
					<div class="passenger-content">
						<div class="spacer-10"></div>
						<div class="col-md-12 col-sm-12">
							<div class="content-input-container">

								<div class="col-md-6 col-sm-6 no-padding">
									<div class="col-md-5 col-sm-5 field-name-container">
										<span class="field-name">Email</span>
									</div>
									<div class="col-md-7 col-sm-7">
										<input class="content-input-confirmation" ng-model="content.contact.email" disabled/>
									</div>
								</div>
								<div class="col-md-6 col-sm-6 no-padding">
									<div class="col-md-5 col-sm-5 field-name-container">
										<span class="field-name">Teléfono</span>
									</div>
									<div class="col-md-7 col-sm-7">
										<input class="content-input-confirmation" value="{{content.contact.phone.number}}" disabled/>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="reservation-panel">
					<div class="passenger-title">
						<span>
						Política de Cancelación
					</span>
					</div>
					<div class="passenger-content message-confirmation">
						<span>
					  	{{ content.cancellationPolicy }}
					  </span>
					</div>
				</div>

				<div class="alert alert-green">
					Recuerda revisar la documentación necesaria para viajar al destino. Para más detalles ingresa a nuestra página de
					<a target="_blank" href="http://internet.cocha.com/documentacion-viajeros/documentacion-de-viaje.html" class="text-underline">Documentación</a>.
				</div>
				<div class="col-md-5 col-md-offset-7 hide-sm" ng-click="goToHome()">
					<button class="btn-block go-home">
						Volver al home
					</button>
				</div>
			</div>
			<div class="col-md-4 col-md-offset-1 col-sm-12">
				<div class="pnr-container">
					<div class="col-md-12 col-sm-12 pnr-text">
						<span>código de
						</span>
						<br>
						<span>reserva
						</span>
					</div>
					<div class="col-md-6 col-sm-6 no-padding pnr-code-container">
						<div class="wrap">
							<div class="arrow-code">
							</div>
							<div class="pnr-code">
								<span>
									{{content.pnr}}
								</span>
							</div>

						</div>
					</div>
				</div>
				<!-- -->
				<div class="main-title">
					<span>Resumen de la reserva</span>
				</div>
				<div class="flight-summary-panel col-md-12 col-sm-12">
					<div ng-if="content.arrival" class="confirmation-header col-md-12 col-sm-12">
						<div class="left col-md-6 col-sm-6 no-padding">
							<span class="title">Llegada</span>
							<br>
							<span class="hour">{{content.arrival | dateFormatFilter:'hotel-date'}}</span>
						</div>
						<div class="right col-md-6 col-sm-6 no-padding">
							<span class="title">Salida</span>
							<br>
							<span class="hour">{{content.departure | dateFormatFilter: 'hotel-date'}}</span>
						</div>
					</div>
					<div class="confirmation-header col-md-12 col-sm-12 ">
						<div class='title-reservation-rooms'>
							Habitaciones:
						</div>
					</div>
					<div class="confirmation-body col-md-12 col-sm-12 no-padding">
						<div class="confirmation-connection" ng-repeat="passenger in content.passengers">
							<div class=''>
								Habitación {{ $index + 1 }} : {{ content.availabilityData.hotelRoomResponse.roomTypeDescription }}
							</div>
							<div class=''>
								Pasajero: {{ passenger.names }} {{ passenger.surnames }}<br> Adultos: {{ content.rooms[$index].adults }}<br> Niños: {{ content.rooms[$index].children }}
							</div>
						</div>
					</div>


					<div class="confirmation-header col-md-12 col-sm-12 col-xs-12">
						<div class="col-md-6 col-sm-6 col-xs-6 summary-total-title">
							<span class='reservation-summary-title'>Total:</span>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-6">
							<span class="reservation-summary-total-price-usd">
							  {{content.prices.main | cPriceFilter:content.prices.currency}}
							</span>
							<span class="reservation-summary-total-price-clp" ng-if="!isNaN(content.exchange)">
							  ({{content.prices.main | USDtoCLPFilter: content.exchange}})				  
							</span>
						</div>
					</div>


				</div>
				<!-- -->
			</div>


		</div>
	</div>
</div>

<!-- --------------------- EAN ------------------------>

<div class="loader-background" ng-if="view.isBooking" ng-cloak>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 loader-container">
				<div class="center-loader">
					<main-loader color="'black no-plane'" message1="'Un momento por favor'" message2="'estamos reservando su hotel.'"></main-loader>
				</div>
			</div>
			<!--div class="col-md-12 col-sm-12">

				<div class="spacer-110">
				</div>
				<div class="preloader">
					<div class="preloader-animation">
						<div class="preloader-satellite"></div>
						<div class="preloader-earth"></div>
					</div>

					<div class="preloader-caption">
						<p class="cleared-row phrase">Un momento,</p>
						<p class="cleared-row phrase">estamos reservando su hotel.</p>
					</div>
				</div>
			</div-->
		</div>
	</div>
</div>
<div class="footer-background" ng-cloak ng-if="B2BUser === null">
	<div class="container">
		<div class="row">
			<div class="col-lg-9 col-md-8 col-sm-8 no-padding footer-left">
				<img src="img/shared/logo-medium-cocha.png" class="footer-logo" alt="logo cocha">
			</div>
			<div class="col-lg-3 col-md-4 col-sm-4 no-padding footer-right">
				<div class="footer-help">
					<div class="title">
						<span>¿Necesitas Ayuda?</span>
					</div>
					<div class="col-lg-1 col-md-1 col-sm-1 no-padding phone-img">
					</div>
					<div class="col-lg-7 col-md-6 col-sm-6 phone">
						(56 2) 2464 1300
					</div>
					<div class="col-lg-1 col-md-1 col-sm-1 separator">
					</div>
					<div class="col-lg-3 col-md-4 col-sm-4 no-padding">
						<div class="mobile">
							<span>&nbsp;*1300</span>
						</div>
						<div class="mobile-img">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>