<div class="header fix-header" ng-cloak ng-if="content.B2Buser===null">
	<div class="container">
		<div class="row">
			<div class="col-lg-9 col-md-8 col-sm-8 no-padding header-left">
				<img src="img/shared/logo-medium-cocha.png" class="header-logo" alt="logo cocha">
			</div>
			<div class="col-lg-3 col-md-4 col-sm-4 no-padding header-right">
				<div class="header-help">
					<div class="col-lg-1 col-md-1 col-sm-1 no-padding phone-img">
					</div>
					<div class="col-lg-7 col-md-6 col-sm-6 phone">
						(56 2) 2464 1300
					</div>
					<div class="col-lg-1 col-md-1 col-sm-1 separator">
					</div>
					<div class="col-lg-3 col-md-4 col-sm-4 no-padding">
						<div class="mobile">
							<span>&nbsp;*1300</span>
						</div>
						<div class="mobile-img">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- LOADER PAY PROCESS -->
<div class="loader-background " ng-cloak>

	<div class="container center-loader">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<!--div class="preloader" ng-if="view.waiting">
					<div class="preloader-animation">
						<div class="preloader-satellite"></div>
						<div class="preloader-earth"></div>
					</div>

					<div class="preloader-caption">
						<p class="cleared-row phrase">Un momento,</p>
						<p class="cleared-row phrase">estamos procesando tu solicitud, por favor no cierres esta ventana</p>
					</div>
				</div-->
				<div class="col-xs-12 loader-container" ng-if="view.waiting">
					<div class="center-loader">
						<main-loader color="'white no-plane'" message1="'Un momento por favor'" message2="'estamos procesando tu solicitud, por favor no cierres esta ventana...'"></main-loader>
					</div>
				</div>

				<div class="error-container col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3" ng-if="!view.waiting">
					<div class="exclamation-container">
						<span class="exclamation">
							!
						</span>
					</div>
					<div class="text-container">
						<!--div class="error-message text-error-payment text-center" ng-if="view.errorDetail.text != '' ">
							Error : {{view.errorDetail.text}}
						</div-->
						<div class="error-title">
							{{view.errorDetail.title}}
						</div>
						<br>
						<span class="error-message" ng-bind-html="(view.errorDetail.text|cRawHtmlFilter)"> 
							
						</span>
						<br>
						<div ng-if="view.errorDetail.isPaymentError">
							<span class="error-message">- Error en el ingreso de los datos de la tarjeta de crédito (fecha y/o código de seguridad).</span>
							<br>
							<span class="error-message">- La tarjeta de crédito no cuenta con el cupo necesario para efectuar la compra.</span>
							<br>
							<span class="error-message">- La tarjeta aún no está habilitada en el sistema financiero.</span>
						</div>

						<!--div class="error-message msg-booking-pt2" ng-if="view.error.bookingError">
							{{view.error.text2}}
						</div-->
						<!--div class="error-message msg-booking-pt3" ng-if="view.error.bookingError">
							{{view.error.text3}}
						</div-->
					</div>
					<div class="col-md-4 col-sm-4 " ng-class="{'col-md-offset-2 col-sm-offset-2':view.errorDetail.actionText!='','col-md-offset-4 col-sm-offset-4':view.errorDetail.actionText==''}">
						<button class="btn btn-cancel" ng-click="view.errorDetail.cancel()">{{view.errorDetail.cancelText}}</button>
					</div>
					<!--div class="col-md-4 col-sm-4" ng-if="view.error.actionText!=''">
						<button class="btn btn-action" ng-click="view.errorDetail.action()">{{view.errorDetail.actionText}}</button>
					</div-->
				</div>
			</div>
		</div>
	</div>
</div>