<div class="results-background" ng-if="!view.blockingFlights.value" ng-cloak>
	<div class="search-info-fixed-background" style="display:none;" id="search-info-fixed-background-id">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="col-xs-12">
						<hotel-search-info has-results="view.loadingResults" callback-fn="getRegionMap()" data="content.search" buttons="true" options="view.filterOptions" edit="view.editSearch" calendar="view.calendarResults" filters="view.filters" mode="view.mode.value" currency="view.currency" filter-fn="filterFn(parameters)" type="'sticky'"></hotel-search-info>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<!--  search box, info box with filters -->
			<div class="col-xs-12" id="search-info-wrapper-container-id">
				<div class="search-info-wrapper col-md-12 col-sm-12 col-xs-12" id="search-info-wrapper-id">
					<hotel-search-info has-results="view.loadingResults" callback-fn="getRegionMap()" data="content.search" buttons="true" options="view.filterOptions" edit="view.editSearch" calendar="view.calendarResults" filters="view.filters" mode="view.mode.value" currency="view.currency" filter-fn="filterFn(parameters)" type="'normal'" full-results="view.fullResults"></hotel-search-info>
				</div>
				<div class="search-box-wrapper-results col-md-12 col-sm-12 col-xs-12" uib-collapse="view.editSearch.value">
					<hotel-search-box data="content.search"></hotel-search-box>
				</div>
			</div>
			<!--  search box, info box -->

			<!-- pagination anchor -->
			<span class='' id='hotel-title'></span>
			<!-- pagination anchor -->

			<!-- hotel result -->

			<!-- 
				has-results="view.loadingResults" sort-data="content.sort" filters-data="content.filters" selected-sort="view.sortOption" number-results="content.numberResults" status="view.loadingResults" results="content.results" sort-options="view.sortingOptions" start-limit="content.filters.start" data="content.search" options="view.filterOptions" edit="view.editSearch" filters="view.filters" mode="view.mode.value" currency="view.currency" filter-fn="filterFn(parameters,sort)" type="'normal'" full-results="view.fullResults"
				-->
			<hotel-result></hotel-result>
			<!-- hotel result -->
			<!-- spinner -->
			<div class='row'>
				<div class="col-xs-12">
					<div class="">
						<!--   -->
						<!--div class="preloader-animation">
							<div class="preloader-earth"></div>
						</div-->
						<!--div class="loader-hotel-search">
							<i class="fa fa-spinner fa-pulse fa-fw loader-hotel-icon"></i>
						</div-->

						<!--"-->
						<div class="col-xs-12 loader-container" ng-hide="!view.loadingResults">
							<div class="center-loader">
								<main-loader color="'white no-plane'" message1="'Un momento por favor'" message2="'buscando hoteles en'"></main-loader>

								<div class='loader-hotel-logos-container'>
									<div class="loader-hotel-logos text-center">
										<span class='logo-container' ng-if="(!view.reservationType && !view.supplierFilter) || view.reservationType ==='prepaid' || view.supplierFilter.indexOf('STAND') > -1 ">
											<img src="img/EAN.png" class='logo1'>
										</span>
										<span class='logo-container' ng-if="(!view.reservationType && !view.supplierFilter) || view.reservationType === 'inhotel' || view.supplierFilter.indexOf('SAB') > -1">
											<img src="img/SAB.png" class='logo2'>
										</span>
										<span class='logo-container' ng-if="(!view.reservationType && !view.supplierFilter) || view.reservationType === 'inhotel'|| view.supplierFilter.indexOf('BKG') > -1">
											<img src="img/BKG.png" class='logo3'>
										</span>
										<span ng-if="view.appType!==1 && ((!view.reservationType && !view.supplierFilter) || view.reservationType === 'prepaid' || view.supplierFilter.indexOf('TRV') > -1 )" class='logo-container '>
											<img src="img/TRV.png" class='logo4'>
										</span>
										<span class='logo-container' ng-if="(!view.reservationType && !view.supplierFilter) || view.reservationType ==='prepaid' || view.supplierFilter.indexOf('EANPKGR') > -1 ">
											<img src="img/EANPKGR.png" class='logo5'>
										</span>
									</div>
								</div>

							</div>
						</div>

						<!--div class="loader-hotel-caption">
							<p class='phrase-wait'>
								Un momento por favor
							</p>
							<p class='phrase-search'>
								buscando hoteles en
							</p>
						</div-->

						<!--div class="preloader-caption ">
							<p class="cleared-row phrase ">
								Un momento por favor
							</p>
						</div-->
					</div>
				</div>
			</div>
			<!-- spinner -->

		</div>
		<div class="grey-background" ng-cloak>
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="loader-disclaimer">
							<ul class="text">
								<li>
									Tarifas sujetas a cambio sin previo aviso y a disponibilidad de espacios al momento de efectuar la reserva.
								</li>
								<li>
									Para compras realizadas en www.cocha.com no aplica derecho a retracto establecido en la ley 19.496 para compras no presenciales.
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="header fix-header" ng-if="view.blockingFlights.value" ng-cloak>
			<div class="container">
				<div class="row">
					<div class="col-lg-9 col-lg-9 col-md-8 col-sm-8 col-xs-8 no-padding header-left">
						<img alt="Logo Cocha" src="img/shared/logo-medium-cocha.png" class="header-logo">
					</div>
					<div class="col-lg-3 col-lg-3 col-md-4 col-sm-4 col-xs-4 no-padding header-right">
						<div class="header-help">
							<div class="col-lg-1 col-lg-1 col-md-1 col-sm-1 col-xs-1 no-padding phone-img"></div>
							<div class="col-lg-7 col-md-6 col-sm-6 col-xs-6 phone">
								(56 2) 2464 1300
							</div>
							<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 separator"></div>
							<div class="col-lg-3 col-md-4 col-sm-4 col-xs-4 no-padding">
								<div class="mobile">
									<span>&nbsp;*1300</span>
								</div>
								<div class="mobile-img"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="loader-background loader-height" ng-if="view.blockingFlights.value" ng-cloak>
			<div class="container center-loader">
				<div class="row">
					<div class="col-xs-12">
						<div class="preloader">
							<div class="preloader-animation">
								<div class="preloader-satellite"></div>
								<div class="preloader-earth"></div>
							</div>

							<div class="preloader-caption result-caption-dark-text">
								<p class="cleared-row phrase">
									Un momento,
								</p>
								<p class="cleared-row phrase">
									estamos confirmando disponibilidad.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>