<div ng-show="view.pageLoader === true " class="results-background">
	<div class='row'>
		<div class="col-xs-12">
			<div class="col-xs-12 loader-container">
				<div class="center-loader">
					<main-loader color="'white no-plane'" message1="'Un momento por favor'"></main-loader>
				</div>
			</div>
			<!--div class="preloader  ">
				<div class="preloader-animation">
					<div class="preloader-earth"></div>
				</div>
				<div class="preloader-caption   ">
					<p class="cleared-row phrase ">
						Un momento por favor
					</p>
				</div>
			</div-->
		</div>
	</div>
</div>
<div class='hotel-details-background' ng-show="view.pageLoader === false ">

	<div class="row">
		<!--div class="hotel-details-category" ng-if="view.hotelRequestData.partner === true ">
			<div class='hand' uib-tooltip-html="( view.textCategory | cRawHtmlFilter)" tooltip-placement="bottom-left">
				<span class="category-text-bold">
					COCHA PREFERRED
				</span>
				<span class="category-text-regular">
					PARTNERS
				</span>
			</div>
		</div-->

		<div class=" col-xs-5 hotel-details-main-info">
			<div class="row">
				<a ui-sref="hotel-results({{ view.hotelSearchData }})" class='btn hotel-detail-back-button btn-general-transparent' ng-if="view.hotelSearchData !== null">
					<i class="cch-arrow-left"></i> Volver a los resultados en {{ view.regionName }}
				</a>
			</div>


			<div class="row" ng-if="(content.hotelInfo|ObjectKeyLength) > 0" ng-class="{'detail-upper-margin':view.hotelRequestData.luxury===false && view.hotelRequestData.smart===false && view.hotelRequestData.style===false && view.hotelRequestData.boutique===false && view.hotelRequestData.corporate===false}">
				<!-- hotel data -->
				<div>
					<h3 class="name-hotel-detail-title hotel-result-name"> <span>{{ content.hotelInfo.name }}</span> </h3>
				</div>
				<div>
					<div class="hotel-rating-star detail-rating-block detail-rating-stars">
						<span class="box-offer-star hotel-rating-stars">
                 		  <uib-rating ng-model="content.hotelInfo.starRating" max="5" data-read-only="true" read-only="true" state-on="'cch-star'" state-off="'cch-star-o'" on-leave="overStar = null"></uib-rating>
               			</span>
					</div>
					<div class="detail-rating-separator">
					</div>
					<div ng-if="content.hotelInfo.tripAdvisorRating != '' && content.hotelInfo.tripAdvisorRating != 0" class="detail-rating-block detail-rating-trip">
						<span class=" hotel-rating-trip" ng-if="content.hotelInfo.tripAdvisorRating != '' && content.hotelInfo.tripAdvisorRating != 0">
	                    <span>
	                    	<trip-advisor-rating mode="'list'" trip-rating="content.hotelInfo.tripAdvisorRating" min='1' max='5' number-reviews="content.hotelInfo.tripAdvisorReviewCount" url="content.hotelInfo.tripAdvisorUrl" ></trip-advisor-rating>
	                    </span>
						</span>
					</div>


				</div>
				<div>
					<div class='hotel-details-address hotel-result-address'>
						<i class="cch-position location-icon"></i> {{ content.hotelInfo.address }} {{ (view.regionName.length > 0 ? ', '+view.regionName :'') }} {{ (content.hotelInfo.country.length > 0 ? ', '+content.hotelInfo.country :'' ) }}</div>
				</div>
			</div>

			<div class="category-list-container">
				<hotel-category categories="view.hotelRequestData.categories">
				</hotel-category>
			</div>

			<div class="row details-main-price-info " ng-if="((content.hotelInfo|ObjectKeyLength) > 0) && content.lowest > 0">
				<div class='hotel-details-hr' ng-if="(view.hotelRequestData.categories | activeCategory )">
				</div>
				<div>
					<div class='hotel-details-price-from'>desde</div>
					<span class='hotel-details-price'> US$ {{ content.lowest | moneyFilter }} </span> <span class="hotel-details-price-clp" ng-if="!isNaN(content.currency)">

({{ content.lowest | USDtoCLPFilter:content.currency }})

				</span>
					<div class='hotel-details-text-price'>Hab/noche
						<br>no incluye impuestos</div>
				</div>
			</div>
			<!--div class="row hotel-details-hr"></div-->
		</div>
		<div class="col-md-6 col-sm-12 col-xs-12">

			<div class="hotel-details-category" ng-if="view.hotelRequestData.categories.partner === true ">
				<div class='hand' uib-tooltip-html="( view.textCategory | cRawHtmlFilter)" tooltip-placement="bottom-right">
					<span class="category-text-bold">
						COCHA PREFERRED
					</span>
					<span class="category-text-regular">
						PARTNERS
					</span>
				</div>
			</div>

			<div class='hotel-details-img-center-cropped' style="background-image: url('{{ getImageName(content.hotelInfo.images[0].url) }}')">
				<!-- img/default_logo2.png -->
				<img background-fallback="{{ content.hotelInfo.images[0].url.length > 0 ? content.hotelInfo.images[0].url : 'https://www.cocha.com/images/default_hotel_img.png'}}" ng-src="{{ (( content.hotelInfo.images[0].url.length > 0 ) ? getImageName(content.hotelInfo.images[0].url) : 'error.jpg' ) }}" class='img-dummy-fallback'>
				<div class='gallery-btn-div'>
					<a href="#" class="btn btn-transparent-black btn-details-gallery" ng-click="openGallery()"> Ver Galería Fotográfica</a>
				</div>
			</div>
		</div>
	</div>
	<div class='row'>

	</div>
	<div class='hotel-details-intro-div'>

		<div class="col-xs-12 no-padding view-offers-container-container" ng-if="(content.hotelInfo|ObjectKeyLength) > 0 ">
			<div class="view-offers-container">
				<div class="view-offers hand hotel-details-content-background" smooth-scroll="hidden-detail-container-id" ng-click="goToHotelDetails()">

					<span class="view-offers-text">
                                Conoce este hotel
                            </span>
					<div class="chevron-container">
						<span class="glyphicon glyphicon-chevron-down">
                                </span>
					</div>
				</div>
			</div>
		</div>

	</div>
	<div class='row hotel-details-content-background'>

		<div class='row about-this-hotel ' id='hidden-detail-container-id'>

			<span class='hotel-details-content-separator col-lg-4 col-md-4 col-md-offset-1 col-sm-hidden col-xs-hidden'>

			</span>
			<span class='hotel-details-about-text col-lg-2 col-md-2 col-sm-12 col-xs-12'>
				Sobre el hotel
				
			</span>
			<span class='hotel-details-content-separator col-lg-4 col-md-4 col-sm-hidden col-xs-hidden'>

			</span>

		</div>

		<div class='row recommended-list'>
			<div class='col-xs-offset-1 col-xs-11 detail-recommended-title' ng-if="view.hotelRequestData.categories.luxury===true || view.hotelRequestData.categories.smart===true || view.hotelRequestData.categories.style===true || view.hotelRequestData.categories.boutique===true || view.hotelRequestData.categories.corporate===true ">
				COCHA recomienda
			</div>
			<div class="col-xs-offset-1 col-xs-11">

				<div class='col-xs-6 category-list' ng-if="view.hotelRequestData.categories.corporate===true">
					<div class='hotel-category-container hand'>
						<div class='category-icon-container'>
							<i class='cch-executive'></i>
						</div>
						<div class='category-text-container'>
							ejecutivo
						</div>
					</div>
					<div class='hotel-category-description'>Excelente combinación de precio, comodidad, ubicación y tecnología</div>
				</div>
				<div class='col-xs-6 category-list' ng-if="view.hotelRequestData.categories.luxury===true">
					<div class='hotel-category-container hand'>
						<div class='category-icon-container'>
							<i class='cch-luxury'></i>
						</div>
						<div class='category-text-container'>
							lujo
						</div>
					</div>
					<div class='hotel-category-description'>Elegancia, sobriedad y glamour, con un servicio de excelencia y lleno de detalles</div>
				</div>
				<div class='col-xs-6 category-list' ng-if="view.hotelRequestData.categories.smart===true">
					<div class='hotel-category-container hand'>
						<div class='category-icon-container'>
							<i class='cch-economic'></i>
						</div>
						<div class='category-text-container'>
							económico
						</div>
					</div>
					<div class='hotel-category-description'>La mejor combinación precio/calidad, en lugares estratégicos con alta conectividad</div>
				</div>
				<!--div class='col-xs-6 category-list' ng-if="view.hotelRequestData.categories.style===true">
					<div class='hotel-category-container hand'>
						<div class='category-icon-container'>
							<i class='cch-vanguard'></i>
						</div>
						<div class='category-text-container'>
							vanguardia
						</div>
					</div>
					<div class='hotel-category-description'>No siguen la moda, sino que la imponen; decoración y espacios que dan que hablar</div>
				</div-->
				<div class='col-xs-6 category-list' ng-if="view.hotelRequestData.categories.boutique===true">
					<div class='hotel-category-container hand'>
						<div class='category-icon-container'>
							<i class='cch-boutique'></i>
						</div>
						<div class='category-text-container'>
							boutique
						</div>
					</div>
					<div class='hotel-category-description'>Personalidad única con tamaño reducido, y acento en la decoración de los ambientes.</div>
				</div>

			</div>
		</div>


		<div class='row hotel-details-map '>
			<!-- detalle mapa -->
			<div>

				<div class="detail-map" id="hotel-map" ng-class="showMap">
					<!--  smooth-scroll="hotel-map" -->
					<!--div class="layer-map-black" id="btn-map" ng-click="showMap='view-map'" -->
					<div class="layer-map-black" id="btn-map" ng-click="getHotelMap(content.hotelInfo.id,content.hotelInfo.name, content.hotelInfo.latitude, content.hotelInfo.longitude, content.hotelInfo.starRating, content.hotelInfo.address)">
						<i class="cch-arrow-up"></i>
						<i class="cch-position"></i>
						<span class="map-ubication">Ubicación y atracciones cercanas</span>
						<i class="cch-arrow-down"></i>
					</div>
					<!--div id="close-map" ng-click="showMap=''">Cerrar x</div-->


					<div>
						<div ng-if=" (content.hotelInfo|ObjectKeyLength) > 0 ">
							<ng-map id="map2" center="[{{ content.hotelInfo.latitude }},{{ content.hotelInfo.longitude }}]" zoom="13" default-style="false" style="height:410px">
								<marker position="[{{ content.hotelInfo.latitude }},{{ content.hotelInfo.longitude }}]"></marker>
								<!--marker ng-repeat="point in view.closestPoints" icon="{url: 'img/marker1.png', scale: 10}" position="{{point.latitude}}, {{point.longitude}}"></marker-->
								<custom-marker ng-repeat="point in view.closestPoints track by $index" id="custom-marker-{{$index}}" position="[{{point.latitude}}, {{point.longitude}}]" on-click="showDetail(point,$index)">
									<div class='hotel-details-marker'>
										<div class='hotel-details-text-marker'>
											{{ $index + 1 }}
										</div>
									</div>
								</custom-marker>
								<!--info-window id="info-{{ $index }}">
									<div ng-non-bindable="">
										{{ $index }}
									</div>
								</info-window-->
							</ng-map>

						</div>
					</div>
				</div>
			</div>

			<!-- detalle mapa -->
		</div>
		<!--div ng-if="showMap==='view-map'">
			<p class="interest-points-list">
				Puntos de Interés:
			</p>
			<div ng-repeat="point in view.closestPoints track by $index" class="interest-points-list">
				{{ $index+1 }}.- {{ point.regionName }} <span class='interest-point-distance'>(a {{ point.distance|moneyFilter: 2 }} km.)</span>
			</div>
		</div-->
		<!-- mapa  -->

		<!-- habitaciones disponibles -->
		<div class='row list-available-rooms '>
			<span class='hotel-details-content-separator col-lg-3 col-md-3 col-md-offset-1 col-sm-hidden col-xs-hidden'>
            </span>
			<span class='hotel-details-available-rooms-text col-lg-4 col-md-4 col-sm-12 col-xs-12'>
                Habitaciones Disponibles
            </span>
			<span class='hotel-details-content-separator col-lg-3 col-md-3 col-sm-hidden col-xs-hidden'>
            </span>
		</div>

		<div class='row container-hotel-details-filters no-padding'>
			<!-- filters -->
			<!--hotel-details-filters default-values="content.defaultValues" hotel-info="content.hotelInfo" mode="'normal'"></hotel-details-filters-->
			<hotel-details-filters default-values="" hotel-info="content.hotelInfo" mode="'normal'"></hotel-details-filters>
			<!-- filters -->
		</div>

		<div class='row container-hotel-details-rooms' ng-if="content.defaultValues != null">


			<!-- preloader -->
			<div class='row spinner-hotel-details' ng-if="view.detailsLoader === true">
				<div class="col-xs-12 loader-container">
					<div class="center-loader">
						<main-loader color="'black no-plane'" message1="'Un momento por favor'"></main-loader>
					</div>
				</div>
				<!--div class="preloader">
					<div class="preloader-animation">
						<div class="preloader-earth">
						</div>
					</div>
					<div class="preloader-caption text-center">
						<p class="room-loader-caption">Un momento por favor</p>
					</div>
				</div-->
			</div>
			<!-- preloader -->

			<hotel-rooms data='content.rooms' rooms-supplier="content.roomsBySupplier" hotel-id='content.hotelInfo.id' callback-fn="checkout(flagBooking,room,roomPosition,hotelPosition)" quote-fn="saveQuote(flagBooking,room,roomPosition,hotelPosition, doneFn)" mode="'detail'" is-preferred="view.hotelRequestData.partner"></hotel-rooms>
		</div>
		<!-- habitaciones disponibles -->

		<!-- informaciones adicionales -->
		<div class='col-xs-12'>

			<div class='row hotel-details-additional-info-title '>
				<span class='hotel-details-content-separator col-lg-3 col-md-3 col-md-offset-1 col-sm-hidden col-xs-hidden'>
            </span>
				<span class='hotel-details-additional-info-text col-lg-4 col-md-4 col-sm-12 col-xs-12'>
                Informacion Adicional
            </span>
				<span class='hotel-details-content-separator col-lg-3 col-md-3 col-sm-hidden col-xs-hidden'>
            </span>
			</div>

			<div class='row additional-text'>

				<uib-tabset active="activeJustified" ng-if=" (content.hotelInfo|ObjectKeyLength)>0 ">
					<uib-tab index="0" heading="Servicios del hotel">
						<div class='col-lg-3 col-md-3 col-md-offset-1 col-sm-12 col-xs-12 '>
							<ul ng-repeat="service in content.services" class='details-list-services' ng-if="$index <= (content.services.length/3) ">
								<li>{{ service.attribute.description }}<span ng-if=" service.text !=='' ">: {{ service.text }} </span></li>
							</ul>
						</div>
						<div class='col-lg-3 col-md-3 col-sm-12 col-xs-12'>
							<ul ng-repeat="service in content.services" class='details-list-services' ng-if="($index >= ((content.services.length/3)+1)) && ($index <= (content.services.length/3)*2) ">
								<li>{{ service.attribute.description }}<span ng-if=" service.text !=='' ">: {{ service.text }} </span></li>
							</ul>
						</div>
						<div class='col-lg-3 col-md-3 col-sm-12 col-xs-12'>
							<ul ng-repeat="service in content.services" class='details-list-services' ng-if="($index >= ((content.services.length/3)*2) +1) && ($index <= content.services.length) ">
								<li>{{ service.attribute.description }}<span ng-if=" service.text !=='' ">: {{ service.text }} </span></li>
							</ul>
						</div>
					</uib-tab>
					<uib-tab index="1" heading="Horarios">
						<!--
						<div class='details-section col-lg-5 col-md-5 col-sm-12 col-xs-12 col-md-offset-1'>
							<div class='details-section-title '>Horarios </div>
							<div class='hotel-details-section-separator'> </div>
							<div class='details-section-content'>
								<div class=' spacer-30'>
									<span class='col-sm-2 col-xs-3 details-highlighted-text'>Check-in</span>
									<span class='col-xs-1'><i class='cch-clock'></i></span>
									<span class='col-sm-4 col-xs-5 details-light-text'>desde las {{ content.hotelInfo.checkInTime }}</span>
								</div>
								<div class=' spacer-30'>
									<span class='col-sm-2 col-xs-3 details-highlighted-text'>Check-out</span>
									<span class='col-xs-1'><i class='cch-clock'></i></span>
									<span class='col-sm-4 col-xs-5 details-light-text'>desde las {{ content.hotelInfo.checkOutTime }}</span>
								</div>
							</div>
						</div>						
						-->
						<div class="row check-in-info-container">

							<div class="col-xs-5 col-xs-offset-1 text-right check-in-time " ng-hide="!content.hotelInfo.checkInTime && !content.hotelInfo.checkOutTime">
								<span class='details-light-text' ng-if="content.hotelInfo.checkInTime.length > 0">
									Check-in desde
									<span class='details-strong-text'>{{ content.hotelInfo.checkInTime }}</span>
								</span>
								<span class='details-light-text' ng-if="!content.hotelInfo.checkInTime.length">
									Sin información de Check-in disponible
								</span>
							</div>
							<div class="check-in-separator" ng-hide="!content.hotelInfo.checkInTime && !content.hotelInfo.checkOutTime">
							</div>
							<div class="col-xs-5 check-out-time" ng-hide="!content.hotelInfo.checkInTime && !content.hotelInfo.checkOutTime">
								<span class='details-light-text' ng-if="content.hotelInfo.checkOutTime.length > 0">
									Check-out hasta
									<span class='details-strong-text'>{{ content.hotelInfo.checkOutTime }}</span>
								</span>
								<span class='details-light-text' ng-if="!content.hotelInfo.checkOutTime.length">
									Sin información de Check-out disponible
								</span>
							</div>
							<div class='col-xs-12 text-center' ng-if="!content.hotelInfo.checkInTime && !content.hotelInfo.checkOutTime">
								<span class="details-light-text">
									Sin información disponible.
								</span>
							</div>

						</div>
					</uib-tab>
					<uib-tab index="2" heading="Condiciones">
						<div class="row">
							<div class="col-md-10 col-xs-12 col-md-offset-1  ">
								<h4>Condiciones de la reserva</h4>

								<p>Se te pedirá un documento de identidad con foto cuando llegues al hotel. No garantizamos el tipo de cama y las preferencias de fumador o no. Al pagar la reserva la tarifa incluye el precio de la habitación, los impuestos y las tasas de reserva, sin embargo en algunos destinos existen cargos que se deben pagar directamente al hotel, tales como Impuestos Municipales o Resort Fee. Cualquier gasto adicional por concepto de aparcamiento, llamadas telefónicas y servicio de habitaciones deben cancelarse directamente al hotel.</p>

								<h4>Instrucciones de Check-in</h4>
								<p>Puede aplicarse un recargo por cada persona adicional, según la política del hotel. Se requiere un documento de identidad emitido por las autoridades gubernamentales con foto y una tarjeta de crédito o depósito en efectivo a la llegada para cubrir cualquier gasto imprevisto. Las peticiones especiales no se pueden garantizar, están sujetas a disponibilidad en el momento de la llegada y pueden suponer recargos adicionales. Cabe destacar que los hoteles cuentan con sus propias políticas de edad para los titulares de las habitaciones, donde por lo general parte desde los 18 o 21 años. Es de responsabilidad de los pasajeros informarse sobre este tipo de restricciones.</p>

								<h4>Consideraciones generales</h4>

								<ul>
									<li>Los precios mostrados no incluyen impuestos ni tasas de servicio</li>
									<li>Para compras realizadas en www.cocha.com no aplica derecho a retracto establecido en la ley 19.496 para compras no presenciales</li>
									<li>Para este hotel rigen las Condiciones Generales de nuestro sitio web</li>
								</ul>
								<a class='link-terms-and-conditions' href="http://cms.cocha.com/terminos-y-condiciones" target="_blank">Condiciones Generales</a>
							</div>
						</div>
					</uib-tab>
					<uib-tab index="3" heading="Cargos a pagar en el hotel" select="searchCharges()">
						<div class="col-md-10 col-xs-12 col-md-offset-1">
							<h4><b>Descripción de Cargos</b></h4>
							<p>
								<div class="row col-md-12 text-center" ng-if="view.chargeLoader === true">
									<img class='charge-loader' src='img/loader.gif'>
								</div>
								<div class="row col-md-12" ng-if="view.chargeLoader === false" ng-bind-html=' view.charges|cRawHtmlFilter '>

								</div>
							</p>
						</div>
					</uib-tab>
					<uib-tab index="4" heading="Formas de pago">
						<!-- ng-if="!content.B2Buser" -->
						<div class="col-xs-11 col-md-offset-1 " ng-if="!content.B2Buser">
							<span class='col-xs-3'> 
                                <img class='paymentLogo' src="img/webpay.png">                                
                            </span>
							<span class='col-xs-3'>
                                <img class='paymentLogo' src="http://cms.cocha.com/images/mobile/payments/ripley.png">
                            </span>
							<span class='col-xs-3'>
                                <img class='paymentLogo' src="http://cms.cocha.com/images/mobile/payments/santanderenlinea.png">
                            </span>
							<span class='col-xs-3'>
                                <img class='paymentLogo' src="http://cms.cocha.com/images/mobile/payments/bancodechile.png">
                            </span>
						</div>
						<div class='col-xs-12 text-center' ng-if="content.B2Buser.length > 1">
							<img class='paymentLogo img-responsive' src="img/transbank.png">
						</div>
					</uib-tab>

				</uib-tabset>


			</div>

		</div>
		<!-- informaciones adicionales -->
	</div>
	<!-- content -->


</div>


</div>