<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 background map-loader" ng-show="view.loading===true ">
	<div class="preloader">
		<div class="preloader-animation">
			<div class="preloader-earth">
			</div>
		</div>
		<div class="preloader-caption">
			<p class="cleared-row phrase">Un momento por favor</p>
		</div>
	</div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<div class='region-map'>
		<div id="div-hotel-map" ng-class="{{ view.option }}">
		</div>
	</div>
</div>