<!--div ng-class="!view.isBooking ? 'header' : 'header fix-header'" ng-cloak>
<div class="container">
<div class="row">
<div class="col-lg-9 col-md-8 col-sm-8 col-xs-8 no-padding header-left">
<img src="img/shared/logo-medium-cocha.png" class="header-logo" alt="logo cocha">
</div>
<div class="col-lg-3 col-md-4 col-sm-4 col-xs-4 no-padding header-right">
<div class="header-help">
<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 no-padding phone-img">
</div>
<div class="col-lg-7 col-md-6 col-sm-6 col-xs-6 phone">
(56 2) 2464 1300
</div>
<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 separator">
</div>
<div class="col-lg-3 col-md-4 col-sm-4 col-xs-4 no-padding">
<div class="mobile">
<span>&nbsp;*1300</span>
</div>
<div class="mobile-img">
</div>
</div>
</div>
</div>
</div>
</div>
</div-->
<div class="reservation-background" ng-cloak>

	<div ng-show="view.pageLoader === true ">

		<div class='row'>
			<div class="col-xs-12">
				<!--div class="preloader  ">
					<div class="preloader-animation">
						<div class="preloader-earth"></div>
					</div>
					<div class="preloader-caption   ">
						<p class="cleared-row phrase reservation-text ">
							Un momento por favor
						</p>
					</div>
				</div-->
				<div class="col-xs-12 loader-container">
					<div class="center-loader">
						<main-loader color="'black no-plane'" message1="'Un momento por favor'"></main-loader>
					</div>
				</div>
			</div>
		</div>

	</div>


	<div class="container" ng-if="!view.isBooking && !view.pageLoader ">
		<div class="booking-content">
			<div class="col-md-7 col-sm-12 col-xs-12">
				<div class="main-title">
					<span class="reservation-text">Información de los pasajeros</span>
				</div>

				<div class="reservation-panel" ng-repeat="passenger in content.passengers">
					<div class="passenger-title">
						<span class="title">Habitación {{ $index+1 }} </span>
					</div>
					<div class="passenger-content">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="content-title-container">
								<span class="regular">Nombres y Apellidos</span>
							</div>
							<div class="content-input-container">
								<div ng-class="{'col-xs-6':content.generalData.supplier==='EAN' || content.generalData.supplier==='EANPKGR','col-xs-4':content.generalData.supplier==='SAB' || content.generalData.supplier==='TRV'}">
									<input class="content-input" ng-model="content.passengers[$index].names" type="text" placeholder="Nombres" ng-change="content.passengers[$index].names = cleanName(content.passengers[$index].names)" tabindex="{{$index + 1}}1" ng-focus="view.focus.names[$index] = true" ng-blur="view.focus.names[$index] = false" />
									<div ng-class="view.focus.names[$index] ? 'content-input-underline-focus' : 'content-input-underline'"></div>
									<div ng-show="(view.errors.passengersErrors[$index].nameNotSet || view.errors.passengersErrors[$index].nameInvalid)" class="content-input-underline-error"></div>
									<img ng-src="img/error-cocha.png" class="warning-off" ng-class="{'warning-on': (view.errors.passengersErrors[$index].nameNotSet || view.errors.passengersErrors[$index].nameInvalid)}">
								</div>
								<div ng-class="{'col-xs-6':content.generalData.supplier==='EAN' || content.generalData.supplier==='EANPKGR','col-xs-4':content.generalData.supplier==='SAB' || content.generalData.supplier==='TRV'}">
									<input class="content-input" ng-model="content.passengers[$index].surnames" type="text" placeholder="{{ (content.generalData.supplier ==='EAN' || content.generalData.supplier ==='EANPKGR') ? 'Apellidos' : 'Apellido Paterno'}}" ng-change="content.passengers[$index].surnames = cleanName(content.passengers[$index].surnames)" tabindex="{{$index + 1}}2" ng-focus="view.focus.surnames[$index] = true" ng-blur="view.focus.surnames[$index] = false" />
									<div ng-class="view.focus.surnames[$index] ? 'content-input-underline-focus' : 'content-input-underline'"></div>
									<div ng-show="(view.errors.passengersErrors[$index].surnamesNotSet || view.errors.passengersErrors[$index].surnamesInvalid)" class="content-input-underline-error"></div>
									<img ng-src="img/error-cocha.png" class="warning-off" ng-class="{'warning-on': (view.errors.passengersErrors[$index].surnamesNotSet || view.errors.passengersErrors[$index].surnamesInvalid)}">
								</div>
								<div ng-if="content.generalData.supplier==='SAB' || content.generalData.supplier==='TRV'" class="col-xs-4">
									<input class="content-input" ng-model="content.passengers[$index].lastname" type="text" placeholder="{{ (content.generalData.supplier ==='EAN' || content.generalData.supplier ==='EANPKGR') ? 'Apellidos' : 'Apellido Materno'}}" ng-change="content.passengers[$index].lastname = cleanName(content.passengers[$index].lastname)" tabindex="{{$index + 1}}2" ng-focus="view.focus.lastname[$index] = true" ng-blur="view.focus.lastname[$index] = false" />
									<div ng-class="view.focus.lastname[$index] ? 'content-input-underline-focus' : 'content-input-underline'"></div>
									<div ng-show="(view.errors.passengersErrors[$index].lastnameNotSet || view.errors.passengersErrors[$index].lastnameInvalid)" class="content-input-underline-error"></div>
									<img ng-src="img/error-cocha.png" class="warning-off" ng-class="{'warning-on': (view.errors.passengersErrors[$index].lastnameNotSet || view.errors.passengersErrors[$index].lastnameInvalid)}">
								</div>
							</div>
						</div>

						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="content-title-container">
								<span class="regular">Documento de viaje</span>
							</div>
							<div class="content-input-container">
								<div ng-class="passenger.identifier.identifierClass === 'PP'? 'col-md-2 col-sm-2 col-xs-2' : 'col-md-6 col-sm-6 col-xs-6'">
									<div class="btn-group">
										<div class="select-type" ng-keydown="selectFirstOption($event, 'document-option-id-0-', 'document', $index)" tabindex="{{$index + 1}}7" id="document-select-id-{{$index}}" ng-click="toogleOptions($index, $event, 'document')" ng-focus="view.focus.document[$index] = true" ng-blur="view.focus.document[$index] = false">
											{{passenger.identifier.identifierClass | cTranslationFilter:'code':'es'}}
										</div>
										<div class="option-container option-container-no-overflow" uib-collapse="view.collapse.document[$index]">
											<div class="option" id="document-option-id-{{$index}}-{{$parent.$index}}" ng-repeat="document in view.options.identifier" ng-click="setIdentifier(passenger, document, $parent.$index)" ng-keydown="moveOnOptions($event, $index, $parent.$index, 'document-select-id-', 'document-option-id-', 'setIdentifier', passenger, document, $parent.$index)" tabindex="{{$index + 500}}">
												{{document.value}}
											</div>
										</div>
										<div ng-class="view.focus.document[$index] ? 'content-input-underline-focus' : 'content-input-underline'"></div>
										<div ng-if="view.errors.passengersErrors[$index].identifierClassNotSet" class="content-input-underline-error"></div>
									</div>
									<img ng-src="img/error-cocha.png" class="warning-off" ng-class="{'warning-on': view.errors.passengersErrors[$index].identifierClassNotSet}">
								</div>
								<div class="col-md-4 col-sm-4 col-xs-4" ng-show="passenger.identifier.identifierClass === 'PP'">
									<div class="btn-group">
										<div class="select-type" ng-keydown="selectFirstOption($event, 'country-option-id-0-', 'country', $index)" ng-click="toogleOptions($index, $event, 'country')" tabindex="{{$index + 1}}8" id="country-select-id-{{$index}}" ng-focus="view.focus.country[$index] = true" ng-blur="view.focus.country[$index] = false">
											{{passenger.identifier.country ? getCountryName(passenger.identifier.country) : 'País de emisión'}}
										</div>
										<div class="option-container" uib-collapse="view.collapse.country[$index]">
											<div class="option-country" id="country-option-id-{{$index}}-{{$parent.$index}}" ng-repeat="country in view.options.country" ng-click="setIdentifierCountry(passenger, country, $parent.$index)" ng-keydown="moveOnOptions($event, $index, $parent.$index, 'country-select-id-', 'country-option-id-', 'setIdentifierCountry', passenger, country, $parent.$index)" tabindex="{{$index + 600}}">
												<div class="option-text">
													{{country.name}}
												</div>
											</div>
										</div>
										<div ng-class="view.focus.country[$index] ? 'content-input-underline-focus' : 'content-input-underline'"></div>
										<div ng-if="view.errors.passengersErrors[$index].identifierCountryNotSet" class="content-input-underline-error"></div>
									</div>
									<img ng-src="img/error-cocha.png" class="warning-off" ng-class="{'warning-on': view.errors.passengersErrors[$index].identifierCountryNotSet}">
								</div>
								<div class="col-md-6 col-sm-6 col-xs-6">
									<input class="content-input" type="text" placeholder="N° de {{passenger.identifier.identifierClass | cTranslationFilter:'code':'es'}}" ng-model="view.passengersIds[$index]" ng-change="view.passengersIds[$index] = formatId(view.passengersIds[$index], passenger)" tabindex="{{$index + 1}}9" ng-focus="view.focus.documentNumber[$index] = true" ng-blur="view.focus.documentNumber[$index] = false" maxlength="12" />
									<div ng-class="view.focus.documentNumber[$index] ? 'content-input-underline-focus' : 'content-input-underline'"></div>
									<div ng-if="(view.errors.passengersErrors[$index].identifierNumberNotSet || view.errors.passengersErrors[$index].identifierNumberFormatInvalid || view.errors.passengersErrors[$index].identifierVerificatorInvalid  || view.errors.passengersErrors[$index].identifierNumberRepeated)" class="content-input-underline-error"></div>
									<img ng-src="img/error-cocha.png" class="warning-off" ng-class="{'warning-on': (view.errors.passengersErrors[$index].identifierNumberNotSet || view.errors.passengersErrors[$index].identifierNumberFormatInvalid || view.errors.passengersErrors[$index].identifierVerificatorInvalid || view.errors.passengersErrors[$index].identifierNumberRepeated)}">
								</div>
							</div>
						</div>
						<div class="col-xs-12" ng-if="(view.availabilityData|ObjectKeyLength) > 0 && view.availabilityData.hotelRoomResponse.bedTypes.bedType.length > 1 ">
							<div class="content-title-container">
								<span class="light">Seleccione el tipo de cama</span>
							</div>
							<div class="content-input-container">
								<div class="col-xs-12">
									<span class='col-xs-4' ng-repeat="bedType in view.availabilityData.hotelRoomResponse.bedTypes.bedType " ng-click="selectBedType($parent.$index, bedType.id)">
										<i ng-class="{'cch-circle-mz':content.passengers[$parent.$index].bedType == bedType.id,'cch-circle-o':content.passengers[$parent.$index].bedType != bedType.id}"></i>
										{{ bedType.description }} 
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>


				<!--div class="reservation-panel" ng-if="(view.availabilityData|ObjectKeyLength) > 0 && view.availabilityData.hotelRoomResponse.bedTypes.bedType.length > 1 ">
					<div class="passenger-title">
						<span>Tipo de cama</span>
					</div>
					<div class="passenger-content">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="content-title-container">
								<span class="light">seleccione el tipo de cama</span>
							</div>
							<div class="content-input-container">
								<div class="col-md-12 col-sm-12 col-xs-12">
									<div ng-repeat="bedType in view.availabilityData.hotelRoomResponse.bedTypes.bedType " ng-class="{'result-radio-checked':content.generalData.bedType === bedType.id,'result-radio':content.generalData.bedType !== bedType.id}" ng-click="selectBedType(bedType.id)">
										{{ bedType.description }}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div-->

				<div class="reservation-panel">
					<div class="passenger-title">
						<span>Solicitudes adicionales</span>
					</div>
					<div class="passenger-content">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="content-title-container">
								<span class="light">Las solicitudes especiales serán informadas al hotel pero no quedan garantizadas.</span>
							</div>
							<div class="content-input-container">
								<div class="col-md-12 col-sm-12 col-xs-12  content-input-height">
									<input class="content-input" ng-model="content.specialRequest" type="text" placeholder="ingresa alguna solicitud adicional al hotel" ng-focus="view.focus.specialRequest = true" ng-blur="view.focus.specialRequest = false" />
									<div ng-class="view.focus.specialRequest ? 'content-input-underline-focus' : 'content-input-underline'"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="reservation-panel">
					<div class="passenger-title">
						<span>Datos de contacto</span>
					</div>
					<div class="passenger-content">
						<div class="col-xs-6 no-padding-right">
							<div class="content-title-container" ng-if="content.generalData.B2B.user === null">
								<span class="regular">Email</span>
							</div>
							<div class="content-title-container" ng-if="content.generalData.B2B.user !== null">
								<span class="regular">Email Agente</span>
							</div>
							<div class="reservation-label-input margin-label-input  ">Donde recibirás la confirmación</div>
							<div class="content-input-container">
								<div class="col-xs-12">
									<input class="input-email" ng-model="content.contact.email" placeholder="mail@mail.com" ng-change="content.contact.email = cleanEmail(content.contact.email)" ng-focus="view.focus.contactEmail = true" ng-blur="view.focus.contactEmail = false" />
									<div ng-class="view.focus.contactEmail ? 'content-input-underline-focus' : 'content-input-underline'"></div>
									<div ng-if="(view.errors.contactErrors.emailNotSet || view.errors.contactErrors.emailInvalid)" class="content-input-underline-error"></div>
									<img ng-src="img/error-cocha.png" class="warning-off" ng-class="{'warning-on': (view.errors.contactErrors.emailNotSet || view.errors.contactErrors.emailInvalid)}">
								</div>
							</div>
						</div>
						<div class="col-md-6 col-xs-12 no-padding-left">
							<div class="content-title-container">
								<span class="regular">Teléfono</span>
							</div>
							<div class='row margin-label-input'>
								<span class="col-xs-3 reservation-label-input ">País</span>
								<span class="col-xs-3 reservation-label-input ">Código</span>
								<span class="col-xs-3 reservation-label-input ">Número</span>
							</div>
							<div class="content-input-container row">
								<div class=" col-xs-3">
									<input class="content-input" ng-model="content.contact.phone.country" placeholder="56" ng-focus="view.focus.contactPhoneCountry = true" ng-blur="view.focus.contactPhoneCountry = false" />
									<div ng-class="view.focus.contactPhoneCountry ? 'content-input-underline-focus' : 'content-input-underline'"></div>
									<div ng-if="view.errors.contactErrors.phoneCountryError" class="content-input-underline-error"></div>
									<img ng-src="img/error-cocha.png" class="warning-off" ng-class="{'warning-on': view.errors.contactErrors.phoneCountryError}">
								</div>
								<div class=" col-xs-3">
									<input class="content-input" ng-model="content.contact.phone.code" placeholder="9" ng-focus="view.focus.contactPhoneCode = true" ng-blur="view.focus.contactPhoneCode = false" />
									<div ng-class="view.focus.contactPhoneCode ? 'content-input-underline-focus' : 'content-input-underline'"></div>
									<div ng-if="view.errors.contactErrors.phoneCodeError" class="content-input-underline-error"></div>
									<img ng-src="img/error-cocha.png" class="warning-off" ng-class="{'warning-on': view.errors.contactErrors.phoneCodeError}">
								</div>
								<div class="col-md-5 col-xs-3">
									<input class="content-input" ng-model="content.contact.phone.number" placeholder="12345678" ng-focus="view.focus.contactPhoneNumber = true" ng-blur="view.focus.contactPhoneNumber = false" />
									<div ng-class="view.focus.contactPhoneNumber ? 'content-input-underline-focus' : 'content-input-underline'"></div>
									<div ng-if="(view.errors.contactErrors.phoneNumberError || view.errors.contactErrors.phoneEmpty || view.errors.contactErrors.phoneInvalid)" class="content-input-underline-error"></div>
									<img ng-src="img/error-cocha.png" class="warning-off" ng-class="{'warning-on': (view.errors.contactErrors.phoneNumberError || view.errors.contactErrors.phoneEmpty || view.errors.contactErrors.phoneInvalid)}">
								</div>
							</div>
						</div>
						<div class="col-xs-12" ng-show="!content.generalData.B2B.user">
							<div class="content-title-container" style="padding:0px 5px; margin-bottom:29px;">
								<div class="checkbox-container">
									<input type="checkbox" id="mailing" ng-model="view.registerEmail">
									<label for="mailing"></label>
								</div>
								<div class="checkbox-text-container">
									<span class="regular">&nbsp;Quiero recibir mails con noticias y ofertas COCHA</span>
								</div>
							</div>
						</div>
					</div>
				</div>


				<div class="reservation-panel" ng-show="!content.generalData.B2B.user">
					<div class="passenger-content">
						<div class=" col-xs-12">
							<div class="content-title-container">
								<span class="regular">¿Eres cliente COCHA?</span>
								<br>
								<span class="light">Cuéntanos quién es tu consultor de viajes COCHA por si necesitaras ayuda</span>
							</div>
							<div class="content-input-container">
								<div class=" col-xs-12 content-input-height">
									<input class="content-input" ng-model="content.contact.travelAgent" type="text" placeholder="Nombre de tu consultor de viajes COCHA" ng-change="content.contact.travelAgent = cleanName(content.contact.travelAgent)" ng-focus="view.focus.contactTravelAgent = true" ng-blur="view.focus.contactTravelAgent = false" />
									<div ng-class="view.focus.contactTravelAgent ? 'content-input-underline-focus' : 'content-input-underline'"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="reservation-panel" ng-hide="!content.generalData.B2B.user">
					<div class="passenger-title">
						<span>Información de Negocio</span>
					</div>
					<div class="passenger-content">
						<div class=" col-xs-6">
							<div class="content-input-container">
								<div class=" col-xs-6 content-input-height">
									<input class="input-email" ng-blur="validateField('businessId')" ng-model="content.generalData.B2B.businessId" force-uppercase ui-mask='*-***-999' placeholder="Número de negocio" ui-options="view.maskOptionsBusinessId" ui-mask-placeholder ui-mask-placeholder-char="_" ng-focus="view.focus.businessId = true" />
									<span ng-show="view.loader.businessId === true" class='input-field-loader'><img src="img/mini-loader.gif"></span>
									<div ng-class="view.focus.businessId ? 'content-input-underline-focus' : 'content-input-underline'"></div>
									<div ng-if="view.errors.businessIdInvalid === true" class="content-input-underline-error"></div>
									<img ng-src="img/error-cocha.png" class="warning-off" ng-class="{'warning-on': view.errors.businessIdInvalid }">
								</div>
							</div>
						</div>
						<div class="col-xs-6">
							<div class="nemo-label placeholder-grey-text" ng-if="content.generalData.corporateCode!==null && content.generalData.corporateCode!==''"> Nemo: {{ content.generalData.corporateCode }} </div>
						</div>
					</div>
				</div>
				<!--div class="reservation-panel">
					<div class="passenger-title">
						Gabriel:
					</div>
					<div class="passenger-content">
						<ul>
							<li>Ingresa 1 si quieres que la respuesta sea pago y reserva exitosa</li>
							<li>Ingresa 2 si quieres que la respuesta sea pago exitoso pero error en reservacion</li>
							<li>Ingresa 3 si quieres que la respuesta sea pago fallido</li>
						</ul>
						<input ng-model="flag.test">
					</div>
				</div-->
				<div class="reservation-panel" ng-hide="!content.generalData.B2B.user || !view.errors.creditLineMismatch">
					<!--div class="passenger-title"-->
					<div>
						<div class="alert alert-danger" ng-if="content.generalData.corporateCode">
							N° de negocio ingresado está creado y asociado al nemo {{ view.assignedNemo }}. Para continuar cambie el n° de negocio o realice la búsqueda con el nemo correspondiente.
						</div>
					</div>
				</div>


				<div class="reservation-panel" ng-hide="!content.generalData.B2B.user || view.errors.creditLineMismatch === true">
					<div class="passenger-title">
						<span ng-if="!content.generalData.corporateCode">Información tarjeta de crédito</span>
						<span ng-if="content.generalData.corporateCode">Selecciona medio de pago</span>
					</div>
					<div class="passenger-content">
						<div class="select-payment-b2b col-xs-12" ng-if="content.generalData.corporateCode">
							<div class="col-xs-6 option-payment-b2b separator-border">
								<div class="payment-b2b-icon text-center">
									<i class="cch-card"></i>
								</div>
								<div class="payment-b2b-type-title text-center">
									<div class="payment-b2b-type-option">
										<div class="payment-b2b-type-name">
											<span ng-click="selectB2Bmethod('TC')">
												<i ng-class="{'cch-circle-o':content.paymentMethod === 'LC','cch-mob-check':content.paymentMethod === 'TC'}"></i>
											</span> Tarjeta de crédito
										</div>
									</div>
								</div>
							</div>

							<div class="col-xs-6 option-payment-b2b" ng-class="{'placeholder-grey-text':!view.businessIdLcValid}" uib-tooltip="{{ view.creditLineValidationText }}">
								<div class="payment-b2b-icon text-center">
									<i class="cch-card"></i>
								</div>
								<div class="payment-b2b-type-title text-center">
									<div class="payment-b2b-type-option">
										<div class="payment-b2b-type-name">
											<span ng-click="selectB2Bmethod('LC')">
												<i ng-class="{'cch-mob-check':content.paymentMethod === 'LC','cch-circle-o':content.paymentMethod === 'TC'}"></i>
											</span> Línea de crédito COCHA
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-12 card-payment" ng-if="content.paymentMethod === 'TC'">
							<span class="triangle" ng-if="content.generalData.corporateCode"></span>
							<!-- credit card -->
							<div class="col-xs-12">
								<div class="content-title-container">
									<span class="regular">Nombre del titular de la tarjeta</span>
									<span class='placeholder-grey-text'> (tal cual aparece en la tarjeta)</span>
								</div>
								<div class="content-input-container">
									<div class="col-xs-12 content-input-height">
										<input class="input-email" ng-model="view.creditCardName" placeholder="Nombre" ng-click="namefocus = true" ng-change="view.creditCardName = cleanName(view.creditCardName)" />
										<div ng-class="namefocus === true ? 'content-input-underline-focus' : 'content-input-underline'"></div>
									</div>
								</div>
							</div>
							<!-- credit card -->
							<!-- expiration date -->
							<div class="col-xs-12">
								<div class="content-title-container">
									<span class="regular col-md-6 col-xs-12 ">Número de tarjeta de crédito </span>
									<span class="regular col-md-6 col-xs-12 expiration-date-title ">Fecha de Expiración Tarjeta </span>
								</div>
								<div class="content-input-container">
									<div class=" col-md-6 col-xs-12 ">
										<div class="col-xs-12 content-input-height payment-credit-card-input">
											<input class="input-email" ng-blur="validateField('cardNumber')" ng-model="content.generalData.B2B.cardNumber" ui-mask='999999999999999999' placeholder="Tarjeta de crédito" ui-mask-placeholder ui-options="view.maskOptionsCreditCard" ui-mask-placeholder-char="" ng-focus="view.focus.cardNumberError = true" />
											<span ng-show="view.loader.cardNumber === true" class='input-field-loader'><img src="img/mini-loader.gif"></span>
											<div ng-class="view.focus.cardNumber ? 'content-input-underline-focus' : 'content-input-underline'"></div>
											<div ng-if="view.errors.cardNumberInvalid === true" class="content-input-underline-error"></div>
											<img ng-src="img/error-cocha.png" class="warning-off" ng-class="{'warning-on': view.errors.cardNumberInvalid }">
										</div>
										<div class=" msg-credit-card ">
											<span ng-if="content.generalData.B2B.cardType !== -1 ">
											<img src="img/cards/{{ content.generalData.B2B.cardType }}.png">
											<!--span >{{ content.generalData.B2B.cardType | cCapitalizeFilter }}  </span-->
											</span>
											<span ng-if="content.generalData.B2B.cardForeign !== -1 " class='card-type-text'>
											<span ng-if="content.generalData.B2B.cardForeign===true">Internacional</span>
											<span ng-if="content.generalData.B2B.cardForeign===false">Nacional</span>
											</span>
										</div>

									</div>

									<div class="col-md-6 col-xs-12 ">


										<div class="col-xs-6 search-box payments-expiration no-background">
											<div class="col-xs-12 search-box-advanced no-border">
												<div class="select hand grey-text payment-select" ng-click="toggleCollapse('months')">
													<span ng-class="{'grey-text': view.monthSelected === true, 'placeholder-grey-text': view.monthSelected === false}"> {{ view.nameMonth }} </span>
												</div>
												<div uib-collapse="view.collapse.months === true" class="option-container-container payments-select">
													<div class="option-container-hotel months-expiration-container">
														<div ng-repeat="month in view.options.months" ng-click="selectMonth(month.code,month.name)" ng-class="{'hotel-option':content.generalData.B2B.expirationMonth !== month.code ,'hotel-option-checked':content.generalData.B2B.expirationMonth === month.code }">
															<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
																<span>{{ month.name }}</span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>


										<div class="col-xs-6  search-box payments-expiration no-background">
											<div class="col-xs-12 search-box-advanced no-border">
												<div class="select hand grey-text payment-select" ng-click="toggleCollapse('years')">
													<span ng-class="{'grey-text': view.yearSelected === true, 'placeholder-grey-text': view.yearSelected === false}"> {{ view.nameYear }} </span>
												</div>
												<div uib-collapse="view.collapse.years === true" class="option-container-container payments-select">
													<div class="option-container-hotel years-expiration-container">
														<div ng-repeat="year in range(2016,2050)" ng-click="selectYear(year)" ng-class="{'hotel-option':content.generalData.B2B.expirationYear !== year ,'hotel-option-checked':content.generalData.B2B.expirationYear === year }">
															<div class="col-xs-12 no-padding">
																<span>{{ year }}</span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>


									</div>
								</div>
							</div>
							<!-- expiration date -->
							<!-- payments + number of payments -->
							<div class="col-xs-12" ng-if="content.generalData.supplier === 'EAN' || content.generalData.supplier === 'EANPKGR'">
								<div class="content-title-container">
									<span class="regular">Cuotas</span>
								</div>

								<div class="content-input-container">

									<div class="col-xs-12 row search-box no-background">
										<div class="payments-radio" ng-repeat="payments in view.options.paymentsTypes" ng-click="selectPaymentsType(payments.code)">
											<div style="display:inline;" ng-class="{'col-xs-3':$last==false,'col-xs-5 col-xs-offset-1':$last==true }">
												<i ng-class="{'cch-circle-o': content.generalData.B2B.paymentsType !== payments.code ,'cch-circle-mz':content.generalData.B2B.paymentsType === payments.code}"></i> {{ payments.name }}

												<div ng-if="payments.range.length !== 0 && content.generalData.B2B.paymentsType === payments.code" class=" search-box-advanced no-border payments-container ">
													<div class="payment-select select hand grey-text " ng-click="toggleCollapse('payments')">
														{{ view.namePayments }} Cuotas
													</div>
												</div>
												<div uib-collapse="view.collapse.payments" class="option-container-container payments-select payments-position" ng-if="content.generalData.B2B.paymentsType === payments.code">
													<div class="option-container-hotel payments-options">
														<div ng-repeat="i in range(payments.range[0],payments.range[1])" ng-click="selectNumberPayments(i)" ng-class="{'hotel-option':content.generalData.B2B.payments !== i ,'hotel-option-checked':content.generalData.B2B.payments === i }">
															<div class="col-xs-12 no-padding">
																<span>{{ i }}</span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
						<div class="col-xs-12 credit-line-payment" ng-if="content.paymentMethod === 'LC'">
							<span class="triangle" ng-if="view.availabilityData.LCInfo.showMessage"></span>
							<div class="col-xs-12  credit-line-terms-text " ng-if="view.availabilityData.LCInfo.showMessage">
								Al confirmar esta reserva estás aceptando las condiciones y restricciones de esta tarifa, así como las Políticas de Cancelación.
							</div>
							<div class="col-xs-12" ng-if="view.availabilityData.LCInfo.showMessage">
								<div class="checkbox-container ">
									<input type="checkbox" id="LCterms" ng-model="view.acceptLCterms">
									<label for="LCterms"> </label> Estoy de acuerdo
								</div>
							</div>
							<!--div class="col-xs-12 credit-line-currency-container">
								<div class="col-xs-12 credit-line-currency-text">
									Deseas realizar el cargo en:
								</div>
								<div>
									<span ng-click="selectLCcurrency('CLP')">
										<i ng-class="{'cch-mob-check':content.generalData.B2B.LCcurrency === 'CLP','cch-circle-o':content.generalData.B2B.LCcurrency === 'USD'}"></i>
									</span> Pesos chilenos (CLP)
									<span ng-click="selectLCcurrency('USD')">
										<i ng-class="{'cch-mob-check':content.generalData.B2B.LCcurrency === 'USD','cch-circle-o':content.generalData.B2B.LCcurrency === 'CLP'}"></i>
									</span> Dolar (US)
								</div>
							</div-->
						</div>
					</div>
					<!-- payments + number of payments -->
				</div>


				<div class="reservation-panel" ng-show="!content.generalData.B2B.user">
					<div class="passenger-title">
						<span>Selecciona tu medio de pago</span>
					</div>
					<div class="payment-container">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="payment2 border-line">
								<div class="choice" ng-click="selectPaymentMethod('WebPay')">
									<div>
										<i class="cch-mob-tcredito"></i>
									</div>
									<span>Tarjeta de
				                                        <br>
				                                        crédito o Ripley</span>
								</div>
								<div class="payment-options">
									<div class="payment-opt hand" ng-click="selectPaymentMethod('WebPay')">
										<div class="left">
											<input type="radio" id="radio-1" ng-model="content.paymentMethod" value="WebPay">
											<label for="radio-1"> <i class="hand" ng-class="content.paymentMethod === 'WebPay' ? 'cch-circle' : 'cch-circle-o'"> </i> </label>
										</div>
										<div class="right">
											<img src="http://cms.cocha.com/images/mobile/payments/webpay.png">
										</div>
									</div>
									<div class="payment-opt hand" ng-click="selectPaymentMethod('TarjetaRipley')">
										<div class="left">
											<input type="radio" id="radio-2" ng-model="content.paymentMethod" value="TarjetaRipley">
											<label for="radio-2"> <i class="hand" ng-class="content.paymentMethod === 'TarjetaRipley' ? 'cch-circle' : 'cch-circle-o'"> </i> </label>
										</div>
										<div class="right">
											<img src="http://cms.cocha.com/images/mobile/payments/ripley.png">
										</div>
									</div>
								</div>
							</div>
							<div class="payment2">
								<div class="choice" ng-click="selectPaymentMethod('BancoSantander')">
									<div>
										<i class="cch-order"></i>
									</div>
									<span>Transferencia</span>
								</div>
								<div class="payment-options">
									<div class="payment-opt hand" ng-click="selectPaymentMethod('BancoSantander')">
										<div class="left">
											<input type="radio" id="radio-3" ng-model="content.paymentMethod" value="BancoSantander">
											<label for="radio-3"> <i class="hand" ng-class="content.paymentMethod === 'BancoSantander' ? 'cch-circle' : 'cch-circle-o'"> </i> </label>
										</div>
										<div class="right">
											<img src="http://cms.cocha.com/images/mobile/payments/santanderenlinea.png">
										</div>
									</div>
									<div class="payment-opt hand" ng-click="selectPaymentMethod('BancoChile')">
										<div class="left">
											<input type="radio" id="radio-4" ng-model="content.paymentMethod" value="BancoChile">
											<label for="radio-4"> <i class="hand" ng-class="content.paymentMethod === 'BancoChile' ? 'cch-circle' : 'cch-circle-o'"> </i> </label>
										</div>
										<div class="right">
											<img src="http://cms.cocha.com/images/mobile/payments/bancodechile.png">
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>

				<div class="accept hide-sm">
					<div class="warning">
						<div class="icon"><i class="cch-exclamation"></i></div>
						<span>Recuerda verificar que todos los datos ingresados estén correctos</span>
					</div>
					<div class='reservation-policy row'>
						<div class='reservation-policy-title'>Políticas de cancelación</div>
						<div class='reservation-policy-content'>

							<span ng-if="content.generalData.supplier === 'EAN' || content.generalData.supplier === 'EANPKGR'">
								{{	view.availabilityData.hotelRoomResponse.rateInfos.rateInfo.cancellationPolicy }}
							</span>
							<span ng-if="content.generalData.supplier === 'SAB' || content.generalData.supplier==='TRV'" ng-bind-html="( getCancellationPolicy(content.roomInfo) | cRawHtmlFilter )">
							</span>

							<div class='terms'>
								<div class=" col-md-8">
									<div class="checkbox-container">
										<input type="checkbox" id="terms" ng-model="view.acceptTerms">
										<label for="terms"></label>
									</div>
									<div class="checkbox-text-container2">
										<span class="terms-text">He leído y acepto los&nbsp;</span>
										<span class="terms-click hand" ng-click="showTerms()">términos, condiciones</span>
										<br>
										<span>y</span>&nbsp;<span class="terms-click hand" ng-click="showPrivacy()">políticas de privacidad</span>
									</div>
								</div>
								<div class="col-md-4">
									<button ng-click="confirmHotel()" ng-class="{'btn-book-credit-line':content.paymentMethod === 'LC','btn-book':content.paymentMethod !== 'LC' }" ng-if="content.generalData.supplier === 'EAN' || content.generalData.supplier==='TRV' || content.generalData.supplier==='EANPKGR'">
				                            	  	<span ng-if="content.paymentMethod === 'LC'" >Confirmar y</span> Pagar
				                        		</button>
									<button ng-click="confirmHotel()" class=" btn-book" ng-if="content.generalData.supplier === 'SAB'">
				                            		Reservar
				                        		</button>
								</div>
							</div>
						</div>
					</div>
					<!--div class='row reservation-email-text'>
									Te enviaremos la confirmación de la reserva al correo {{ view.userEmail }}
								</div-->
				</div>


			</div>
			<!-- ----------- -->
			<div class="col-md-4 col-md-offset-1 col-xs-12">
				<div class="main-title">
					<span class="reservation-text">Resumen de la reserva</span>
				</div>
				<div class="flight-summary-panel" ng-if="(view.availabilityData|ObjectKeyLength) > 0">
					<div class="summary-container col-xs-12">

						<div class='row'>
							<!--div class=" summary-hotel-image col-xs-3">
						<img ng-src="{{ view.availabilityData.hotelImages.hotelImage[0].thumbnailUrl }}">
					</div-->
							<div class="col-xs-12 ">
								<div class='row summary-title' ng-if="content.generalData.supplier === 'EAN' || content.generalData.supplier === 'EANPKGR'">
									{{ view.availabilityData.hotelName }}
								</div>
								<div class='row summary-title' ng-if="content.generalData.supplier === 'SAB' || content.generalData.supplier==='TRV'">
									{{ view.availabilityData.checkoutDetailDTO.hotelName }}
								</div>
								<div class='row summary-address' ng-if="content.generalData.supplier === 'EAN' || content.generalData.supplier === 'EANPKGR'">
									<i class="cch-position reservation-location-icon "></i> {{ view.availabilityData.hotelCity }} , {{ view.availabilityData.hotelAddress }} {{ view.availabilityData.hotelCountry }}
								</div>
								<div class='row summary-address' ng-if="content.generalData.supplier === 'EAN' || content.generalData.supplier === 'EANPKGR'">
									<i class="cch-position reservation-location-icon "></i> {{ view.availabilityData.checkoutDetailDTO.address }}
								</div>
							</div>
						</div>

						<div class='row text-center'>

							<span class="box-offer-star hotel-rating-stars" ng-init="nrate = view.hotelStarRating"> <uib-rating ng-model="nrate" max="5"  read-only="true" data-read-only="true" state-on="'cch-star'" state-off="'cch-star-o'" on-leave="overStar = null"></uib-rating> </span>

						</div>

						<div class='row'>
							<div class=" col-xs-12 reservation-passengers-summary " ng-if="content.generalData.supplier === 'EAN' || content.generalData.supplier === 'EANPKGR'">
								{{ view.totalPassengers.adults }} Adulto(s) | {{ view.totalPassengers.children }} Niño(s) | {{ view.availabilityData.hotelRoomResponse.rateInfos.rateInfo.chargeableRateInfo.nightlyRatesPerRoom.size }} Noche{{ view.availabilityData.hotelRoomResponse.rateInfos.rateInfo.chargeableRateInfo.nightlyRatesPerRoom.size > 1 ? 's' : ''}}
							</div>

							<div class=" col-xs-12 reservation-passengers-summary " ng-if="content.generalData.supplier === 'SAB' || content.generalData.supplier==='TRV'">
								{{ view.totalPassengers.adults }} Adulto(s) | {{ view.totalPassengers.children }} Niño(s) | {{ view.availabilityData.nights }} Noche{{ view.availabilityData.nights > 1 ? 's' : ''}}
							</div>

						</div>

						<div class='row '>
							<div class="summary-date col-xs-5 text-left ">
								Entrada
							</div>
							<div class="summary-date col-xs-7 capitalize-first text-right" ng-if="content.generalData.supplier === 'EAN' || content.generalData.supplier === 'EANPKGR'">
								{{ view.availabilityData.arrivalDate | cDateFilter:'long-day'}}
							</div>
							<div class="summary-date col-xs-7 capitalize-first text-right" ng-if="content.generalData.supplier === 'SAB' || content.generalData.supplier==='TRV'">
								{{ view.availabilityData.params.arrivalDate | cDateFilter:'long-day' }}
							</div>
						</div>
						<div class='row'>
							<div class="summary-date col-xs-5  text-left">
								Salida
							</div>
							<div class="summary-date col-xs-7 capitalize-first text-right" ng-if="content.generalData.supplier === 'EAN' || content.generalData.supplier === 'EANPKGR'">
								{{ view.availabilityData.departureDate | cDateFilter:'long-day'}}
							</div>
							<div class="summary-date col-xs-7 capitalize-first text-right" ng-if="content.generalData.supplier === 'SAB' || content.generalData.supplier==='TRV'">
								{{ view.availabilityData.params.departureDate | cDateFilter:'long-day'}}
							</div>
						</div>
					</div>
					<!-- promo -->
					<!--div class='summary-container col-xs-12 text-center'>
				<b>{{ view.availabilityData.hotelRoomResponse.rateInfos.rateInfo.promoDescription }}</b>
				<div-->
					<div class='summary-container col-xs-12'>

						<div class='row ' ng-if="view.availabilityData.hotelRoomResponse.valueAdds.valueAdd.length > 0">
							<div class='reservation-amenities-list'>
								<span ng-repeat="amenities in view.availabilityData.hotelRoomResponse.valueAdds.valueAdd "> {{ amenities.description }}{{$last ? '' : ', '}} </span>
							</div>
						</div>

						<div class='reservation-room-list'>
							<div ng-repeat="i in range(1,view.availabilityData.numberOfRoomsRequested) ">
								<div class='row'>
									<div class=' col-xs-10  '>
										<span class='reservation-room-item'>Habitación {{ $index +1 }}:</span> {{ view.availabilityData.hotelRoomResponse.roomTypeDescription }}
									</div>

									<div class='reservation-room-list'>
										<div ng-repeat="nights in view.availabilityData.hotelRoomResponse.rateInfos.rateInfo.chargeableRateInfo.nightlyRatesPerRoom.nightlyRate ">
											<div ng-show="( view.collapse.roomSummary.hasOwnProperty($parent.$index) && view.collapse.roomSummary[$parent.$index]===true) || $index < 3 ">
												<div class=' col-xs-9'>
													{{ nights.day }}
												</div>
												<div class=' col-xs-3 text-right'>
													US$ {{ nights.rate | moneyFilter: 2:',':'.' }}
												</div>
											</div>
										</div>
									</div>

									<div ng-if="view.availabilityData.hotelRoomResponse.rateInfos.rateInfo.chargeableRateInfo.nightlyRatesPerRoom.nightlyRate.length> 3">
										<a class="btn reservation-room-night-collapse pull-right" ng-click="toggleNightsCollapse($index)">
										Ver
										<span ng-show="view.collapse.roomSummary[$parent.$index] !== true"> más días

											<i class='cch-arrow-down icon-room-night-arrow  '> 


											</i>
										</span>
								<span ng-show="view.collapse.roomSummary[$parent.$index] === true"> menos días

											<i class='cch-arrow-up  icon-room-night-arrow'> 


											</i>


								</span>
								</a>
									</div>
								</div>
							</div>
						</div>


					</div>


				</div>
			</div>


			<div class="col-md-4 col-md-offset-1 col-xs-12">

				<div class="reservation-panel">
					<div class="passenger-title">
						<span>Precio</span>
					</div>
					<div class="passenger-content ">

						<div ng-repeat="i in range(1,view.availabilityData.numberOfRoomsRequested)" class="  reservation-total-items  ">
							<div class='row'>
								<div class='col-xs-9 reservation-room-item '>
									Habitación {{ $index +1 }}
								</div>
								<div class=' col-xs-3 text-right'>
									US$ {{ (view.availabilityData.hotelRoomResponse.rateInfos.rateInfo.chargeableRateInfo.nightlyRateTotal/view.availabilityData.numberOfRoomsRequested) | moneyFilter: 2:',':'.' }}
								</div>
							</div>
						</div>

						<div ng-repeat="i in range(1,content.passengers.length)" class="  reservation-total-items  " ng-if="content.generalData.supplier === 'SAB' || content.generalData.supplier==='TRV'">
							<div class='row'>
								<div class='col-xs-9 reservation-room-item '>
									Habitación {{ $index +1 }}
								</div>
								<div class=' col-xs-3 text-right'>
									US$ {{ (view.availabilityData.checkoutDetailDTO.ratePerRoom) | moneyFilter: 2:',':'.' }}
								</div>
							</div>
						</div>

						<!--div class='row reservation-surcharge-totals'>
					<div class='row reservation-total-items' ng-repeat="night in view.availabilityData.hotelRoomResponse.rateInfos.rateInfo.chargeableRateInfo.surcharges.surcharge ">
						<div class=' col-xs-9  reservation-room-item'>
							{{ night.type }}
						</div>
						<div class='col-xs-3 text-right'>
							US$ {{ night.amount | moneyFilter: 2:',':'.' }}
						</div>
					</div>
				</div-->

						<div class='row reservation-surcharge-totals' ng-if="(content.generalData.supplier === 'EAN' || content.generalData.supplier === 'EANPKGR') && view.availabilityData.hotelRoomResponse.rateInfos.rateInfo.chargeableRateInfo.surchargeTotal !== null ">
							<div class='row reservation-total-items'>

								<div class=' col-xs-9  reservation-room-item'>
									Tarifas e Impuestos
								</div>
								<div class='col-xs-3 text-right'>
									US$ {{ view.availabilityData.hotelRoomResponse.rateInfos.rateInfo.chargeableRateInfo.surchargeTotal | moneyFilter: 2:',':'.' }}
								</div>
							</div>
						</div>


						<div class='row reservation-surcharge-totals' ng-if="content.generalData.supplier === 'SAB' || content.generalData.supplier==='TRV'">
							<div class='row reservation-total-items'>

								<div class=' col-xs-9  reservation-room-item'>
									Tarifas e Impuestos
								</div>

								<div class='col-xs-3 text-right'>
									US$ {{ view.availabilityData.checkoutDetailDTO.taxes | moneyFilter: 2:',':'.' }}
								</div>
							</div>
						</div>


						<div class='row'>
							<div class='reservation-line-separator'></div>
						</div>
						<div class="summary-total-container  col-xs-12">
							<div class="col-xs-6 summary-total-title">
								<span ng-if="content.generalData.supplier === 'EAN' || content.generalData.supplier==='TRV' || content.generalData.supplier === 'EANPKGR'">Total</span>
								<span ng-if="content.generalData.supplier === 'SAB'">Pagarás al Hotel <br> <span class='local-currency-msg'>(en moneda local) </span></span>
							</div>
							<div class=" col-xs-6">
								<div class="summary-total-price-usd" ng-if="content.generalData.supplier === 'EAN' || content.generalData.supplier === 'EANPKGR'">
									<span>US${{view.availabilityData.hotelRoomResponse.rateInfos.rateInfo.chargeableRateInfo.total | moneyFilter: 0:',':'.' }}</span>
								</div>
								<div class="summary-total-price-clp" ng-if="!isNaN(content.currency) && (content.generalData.supplier === 'EAN' || content.generalData.supplier === 'EANPKGR')">
									<span>{{view.availabilityData.hotelRoomResponse.rateInfos.rateInfo.chargeableRateInfo.total | USDtoCLPFilter }}</span>
								</div>

								<div class="summary-total-price-usd" ng-if="content.generalData.supplier === 'SAB' || content.generalData.supplier==='TRV'">
									<span>US${{view.availabilityData.checkoutDetailDTO.totalPricing | moneyFilter: 0:',':'.' }}</span>
								</div>
								<div class="summary-total-price-clp" ng-if="!isNaN(content.currency) && (content.generalData.supplier === 'SAB' || content.generalData.supplier==='TRV')">
									<span>{{view.availabilityData.checkoutDetailDTO.totalPricing | USDtoCLPFilter }}</span>
								</div>

							</div>
						</div>

						<div class='row'>
							<div class='reservation-line-separator'></div>
						</div>

						<div ng-if="content.generalData.supplier === 'EAN' || content.generalData.supplier === 'EANPKGR'" class="col-xs-12 text-right reservation-refundable-info" ng-class="{'reservation-nonrefundable-text':view.availabilityData.hotelRoomResponse.rateInfos.rateInfo.nonRefundable === true , 'reservation-refundable-text':view.availabilityData.hotelRoomResponse.rateInfos.rateInfo.nonRefundable === false  }">
							{{ (view.availabilityData.hotelRoomResponse.rateInfos.rateInfo.nonRefundable === true ? 'Tarifa No reembolsable' : 'Tarifa reembolsable') }}
						</div>

						<div ng-if="content.generalData.supplier === 'SAB' || content.generalData.supplier==='TRV'" class="col-xs-12 text-right reservation-refundable-info" ng-class="{'reservation-nonrefundable-text':content.roomInfo.refundable === false , 'reservation-refundable-text':content.roomInfo.refundable === true  }">
							{{ (content.roomInfo.refundable === true ? 'Tarifa reembolsable' : 'Tarifa No reembolsable') }}
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-4 col-md-offset-1 col-xs-12" ng-if="view.availabilityData.checkInInstructions.length > 1">
				<div class="reservation-panel">
					<div class="passenger-title">
						<span>Cargos a pagar en el hotel</span>
					</div>
					<div class="passenger-content reservation-room-fees ">
						<div ng-bind-html="(view.availabilityData.checkInInstructions|cRawHtmlFilter)"></div>
					</div>
				</div>
			</div>

			<div class="col-md-4 col-md-offset-1 col-xs-12" ng-if="content.generalData.supplier === 'SAB'">

				<div class="reservation-panel">
					<div class="passenger-title">
						<span>Políticas del Hotel</span>
					</div>
					<div class="passenger-content reservation-room-fees ">

						<b>Cargos por adelantado</b><br>
						<div ng-bind-html="(getChargePolicy(content.roomInfo)|cCapitalizeFilter|cRawHtmlFilter)">
						</div>
						<br>
						<b>Políticas Generales</b><br>
						<div ng-bind-html="(content.roomInfo.policyRoom|cCapitalizeFilter|cRawHtmlFilter)"></div>
					</div>
				</div>

			</div>
			<!-- ----------- -->
		</div>
	</div>
</div>
<!--/div-->
<!--/div-->

<!--
</div>



</div>
-->


<!--
</div>
</div>

</div>
-->
<div class="loader-background " ng-if="view.isBooking" ng-cloak>
	<div class="container center-loader">
		<div class="row">
			<div class=" col-xs-12">
				<!--div class="preloader">
					<div class="preloader-animation">
						<div class="preloader-satellite"></div>
						<div class="preloader-earth"></div>
					</div>

					<div class="preloader-caption">
						<p class="cleared-row phrase">Un momento,</p>
						<p class="cleared-row phrase" ng-if="content.generalData.supplier==='EAN' || content.generalData.supplier==='TRV' || content.generalData.supplier === 'EANPKGR'">estamos redirigiendo al pago.</p>
						<p class="cleared-row phrase" ng-if="content.generalData.supplier==='SAB'">estamos confirmando tu reserva.</p>
					</div>
				</div-->
				<div class="col-xs-12 loader-container">
					<div class="center-loader" ng-if="!view.LCpaymentMethod">
						<main-loader color="'white no-plane'" message1="'Un momento por favor'"></main-loader>
					</div>
					<div class="center-loader" ng-if="view.LCpaymentMethod">
						<main-loader template-url="views/directives/main-loader-payment.html" is-payment-process="1" limit="6" color="'white no-plane'" message1="view.dictionary.message1" message2="view.dictionary.message2" message3="view.dictionary.message3"></main-loader>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>