<div class='my-bkg-search-box'>

	<div class='my-bkg-search-box-title row'>
		<div class='col-xs-6 '>
			Mi Reserva
		</div>
	</div>

	<div class='my-bkg-search-box-fields row' ng-if="!content.isB2B">
		<div class='row'>
			<div class='col-xs-6 field-label '>
				Número de reserva
			</div>
			<div class='col-xs-6 field-label'>
				Apellido
			</div>
		</div>

		<div class='row'>
			<div class='col-xs-6 field-container'>
				<input class="field-input" ng-model="content.bookingNumber" ui-mask='999999?9?9?9?9' placeholder="1234567890" ui-mask-placeholder ui-options="view.maskOptionsNumber" ui-mask-placeholder-char=" " maxlength="10" />
				<div ng-if="view.errors.bookingNumberInvalid === true" class="content-input-underline-error"></div>
				<img ng-src="img/error-cocha.png" class="warning-off" ng-class="{'warning-on': view.errors.bookingNumberInvalid }">
			</div>
			<div class='col-xs-6 field-container'>
				<input type='text' class="field-input" ng-model="content.surname" ng-change="content.surname = cleanName(content.surname)" maxlength="30">
				<div ng-if="view.errors.surnameInvalid === true" class="content-input-underline-error"></div>
				<img ng-src="img/error-cocha.png" class="warning-off" ng-class="{'warning-on': view.errors.surnameInvalid }">
			</div>
		</div>
	</div>


	<div class='my-bkg-search-box-fields row' ng-if="content.isB2B">
		<div class='row'>
			<div class='col-xs-4 field-label '>
				Número de reserva
			</div>
			<div class='col-xs-4 field-label'>
				Número de Negocio
			</div>
			<div class='col-xs-4 field-label'>
				Código Interno
			</div>
		</div>
		<div class='row'>
			<div class='col-xs-4 field-container'>
				<input class="field-input" ng-model="content.bookingNumber" ui-mask='999999?9?9?9?9' placeholder="1234567890" ui-mask-placeholder ui-options="view.maskOptionsNumber" ui-mask-placeholder-char=" " maxlength="10" />
				<div ng-if="view.errors.bookingNumberInvalid === true" class="content-input-underline-error"></div>
				<img ng-src="img/error-cocha.png" class="warning-off" ng-class="{'warning-on': view.errors.bookingNumberInvalid }">
			</div>
			<div class='col-xs-4 field-container'>

				<input class="field-input" ng-model="content.businessNumber" force-uppercase ui-mask='*-***-999' placeholder="Número de negocio" ui-options="view.maskOptionsBusinessId" ui-mask-placeholder ui-mask-placeholder-char="_" maxlength="9" />
				<div ng-if="view.errors.businessNumberInvalid === true" class="content-input-underline-error"></div>
				<img ng-src="img/error-cocha.png" class="warning-off" ng-class="{'warning-on': view.errors.businessNumberInvalid }">

			</div>
			<div class='col-xs-4 field-container'>
				<input class="field-input" ng-model="content.spnr" force-uppercase ui-mask='A999999' placeholder="H000000" ui-mask-placeholder ui-options="view.maskOptionsSpnr" ui-mask-placeholder-char=" " maxlength="10" />
				<div ng-if="view.errors.spnrInvalid === true" class="content-input-underline-error"></div>
				<img ng-src="img/error-cocha.png" class="warning-off" ng-class="{'warning-on': view.errors.spnrInvalid }">
			</div>
		</div>

		<div class='row'>
			<div class='col-xs-4 field-label '>
				Apellido
			</div>
			<div class='col-xs-4 field-label'>
				E-mail
			</div>
			<div class='col-xs-4 field-label'>
				Nombre del hotel
			</div>
		</div>
		<div class='row'>
			<div class='col-xs-4 field-container'>
				<input type='text' placeholder="Apellido" class="field-input" ng-model="content.surname" ng-change="content.surname = cleanName(content.surname)" maxlength="30">
				<div ng-if="view.errors.surnameInvalid === true" class="content-input-underline-error"></div>
				<img ng-src="img/error-cocha.png" class="warning-off" ng-class="{'warning-on': view.errors.surnameInvalid }">
			</div>
			<div class='col-xs-4 field-container'>
				<input type='text' placeholder="ejemplo@mail.com" class="field-input" ng-model="content.email" ng-change="content.email = cleanEmail(content.email)" maxlength="120">
				<div ng-if="view.errors.emailInvalid === true" class="content-input-underline-error"></div>
				<img ng-src="img/error-cocha.png" class="warning-off" ng-class="{'warning-on': view.errors.emailInvalid }">
			</div>
			<div class='col-xs-4 field-container'>
				<input type='text' class="field-input" placeholder="Hotel" ng-model="content.hotelName" ng-change="content.hotelName = cleanName(content.hotelName)" maxlength="100">
				<div ng-if="view.errors.hotelNameInvalid === true" class="content-input-underline-error"></div>
				<img ng-src="img/error-cocha.png" class="warning-off" ng-class="{'warning-on': view.errors.hotelNameInvalid }">
			</div>
		</div>

		<div class='row'>
			<div class='col-xs-8 field-label '>
				Book
			</div>

			<div class='col-xs-4 field-label'>
				Estado de la reserva
			</div>
		</div>
		<div class='row'>

			<div class='col-xs-4 field-container'>

				<input type="text" class="field-input" uib-datepicker-popup ng-model="content.bookDateIni" is-open="view.datepicker.bookDateIni.opened" datepicker-options="dateOptions" ng-required="true" close-text="Cerrar" show-button-bar="false" ng-click="openDatepicker('bookDateIni')" readonly placeholder="Fecha de inicio bookeo" />

				<div ng-if="view.errors.bookDateIniInvalid === true" class="content-input-underline-error"></div>
				<img ng-src="img/error-cocha.png" class="warning-off" ng-class="{'warning-on': view.errors.bookDateIniInvalid }">
				<div ng-if="view.errors.bookDateRangeInvalid === true"> Debe seleccionarse un rango de fechas</div>
			</div>


			<div class='col-xs-4 field-container'>
				<input type="text" class="field-input" uib-datepicker-popup ng-model="content.bookDateEnd" is-open="view.datepicker.bookDateEnd.opened" datepicker-options="dateOptions" ng-required="true" close-text="Cerrar" show-button-bar="false" ng-click="openDatepicker('bookDateEnd')" readonly placeholder="Fecha de fin bookeo" />

				<div ng-if="view.errors.bookDateEndInvalid === true" class="content-input-underline-error"></div>
				<img ng-src="img/error-cocha.png" class="warning-off" ng-class="{'warning-on': view.errors.bookDateEndInvalid }">
			</div>

			<div class='col-xs-4 field-container'>
				<div class="row">
					<div class="select2 hand" ng-click="toggleStatusOption($event)">
						<span class='transparent-input'>
				{{ ((content.statusBooking !== '' && content.statusBooking !== null) ?  content.statusBooking.short : 'Elige de la lista' ) }}
			</span>
					</div>
				</div>
				<div ng-if="view.errors.statusOptionInvalid === true" class="content-input-underline-error"></div>
				<img ng-src="img/error-cocha.png" class="warning-off" ng-class="{'warning-on': view.errors.statusOptionInvalid }">
				<div class="cabin-option-container" uib-collapse="!view.showStatusOption" outside-click="selectStatus(null)">
					<div class='cabin-option' ng-click="selectStatus(null)">
						Elige de la lista
					</div>
					<div class='cabin-option' ng-repeat="status in view.statusOptions" ng-click="selectStatus(status)">
						{{ status.name }}
					</div>
				</div>
			</div>
		</div>


		<div class='row'>
			<div class='col-xs-8 field-label '>
				Check-in
			</div>
		</div>
		<div class='row'>
			<div class='col-xs-4 field-container'>
				<input type="text" class="field-input" uib-datepicker-popup ng-model="content.checkInIni" is-open="view.datepicker.checkInIni.opened" datepicker-options="dateOptions" ng-required="true" close-text="Cerrar" show-button-bar="false" ng-click="openDatepicker('checkInIni')" readonly placeholder="Fecha de inicio CheckIn" />

				<div ng-if="view.errors.checkInIniInvalid === true" class="content-input-underline-error"></div>
				<img ng-src="img/error-cocha.png" class="warning-off" ng-class="{'warning-on': view.errors.checkInIniInvalid }">
				<div ng-if="view.errors.checkInRangeInvalid === true"> Debe seleccionarse un rango de fechas</div>
			</div>
			<div class='col-xs-4 field-container'>
				<input type="text" class="field-input" uib-datepicker-popup ng-model="content.checkInEnd" is-open="view.datepicker.checkInEnd.opened" datepicker-options="dateOptions" ng-required="true" close-text="Cerrar" show-button-bar="false" ng-click="openDatepicker('checkInEnd')" readonly placeholder="Fecha de fin CheckIn" />

				<div ng-if="view.errors.checkInEndInvalid === true" class="content-input-underline-error"></div>
				<img ng-src="img/error-cocha.png" class="warning-off" ng-class="{'warning-on': view.errors.checkInEndInvalid }">
			</div>

		</div>
	</div>


	<div class='my-bkg-search-box-search-button row text-right'>
		<div class="col-xs-8 text-right ">
			<img ng-if="view.loadingResults === true" src="img/loader.gif" class="my-bkg-loader-search">
		</div>
		<div class="col-xs-4 text-right">
			<button class="btn btn-search-bkg btn-red" ng-click="searchBooking()">Realizar búsqueda</button>
		</div>
	</div>
</div>